BODY
{
}
TABLE.GridPag
{
    WIDTH: 100%
}
INPUT.ButtonPag
{
    BORDER-RIGHT: peru 1px outset;
    BORDER-TOP: peru 1px outset;
    FONT-SIZE: 8pt;
    BORDER-LEFT: peru 1px outset;
    COLOR: darkred;
    BORDER-BOTTOM: peru 1px outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: goldenrod
}
TD.CellGridPag
{
    WIDTH: 25%
}
.FontInfoPag
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial
}
