TABLE.VerticalModel_Tab
{
    PADDING-RIGHT: 20px;
    FONT-FAMILY: Arial
}
TD.VerticalModel_Caption
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
TD.VerticalModel_Value
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
TD.VerticalModel_UM
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
TD.VerticalModel_ObbligCaption
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
LABEL.VerticalModel_Help
{
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-STYLE: italic;
    FONT-FAMILY: Arial
}
TD.VerticalModel_StaticCaption
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    FONT-STYLE: italic;
    FONT-FAMILY: Arial
}
TABLE.VerticalModel_ReadOnlyField
{
    BORDER-RIGHT: 2px;
    BORDER-TOP: 2px;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 2px;
    BORDER-BOTTOM: 2px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffffff
}
