TABLE.SP_Bar
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: transparent
}
TD.SP_Button
{
    FONT-SIZE: 9pt;
    CURSOR: hand;
    FONT-FAMILY: Arial
}
TD.SP_Cur
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
TD.SP_Direct
{
    FONT-SIZE: 9pt;
    CURSOR: hand;
    FONT-FAMILY: Arial
}
