BODYVERTICALMODEL
{
}
.StampaCol
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
.StampaCont
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
.TextFieldVerticalModel
{
    BORDER-RIGHT: lightgrey 1px inset;
    PADDING-RIGHT: 0px;
    BORDER-TOP: lightgrey 1px inset;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: lightgrey 1px inset;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: lightgrey 1px inset
}
.TextFieldVerticalModelBig
{
    BORDER-RIGHT: lightgrey 1px inset;
    PADDING-RIGHT: 0px;
    BORDER-TOP: lightgrey 1px inset;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: lightgrey 1px inset;
    WIDTH: 200px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: lightgrey 1px inset
}
.SelectFieldVerticalModel
{
    BORDER-RIGHT: lightgrey 1px inset;
    PADDING-RIGHT: 0px;
    BORDER-TOP: lightgrey 1px inset;
    PADDING-LEFT: 0px;
    FONT-SIZE: 9pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: lightgrey 1px inset;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: lightgrey 1px inset;
    FONT-FAMILY: Arial
}
.SelectFieldLockedVerticalModel
{
    BORDER-RIGHT: lightgrey 1px inset;
    PADDING-RIGHT: 0px;
    BORDER-TOP: lightgrey 1px inset;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: lightgrey 1px inset;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: lightgrey 1px inset
}
.ButtonVerticalModel
{
    BORDER-RIGHT: peru 1px outset;
    PADDING-RIGHT: 0px;
    BORDER-TOP: peru 1px outset;
    PADDING-LEFT: 0px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: peru 1px outset;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: peru 1px outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: goldenrod
}
TABLE.GridBodyVerticalModel
{
    WIDTH: 100%
}
TD.CellDescGridBodyVerticalModel
{
}
TD.CellValueGridBodyVerticalModel
{
    WIDTH: 80%
}
.FontDescTextObblig
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.FontDescText
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.FontDescGroups
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
.ButtonHyerarchiesVerticalModel
{
    BORDER-RIGHT: peru 1px outset;
    PADDING-RIGHT: 0px;
    BORDER-TOP: peru 1px outset;
    PADDING-LEFT: 0px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px 2px 2px;
    BORDER-LEFT: peru 1px outset;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: peru 1px outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: goldenrod;
    TEXT-DECORATION: none
}
TABLE.GridInternalVerticalModel
{
    BORDER-RIGHT: silver 2px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: silver 2px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: silver 2px solid;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: silver 2px solid
}
TD.CellDescGridInternalVerticalModel
{
    WIDTH: 20%
}
TD.CellValueGridInternalModel
{
    WIDTH: 80%
}
.TextFieldLocked
{
    BORDER-RIGHT: lightgrey 1px inset;
    PADDING-RIGHT: 0px;
    BORDER-TOP: lightgrey 1px inset;
    PADDING-LEFT: 0px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: lightgrey 1px inset;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: lightgrey 1px inset;
    BACKGROUND-COLOR: whitesmoke;
    TEXT-DECORATION: none
}
.FontSubtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
TEXTAREA.FontTextAreaNotesNotEdit
{
    FONT-SIZE: 8pt;
    WIDTH: 100%;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: whitesmoke
}
TEXTAREA.FontTextAreaNotesEditable
{
    FONT-SIZE: 8pt;
    WIDTH: 100%;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
TD.CellDescGridSelection1
{
    BACKGROUND-COLOR: gainsboro
}
TD.CellDescGridSelection2
{
    BACKGROUND-COLOR: lightsteelblue
}
