@page "/HOME/main.asp"
@using eProcurementNext.Application
@using eProcurementNext.CommonModule
@using eProcurementNext.Session
@inject eProcurementNext.Session.ISession _session;
@using static eProcurementNext.CommonModule.Basic;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.functions.masterPageToolsModel
@model eProcurementNext.Razor.Pages.HOME.mainModel
@using static eProcurementNext.Session.SessionMiddleware
@{
    Layout = ConfigurationServices.GetKey("LayoutVersion", "_masterPage");
    EprocResponse htmlToReturn = new();
}
@{
    LoadSession(HttpContext, _session);
    //'-- se viene richiesto di indicare il gruppo funzionale si aggiunge il MarketPlace se diverso da PA
    string sGroup_Name;
    sGroup_Name = GetParamURL(GetQueryStringFromContext(Request.QueryString), "GROUPS_NAME");
    if (_session["GROUPS_NAME"] == "LISTA_ATTIVITA")
        _session["GROUPS_NAME"] = "";

    if (!string.IsNullOrEmpty(sGroup_Name) || string.IsNullOrEmpty(_session["GROUPS_NAME"])){

        //'-- se il gruppo è vuoto imposto la base
        if (string.IsNullOrEmpty(sGroup_Name)) {
            sGroup_Name = "DashBoardMain";
        }
        _session["GROUPS_NAME"] = sGroup_Name;

        if (!string.IsNullOrEmpty(_session["strMnemonicoMP"]) && _session["strMnemonicoMP"] != "PA" ){
            _session["GROUPS_NAME"] = sGroup_Name + "_" + _session["strMnemonicoMP"];
        }
    }

    _session["gruppo_menu_aperto"] = "";
    _session.Save();

    if (!IsEmpty(_session["STRURLPARTECIPA"])) {
        if (!string.IsNullOrEmpty(_session["STRURLPARTECIPA"])) {
            string url = _session["STRURLPARTECIPA"];
            url = url.Replace(@"../", @"") + "&lo=base";
            _session["STRURLPARTECIPA"] = "";
            throw new ResponseRedirectException("../ctl_library/path.asp?url=" + URLEncode(url) + "&KEY=document", Response);
        }
    }

    stackUpdateCurrentPosition("main", "home/main.asp?" + GetQueryStringFromContext(Request.QueryString), "Home_breadcrumb", _session, HttpContext);


    if (IsMasterPageNew())
    {

        htmlToReturn.Write($@"
				<script src=""../js/dashboard.js""></script>
                <div class=""row widget-container"">
                </div>
                <script type=""text/javascript"">
                    document.cookie = ""openGroup=; path=/"";
			    </script>
        ");       

    }
    else
    {
        htmlToReturn.Write($@"
				    <table width=""100%"" class=""Caption""  border=""0"" cellspacing=""0"" cellpadding=""0"">
					    <tr>
						    <td>");
	    htmlToReturn.Write(ApplicationCommon.CNV("header_cliente_main"));
	    htmlToReturn.Write($@"</td>
					    </tr>
				    </table>
				    <script type=""text/javascript"">
                        document.cookie = ""openGroup=; path=/"";
			        </script>
				    <div id=""access_div_splash_masterpage"" class=""access_div_splash_masterpage"">
				    </div>
        ");
        
    }
}
@Html.Raw(htmlToReturn.Out())