BODY
{
    SCROLLBAR-FACE-COLOR: cornflowerblue;
    MARGIN: 5px;
    SCROLLBAR-HIGHLIGHT-COLOR: navy;
    OVERFLOW: auto;
    SCROLLBAR-SHADOW-COLOR: #fafad2;
    SCROLLBAR-3DLIGHT-COLOR: navy;
    SCROLLBAR-ARROW-COLOR: #ffffff;
    SCROLLBAR-TRACK-COLOR: ADD8E6;
    SCROLLBAR-DARKSHADOW-COLOR: navy;
    BACKGROUND-COLOR: white
}
BODY.bodytop
{
    MARGIN: 5px 0px 0px;
    BACKGROUND-COLOR: white
}
BODY.bodybottom
{
    MARGIN: 0px 0px 5px;
    BACKGROUND-COLOR: white
}
BODY.bodyleft
{
    MARGIN: 0px 0px 0px 5px;
    BACKGROUND-COLOR: white
}
BODY.bodyright
{
    MARGIN: 0px 5px 0px 0px;
    BACKGROUND-COLOR: white
}
BODY.bodyleft_right
{
    MARGIN: 0px 5px;
    BACKGROUND-COLOR: white
}
BODY.bodyleft_bottom
{
    MARGIN: 0px 0px 5px 5px;
    BACKGROUND-COLOR: white
}
BODY.bodytop_left_right
{
    MARGIN: 5px 5px 0px;
    BACKGROUND-COLOR: white
}
BODY.bodyleft_bottom_right
{
    MARGIN: 0px 5px 5px;
    BACKGROUND-COLOR: white
}
BODY.bodybottom_right
{
    MARGIN: 0px 5px 5px 0px
}
BODY.bodygroups
{
    BORDER-RIGHT: navy 1px solid;
    BORDER-TOP: navy;
    MARGIN: 0px;
    BORDER-LEFT: navy;
    BORDER-BOTTOM: navy;
    BACKGROUND-COLOR: ADD8E6
}
.bodyLogo
{
    BORDER-TOP: navy 1px solid;
    MARGIN: 2px 0px 0px 5px
}
