BODY
{
}
.loading
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
TD.caption
{
    FONT-SIZE: 15pt;
    COLOR: white;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: cornflowerblue
}
TD.elaborazione
{
    BORDER-RIGHT: cornflowerblue 3px solid;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    BORDER-LEFT: cornflowerblue 3px solid;
    BORDER-BOTTOM: cornflowerblue 3px solid;
    FONT-FAMILY: Arial
}
TABLE.INFO_BOX
{
    WIDTH: 100%;
    HEIGHT: 100%;
    TEXT-ALIGN: center
}
