BODY
{
}
TABLE.GridCommandProducts
{
}
TD.CellGridCommandProducts
{
    CURSOR: pointer;
    CURSOR: hand;
}
.FoglieBluSott
{
    FONT-SIZE: 8pt;
    COLOR: blue;
    LINE-HEIGHT: 8pt;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline;
    CURSOR: pointer;
    CURSOR: hand;

}
TD.CellGridCommand
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: lightsteelblue;
    CURSOR: pointer;
    CURSOR: hand;

}
