TABLE.GridContainerHeaderDoc
{
    WIDTH: 100%
}
TABLE.GridSeparateHeaderDoc
{
    WIDTH: 100%
}
TABLE.GridTitleHeaderDoc
{
}
TABLE.GridTailHeaderDoc
{
}
TD.CellGridContainerHeaderDoc
{
    TEXT-ALIGN: left
}
TD.CellGridSeparateHeaderDoc
{
}
TD.CellGridTitleHeaderDoc
{
}
TD.CellGridTailHeaderDoc
{
    TEXT-ALIGN: right
}
.FontTitleHeaderDoc
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 14pt;
    FONT-STYLE: italic;
    FONT-WEIGHT: normal
}
HR
{
    BACKGROUND-COLOR: #009999;
    BORDER-BOTTOM: #0080ff 1px solid;
    BORDER-LEFT: #0080ff 1px solid;
    BORDER-RIGHT: #0080ff 1px solid;
    BORDER-TOP: #0080ff 1px solid;
    WIDTH: 100%
}
IMG.Header
{
    CURSOR: hand
}
.foglie
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    LINE-HEIGHT: 8pt;
    TEXT-DECORATION: none
}
