BODY.BodyAttachments
{
    BACKGROUND-COLOR: white
}
TABLE.GridNotes
{
    WIDTH: 100%
}
TD.CellGridNotes
{
    HEIGHT: 268px;
    WIDTH: 100%
}
.FontTextAreaNotes
{
    BACKGROUND-COLOR: whitesmoke;
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt
}
TEXTAREA.FontTextAreaNotesEditable
{
    BACKGROUND-COLOR: white;
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    WIDTH: 100%
}
TEXTAREA.FontTextAreaNotes
{
    BACKGROUND-COLOR: whitesmoke;
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    WIDTH: 100%
}
