BODY
{
}
.foglie
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bolder
}
.outlineBold
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bolder
}
.FontBoldBig
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bolder
}
.GridLogo
{
    LEFT: 25mm;
    MARGIN: 5mm 0px 0px 30mm;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    TOP: 25mm
}
.GridLegalPub
{
    HEIGHT: 10mm;
    LEFT: 110mm;
    MARGIN: 10mm 0px 0px 91mm;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    TOP: 50mm;
    WIDTH: 65mm
}
.FontBoldSmall
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bolder
}
.CellDescs
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bolder;
    HEIGHT: 1px;
    WIDTH: 250px
}
.ExternalGrid
{
    LEFT: 1mm;
    MARGIN: 17mm 0px 0px 1mm;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    TOP: 90mm;
    WIDTH: 175mm
}
.CellTotalOrder
{
    LEFT: 100mm;
    POSITION: relative
}
.FontBig
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 12pt
}
.FontMedium
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt
}
.FontSmall
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt
}
.FontLegalPub
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}
.FontLegalPubBold
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
TD.CellGridLegalPub
{
    HEIGHT: 10mm;
    WIDTH: 65mm
}
TABLE.GridProducts
{
    WIDTH: 175mm
}
.FontBoldMedium
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bolder
}
