BODY
{
}
TABLE.GridStrutAzi
{
    BORDER-RIGHT: 1pt;
    BORDER-TOP: 1pt;
    BORDER-LEFT: 1pt;
    WIDTH: 100%;
    BORDER-BOTTOM: 1pt
}
TD.CellGridStrutAzi
{
    FONT-SIZE: 8pt;
    COLOR: black;
    LINE-HEIGHT: 8pt;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
