TABLE.Folder
{
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: transparent
}
.Folder_LabelSelected
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11px;
    CURSOR: hand;
    FONT-FAMILY: Arial
}
.Folder_Label
{
    FONT-SIZE: 11px;
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: Arial
}
