a img{border:0px;}
#coldx{ display:none;}
#colsx{ display:none;}
#colcx{ width:100%;}
#colcx1{ width:100%;}
#colcx2{ width:100%;}
#colcx3{ width:100%;}
#main{ border: 1 px ; width:auto;  zoom:0.7;}

#printbtn{ display:none;}
#suggerimento {display:none;}
#breadcrumb {display:none;}
div.tips{display:none;}
#footer{display:none;}
#closelbl {display:none;}
body { width:auto;}
#paginazione{ display:none;}
#toolbarprivate{ display:none;}
#toolbarpublic{ display:none;}
ul.tabs{ display:none;}
input.fieldStampa {font-weight:bold;font-size:0.8em}
#accordion{ display:none;}
tr#bottoni{ display:none;}

table#template_doc { width:100%; border:1px solid #CCC;}
table#template_doc thead th{ font-weight:normal ;background-color:#CCC; color:#000; font-size:14px; vertical-align:middle; padding:5px 10px;}
table#template_doc thead tr th{ font-weight:bold;background-color:#CCC; color:#000; font-size:14px; vertical-align:middle; padding:5px 10px;}
table#template_doc table{margin:0px;}
table#template_doc tbody tr th{ text-align:left; vertical-align:middle; font-weight:bold; font-size:14px; padding:7px 5px; color:#ac0120;}
table#template_doc tbody th,td{border:1px solid #CCC; font-size:14px; line-height:1.1; }

/*table#template_doc tbody td{padding:5px;width:64%;}*/
table#template_doc tbody td{padding:5px;}
table#template_doc tbody td.tblcontainer{padding:0px; border-left:1px solid #CCC; padding:1px;}

table#template_doc td.CellIntestGrid{background-color:#CCC; color:#000; font-size:12px; vertical-align:middle; padding:5px 10px; font-weight:bold; }
table#template_doc td.CellIntestGrid1{background-color:#CCC; color:#000; font-size:12px; vertical-align:middle; padding:5px 10px; font-weight:bold; }
table#template_doc td.CellGridPrintProducts{ wrap font-size:12px; }
table#template_doc table2 td.CellGridPrintProducts{ wrap font-size:12px;}

.PrintTitle { font-size:18px; font-weight:bold;   }
table.GridLegalPub{ font-size:0.8em;  border:0px;}
.GridLegalPub2{ font-size:0.8em;  border:0px;}

.PrintColsOfid{ font-size:8pt; border:0px;}
.PrintValuesOfid{ font-size:8pt; border:0px; text-align:left;}
div.details a,table a{color:#1f3e8a; text-decoration:none;}
div.details a:hover,table a:hover{ text-decoration:underline;}
div.details{margin:10px auto;width:99%;}
td.GR0_HidCol  { display:none;}
td.GR1_HidCol  { display:none;}
#GridViewer_idDocR { display:none;}
#GridViewer_idDoc { display:none;}
#GridViewer_StatoGD { display:none;}

table td#LinkAttachComunicazioni, td#CaptionAttachComunicazioni {display:none;}

#titleintest{ display:none;}