@charset "utf-8";
html, body, div, span,applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dd, dl, dt, li, ol, ul,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;font-weight: inherit;font-style: inherit;font-size: 100%;line-height: 1;font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;text-align: left;vertical-align: baseline;}
a img, :link img, :visited img {border: 0;}
table{border-collapse: collapse;border-spacing: 0;}
ol, ul {list-style: none;}
q:before, q:after,blockquote:before, blockquote:after {content: "";}

/* html,body{font-size:10px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; background-color:#256662;;height:100%;} */
html,body{font-size:10px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; background-color:/*#256662*/#fff;}
#main{background-color:#FFF; max-width:98em; /*min-width:74em;margin:auto;padding-left:22px; background:url(/portale/images/sf_sx.gif) left top repeat-y;*/ font-size:1.1em;}
#shadow{ padding-right:22px; background:#FFF url(/portale/images/sf_dx.gif) right top repeat-y;}
#header{padding-bottom:14px; background:#FFC001 url(/portale/images/sf_orizzontale.gif) left bottom repeat-x;height:176px;}
#header h1{ height:100%;background: url(/portale/images/top.jpg) right top no-repeat;}
#header h1 img{margin:0px;}
#middle{ background-color:#FFF;}
#colcontainer{ /*background-color:#f9efcc;*/ margin:0px 0.7em; color:#2b292a; overflow:visible;}
#colsx{display:inline;float:left;width:20%;background-color:#f9efcc;}
#colcx{display:inline;background-color:#FFF; color:#000;width:58%;float:left;/*padding:0px 1%;*/ height: auto !important; height:65em; min-height:65em;} /*webkit:  width:58.3%;*/
#colcx1{display:inline;background-color:#FFF; color:#000;width:100%;float:left;padding:0px 1%; height: auto !important; height:65em; min-height:65em;} /*webkit:  width:58.3%;*/
#colcx2{display:inline;background-color:#FFF; color:#000;width:100%;float:left;padding:0px 1%; height: auto !important; height:65em; min-height:65em;} /*webkit:  width:58.3%;*/
#colcx3{display:inline;background-color:#FFF; color:#000;width:100%;float:left;padding:0px 1%; height: auto !important; height:65em; min-height:65em;} /*webkit:  width:58.3%;*/
#coldx{display:inline;float:left;width:20%;background-color:#f9efcc;}
#footer{clear:both;background-color:#FFF; margin:0px 20%; text-transform:uppercase; color:#515254;}
#footer div{border-top:1px solid #CCC; margin:0px 5px; padding-top:15px;}
#footer div strong{ display:block; margin-bottom:-10px;}
#footer div img{ vertical-align:text-bottom; margin-left:5px;}

#coldx h2,#colsx h2{ position:relative;left:0px;margin-top:-40px;height:48px; background: url(/portale/images/h2bg.png) right top no-repeat;border-bottom:1px solid #FFF; z-index:10; margin-left:10px;}
#coldx h2 span,#colsx h2 span{ position:absolute; left:-10px;top:0px; height:100%;background:url(/portale/images/h2bg.png) left top no-repeat; max-width:180px; border-bottom:1px solid #FFF;  text-transform:uppercase; font-size:1.2em; padding-left:10px; line-height:48px; vertical-align:middle; overflow:hidden;}
#coldx h2 img,#colsx h2 img{margin-top:20px;}
#coldx a,#colsx a{display:block;color:#2c2827; text-decoration:none; padding-left:15px; background:url(/portale/images/arrow_small.png) left center no-repeat;}
#coldx a:hover,#colsx a:hover{color:#F5A91C;}

#coldx ul,#colsx ul{margin:0em 1em 3.5em 1em; padding-top:1.5em; }
#coldx ul li,#colsx ul li{margin:0.5em 0em;}
#coldx h3,#colsx h3{ color:#3f602c; text-transform:uppercase; margin:3em 1em 0.3em 1em;}
#coldx p.note,#colsx p.note{margin:1em; margin-top:0em; color:#3F602C;}
#colsx p a {padding:0px; background:none;color:#3f602c; text-decoration:underline;}
#colsx p a:hover{color:#FFF;}

#colsx form{ text-align:right;}
#colsx label{display:block;margin:0.5em 1em 0.2em 1em; text-align:left; width:85%;font-size:1.1em;}
#colsx input.txt{margin:0em 1em 0.3em 1em; width:85%;font-size:1.1em;/* border:1px solid #3f602c; color:#3f602c;*/}
#colsx input.btn{ font-size:1.1em; font-weight:bold; color:#eb951a; background-color:#f9efcc;border:0px; cursor:pointer; }

#coldx a.partner{ display:block;margin:1em 2.6em;  background-position:bottom left; text-align:left; padding:0px; }
#coldx a.partner img{ /*width:100%;*/}
a.partner span{ margin-left:15px;}

.coltop{ background-color:#d9c795; padding-bottom:40px;}
#colsx .coltop a:hover,#coldx .coltop a:hover{color:#888;}

.bigimage{ margin:auto; display:block; width:100%; margin-bottom:20px;}
/*
span.xbtn{background:url(/portale/images/xbtn.png) right top no-repeat; padding:5px 8px 5px 0px;}
span.xbtn input{height:20px; text-transform:uppercase; padding-left:25px; border:0px; background:url(/portale/images/xbtn.png) left top no-repeat; font-size:11px; color:#3f602c; text-align:center;}
*/

#colcx p{ font-size:1.1em; line-height:1.3em;margin:5px auto; text-align:justify;}
#colcx strong{ font-weight:bold; font-size:1.2em;}
#colcx ul{margin:5px 0px 10px 15px; font-size:1.1em; color:#6D6C6D;}
#colcx ul li{margin:2px auto; padding-left:10px; list-style-type:disc;}
#colcx a { text-decoration:none; color:#1f3e8a; }
#colcx a:hover{ text-decoration:underline; }

#colcx1 p{ font-size:1.1em; line-height:1.3em;margin:5px auto; text-align:justify;}
#colcx1 strong{ font-weight:bold; font-size:1.2em;}
#colcx1 ul{margin:5px 0px 10px 10px; font-size:1.1em; color:#6D6C6D;}
#colcx1 ul li{margin:2px auto; padding-left:10px;}
#colcx1 a { text-decoration:none; color:#1f3e8a; }
#colcx1 a:hover{ text-decoration:underline; }

#colcx2 p{ font-size:1.1em; line-height:1.3em;margin:5px auto; text-align:justify;}
#colcx2 strong{ font-weight:bold; font-size:1.2em;}
#colcx2 ul{margin:5px 0px 10px 10px; font-size:1.1em; color:#6D6C6D;}
#colcx2 ul li{margin:2px auto; padding-left:10px;}
#colcx2 a { text-decoration:none; color:#1f3e8a; }
#colcx2 a:hover{ text-decoration:underline; }

#colcx3 p{ font-size:1.1em; line-height:1.3em;margin:5px auto; text-align:justify;}
#colcx3 strong{ font-weight:bold; font-size:1.2em;}
#colcx3 ul{margin:5px 0px 10px 10px; font-size:1.1em; color:#6D6C6D;}
#colcx3 ul li{margin:2px auto; padding-left:10px;}
#colcx3 a { text-decoration:none; color:#1f3e8a; }
#colcx3 a:hover{ text-decoration:underline; }


textarea.privacynote{height:100px; overflow:auto; background-color:#FFF;margin:10px 5px; font-size:1.1em; text-align:justify; line-height:1.2em; width:520px;}
#printbtn{ position:absolute; left:0px; top:-15px; cursor:pointer;}

/* Stile per la tabella dei bandi*/
table.bandi{ border-collapse:collapse; margin-top:20px; margin-bottom:10px; font-size:1.1em;}
table.bandi thead th{background-color:#f5a915; color:#FFF; padding:5px; padding-left:3px; font-size:1.2em; text-transform:capitalize; font-weight:bold;}
table.bandi th.view{ width:15px;}
table.bandi th.category{width:9em;}
table.bandi tbody th{padding:8px 3px;font-weight:bold;vertical-align:middle;}
table.bandi tbody td{ padding:8px 3px; vertical-align:middle;}
table.bandi tbody td strong{color:#c1081a; font-weight:bold;}
table.bandi tbody td.details{ background-color:#fdf8e5; padding-left:25px; border-bottom:1px solid #B2AEB3;}
table.bandi tbody td.details span{ margin-right:2.5em;}

/*Stile paginazione*/
 /*div.paging{ text-align:right; font-size:1.1em; margin:10px auto; position:relative;}*/
 div.paging{ font-size:1.1em; margin:10px auto; position:relative; border-top:1px solid #CCC; height:auto;text-align:right;}
 
 div.paging strong{ font-weight:bold;}
 div.paging ul{ display:inline;margin:0px 10px;}
 
 div.paging ul li{ display:inline; margin:0px -1px;}
 div.paging a{ text-decoration:none; color:#333; padding:0px 3px;}
 div.paging a.active{background-color:#f5a915; color:#FFF;}
 div.paging a:hover{background-color:#FEDE9C;}
 div.paging a.prev{background:url(/portale/images/back.gi_f) left center no-repeat; padding-left:10px;}
 div.paging a.prev:hover{ text-decoration:underline; color:#f5a915;}
 div.paging a.next{background:url(/portale/images/next.gi_f) right center no-repeat; padding-right:10px;}
 div.paging a.next:hover{ text-decoration:underline; color:#f5a915;}

 /*per le div all'interno della paginazione*/ 
 div.numerazione{  width:100%;  position:relative; text-align:right;} 
 div.icons{ width:100%; height:20px;  margin-top:20px;}
 /*per gli elelementi li dentro icons*/
 
 #colcx div.icons ul {display:block; }
 #colcx div.icons ul li { padding-left:26px;padding-top:24px;padding-bottom:26px;}
  
 div.icons1{ width:30%; height:35px; float:left; margin-top:20px;}
 /*div.pippo{display:none;}*/
 
/*Stile forms con accordion*/ 
form div#accordion h3{margin-top:2px; background:#515151/* url(/portale/images/arrow.png) 5px center no-repeat*/; color:#ececec; text-transform:uppercase; font-weight:bold; font-size:1.2em; padding:5px; padding-left:20px; cursor:pointer; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border:1px solid #ccc;}
form div#accordion h3.tabSelected{border-radius:5px 5px 0px 0px; -moz-border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px; color:#fff; background:#CB1D15;}
form div#accordion h3.tabSelected:hover{background:#CB1D15; cursor:default; color:#fff;}
form div#accordion h3:hover{ background:#e3e3e3; color:#333;}
/*form div#accordion h3.tabSelected:hover{color:#333; background:#ececec; cursor:inherit;}*/
form div#accordion div.element{ /*background-color:#fcf8ec;*/}
div#accordion div.element fieldset div{margin:10px 5px; text-align:right;}

fieldset p{ padding:5px;}
div#accordion div.element fieldset div span{ float:right;}
div#accordion label{ font-size:1.1em; margin-left:18px;}
/*label.labelsx{ display:block; width:26em;}*/
div#accordion img{ vertical-align:middle; margin-top:-3px;}
div#accordion input.txt{ width:30em; margin-left:5px; font-size:1.1em; padding:3px;}
div#accordion select{ padding:3px; border:1px solid #ccc; background:#EFEFEF;}
div#accordion select:hover{ border-color:#666;}
div#accordion select:focus{border-color:#666; background:#fff;}
div#accordion label input.txt{width:11.2em;font-size:1em;}
div#accordion div.element.atStart.elemSelected{ border:1px solid #ccc; background:#F9F9F9; border-radius:0px 0px 5px 5px; -moz-border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px; border-top:none; }
/*
div#accordion label.lblselect input.txt{ width:9.7em;}
div#accordion div.combo label input.txt{ width:11.6em;}
*/
div#accordion input.btn/*,div#accordion input.rb*/{ cursor: pointer; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background:url(../../portale/templates/aflink_template/images/nature/arrow1.gif) top left repeat-x; padding:5px 10px 3px 13px; color:#555; font-weight:bold; font-size:12px; text-transform:capitalize;}
input.rb { background:none; border:none;} 

/*Stile per la finestra modale*/
#overlay{ position:absolute; top:0px; left:0px;background-color:#111;height:100%; width:100%; display:none; position:fixed;
/*filter:alpha(opacity=10);opacity:0.2;*/z-index:999;}
#modal{ position:absolute;top:50%;left:50%;background-color:#fff; height:0px; width:0px; display:none;padding:10px; overflow:hidden; border:1px solid #FFF; z-index:1000; padding-top:25px; border-radius:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;}
#mb_box a#closelbl{ position:absolute; top:7px; right:10px; text-transform:capitalize; cursor:pointer; color:#333; text-transform:uppercase; font-weight:bold; font-size:1.1em; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
#closelbl:hover{ text-decoration:underline;}
#mb_box{ background-color:#FFF; /*padding:10px 1px; margin-top:15px;*/}



#mb_box h2 { color:#465464; text-transform:uppercase; font-weight:bold;font-size:1.3em; margin-left:10px; margin-bottom:10px;}


*:focus{outline:none;}
#mb_box fieldset{ margin:10px 0px; /*background-color:#f9efcc*/; padding:15px 0px; border-top:1px solid #ececec; border-bottom:1px solid #ececec;}
input.fieldcheckbox{ background:none; border:none;}
#mb_box p{ margin:10px; font-size:1.3em; color:#2f2c2c; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
#mb_box fieldset div{ text-align:right; margin:5px 0px;}
#mb_box fieldset div input.txt{ margin-left:10px; font-size:1.1em; width:280px; padding:3px;}
#mb_box fieldset div label{ font-size:1.2em;}
#mb_box  div.btns{ text-align:right; margin-right:15px;}
/*#mb_box  div.btns input,input.btn{ background-color:#FFF; color:#333; cursor:pointer; text-transform:uppercase; font-size:1.2em; border:1px solid #fba224;border-left:15px solid #fba224; margin-left:10px;}*/
#mb_box h3{ color:#749696; text-transform:uppercase; font-weight:bold;font-size:1.3em; margin-left:2.7em; margin-bottom:5px; margin-top:35px;}
#mb_box a{ color:#666; text-decoration:none; font-size:1.1em;}
#mb_box a:hover{ text-decoration:underline; color:#ccc;}
#mb_box strong{ font-weight:bold; font-size:1.1em; color:#465464;}
#modal div.bandi h2{ background-image:url(/portale/images/lente.gif); margin-left:5px;padding:5px 0px;padding-left:25px;}
#errormsg p{ color:#BF0B27;}
ul.dettagli{ font-size:1.2em; margin:10px 0px; margin-left:3em;} 
ul.dettagli li{ margin:5px 0px;}
ul.dettagli li strong{ color:#AB0120;font-weight:bold;}

input/*.txt*/{ border:1px solid #ccc; color:#333; }
input.txt:hover{border-color:#666}
input.txt:focus{ background-color:#FFF; border-color:#666;color:#333;}
input.error,textarea.error,select.error, div#accordion select.error{ border:1px solid #F5A91C; color:#333; background-color:#FFFFCC;}
div.btns input{ cursor: pointer; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background:url(../../portale/templates/aflink_template/images/nature/arrow1.gif) top left repeat-x; padding:3px 10px 3px 13px; color:#555; font-weight:bold;}
div.btns input:hover{ border-color:#666;}

div#coldx.hidden{ display:none;}
div#colcx.large{ width:100%;}
div#colcx1.large1{ width:98%;}
div#colcx2.large2{ width:98%;}
div#colcx3.large3{ width:100%;}
div#footer.large{margin-right:0px;}

/*stile form filtro griglia*/

legend{ font-weight:bold;font-size:1.2em;}
legend img{ vertical-align:middle; margin-right:10px; }
#colcx h2{ text-transform:uppercase; font-size:1.4em; font-weight:bold; color:#555; margin-top:20px; margin-bottom:20px;}
#colcx1 h2{ text-transform:uppercase; font-size:1.4em; font-weight:bold; color:#555; margin-top:50px; margin-bottom:20px;}
#colcx2 h2{ text-transform:uppercase; font-size:1.4em; font-weight:bold; color:#555; margin-top:50px; margin-bottom:20px;}
#colcx3 h2{ text-transform:uppercase; font-size:1.4em; font-weight:bold; color:#555; margin-top:50px; margin-bottom:20px;}
div.filter{background-color:#f9efcc; padding:10px; margin:10px auto; overflow:auto;}
div.filter div{ float:left; width:85%; text-align:right;margin:5px 0px; margin-right:0.5em;}

div.filter div label{ font-size:1.1em; margin:0px;}
div.filter div label input.btnbrowse{ width:18px; height:18px; vertical-align:middle; margin-top:-2px;}

div.filter input.txt{width:12em; margin-left:5px;}
div.filter select.txt{width:12.2em;border:1px solid #555; margin-left:5px;}
div.filter input.btn{ margin:10px;}
div.filter label{float:left; display:inline; width:50%; text-align:right;}

/*stile form filtro griglia*/



/* copiare da qui */


/* stile tabmenu */
    #colcx ul.tabs {height:48px;overflow:hidden;margin:0px auto 1px auto;position:relative;top:1px;width:100%;}
    #colcx ul.tabs li{position:relative;height:48px;float:left;margin:0px 1px 0px 0px;background-image:transparent;padding-left:0px}
    #colcx1 ul.tabs {height:48px;overflow:hidden;margin:0px auto 1px auto;position:relative;top:2px;width:100%;}
    #colcx1 ul.tabs li{position:relative;height:48px;float:left;margin:0px 1px 0px 0px;background-image:transparent;padding-left:0px}
    #colcx2 ul.tabs {height:48px;overflow:hidden;margin:0px auto 1px auto;position:relative;top:2px;width:100%;}
    #colcx2 ul.tabs li{position:relative;height:48px;float:left;margin:0px 1px 0px 0px;background-image:transparent;padding-left:0px}
    #colcx3 ul.tabs {height:48px;overflow:hidden;margin:0px auto 1px auto;position:relative;top:2px;width:100%;}
    #colcx3 ul.tabs li{position:relative;height:48px;float:left;margin:0px 1px 0px 0px;background-image:transparent;padding-left:0px}
    ul.tabs li span,ul.tabs li a{float:left;height:48px;background: url(/portale/images/tab.png) right top no-repeat;padding:0px 10px 0px 0px;}
    ul.tabs li span{background-position:left top;padding:0px 0px 0px 10px;}
    ul.tabs li img{width:150px;height:48px;background-position:center 20px;background-repeat:no-repeat;}
    ul.tabs li a.activetab,ul.tabs li a:hover{background-position:right bottom;}
    ul.tabs li a.activetab span,ul.tabs li a:hover span{background-position:left bottom;}
    ul.tabs li a.activetab img,ul.tabs li a:hover img{background-position:center -68px;}
    img#all{width:95px;background-image:url(/portale/images/tutti_bandi.png);}
    img#soloservizi{width:97px;background-image:url(/portale/images/solo_servizi.png);}
    img#soloforniture{width:125px;background-image:url(/portale/images/solo_forniture.png);}
    img#lavoripubblici{width:121px;background-image:url(/portale/images/lavori_pubblici.png);}
    img#lavoritradizionali{width:155px;background-image:url(/portale/images/solo_tradizionali.png);}
    img#lavoritelematici{width:140px;background-image:url(/portale/images/solo_telematici.png);}
/* fine stile tabmenu*/


/*Stile Nuova tabella*/
    table.simple{border-collapse:collapse;width:98%; margin:0px auto;}
    table.simple thead th{padding:5px;background-color:#ac0120;color:#FFF; font-weight:bold;border:1px solid #CCC;vertical-align:middle;font-size:1.2em;border-top-coloro:#FFF;}    
    th.col1{width:1.5%;}
    th.col2{}
    th.col3{width:8%;}
    th.col4{width:8%;}
    th.col5{width:8%;}
    table.simple tbody th{font-weight:bold;padding:5px;border:1px solid #CCC;vertical-align:top;font-size:1.2em;}
    table.simple tbody td{padding:5px;border:1px solid #CCC;vertical-align:top; line-height:normal;font-size:1.1em;}
    table.simple tbody tr:hover{background-color:#EEE;}
    table.simple tbody td a{padding:0px 0px 10px 20px;color:#ac0120;font-weight:bold; text-decoration:none;background: url(/portale/images/zoom.png) top left no-repeat; }
    table.simple tbody td a:hover{text-decoration:underline;}    
    
/*fine Stile Nuova tabella*/


#zoom{margin:20px auto;height:355px;position:relative;border:1px solid #FFF;overflow:hidden;}
#img1{height:100%; width:526px;position:absolute;top:0px; left:50%;margin-left:-263px;background-repeat:no-repeat;background-position:center center;}
#img2{height:100%; width:526px;position:absolute;top:0px; left:50%;margin-left:-263px;background-repeat:no-repeat;background-position:center center;}
#thumbs{margin:auto;text-align:center;}
#thumbs a{margin:auto 2px;}
#thumbs a img{border:2px solid #FFF;}
#thumbs a:hover img{border-color:#F5A91C;}
/* stile galleria */




/*style newsticker*/

#NewsTicker{width:auto;height:460px;margin:10px 10px 0px 10px;}
#NewsVertical {width: auto;height: 450px;display: block;overflow: hidden;position: relative;}

#coldx #TickerVertical{width: auto;
		height: 300px;
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		padding:0px;
		left:0px;
	}
    #coldx #TickerVertical li {
		display: block;
		width: auto;
		color: #333333;
		text-align: left;
		margin: 0px;
		padding: 0px;
		float: left;
		
	}
		#TickerVertical li .NewsTitle{
			display: block;
			color: #000000;
			margin-bottom:6px;
		}
		#TickerVertical li .NewsTitle a:link,
		#TickerVertical li .NewsTitle a:Visited {
			display: block;
            margin-bottom:6px;
			text-decoration:none;
			position:relative; 
			color: #F00;
			font-weight: bold;
		}
		#TickerVertical li .NewsTitle a:hover {
			text-decoration:underline;
		}
		
		#TickerVertical li .NewsImg{
			float:left;
			margin-right:10px;
		}
		
		#TickerVertical li p{
		  margin-left:15px;  
		}
		
		#TickerVertical li .NewsFooter{
			display: block;
			margin:6px 0px 14px 15px;
			padding-bottom:5px;
			font-size:1.1em;
			border-bottom:1px solid #CCC;
		}
		#TickerVertical li .NewsFooter strong{color:#000000;font-weight: bold;display:block;margin-bottom:2px;}
		
/*da integrare del file style.css */
    #printbtn{ position:absolute; left:0px; top:5px; cursor:pointer;}
    
    /*div.paging{ text-align:right; font-size:1.1em; margin:10px auto; position:relative; padding-top:20px; border-top:1px solid #CCC;}*/
    
    div.paging{ font-size:1.1em; margin:10px auto; position:relative; border-top:1px solid #CCC; height:auto;}
    
    /* aggiungere le seguenti righe al file style.css */    
	/* stile per il percorso */
	div#breadcrumb{ margin-top:10px; padding-left:15px; background:url(images/icona_div.gif) left center no-repeat;}
	div#breadcrumb a{ color:#766a4b; font-size:1.1em; text-decoration:none;}
	div#breadcrumb a:hover{ text-decoration:underline;}
	div#breadcrumb strong{ text-decoration:underline;color:#766a4b; }
	div#breadcrumb span{ font-size:1.1em;color:#766a4b; }

	/*Style per i suggerimenti*/
	div.tipsbar{ font-size:120%; padding:10px;margin:10px auto; text-align:right;}
	div.tipsbar a{color:#F5A91C; text-decoration:none;}
	div.tipsbar a:hover{ text-decoration:underline;}
	div.tipsbar a.suggest{ cursor:help; display:none;}
	div.tips div{position:relative;}
	div.tips div.tipscontent{position:relative; font-size:120%; overflow:auto; padding:10px;margin:10px auto; background-color:#FFC;}		
	div.tips div.tipscontent ol li{background:url(/portale/images/icona_div.gif) no-repeat center left; padding-left:10px;  font-size:1.0em; color:#6D6C6D;}
	div.tips div.tipscontent ul li{background:url(/portale/images/icona_div.gif) no-repeat center left;padding-left:40px;  font-size:0.8em; color:#6D6C6D;}
	
  #footer table td{border:0px}	
div#footer a { text-decoration:none; color:#1f3e8a; }
div#footer a:hover{ text-decoration:underline; }
strong{font-weight:bold; font-size:1.1em; color:#555;}
select.error{/*background-color:#F00;color:#FFF;*/}

#GridViewer_idDoc { display:none;}
#GridViewer_StatoGD { display:none;}
td.GR0_HidCol  { display:none;}
td.GR1_HidCol  { display:none;}
#GridViewer_idDocR { display:none;}
label.labelancora { text-decoration:underline; color:#BF0B27; cursor:pointer; font-weight:bold; font-size:1.2em;}


/*Stile Nuova tabella*/
    table.risultati{border-collapse:collapse;width:98%; margin:0px auto; }
    table.risultati thead th{padding:5px;background-color:#ac0120;color:#FFF; font-weight:bold;border:1px solid #CCC;vertical-align:middle;font-size:1.2em;border-top-coloro:#FFF;}    
    tr.col1{width:1.5%;}
    tr.col2{width:8%; text-align:center;}
    tr.col3{width:8%; text-align:center;}
    tr.col4{width:8%; text-align:center; }
    table.risultati tbody th{font-weight:bold;padding:5px;border:1px solid #CCC;vertical-align:top;font-size:1.2em;}
    table.risultati tbody td{padding:5px;border:1px solid #CCC;vertical-align:top; line-height:normal;font-size:1.1em; text-align:center;}
    table.risultati tbody tr:hover{background-color:#EEE;}
    table.risultati tbody td a{padding:0px 0px 10px 20px;color:#ac0120;font-weight:bold; text-decoration:none;background: url(/portale/images/zoom.png) top left no-repeat; }
    table.risultati tbody td a:hover{text-decoration:underline;}    
    
/*fine Stile Nuova tabella*/
table#logo{display:none}


/*classe per impostare bordo bianco thead tabella bandi*/
.GridViewer th {border-top:1px solid #fff; } 

/* rss */

#rss{ height:39px; width:39px; float:right; margin:55px 15px 0px 0px; background:url(../images/rss-small.png) center top no-repeat; }
#rss a { display:block; height:39px; width:39px;} 
#coldx h2 a.linkrss img{ margin-top:inherit;} 
#coldx h2 a.linkrss{ float:right; margin:2px 5px 2px 0px; display:none;}
#colsx div.coltop ul li.feed a{color:#fbaf47; font-weight:bold; background: url("../images/rss_xs.png") center left no-repeat; height:19px; padding-left:23px; line-height:20px;}
#colsx div.coltop ul li.feed{ margin-top:15px;}
.DivRss{ margin-top:30px; border-top:1px solid #ccc; padding-top:20px;}
#colcx .DivRss a.RssIncorso, #colcx .DivRss a.RssScaduti{ display:inline-block; height:39px; padding-left:42px; font-size:16px; font-weight: normal; margin-left:16px;}
#colcx .DivRss a.RssIncorso { color:#f48031;  background:url("../images/rss-small.png") center left no-repeat; line-height:38px;}
#colcx .DivRss a.RssScaduti { color:#816a77;  background:url("../images/rss_medium_scaduti.png") center left no-repeat; line-height:38px;}
#colcx .DivRss a.Selected{ text-decoration:underline;}
#colcx .DivRss p { margin-top:15px;}

/* fine rss */

#colcx input.btn.disabled, #colcx largview input.btn.disabled {
      background:#ccc;
      cursor:help
}


/* per i comandi dall'interno sulle stampe base*/
#colcx .comandi_interni , .comandi_interni {float:right; text-align:right; font-size:12px;}
#colcx input.btn{ background-color:#FFF; color:#333; cursor:pointer;  font-size:0.8em; border:1px solid #ccc;/*border-left:5px solid #ccc;*/ margin-left:5px;}
input.btn{ background-color:#FFF; color:#333; cursor:pointer; text-transform:uppercase; font-size:1.2em; border:1px solid #fba224;/*border-left:15px solid #fba224;*/ margin-left:10px;}

/*colorazione del tag strong nel messaggio d'errore*/
#errormsg strong{ color:#BF0B27;}
/*allineamento del link "cambia immagine"*/
#mb_box fieldset div label.labelancora{ vertical-align:top;}
img#imgCaptcha{ margin-bottom:3px;}
input.styled{ border:none; background:none;}
span.foglia{ font-size:12px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;  color:#333;}
span.nodo{ font-size:14px; font-weight:bold; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#333;}
.foglia:hover{ color:#999;}
#mb_box .label_captcha_access strong{ font-size:1.5em;}
#mb_box .label_captcha_access strong span#captcha_access{ display:block; color:#BF0B27; font-weight:normal; text-align:right; font-size:1em;}
#mb_box .labelsx > span { font-size:1em; color:#515151;}
#mb_box .labelsx input.required{ padding:3px; color:#515151; font-weight:bold;}
#mb_box label.labelancora.change_captcha{margin-bottom:1em;}
.div_captcha { float:right; clear:both;}