html,body{MARGIN: 0px; overflow: hidden }

	#LABEL{ border:1px solid #fff; height: 30px;} 
	div.LABEL{ float:left; font-size:14px;  text-align:right; padding-right: 10px;  background-color:#0f3d7c; border:0px;}
	div.LABEL_CUR{ float:left; font-size:14px;  text-align:right; padding-right: 10px;  background-color:#f9efcc; border:0px;}


	div.TitleFolder {float:left; font-size:14px;  text-align:left; padding-right: 10px; color:#FFF }
	div.NumberFolder {float:right; font-size:14px;  text-align:right; padding-right: 10px;  color:#FFF }

	TD.FOLDER_CUR { height: 100%; width: 100%; border:0px;}
	TD.FOLDER { height: 15px; width: 100%; border:0px;}


	TD.FOLDER_CAPTION_CUR { height: 30px; width: 100%; background-color:#CB1D15; border:1px solid #ffffff ;  font-size:14px; text-align:left;  
							padding-left: 10px; color:#FFFFFF; FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif; FONT-WEIGHT: bold;}
	TD.FOLDER_CAPTION { height: 30px; width: 100%; background-color:#515151; border:1px solid #ffffff ; cursor:pointer;  font-size:14px; text-align:left; 
							padding-left: 10px; color:#aaaaaa; FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif; FONT-WEIGHT: bold;}

	#FOLDER_SEP { height: 1px; width: 100%; background-color:#ccc; border:1px solid #fff; cursor:pointer;  
                font-size:14px; text-align:left; 
							  padding-left: 10px; color:#aaaaaa; FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif; FONT-WEIGHT: bold; border-top:none;}

	TD.FOLDER_CONTENT_CUR { height: 100%; width: 100%; border:0px;}
	TD.FOLDER_CONTENT { height: 100%; width: 100%; display:none; border:0px; }
	
	
	div.LOADING{ float:center; font-size:14px;  text-align:center;   background-color:#eeeeee; border:0px;}

	
	#content a{ color:#fff; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:12px; margin-right:1px;}
	#content a:hover{color:#333; }
	#content a.activetab:hover{color:#fff; }
	a.btn{position:relative;float:left;height:30px;line-height:30px;padding-left:20px;padding-right:20px;text-align:left;text-decoration:none; background: url(../../images/FOLDER/tab_categorie.png) right top no-repeat; margin-top:10px;}
	a.btn span{position:absolute;top:0px; left:0px;height:30px;overflow:visible;cursor:pointer; width:20px;background:#FFF url(../../images/FOLDER/tab_categorie.png) left top no-repeat;}

	a.btn:hover{background-position:right center;color:#FFF; text-decoration:none;}
  a.btn:hover span{background-position:left center;}

	a.activetab{position:relative;float:left;height:30px;line-height:30px;padding-left:20px;padding-right:20px;text-align:left;text-decoration:none;font-weight:bold; background: url(../../images/FOLDER/tab_categorie.png) left bottom no-repeat; margin-top:10px;}
	a.activetab span{position:absolute;top:0px; right:0px;height:30px;overflow:visible;cursor:pointer; width:20px;background:#FFF url(../../images/FOLDER/tab_categorie.png) right bottom no-repeat;}

	
	
	