TABLE.VerticalModel_Tab
{
    PADDING-RIGHT: 20px;
    PADDING-TOP: 3px;
    FONT-FAMILY: Arial;
    noBACKGROUND-COLOR: #fdf8e5;
	margin-top:10PX;
}
TD.VerticalModel_Caption
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11pt;
    BORDER-LEFT: 1px;
    COLOR: #666;
    BORDER-BOTTOM: 1px;
    PADDING-LEFT: 10px;
    TEXT-ALIGN: right
}
TD.VerticalModel_Value
{
    PADDING-LEFT: 10px;
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: middle;
    FONT-FAMILY: Arial
}
TD.VerticalModel_UM
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
TD.VerticalModel_ObbligCaption
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
LABEL.VerticalModel_Help
{
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-STYLE: italic;
    FONT-FAMILY: Arial
}
TD.VerticalModel_StaticCaption
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    FONT-STYLE: italic;
    FONT-FAMILY: Arial
}
TABLE.VerticalModel_ReadOnlyField
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    BORDER-LEFT: 1px;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
TABLE.FiltroPortale_Tab
{
    PADDING-RIGHT: 20px;
    PADDING-TOP: 3px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #f9efcc
}
TD.comunicazione_ObbligCaption
{

    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    COLOR: black;
    COLOR: #bf0b27;

    FONT-FAMILY: Arial
}

TABLE.comunicazione_ReadOnlyField
{

    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ebeaea
}


td.GR0_HidCol  { display:none;}
td.GR1_HidCol  { display:none;}
#GridViewer_idDocR { display:none;}
#GridViewer_idDoc { display:none;}
#GridViewer_StatoGD { display:none;}

@media screen {
			table#logotable{display:none}
		}