TABLE.SP_Bar
{
    FONT-SIZE: 12px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: transparent
}

TD.SP_Button
{
    CURSOR: pointer;
    FONT-SIZE: 12px;
    FONT-FAMILY: Arial;
    COLOR: #2268B3;

}

TD.SP_Button_Dis
{

    FONT-SIZE: 12px;
    FONT-FAMILY: Arial;
    COLOR: #AAAAAA;
}

TD.SP_Cur
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    WIDTH: 15px;
    COLOR: #002395;
    BACKGROUND-COLOR: #efefef;
    TEXT-ALIGN: center
}
TD.SP_Direct
{
    CURSOR: pointer;
    COLOR: #2268B3;
}
TD.SP_Pag
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11pt
}
TD.cellPaginazione
{
    TEXT-ALIGN: right;
    Align: right;
    nnnWIDTH: 100%;

}

#ScrollPage
{
    TEXT-ALIGN: right;
    Align: right;
    nnnWIDTH: 100%;

}
