TD.CellGridListFunction
{
}
.FontLinkSelectedListFunction
{
    BORDER-RIGHT: gray 1px;
    BORDER-TOP: gray 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px;
    CURSOR: hand;
    COLOR: royalblue;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: arial
}
.FontLinkSelectedListFunctionNotRead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: red;
    FONT-FAMILY: arial
}
.FontLinkNotSelectedListFunction
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial
}
.FontLinkMessageListFunctions
{
    BORDER-RIGHT: gray 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: gray 1px solid;
    PADDING-LEFT: 2px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 5px;
    MARGIN: 5px;
    BORDER-LEFT: gray 1px solid;
    CURSOR: hand;
    COLOR: black;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: gray 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 20px;
    BACKGROUND-COLOR: white
}
.FontLinkMessageListFunctionsNotRead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial
}
.FontLinkNoMessageListFunctions
{
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial
}
.FontLinkMessageListFunctionsUnderLine
{
    BORDER-RIGHT: gray 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: gray 1px solid;
    PADDING-LEFT: 2px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 5px;
    MARGIN: 5px;
    BORDER-LEFT: gray 1px solid;
    CURSOR: hand;
    COLOR: black;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: gray 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 20px;
    BACKGROUND-COLOR: white;
    TEXT-DECORATION: underline
}
.FontLinkMessageListFunctionsUnderLineNotRead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
TABLE.Group
{
    BORDER-RIGHT: gray 1px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: gray 1px;
    MARGIN-TOP: 5px;
    PADDING-LEFT: 10px;
    MARGIN-BOTTOM: 5px;
    PADDING-BOTTOM: 5px;
    MARGIN-LEFT: 3px;
    BORDER-LEFT: gray 1px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: gray 1px
}
TD.HeadGridGroup
{
    BORDER-RIGHT: gray 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: gray 1px solid;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f9b700', endColorStr='#ffe4b8', gradientType='0');
    PADDING-BOTTOM: 1px;
    MARGIN: 1px;
    BORDER-LEFT: gray 1px solid;
    COLOR: #161a74;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: gray 1px solid;
    FONT-FAMILY: Arial;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #f9b700;
    TEXT-ALIGN: center;
    TEXT-DECORATION: underline
}
TABLE.Window_Tab
{
    BORDER-RIGHT: #161a74 1px solid;
    BORDER-TOP: #161a74 1px solid;
    BORDER-LEFT: #161a74 1px solid;
    BORDER-BOTTOM: #161a74 1px solid;
    BACKGROUND-COLOR: white
}
TD.CloseGroup
{
    BORDER-RIGHT: #161a74 1px;
    BORDER-TOP: #161a74 1px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E9EDF3', endColorStr='#ffffff', gradientType='1');
    BORDER-LEFT: #161a74 1px;
    CURSOR: hand;
    COLOR: #161a74;
    BORDER-BOTTOM: #161a74 1px;
    BACKGROUND-COLOR: #e9edf3
}
TD.OpenGroup
{
    BORDER-RIGHT: #161a74 1px;
    BORDER-TOP: #161a74 1px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E9EDF3', endColorStr='#ffffff', gradientType='1');
    BORDER-LEFT: #161a74 1px;
    CURSOR: hand;
    COLOR: #161a74;
    BORDER-BOTTOM: #161a74 1px;
    BACKGROUND-COLOR: #e9edf3
}
.FontLinkDisabled
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px solid;
    COLOR: gray;
    BORDER-BOTTOM: gray 1px solid;
    FONT-FAMILY: Arial
}
.PortaleFontLinkSelectedListFunction
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    CURSOR: hand;
    COLOR: crimson;
    PADDING-TOP: 5px;
    FONT-FAMILY: Verdana;
    HEIGHT: 30px;
    TEXT-ALIGN: center
}
.PortaleFontLinkSelectedListFunctionNotRead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: red;
    FONT-FAMILY: arial
}
.PortaleFontLinkNotSelectedListFunction
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial
}
.PortaleFontLinkMessageListFunctions
{
    BORDER-RIGHT: #808080 1px;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #808080 1px;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f9b700', endColorStr='#ffe4b8', gradientType='0');
    PADDING-BOTTOM: 1px;
    MARGIN: 1px;
    BORDER-LEFT: #808080 1px;
    CURSOR: hand;
    COLOR: #256662;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #808080 1px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #f9b700;
    TEXT-ALIGN: center;
    TEXT-VALIGN: center
}
.PortaleFontLinkMessageListFunctionsNotRead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial;
    LIST-STYLE-TYPE: none
}
.PortaleFontLinkNoMessageListFunctions
{
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial
}
.PortaleFontLinkMessageListFunctionsUnderLine
{
    BORDER-RIGHT: gray 1px;
    PADDING-RIGHT: 1px;
    BORDER-TOP: gray 1px;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f9b700', endColorStr='#ffe4b8', gradientType='0');
    PADDING-BOTTOM: 1px;
    MARGIN: 1px;
    BORDER-LEFT: gray 1px;
    CURSOR: hand;
    COLOR: #256662;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #f9b700;
    TEXT-ALIGN: center;
    TEXT-DECORATION: underline;
    TEXT-VALIGN: center
}
.PortaleFontLinkMessageListFunctionsUnderLineNotRead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
TABLE.PortaleGroup
{
    BORDER-RIGHT: gray 1px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: gray 1px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    MARGIN: 1px 0px;
    BORDER-LEFT: gray 1px;
    COLOR: #800000;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: Arial
}
TD.PortaleHeadGridGroup
{
    BORDER-RIGHT: #808080 1px;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #808080 1px;
    DISPLAY: none;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f9b700', endColorStr='#ffe4b8', gradientType='0');
    PADDING-BOTTOM: 1px;
    MARGIN: 1px;
    BORDER-LEFT: #808080 1px;
    CURSOR: hand;
    COLOR: #800000;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #808080 1px;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #f9b700;
    TEXT-ALIGN: center
}
.PortaleFontLinkDisabled
{
    FONT-SIZE: 8pt;
    COLOR: gray;
    FONT-FAMILY: Arial
}
BODY
{
    BACKGROUND-COLOR: #fcf0d4
}
TABLE.Window_Tab
{
    BORDER-RIGHT: #161a74 1px solid;
    BORDER-TOP: #161a74 1px solid;
    BORDER-LEFT: #161a74 1px solid;
    BORDER-BOTTOM: #161a74 1px solid;
    BACKGROUND-COLOR: white
}
TD.Portale1CellGridListFunction
{
}
.Portale1FontLinkSelectedListFunction
{
    BORDER-RIGHT: gray 1px;
    BORDER-TOP: gray 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px;
    CURSOR: hand;
    COLOR: #256662;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: arial
}
.Portale1FontLinkSelectedListFunctionNotRead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: red;
    FONT-FAMILY: arial
}
.Portale1FontLinkNotSelectedListFunction
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial
}
.Portale1FontLinkMessageListFunctions
{
    BORDER-RIGHT: gray 1px;
    PADDING-RIGHT: 2px;
    BORDER-TOP: gray 1px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px 5px;
    BORDER-LEFT: gray 1px;
    CURSOR: hand;
    COLOR: black;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: Arial;
    LIST-STYLE-TYPE: none;
    HEIGHT: 25px
}
.Portale1FontLinkMessageListFunctionsNotRead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial
}
.Portale1FontLinkNoMessageListFunctions
{
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial
}
.Portale1FontLinkMessageListFunctionsUnderLine
{
    BORDER-RIGHT: gray 1px;
    PADDING-RIGHT: 2px;
    BORDER-TOP: gray 1px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px 5px;
    BORDER-LEFT: gray 1px;
    CURSOR: hand;
    COLOR: #256662;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: Arial;
    HEIGHT: 25px;
    TEXT-DECORATION: underline
}
.Portale1FontLinkMessageListFunctionsUnderLineNotRead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
TABLE.Portale1Group
{
    BORDER-RIGHT: gray 1px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: gray 1px;
    MARGIN-TOP: 5px;
    PADDING-LEFT: 10px;
    MARGIN-BOTTOM: 5px;
    PADDING-BOTTOM: 5px;
    MARGIN-LEFT: 3px;
    BORDER-LEFT: gray 1px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: gray 1px
}
TD.Portale1HeadGridGroup
{
    BORDER-RIGHT: gray 1px;
    PADDING-RIGHT: 1px;
    BORDER-TOP: gray 1px;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f9b700', endColorStr='#ffe4b8', gradientType='0');
    PADDING-BOTTOM: 1px;
    MARGIN: 1px;
    BORDER-LEFT: gray 1px;
    COLOR: #256662;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: Arial;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #f9b700;
    TEXT-ALIGN: center
}
TABLE.Portale1Window_Tab
{
    BORDER-RIGHT: #161a74 1px solid;
    BORDER-TOP: #161a74 1px solid;
    BORDER-LEFT: #161a74 1px solid;
    BORDER-BOTTOM: #161a74 1px solid;
    BACKGROUND-COLOR: white
}
TD.Portale1CloseGroup
{
    BORDER-RIGHT: #161a74 1px;
    BORDER-TOP: #161a74 1px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E9EDF3', endColorStr='#ffffff', gradientType='1');
    BORDER-LEFT: #161a74 1px;
    CURSOR: hand;
    COLOR: #161a74;
    BORDER-BOTTOM: #161a74 1px;
    BACKGROUND-COLOR: #e9edf3
}
TD.Portale1OpenGroup
{
    BORDER-RIGHT: #161a74 1px;
    BORDER-TOP: #161a74 1px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E9EDF3', endColorStr='#ffffff', gradientType='1');
    BORDER-LEFT: #161a74 1px;
    CURSOR: hand;
    COLOR: #161a74;
    BORDER-BOTTOM: #161a74 1px;
    BACKGROUND-COLOR: #e9edf3
}
.Portale1FontLinkDisabled
{
    BORDER-RIGHT: gray 1px;
    PADDING-RIGHT: 2px;
    BORDER-TOP: gray 1px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px 5px;
    BORDER-LEFT: gray 1px;
    COLOR: gray;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: Arial
}
TD.portale2CellGridListFunction
{
}
.portale2FontLinkSelectedListFunction
{
    BORDER-RIGHT: gray 1px;
    BORDER-TOP: gray 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px;
    CURSOR: hand;
    COLOR: black;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: arial
}
.portale2FontLinkSelectedListFunctionNotRead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: red;
    FONT-FAMILY: arial
}
.portale2FontLinkNotSelectedListFunction
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial
}
.portale2FontLinkMessageListFunctions
{
    BORDER-RIGHT: gray 1px;
    PADDING-RIGHT: 2px;
    BORDER-TOP: gray 1px;
    PADDING-LEFT: 17px;
    LIST-STYLE-POSITION: inside;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px 5px 2px 17px;
    BORDER-LEFT: gray 1px;
    CURSOR: hand;
    COLOR: black;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: Arial;
    LIST-STYLE-TYPE: square;
    HEIGHT: 10px
}
.portale2FontLinkMessageListFunctionsNotRead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial
}
.portale2FontLinkNoMessageListFunctions
{
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial
}
.portale2FontLinkMessageListFunctionsUnderLine
{
    BORDER-RIGHT: gray 1px;
    PADDING-RIGHT: 2px;
    BORDER-TOP: gray 1px;
    PADDING-LEFT: 17px;
    LIST-STYLE-POSITION: inside;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px 5px 2px 17px;
    BORDER-LEFT: gray 1px;
    CURSOR: hand;
    COLOR: #256662;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: Arial;
    LIST-STYLE-TYPE: square;
    HEIGHT: 10px;
    TEXT-DECORATION: underline
}
.portale2FontLinkMessageListFunctionsUnderLineNotRead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
TABLE.portale2Group
{
    BORDER-RIGHT: gray 1px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: gray 1px;
    MARGIN-TOP: 5px;
    PADDING-LEFT: 10px;
    MARGIN-BOTTOM: 5px;
    PADDING-BOTTOM: 5px;
    MARGIN-LEFT: 3px;
    BORDER-LEFT: gray 1px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: gray 1px
}
TD.portale2HeadGridGroup
{
    BORDER-RIGHT: gray 1px;
    PADDING-RIGHT: 1px;
    BORDER-TOP: gray 1px;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 1px;
    MARGIN: 1px;
    BORDER-LEFT: gray 1px;
    COLOR: black;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: Arial;
    HEIGHT: 10px;
    TEXT-ALIGN: left
}
TABLE.portale2Window_Tab
{
    BORDER-RIGHT: #161a74 1px solid;
    BORDER-TOP: #161a74 1px solid;
    BORDER-LEFT: #161a74 1px solid;
    BORDER-BOTTOM: #161a74 1px solid;
    BACKGROUND-COLOR: white
}
TD.portale2CloseGroup
{
    BORDER-RIGHT: #161a74 1px;
    BORDER-TOP: #161a74 1px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E9EDF3', endColorStr='#ffffff', gradientType='1');
    BORDER-LEFT: #161a74 1px;
    CURSOR: hand;
    COLOR: #161a74;
    BORDER-BOTTOM: #161a74 1px;
    BACKGROUND-COLOR: #e9edf3
}
TD.portale2OpenGroup
{
    BORDER-RIGHT: #161a74 1px;
    BORDER-TOP: #161a74 1px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E9EDF3', endColorStr='#ffffff', gradientType='1');
    BORDER-LEFT: #161a74 1px;
    CURSOR: hand;
    COLOR: #161a74;
    BORDER-BOTTOM: #161a74 1px;
    BACKGROUND-COLOR: #e9edf3
}
.portale2FontLinkDisabled
{
    BORDER-RIGHT: gray 1px;
    PADDING-RIGHT: 2px;
    BORDER-TOP: gray 1px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px 5px;
    BORDER-LEFT: gray 1px;
    COLOR: gray;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: Arial
}
TD.portale3CellGridListFunction
{
}
.portale3FontLinkSelectedListFunction
{
    BORDER-RIGHT: gray 1px;
    BORDER-TOP: gray 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1px;
    CURSOR: hand;
    COLOR: white;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #256662
}
.portale3FontLinkSelectedListFunctionNotRead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: red;
    FONT-FAMILY: arial
}
.portale3FontLinkNotSelectedListFunction
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial
}
.portale3FontLinkMessageListFunctions
{
    BORDER-RIGHT: gray 1px;
    PADDING-RIGHT: 1px;
    BORDER-TOP: gray 1px;
    PADDING-LEFT: 1px;
    LIST-STYLE-POSITION: inside;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    MARGIN: 1px;
    BORDER-LEFT: gray 1px;
    CURSOR: hand;
    COLOR: black;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: Arial;
    LIST-STYLE-TYPE: square;
    HEIGHT: 8px
}
.portale3FontLinkMessageListFunctionsNotRead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial
}
.portale3FontLinkNoMessageListFunctions
{
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial
}
.portale3FontLinkMessageListFunctionsUnderLine
{
    BORDER-RIGHT: gray 1px;
    PADDING-RIGHT: 1px;
    BORDER-TOP: gray 1px;
    PADDING-LEFT: 1px;
    LIST-STYLE-POSITION: inside;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    MARGIN: 1px;
    BORDER-LEFT: gray 1px;
    CURSOR: hand;
    COLOR: #256662;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: Arial;
    LIST-STYLE-TYPE: square;
    HEIGHT: 8px;
    TEXT-DECORATION: underline
}
.portale3FontLinkMessageListFunctionsUnderLineNotRead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
TABLE.portale3Group
{
    BORDER-RIGHT: silver 1px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: silver 1px;
    MARGIN-TOP: 1px;
    PADDING-LEFT: 1px;
    MARGIN-BOTTOM: 1px;
    PADDING-BOTTOM: 1px;
    MARGIN-LEFT: 1px;
    BORDER-LEFT: silver 1px;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: silver 1px
}
TD.portale3HeadGridGroup
{
    BORDER-RIGHT: gray 1px;
    PADDING-RIGHT: 1px;
    BORDER-TOP: gray 1px;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    MARGIN: 1px;
    BORDER-LEFT: gray 1px;
    COLOR: white;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: Arial;
    HEIGHT: 8px;
    BACKGROUND-COLOR: #256662;
    TEXT-ALIGN: left
}
TABLE.portale3Window_Tab
{
    BORDER-RIGHT: #161a74 1px solid;
    BORDER-TOP: #161a74 1px solid;
    BORDER-LEFT: #161a74 1px solid;
    BORDER-BOTTOM: #161a74 1px solid;
    BACKGROUND-COLOR: white
}
TD.portale3CloseGroup
{
    BORDER-RIGHT: #161a74 1px;
    BORDER-TOP: #161a74 1px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E9EDF3', endColorStr='#ffffff', gradientType='1');
    BORDER-LEFT: #161a74 1px;
    CURSOR: hand;
    COLOR: #161a74;
    BORDER-BOTTOM: #161a74 1px;
    BACKGROUND-COLOR: #e9edf3
}
TD.portale3OpenGroup
{
    BORDER-RIGHT: #161a74 1px;
    BORDER-TOP: #161a74 1px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E9EDF3', endColorStr='#ffffff', gradientType='1');
    BORDER-LEFT: #161a74 1px;
    CURSOR: hand;
    COLOR: #161a74;
    BORDER-BOTTOM: #161a74 1px;
    BACKGROUND-COLOR: #e9edf3
}
.portale3FontLinkDisabled
{
    BORDER-RIGHT: gray 1px;
    PADDING-RIGHT: 2px;
    BORDER-TOP: gray 1px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px 5px;
    BORDER-LEFT: gray 1px;
    COLOR: gray;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: Arial
}
