BODY
{
    SCROLLBAR-FACE-COLOR: #daa520;
    MARGIN: 5px;
    SCROLLBAR-HIGHLIGHT-COLOR: #fafad2;
    OVERFLOW: auto;
    SCROLLBAR-SHADOW-COLOR: #fafad2;
    SCROLLBAR-3DLIGHT-COLOR: #daa520;
    SCROLLBAR-ARROW-COLOR: #ffffff;
    SCROLLBAR-TRACK-COLOR: #fafad2;
    SCROLLBAR-DARKSHADOW-COLOR: #daa520;
    BACKGROUND-COLOR: white
}
BODY.bodytop
{
    MARGIN: 5px 0px 0px;
    BACKGROUND-COLOR: white
}
BODY.bodybottom
{
    MARGIN: 0px 0px 5px;
    BACKGROUND-COLOR: white
}
BODY.bodyleft
{
    MARGIN: 0px 0px 0px 5px;
    BACKGROUND-COLOR: white
}
BODY.bodyright
{
    MARGIN: 0px 5px 0px 0px;
    BACKGROUND-COLOR: white
}
BODY.bodyleft_right
{
    MARGIN: 0px 5px;
    BACKGROUND-COLOR: white
}
BODY.bodyleft_bottom
{
    MARGIN: 0px 0px 5px 5px;
    BACKGROUND-COLOR: white
}
BODY.bodytop_left_right
{
    MARGIN: 5px 5px 0px;
    BACKGROUND-COLOR: white
}
BODY.bodyleft_bottom_right
{
    MARGIN: 0px 5px 5px;
    BACKGROUND-COLOR: white
}
BODY.bodybottom_right
{
    MARGIN: 0px 5px 5px 0px
}
BODY.bodygroups
{
    BORDER-RIGHT: saddlebrown 1px solid;
    BORDER-TOP: saddlebrown;
    MARGIN: 0px;
    BORDER-LEFT: saddlebrown;
    BORDER-BOTTOM: saddlebrown;
    BACKGROUND-COLOR: lightgoldenrodyellow
}
.bodyLogo
{
    BORDER-TOP: saddlebrown 1px solid;
    MARGIN: 2px 0px 0px 5px
}
