BODY.BodyListFunction
{
    MARGIN-TOP: 0px;
    MARGIN-LEFT: 5px;
    MARGIN-RIGHT: 0px;
    BACKGROUND-COLOR: gainsboro
}
TABLE.GridListFunction
{
    WIDTH: 194px
}
TD.CellGridListFunction
{
}
.FontLinkSelectedListFunction
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: arial
}
.FontLinkSelectedListFunctionNotRead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: red;
    FONT-FAMILY: arial
}
.FontLinkNotSelectedListFunction
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial
}
.FontLinkMessageListFunctions
{
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial
}
.FontLinkMessageListFunctionsNotRead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial
}
.FontLinkNoMessageListFunctions
{
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial
}
TABLE.GridConteinerListFunction
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: gainsboro
}
TD.CellGridConteinerListFunction
{
}
TABLE.ContainerGridGroups
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    HEIGHT: 100%;
    BACKGROUND-COLOR: palegoldenrod;
    TEXT-ALIGN: left
}
.FontLinkMessageListFunctionsUnderLine
{
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: darkred;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
.FontLinkMessageListFunctionsUnderLineNotRead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
