.ToolBar_button
{
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: maroon;
    TEXT-ALIGN: left;
    TEXT-DECORATION: underline
}
TABLE.Toolbar
{
    BORDER-TOP: thin;
    BACKGROUND-COLOR: transparent
}
