@page "/Report/chiarimenti_I.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using Microsoft.VisualBasic
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.print_documentModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.CommonModel;
@using static eProcurementNext.Razor.Pages.Report.chiarimenti_IModel;
@model eProcurementNext.Razor.Pages.Report.chiarimenti_IModel
@using static eProcurementNext.Session.SessionMiddleware
@{
	CommonDbFunctions cdf = new();
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new();

	htmlToReturn.Write("<html>");
	htmlToReturn.Write("<head>");
	htmlToReturn.Write($@"<meta http-equiv=""Content-Type"" content=""text/html; charset=utf-8"">");
	htmlToReturn.Write($@"<META HTTP-EQUIV=""Pragma"" CONTENT=""no-cache"">");
	htmlToReturn.Write($@"<META HTTP-EQUIV=""Expires"" CONTENT=""-1"">");
	htmlToReturn.Write($@"<style type=""text/css"" media=""print"">");

	htmlToReturn.Write($@"@page port {{size: portrait;}}
		@page land {{size: landscape;}}


		.landscape {{page: land;}}

		</style>");
	htmlToReturn.Write($@"<STYLE>
	BODY
	{{
	    FONT-FAMILY: Arial
	}}
	</style>");
	objDoc = PrintDocument(session, htmlToReturn, HttpContext, Response,Request);//PrintDocument ok
	string  F(string v )
	{
		if(CStr(0.5).Contains(".", StringComparison.Ordinal ))
		{
			v = v.Replace(",", ".");
		}
		else
		{
			v = v.Replace(".", ",");

		}
		v = Strings.FormatNumber(CDbl(v), 2);
		//'v = cstr(v)
		if (CStr(0.5).Contains(".", StringComparison.Ordinal ))
		{
			v = v.Replace(".", "A");
			v = v.Replace(",", ".");
			v = v.Replace("A", ",");
		}
		return v;
	}
	int i = 0;

	int nr = 0;
	double np = 0;
	int rp = 0;
	np = 0;
	rp = 8;
	nr = DOC_NumRow("ELENCO", "");

	int totale = 0;
	if(nr>0)
	{
		np = Fix(CDbl(nr) / CDbl(rp));// '-- numero pagine da visualizzare

		if((np * rp)< nr)
		{
			//'-- si aggiunge la pagina per le righe residue
			np = np + 1;
		}
	}


	int nPosAttribRagSoc = 0;

	nPosAttribRagSoc = objDoc.Sections["ELENCO"].GetIndexColumn("aziRagioneSociale");
	
	htmlToReturn.Write("<title>" + ApplicationCommon.CNV("chiarimenti") + "</title>");


	htmlToReturn.Write("</head>");

	htmlToReturn.Write("<body>");

	//'-- per ogni pagina
	for (int cp = 1;cp<= np;cp++)
	{
		htmlToReturn.Write($@"<div width=""100 % "" height=""100 % """);
		if(cp<np)
		{
			htmlToReturn.Write($@"style=""page-break-after : always"" ");
		}
		htmlToReturn.Write($@"<table valign=top border=""0"" height=""100%"" width=""100%"" cellspacing=""0"" cellpadding=""0"">");
		htmlToReturn.Write($@"<tr valign=top height=""20""><td colspan=3>&nbsp;</td></tr>");
		htmlToReturn.Write($@"<tr valign=top height=""100%"">");
		htmlToReturn.Write($@"<td  height=""100%"" width=40>&nbsp;</td>");
		htmlToReturn.Write($@"<td height=""100%"">");
		htmlToReturn.Write($@"<table border=""0"" width=""100%"" cellspacing=""0"" cellpadding=""0"">");
		htmlToReturn.Write("<tr>");
		htmlToReturn.Write($@"<td width=""34%"" align=""left""><img border=""0"" src="""+ApplicationCommon.Application["strVirtualDirectory"]+$@"""/images/logo.png""></td>");
		htmlToReturn.Write($@"<td width=""33%""></td>");
		htmlToReturn.Write($@"<td width=""33%""><font face=""Arial"" size=""6"">"""+ApplicationCommon.CNV("chiarimenti")+$@"""</font></td>");


		htmlToReturn.Write("</tr>");
		htmlToReturn.Write("</table>");
		htmlToReturn.Write($@"<table border=""0"" width=""100%"" cellspacing=""0"" cellpadding=""0"">");
		htmlToReturn.Write("<tr>");
		htmlToReturn.Write($@"<td width=""100%"" height=""10"">");
		htmlToReturn.Write("</td>");
		htmlToReturn.Write("</tr>");
		htmlToReturn.Write("</table>");
		htmlToReturn.Write($@"<table border=""0"" width=""100%"">");
		htmlToReturn.Write("<tr>");
		htmlToReturn.Write($@"<td width=""100%"">");
		htmlToReturn.Write($@"<table border=""0"">");
		htmlToReturn.Write("<tr>");
		htmlToReturn.Write($@"<td nowrap style=""FONT-SIZE:12pt;""><b>" + DOC_Field_Label("TESTATA", "ProtocolloBando") + ":</b></td>");
		htmlToReturn.Write($@"<td nowrap style=""FONT-SIZE:12pt;"">" + DOC_Field("TESTATA", "ProtocolloBando") + "</td>");
		htmlToReturn.Write($@"<td nowrap width=""20""></td>");
		htmlToReturn.Write($@"<td nowrap style=""FONT-SIZE:12pt;""><b>" + DOC_Field_Label("TESTATA", "ExpiryDate") + ":</b></td>");
		htmlToReturn.Write($@"<td nowrap style=""FONT-SIZE:12pt;"">" + DOC_Field("TESTATA", "ExpiryDate") + "</td>");
		htmlToReturn.Write($@"<td nowrap width=""20""></td>");

		htmlToReturn.Write("</tr>");

		htmlToReturn.Write("</table>");

		htmlToReturn.Write($@"<table border=""0"" width=""100%"">");
		htmlToReturn.Write("<tr>");
		htmlToReturn.Write($@"<td style=""FONT-SIZE:12pt;""><b>" + HtmlEncode(DOC_Field_Label("TESTATA", "Oggetto")) + "</b></td>");
		htmlToReturn.Write("</tr>");
		htmlToReturn.Write("<tr>");
		htmlToReturn.Write($@"<td style=""FONT-SIZE:12pt;"">" + HtmlEncode(DOC_Field("TESTATA", "Oggetto")) + "</td>");
		htmlToReturn.Write("</tr>");
		htmlToReturn.Write("</table>");


		htmlToReturn.Write("</td>");
		htmlToReturn.Write("</tr>");
		htmlToReturn.Write("</table>");
		htmlToReturn.Write($@"<table border=""0"" width=""100%"" cellspacing=""0"" cellpadding=""0"">");
		htmlToReturn.Write("<tr>");
		htmlToReturn.Write($@"<td width=""100%"" height=""10""></td>");
		htmlToReturn.Write("</tr>");
		htmlToReturn.Write("</table>");

		htmlToReturn.Write($@"<table border=""0"" width=""100%"">");
		htmlToReturn.Write("<tr>");
		htmlToReturn.Write($@"<td width=""100%"">");
		htmlToReturn.Write($@"<b>" + ApplicationCommon.CNV("ELENCO Quesiti") + "</b>");
		htmlToReturn.Write($@"<table border=""1"" width=""100%"" cellspacing=""0"" cellpadding=""0"">");
		htmlToReturn.Write("<tr>");
		htmlToReturn.Write($@"<!--td  align=left valign=top nowrap bgcolor=""#808080""  style="" COLOR: #FFFFFF;FONT-SIZE:10pt; BORDER-BOTTOM:lightgrey 1pt solid;BORDER-TOP: lightgrey 1pt solid;""><b>" + DOC_FieldRow_Label( "ELENCO", "ChiarimentoPubblico" ) + $@"</b></td-->");

		if (nPosAttribRagSoc != 0)
		{
			htmlToReturn.Write($@"<td  valign=top  bgcolor=""#808080"" style=""COLOR: #FFFFFF;FONT-SIZE:10pt;BORDER-BOTTOM:lightgrey 1pt solid;BORDER-TOP: lightgrey 1pt solid; width:10%;""><b>" + DOC_FieldRow_Label("ELENCO", "aziRagioneSociale") + "</b></td>");
		}

		htmlToReturn.Write($@"<td  valign=top align=left  bgcolor=""#808080"" style=""COLOR: #FFFFFF;FONT-SIZE:10pt;BORDER-BOTTOM:lightgrey 1pt solid;BORDER-TOP: lightgrey 1pt solid; width:40%; ""><b>" + HtmlEncode(DOC_FieldRow_Label("ELENCO", "Domanda")) + "</b></td>");
		htmlToReturn.Write($@"<td  valign=top  align=left bgcolor=""#808080"" style=""COLOR: #FFFFFF;FONT-SIZE:10pt;BORDER-BOTTOM:lightgrey 1pt solid;BORDER-TOP: lightgrey 1pt solid; width:40%; ""><b>" + HtmlEncode(DOC_FieldRow_Label("ELENCO", "Risposta")) + "</b></td>");
		htmlToReturn.Write($@"<td  valign=top align=left bgcolor=""#808080"" style=""COLOR: #FFFFFF;FONT-SIZE:10pt;BORDER-BOTTOM:lightgrey 1pt solid;BORDER-TOP: lightgrey 1pt solid; width:10%;""><b>" + DOC_FieldRow_Label("ELENCO", "Allegato") + "</b></td>");
		htmlToReturn.Write("</tr>");

		int r = 0;
		for (r = 0;r< (rp -1);r++)
		{
			i = r + ((cp - 1) * rp);
			if(i <nr)
			{
				htmlToReturn.Write("<tr >");
				htmlToReturn.Write($@"<!--td valign=top align=left style=""FONT-SIZE:9pt;"">DOC_FieldRow( ""ELENCO"", ""ChiarimentoPubblico"", i )</td-->");
				
					if ( nPosAttribRagSoc != 0)
					{

						htmlToReturn.Write($@"<td  valign=top align=left style=""FONT-SIZE:9pt;"">");
						htmlToReturn.Write(DOC_FieldRow("ELENCO", "aziRagioneSociale", i) +"<br>");
						htmlToReturn.Write("tel." + DOC_FieldRow("ELENCO", "aziTelefono1", i) + $@"<br> fax " + DOC_FieldRow("ELENCO", "aziFAX", i) + $@"<br>");
						htmlToReturn.Write(DOC_FieldRow("ELENCO", "aziE_Mail", i) + "<br>");
						htmlToReturn.Write("</td>");
					}

					htmlToReturn.Write($@"<td  valign=top align=left style=""FONT-SIZE:9pt;"">" + DOC_FieldRow("ELENCO", "Domanda", i) + "</td>");
					htmlToReturn.Write($@"<td  valign=top align=left style=""FONT-SIZE:9pt;"">"); 
					if(string.IsNullOrEmpty(CStr(DOC_FieldRow( "ELENCO", "Risposta", i ))))
					{
						htmlToReturn.Write("&nbsp;");
					}
					else
					{
						htmlToReturn.Write(DOC_FieldRowTecnical("ELENCO", "Risposta", i));
					}
					htmlToReturn.Write("</td>");
					htmlToReturn.Write($@"<td  valign=top align=left style=""FONT-SIZE:9pt;"">");
					if(string.IsNullOrEmpty(DOC_FieldRow( "ELENCO", "Allegato", i )))
					{
						htmlToReturn.Write("&nbsp;");
					}
					else
					{
						htmlToReturn.Write(DOC_FieldRow("ELENCO", "Allegato", i));
					}
					htmlToReturn.Write("</td>");

					htmlToReturn.Write("</tr>");

				}
			}
			htmlToReturn.Write("</table>");
			htmlToReturn.Write("</td>");
			htmlToReturn.Write("</tr>");
			htmlToReturn.Write("</table>");

			htmlToReturn.Write("</td>");
			htmlToReturn.Write($@"<td width=""40"">&nbsp;");
			htmlToReturn.Write("</td>");
			htmlToReturn.Write("</tr>");
			htmlToReturn.Write($@"<tr height=""20""  ><td colspan=3 style=""FONT-SIZE:10pt;"">Pagina " + cp + " di" + np + "</td></tr>");
			htmlToReturn.Write("</table>");
			htmlToReturn.Write("</div>");
		}
		htmlToReturn.Write("</body>");

		htmlToReturn.Write("</html>");

		//'-- Testo aggiunto in automatico per liberare la memoria dei nuovi report
		try
		{
			FreeMemDocument(session);
		}
		catch
		{
			
		}
}@Html.Raw(htmlToReturn.Out())