@page "/Report/prn_PDA_COMUNICAZIONE_GARA.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using Microsoft.VisualBasic
@using System.Globalization
@using static eProcurementNext.CommonDB.Basic;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.print_documentModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.CommonModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.functions.securityModel;
@using static eProcurementNext.Razor.Pages.CustomDoc.GetNomeDirigenteModel;
@using static eProcurementNext.Razor.Pages.Report.prn_PDA_COMUNICAZIONE_GARAModel;
@using static eProcurementNext.Session.SessionMiddleware
@model eProcurementNext.Razor.Pages.Report.prn_PDA_COMUNICAZIONE_GARAModel
@{
	CommonDbFunctions cdf = new();
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new();
	var sqlParams = new Dictionary<string, object?>();
	objDoc = PrintDocument(session, htmlToReturn, HttpContext, Response, Request);//PrintDocument ok
}
@{

	htmlToReturn.Write($@"
	<html>
	<head>
	<meta http-equiv=""Content-Type"" content=""text/html; charset=utf-8"">

	<link rel=""stylesheet"" type=""text/css"" href=""../ctl_library/themes/GridPrint.css""  />


	<style>

		.contenitore_stampa 
		{{
			width:950px ;
			margin: 0 auto ;

		}}

		table 
		{{
			width: 100%;

		}}


		.page-break	{{ display: block; page-break-before: always; }}

	    div#footer_wrapper 
		{{
			margin: 0px 2px 0px 7px;
			position: fixed;
			bottom: 0;
		}}

		 #footer {{
			position: fixed;
			bottom: 0;
			width: 100%;
			height: 50px;

		  }}

		  /* Print progressive page numbers */
		  .page-number:before {{
			/* counter-increment: page; */
			content: ""Pagina "" counter(page);
		  }}		


		.size1
		{{
			FONT-SIZE: 12pt;
			FONT-FAMILY: Arial
		}}


		.display_none
		{{
			display: none;

		}}
	</style>	



	<title>" + ApplicationCommon.CNV("Comunicazione") + $@"</title>
	</head>");

	//void Header() {

	//	htmlToReturn.Write($@"<tr><td height=""50px"" align=""left"" valign=""top"" >");

	//	imgHeader = CNV("HEADER_STAMPE");

	//	if (instr(1, imgHeader, "???") > 0) {
	//		htmlToReturn.Write($@"<img height=""50px"" src=""logo_new.gif"" border=""0"" alt=""" + CNV("ALT LOGO") + """/>");
	//	} else {
	//		htmlToReturn.Write(imgHeader);
	//	}

	//	htmlToReturn.Write($@"</td></tr>
	//						<tr><td height=""50px"" align=""center"" valign=""top"" >
	//						<div><h3><center>" + CNV("nome_portale") + $@"</center></h3></div><div><b></b><center><b>" + stazioneappaltante(DOC_FieldTecnical("TESTATA", "Azienda")) + $@"</b><b></b></center></div>
	//					</td></tr>");


	//}

	//void stazioneappaltante(cod){
	//	//'--recupero info ente
	//	TSRecordSet rsEnte = null;
	//	rsEnte = cdf.GetRSReadFromQuery_("select * from  aziende where idazi='" + cod + "'");
	//	rsEnte.MoveFirst();

	//	stazioneappaltante = rsEnte("aziRagioneSociale");
	//	TSRecordSet rsEnte = null;
	//}



	htmlToReturn.Write($@"<body>
	<div class=""contenitore_stampa"" >
	<!-- Header lo produce in automatico con la vista la chiamata al pdf per ogni pagina
	<table style=""font-weight:bold; align=center; vertical-align:center;"" width=""100%"" >				 

	</table>-->
	<br>
	<br>

	<!-- Fornitore -->");

	TSRecordSet rsAzi = null;
	//'set rsAzi = GetRS( "select * from aziende where idazi = " & DOC_FieldRowTecnical( "DETTAGLI", "Fornitore" ,cp ) )
	sqlParams.Clear();
	sqlParams.Add("@id", DOC_FieldTecnical("TESTATA", "Destinatario_Azi"));
	rsAzi = cdf.GetRSReadFromQuery_("select * from aziende inner join dm_attributi on lnk=idazi and  dztNome='codicefiscale' where idazi = @id", ApplicationCommon.Application.ConnectionString, sqlParams);
			htmlToReturn.Write($@"<table border=""0""  width=""100%""  >
				<tr>
					<td width=""70%"">&nbsp;
	</td>
					<td align=""left"" ><b><font class=""size1"">
						Spett.le Operatore Economico<br></b>"
				+ rsAzi.Fields["aziragionesociale"] + $@"<br>"
				+ rsAzi.Fields["aziIndirizzoLeg"] + $@"<br>C.F."
				+ rsAzi.Fields["vatValore_FT"] + $@" - P.IVA" + rsAzi.Fields["aziPartitaIVA"] + $@"<br> PEC"
				+ rsAzi.Fields["aziE_Mail"] + $@"<br>

						</font>
					</td>
				</tr>
			</table>

			<br>
			<br>

	<table cellpadding=0 cellspacing=0>
		 <thead>
		  
		
    	
    	<tr><td>&nbsp;</td></tr>	
		
		<tr>
    	  <td nowrap style=""font-size:18px; align=left""><b>Oggetto:</b>" + DOC_FieldTecnical("TESTATA", "Body") + $@"- <b>CIG:</b>" + DOC_FieldTecnical("TESTATA", "CIG") + $@"</td>
    	</tr>
		<tr><td>&nbsp;</td></tr>	
		<tr>
    	  <td nowrap style=""font-size:18px; align=left""><b>Comunicazione di richiesta stipula contratto.</b></td>
    	</tr>
		<tr>		
    	  <td>" + DOC_FieldTecnical("TESTATA", "Note") + $@"</td>
    	</tr>
    				
		<tr><td>&nbsp;</td></tr>	
		
		
		
        <tr><td>&nbsp;</td></tr>
        <tr ><td style=""border:0px;"" ><label style=""font-size:18px; font-weight:bold; align:left"">
            
        <tr><td>&nbsp;</td></tr> 
        </thead>
        
     </table>   
	<br/><br/><br/>

	<table border=""0""  width=""100%""  >
				<tr>
					
					<td align=""left"" width=""80%"">&nbsp;</td>
					<td align=""center"" nowrap>
						<b><font class=""size1"">
						
						F.to Il Dirigente</b><br>
						
						
						
						</font>
						
					</td>
					<td align=""left"" width=""10%"">&nbsp;</td>

				</tr>
			</table>
    
    
	</body>
	</html>");

	try
	{
		FreeMemDocument(session);
	}
	catch
	{
		
	}
}@Html.Raw(htmlToReturn.Out())