@page "/Report/prn_CAMBIO_RUOLO_UTENTE.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using Microsoft.VisualBasic
@using System.Globalization
@using static eProcurementNext.CommonDB.Basic;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.print_documentModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.CommonModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.functions.securityModel;
@using static eProcurementNext.Razor.Pages.Report.prn_CAMBIO_RUOLO_UTENTEModel;
@model eProcurementNext.Razor.Pages.Report.prn_CAMBIO_RUOLO_UTENTEModel
@using static eProcurementNext.Session.SessionMiddleware
@{

	CommonDbFunctions cdf = new CommonDbFunctions();
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new EprocResponse();
	objDoc = PrintDocument(session, htmlToReturn, HttpContext,Response,Request);//PrintDocument ok
	string IDDOC = objDoc.mp_IDDoc;
	var sqlParams = new Dictionary<string, object?>();

	htmlToReturn.Write($@"
	<html>
	<head>");

	addMetaTag(htmlToReturn);
	htmlToReturn.Write($@"
	</head>

	<body style=""margin-left:50px; margin-right:50px; margin-top:10px; margin-bottom:10px"">");
	htmlToReturn.Write($@"
	<table height=""100%"" width=""100%"" border=""0"" style=""height: 1390px;"">

		<tr>
			<td align=""center""> 

				<table  width=""100%"" style=""margin-top:0px"" align=""center"">
					<tr>
						<td style=""border:0px;"" align=""center"">
							<table style=""font-weight:bold; align:center"">
								<tr>
									<td align=""center"" style=""border:0px; align:center; vertical-align=middle;"">");
	string imgHeader = ApplicationCommon.CNV("HEADER_STAMPE");
	if(imgHeader.Contains("???", StringComparison.Ordinal))
	{
		htmlToReturn.Write($@"<img height=""50px"" src=""logo_new.gif"" border=""0"" alt=""" + ApplicationCommon.CNV("ALT LOGO") + $@""" />");
	}
	else
	{
		htmlToReturn.Write(imgHeader);
	}
	htmlToReturn.Write($@"
	</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td style=""font-size:18px"">");
	<!--%=CNV("HEADER_CAMBIO_RUOLO_UTENTE")%-->
	htmlToReturn.Write($@"
				</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

			</td>
		</tr>");
	htmlToReturn.Write($@"
		<tr>

			<td height=""100%"" align=""top"" valign=""top"">

				<br/><br/>");

	string id = GetParamURL(Request.QueryString.ToString(), "IDDOC");
	sqlParams.Add("@id", CStr(CLng(id)));
	validate("IDDOC", id, TIPO_PARAMETRO_INT, SOTTO_TIPO_VUOTO, "", 1, HttpContext, session);
	string strSql = "Select convert( varchar , Data , 103 ) as data,p.pfuNomeUtente + ' ' + p.pfuCognome as Responsabile ,a.aziragionesociale,isnull(pfuRuoloAziendale,'') as pfuRuoloAziendale,isnull(DV.DMV_DescML,'') as Secondo_livello_class,isnull(DV1.DMV_DescML,'') as Primo_livello_class,DM2.vatvalore_ft as codicefiscale,aziIndirizzoLeg + ' - ' + aziCAPLeg + ' ' + aziLocalitaLeg + ' (' + aziProvinciaLeg +') ' as indirizzo " + Environment.NewLine;
	strSql = strSql + "from ctl_doc c " + Environment.NewLine;
	strSql = strSql + "inner join profiliUtente p on c.idpfu=p.idpfu  " + Environment.NewLine;
	strSql = strSql + "inner join aziende a on a.idazi=p.pfuIdAzi " + Environment.NewLine;
	strSql = strSql + "left outer join DM_Attributi DM on DM.lnk=a.IdAzi and DM.dztNome='TIPO_AMM_ER' " +Environment.NewLine;
	strSql = strSql + "inner join DM_Attributi DM2 on DM2.lnk=a.IdAzi and DM2.dztNome='codicefiscale' " + Environment.NewLine;
	strSql = strSql + "left outer join LIB_DomainValues DV on DV.DMV_DM_ID='TIPO_AMM_ER'  and DV.DMV_COD=DM.VatValore_ft " + Environment.NewLine;
	strSql = strSql + "left outer join LIB_DomainValues DV1 on DV1.DMV_DM_ID='TIPO_AMM_ER'  and DV1.DMV_COD=left(DM.VatValore_ft,CHARINDEX('-',DM.VatValore_ft)-1) " + Environment.NewLine;
	strSql = strSql + "where c.id=@id";

	TSRecordSet rs = cdf.GetRSReadFromQuery_(strSql, ApplicationCommon.Application.ConnectionString, sqlParams);
	if(rs.RecordCount >0)
	{
		rs.MoveFirst();
	}
	else
	{

		HttpContext.Response.StatusCode = StatusCodes.Status500InternalServerError;
		throw new ResponseEndException(htmlToReturn.Out(), Response, "");
	}
	string data = GetValueFromRS(rs.Fields["data"]);
	string pfuRuoloAziendale = GetValueFromRS(rs.Fields["pfuRuoloAziendale"]);
	string nomeResponsabile = HtmlEncode(GetValueFromRS(rs.Fields["Responsabile"]));
	string Primo_livello_class = HtmlEncode(GetValueFromRS(rs.Fields["Primo_livello_class"]));
	string Secondo_livello_class = HtmlEncode(GetValueFromRS(rs.Fields["Secondo_livello_class"]));
	string aziragionesociale = HtmlEncode(GetValueFromRS(rs.Fields["aziragionesociale"]));
	string codicefiscale= GetValueFromRS(rs.Fields["codicefiscale"]);
	string indirizzo = HtmlEncode(GetValueFromRS(rs.Fields["indirizzo"]));

	int NumPagCorrente;
	NumPagCorrente = 0;
	htmlToReturn.Write($@"
	<table width=""100%"">

		<tr>

			<td colspan=""2"" align=""right"">
				<strong>Codice Utente:</strong> " + DOC_Field("UTENTE", "NomeUtente") + $@"<br/>
			</td>

		</tr>		

	</table>");
	htmlToReturn.Write($@"
	<br/><br/>
	<table width=""100%"">
		<tr>
			<td colspan=""1"" align=""left"">
				<strong>Il sottoscritto</strong>
			</td>
		</tr>
			<tr>
			<td colspan=""1"" align=""left"">
				<strong>&nbsp;</strong>
			</td>
		</tr>

		<tr>				
			<td colspan=""2"" align=""left"">
				<strong>Nome e Cognome:</strong> " + DOC_Field("UTENTE", "Nome") + $@" &nbsp; " + DOC_Field("UTENTE", "Cognome") + $@"<br/>
			</td>

		</tr>	
		<tr>				
			<td colspan=""2"" align=""left"">
				<strong>Codice fiscale:</strong> " + DOC_Field("UTENTE", "codicefiscale") + $@"<br/>
			</td>

		</tr>
		<tr>				
			<td colspan=""2"" align=""left"">
				<strong>E-mail:</strong> " + DOC_Field("UTENTE", "EMAIL") + $@"<br/>
			</td>

		</tr>
		<tr>				
			<td colspan=""2"" align=""left"">
				<strong>Qualifica:</strong> "+pfuRuoloAziendale + $@"<br/>
			</td>

		</tr>
	</table>");
	htmlToReturn.Write($@"
	<p style=""text-align:justify"">domiciliato, ai fini del presente atto, presso la sede dell'Amministrazione di appartenenza, di seguito indicata;</p>
	<strong><center>RICHIEDE</center></strong>
	<p style=""text-align:justify"">in data  " + data + $@" l’abilitazione quale</p>

	<p style=""text-align:justify"">
		<strong>" + 
	IIF(DOC_Field("SCELTA_RUOLO", "PO") == "1", "-   Punto Ordinante", ""));
	htmlToReturn.Write("<br/>");
	//'--se Scelta_Rup visualizzato lo mostro
	dynamic n_Hide_Scelta_Rup = Get_Func_Property("CAMBIO_RUOLO_UTENTE_SCELTA_RUOLO", "scelta_RUP", "Hide", "0", -1 );
	if (CStr(n_Hide_Scelta_Rup) == "0" ){

		htmlToReturn.Write( IIF( CStr(DOC_Field( "SCELTA_RUOLO", "scelta_RUP")) == "1" , "-   RUP RDO" , "" ));

		htmlToReturn.Write( "<br/>");
	}
	htmlToReturn.Write(IIF(DOC_Field("SCELTA_RUOLO", "scelta_RUP_PDG") == "1", "-   RUP PDG", ""));
	htmlToReturn.Write("<br />");
	IIF(DOC_Field("SCELTA_RUOLO", "ResponsabilePEPPOL") == "1", "-   Responsabile NOTIER - Peppol", "");
	htmlToReturn.Write($@"
	</strong>
	</p>

	<p style=""text-align:justify"">
		dell'Amministrazione (o Ente di Appartenenza) sotto indicata alle funzionalità del Sistema " + ApplicationCommon.Application["NOMEPORTALE"] + $@". 
		A tal fine è consapevole della responsabilità e delle conseguenze di natura civile e penale previste in caso di dichiarazioni mendaci, 
		falsità in atti ed uso di atti falsi, anche ai sensi e per gli effetti dell'art.76 del D.P.R. 28 dicembre 2000, n. 445 ed è consapevole, altresì, 
		che qualora emerga la non veridicità del contenuto della presente dichiarazione, decadrà dai benefici per i quali la presente Domanda 
		di Registrazione è rilasciata; inoltre
	</p>");
	htmlToReturn.Write($@"<strong><center>DICHIARA</center></strong>");
	if( DOC_Field( "SCELTA_RUOLO", "ResponsabilePEPPOL") == "1")
	{
		htmlToReturn.Write($@"<p style=""text - align:justify"">- di essere dotato di tutti i poteri e le autorizzazioni necessari per impegnare l'Amministrazione di appartenenza, agendo in suo nome e conto, per l’iscrizione ai servizi NOTIER-Peppol per l'emissione e la ricezione dei documenti di ordinazione e fatturazione elettronica, nonch&egrave; dei documenti di trasporto;</p>");
	}

	if( DOC_Field( "SCELTA_RUOLO", "PO") == "1")
	{
		htmlToReturn.Write($@"<p style=""text-align:justify"">- di essere dotato di tutti i poteri e le autorizzazioni necessari per impegnare l'Amministrazione di appartenenza, agendo in suo nome e conto, per
					l'acquisto   nell'area riservata del Portale;</p>");
	}
	htmlToReturn.Write($@"
	<p style=""text-align:justify"">- di avere preso piena conoscenza, e pertanto di conoscere ed accettare in ogni loro parte le informazioni e le disposizioni pubblicate sul sito ivi comprese le note legali e il Regolamento di utilizzo del Sistema, nonché gli altri documenti agli stessi allegati o richiamati;</p>
	<p style=""text-align:justify"">- che tale registrazione è effettuata dal sottoscritto a proprio nome quale:</p><strong>");
	if (CStr(n_Hide_Scelta_Rup) == "0" ){
		htmlToReturn.Write( IIF( CStr(DOC_Field( "SCELTA_RUOLO", "scelta_RUP")) == "1" , "-   RUP RDO" , "" ));
		htmlToReturn.Write( "<br/>&nbsp;&nbsp;&nbsp;");
	}
	htmlToReturn.Write(IIF( CStr(DOC_Field( "SCELTA_RUOLO", "scelta_RUP_PDG")) == "1" , "-   RUP PDG" , "" )  + $@"</strong></p>");

	htmlToReturn.Write($@"
	<p style=""text-align:justify"">appartenente all’Amministrazione sotto indicata;</p>
	<p style=""text-align:justify"">- di essere consapevole del fatto che le Chiavi di accesso al Sistema sono personali, segrete e riservate, impegnandosi a conservarle con la massima diligenza che ne garantisca la segretezza e la riservatezza;</p>
	<p style=""text-align:justify"">- di impegnarsi ad adottare, anche nei confronti dei propri collaboratori, tutte le misure tecniche ed organizzative necessarie ad assicurare la riservatezza e la protezione delle Chiavi di accesso al Sistema al fine di evitare che altri soggetti possano venirne a conoscenza;</p>
	<p style=""text-align:justify"">- di essere consapevole del fatto che qualsivoglia atto, azione e/o fatto operato all'interno del sito tramite le Chiavi di accesso sarà inequivocabilmente attribuito al sottoscritto;</p>	");

	//'--PIE DI PAGINA
	footer();
	htmlToReturn.Write($@"
	</td></tr>
		</table>");
	PrintPagina();
	htmlToReturn.Write($@"
	<table height=""100%"" width=""100%"" border=""0"" style=""height: 1390px;"">
					<tr>
						<td align=""center""> 

							<table  width=""100%"" style=""margin-top:0px"" align=""center"">
								<tr>
									<td style=""border:0px;"" align=""center"">
										<table style=""font-weight:bold; align:center"">
											<tr>
												<td align=""center"" style=""border:0px; align:center; vertical-align=middle;"">");
	imgHeader = ApplicationCommon.CNV("HEADER_STAMPE");
	if(imgHeader.Contains("???", StringComparison.Ordinal))
	{
		htmlToReturn.Write($@"<img height=""50px"" src=""logo_new.gif"" border=""0"" alt=""" + ApplicationCommon.CNV("ALT LOGO") + $@""" />");
	}
	else
	{
		htmlToReturn.Write(imgHeader);

	}
	htmlToReturn.Write($@"
	</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style=""font-size:18px"">");
	<!--%=CNV("HEADER_CAMBIO_RUOLO_UTENTE")%-->
	htmlToReturn.Write($@"
	</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>

						</td>
					</tr>

		<tr>

			<td height=""100%"" align=""top"" valign=""top"">

				<br/><br/>");
	htmlToReturn.Write($@"
				<p style=""text-align:justify"">- di avere attentamente valutato il carattere innovativo delle modalità di acquisto previste dal Sistema e di conseguenza di esonerare espressamente " + ApplicationCommon.CNV("agenzia portale") + $@" da ogni e qualsivoglia responsabilità e/o richiesta di risarcimento per danni in qualsiasi modo derivanti dall'utilizzo del Sistema o degli altri strumenti telematici utilizzati nella procedura, nonché da ogni e qualsivoglia responsabilità e richiesta di risarcimento per danni derivanti dall'utilizzo, dal mancato utilizzo, da malfunzionamenti o difetti a servizi di connettività necessari a raggiungere attraverso la rete pubblica di telecomunicazioni il sito;</p>
				<p style=""text-align:justify"">- di essere stato informato, ai sensi e per gli effetti dell’art. 13 del Regolamento europeo n. 679/2016 e dell’art. 10 del D.Lgs. n. 51/2018, che i dati personali raccolti saranno trattati, anche con strumenti informatici, nell'ambito del procedimento per il quale la presente dichiarazione viene resa.</p>

				<p><strong>Ente di appartenenza:</strong></p>
				<p><strong>- " + Primo_livello_class + $@" : " + Secondo_livello_class + $@"</strong></p>
				<p><strong>- " + aziragionesociale + $@"</strong></p>");
	if (!string.IsNullOrEmpty(DOC_Field( "SCELTA_RUOLO2", "SceltaAOO")))
	{
		htmlToReturn.Write($@"<p><strong>-" + DOC_Field("SCELTA_RUOLO2", "SceltaAOO") + $@"</strong></p>");
	}


	if(!string.IsNullOrEmpty( DOC_Field( "SCELTA_RUOLO", "AreaDiAppartenenza")))
	{
		htmlToReturn.Write($@"<p><strong>Ufficio di appartenenza:</strong> " + DOC_Field("SCELTA_RUOLO", "AreaDiAppartenenza") + $@"</p>");
	}

	htmlToReturn.Write($@"

				<p>Codice Fiscale: " + codicefiscale + $@"</p>
				<p>Con sede in: " + indirizzo + $@"</p>

				<p style=""text-align:justify"">Il sottoscritto si impegna a comunicare tempestivamente " + ApplicationCommon.Application["PREP_AL_GESTORE"] + $@"&nbsp;" + ApplicationCommon.CNV("agenzia portale") + $@", qualsiasi evento giuridicamente rilevante dovesse riguardare la propria partecipazione al Sistema e qualsiasi modifica dovesse interessare i dati forniti con la presente autocertificazione e, in particolare, la eventuale perdita da parte dell'Amministrazione o Ente di Appartenenza dei requisiti previsti dalla legge per l’accesso alle funzionalità del Sistema, nonché l'eventuale evoca dei poteri e/o delle autorizzazioni al sottoscritto conferiti e necessari per la registrazione, l'accesso e/o l'utilizzo del Sistema.
					Preso atto del disposto delle norme di cui al Regolamento europeo n. 679/2016 e dell’art. 10 del D.Lgs. n. 51/2018, il sottoscritto autorizza " + ApplicationCommon.CNV("agenzia portale") + $@"al trattamento dei dati sopra riportati, ai fini della registrazione al Sistema richiesta con la presente Domanda, nonché allo svolgimento di tutte le attività conseguenti, e autorizza altresì espressamente " + ApplicationCommon.CNV("agenzia portale") + $@" a rendere pienamente disponibili, anche in formato elettronico, i dati di cui sopra ai fornitori abilitati al Sistema, all'Amministrazione di appartenenza e ad altre Amministrazioni, nonché ai soggetti eventualmente delegati " + ApplicationCommon.Application["PREP_DAL_GESTORE"] + $@"&nbsp;" + ApplicationCommon.CNV("agenzia portale") + $@", allo svolgimento di attività comunque connesse alla prestazione dei servizi offerti.
				</p>


				<br/><br/><br/>");
	htmlToReturn.Write($@"
		<table width=""100%"">

					<tr>

						<td align=""right"">
							" + nomeResponsabile + $@" <br/>
							Firmato digitalmente
						</td>

					</tr>		

				</table>

			</td>
		</tr>
		<tr>
			<td>");

	//'--PIE DI PAGINA
	footer();
	htmlToReturn.Write($@"
			</td>
		</tr>
		</table>




	</body>
	</html>");
	//'-- Testo aggiunto in automatico per liberare la memoria dei nuovi report
	try
	{
		FreeMemDocument(session);
	}
	catch
	{

	}
	//'------------------------------------------------------------------------------
	//'-- funzione per disegnare il pie pagina
	//'------------------------------------------------------------------------------
	void footer()
	{

		NumPagCorrente = NumPagCorrente + 1;

		htmlToReturn.Write($@"<tr><td valign=""bottom"" height=""5px"" >");
		htmlToReturn.Write($@"<table id=""piedipagina1"" width=""100%"" height=""5px"" style=""vertical-align: bottom; bottom: 0px""> ");
		htmlToReturn.Write($@"        <tr><td align=""left"" ><b></b></td></tr><tr>");
		htmlToReturn.Write($@"            <td style=""border-bottom: 1px solid black;border-top: 1px solid black;""  valign=""bottom"" align=""right"" >");
		htmlToReturn.Write($@"                ");
		htmlToReturn.Write($@"                Pagina: " + NumPagCorrente);
		htmlToReturn.Write($@"            </td>");
		htmlToReturn.Write($@"        </tr>");
		htmlToReturn.Write($@"    </table>");
		htmlToReturn.Write($@"    </td></tr>");

	}
	void PrintPagina()
	{
		htmlToReturn.Write($@"<div style=""page-break-after: always""></div>");
	}
}@Html.Raw(htmlToReturn.Out())