@charset "utf-8";

*[accesskey]:after {
	content: ' [' attr(accesskey) ']';
	color: #fff;
	font-size: 0.75em;
	background: #CB1D15;
	margin-left: 0.3em;
	padding-right: 0.3em;
}

/*RESET*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, button, select, textarea, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 1em;
	line-height: 1;
	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
}




	a img, :link img, :visited img {
		border: 0;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol, ul {
	list-style: none;
}

q:before, q:after, blockquote:before, blockquote:after {
	content: "";
}

/*end reset*/

/* classi di utilità*/
.display_inline {
	display: inline;
}

.underline {
	text-decoration: underline;
}

.zindex_top {
	z-index: 1000;
}

.display_none {
	display: none;
}

.display_block {
	display: block;
}

.position_absolute {
	position: absolute;
}

.overflow_auto {
	overflow: auto;
}

.height_100_percent {
	height: 100%;
}

.width_100_percent {
	width: 100% !important;
}

.Folder_Label {
	white-space: nowrap;
}

.div_grid_multi_dim_overflow_auto {
	position: absolute;
	overflow: auto;
	display: none;
}

label.FldDomainValue, div.FldDomainValue, .VerticalModel_ReadOnlyField td {
}


.div_grid_multi_dim_overflow_hidden {
	position: absolute;
	overflow: hidden;
	display: none;
}

.folder_height_5 {
	height: 5px
}

.Fld_Hierarchy_label_width {
	border: 1px solid #C0C0C0;
	display: inline-block;
	white-space: nowrap;
	padding: 0.5em;
	background: #dedede;
	font-size: 0.8em;
	color: #666;
}

.Fld_Hierarchy_label {
	border: 1px solid #C0C0C0;
	display: inline-block;
}

.Fld_ExtendedDomain_label {
	border: 1px solid #C0C0C0;
	display: inline-block;
}

.Fld_ExtendedDomain_label_width {
	width: 100%;
	display: inline-block;
}

.float_right {
	float: right;
}

.Fld_Domain_label {
	width: 80%;
	border: 1px solid #C0C0C0;
	display: inline-block;
}

.Fld_Domain_label2 {
	width: 75%;
	border: 1px solid #C0C0C0;
	display: inline-block;
}

.Fld_DescDB_label {
	background: #ccc;
}

.calendar_div_content {
	position: absolute;
	overflow: auto;
	display: none;
}

.calendar_div_content_overflowhidden {
	position: absolute;
	overflow: hidden;
	display: none;
}

.ActiveExtendedAttrib_div {
	position: absolute;
	z-index: 4;
	display: none;
}

.hidden {
	display: none;
}
/* classi di utilità*/

/*MASTER*/
html, body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	height: 100%;
	/*overflow:auto;*/
}

.top {
	width: 100%;
	min-width: 48em;
	/*overflow:hidden;*/
	background: #ddd;
	display: none;
}

.left.toolbar_head {
	display: none;
}

.middle {
	width: 100%;
	min-width: 48em;
	background: #fff;
	clear: both;
}

.bottom {
	width: 100%;
	min-width: 48em;
	background: #ececec;
	display: none;
}

.left {
	/*width:20%;*/
	width: 210px;
	float: left;
	padding: 1em;
}

.Footer_00 .right {
	padding-left: 0.5em;
}

.right {
	/*float:right;*/
	padding: 2.8em;
	float: left;
}

.TopToolbar .left {
	width: 20%;
	float: left;
	padding: inherit;
	padding-left: 1%;
}

.TopToolbar .right {
	width: 75%;
	float: right;
	padding: inherit;
	padding-right: 1%;
}

#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -190px;
}

.bottom, #push {
	height: 190px;
	clear: both;
}

.ContDiv .TableLayout td.TdLeft {
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-bottom: inherit;
}

.Sezione {
	background: #CB1D15;
	height: 7px;
	float: left;
	width: 100%;
}

.ContDiv .left {
	padding-top: 0px;
	padding-bottom: 0px;
	height: 111px;
}

.ContDiv .right {
	width: 95%;
	height: 4.8em;
	background: url(../../images/loghi.gif) bottom right no-repeat;
}

.breadCrumb {
	background: #fff;
	padding: 1em;
	padding-bottom: 0px;
	overflow: hidden;
	font-size: 0.80em;
}

.headerImg {
	height: 18px;
	background: url(../../images/header_portale.jpg) top right no-repeat;
	width: 100%;
	overflow: auto;
	border-bottom: 6px solid #fff;
}

div.logo {
	min-width: 420px;
}

.Footer_00 {
	background: #F4F4F4;
	overflow: hidden;
	float: left;
	width: 100%;
}

.Footer_02 {
	background: #293333;
	overflow: hidden;
	float: left;
	width: 100%;
	font-size: 0.75em;
	color: #efefef;
}

	.Footer_02 a {
		color: #efefef;
		text-decoration: none;
		border-bottom: 1px dotted;
	}

		.Footer_02 a:hover {
			color: #293333;
			background: #efefef;
		}

.Footer_01 {
	background: #cacaca;
	overflow: hidden;
	color: #25312F;
	font-size: 0.75em;
	float: left;
	width: 100%;
}

	.Footer_01 p, .Footer_02 p {
		line-height: 1.3;
	}

	.Footer_01 a {
		color: #25312F;
		text-decoration: none;
		border-bottom: 1px dotted;
	}

		.Footer_01 a:hover {
			color: #293333;
			background: #efefef;
		}

.Footer_00 ul li {
	display: inline-block;
}

	.Footer_00 ul li a {
		color: #293333;
		font-size: 0.75em;
		text-decoration: none;
		display: inline;
		border-left: 1px dotted;
		padding-left: 2em;
		padding-left: 1em;
		padding-right: 4em;
	}

		.Footer_00 ul li a:hover {
			text-decoration: underline;
		}

/*end master*/

/*LAYOUT*/
.middle .right {
	background: #fff;
	width: inherit;
	padding-left: 0em;
	padding-right: 0em;
}

#Property_Control {
	margin-top: 2%;
}

ul.Toolbar {
	display: none;
	font-size: 0.7em;
}
/*#Group_WinFilter{
	border-top:10px solid #fff;
	}*/
#Div_ViewerGriglia > form {
	margin-top: 3em;
}

.div_sub_menu {
	display: inline;
	margin-right: 1.7em;
}

.Toolbar_SUB {
	background: #fff;
	padding: 1em;
	border: 1px solid #666;
	margin-top: 0.5em;
}

.Group_Open_WinProperty {
	background: #ccc;
	padding: 1em;
	border: 1px solid #666;
	margin-top: -1px;
}

.comandi_interni {
	margin-bottom: 1em;
}

.tips {
	background: #ececec;
	margin: 1em 0em;
	padding: 1em;
}

#Group_WinFilter > div {
	/*background:#ececec;
	padding:0.5em;*/
}

#Group_Close_WinProperty {
	margin-bottom: 1em;
}

.TopToolbar {
	background: #f3f3f3;
	height: 32px;
	padding-top: 0.2em;
}

.detail {
	margin-top: 0.2em;
}

.cover {
	padding-top: 1em;
}

.access_div_splash_masterpage {
	height: 442px;
	background: url(../../images/splash.jpg) 0em 50% no-repeat;
}

.top .TableLayout {
	margin-top: -1em;
}
/*.middle .left, .bottom .left{ width:15em; padding:0em;}*/
/*end div*/

/*TEXT*/
h1 {
	color: #333;
	font-weight: bold;
	line-height: 2;
	font-weight: bold;
}

.Sezione h1 {
	color: #fff;
}

h1.documentFirstHeading {
	font-weight: normal;
	color: #004171;
}

h2, .Grid_TitleCell {
	color: #CB1D15;
	font-weight: bold;
	line-height: 2;
	font-weight: bold;
}

p {
}

a {
	color: #333;
	text-decoration: none;
	cursor: auto;
}

.Toolbar_SUB a {
	cursor: pointer;
}

strong {
	font-weight: bold;
	font-size: 1.1em;
	color: #CB1D15;
}

ul.ul_menu li {
	border-top: 1px solid #fff;
}

ul.ul_sub_menu {
	background: #515151;
	font-size: 0.80em;
}

	ul.ul_sub_menu li {
		border-top: none;
	}

ul.ul_menu li a {
	background: #CB1D15;
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 3%;
}

	ul.ul_menu li a:hover {
		background: #d8271f;
		display: block;
		color: #fff;
		text-decoration: none;
	}

ul.ul_menu li ul.ul_sub_menu li a {
	background: #515151 url(../../images/karo.gif) 0em 50% no-repeat;
	padding: 1% 4%;
	display: block;
	font-weight: normal;
	padding-left: 4%;
	margin-left: 0.5em;
}

	ul.ul_menu li ul.ul_sub_menu li a:hover {
		background: #5f5e5e url(../../images/karo.gif) 0% 50% no-repeat;
	}

ul.ul_menu li ul.ul_sub_menu li:hover {
	background: #5f5e5e;
}

ul.ul_main_top_elements {
	margin-bottom: 10px;
}

	ul.ul_main_top_elements li {
		display: inline;
		padding-right: 8px;
		margin-right: 10px;
		border-right: 1px solid #666;
		font-size: 0.8em;
		color: #333;
	}

		ul.ul_main_top_elements li.last {
			border-right: none;
		}

.Toolbar_button a {
	margin-right: 2em;
	border: none;
	text-decoration: underline;
	color: #CB1D15;
}

.top .Toolbar_button a {
	border: none;
	text-decoration: none;
	color: #ececec;
	background: #515151;
	padding: 0em 1em;
	margin-left: 0.2em;
	margin-right: 0em;
}

	.top .Toolbar_button a:hover {
		background: #e3e3e3;
		color: #515151;
	}

.Grid_RowCaption_Sort {
	text-decoration: underline;
}

label.GridCol_Link {
	color: #CB1D15;
	cursor: pointer;
	text-decoration: underline;
}

.VerticalModel_Caption label, .VerticalModel_ObbligCaption label {
	font-size: 1.1em;
}

ul.ul_main_top_elements li.li_main_top_element_Title {
	font-weight: bold;
}

ul.Toolbar li {
	display: inline;
	line-height: 2;
}

ul.ul_main_top_elements li.last {
	margin-right: inherit;
	margin-right: inherit;
}

	ul.ul_main_top_elements li.last a {
		color: #CB1D15;
	}

ul.ul_main_top_elements li.li_main_top_element_logout {
	float: right;
}

.Toolbar_SUB ul li {
	display: block;
}

.main_top_toolbar ul {
	float: right;
	padding: 0em;
	clear: both;
}

#div_bread_crumb p {
	padding: 0em;
	padding-top: 0.3em;
}

.span_footer_datetime {
	font-size: 0.8em;
	color: #666;
}

.TopToolbar p {
	margin-top: 0.35em;
}

.GridCol_Link, .GridCol_Link1 {
	color: #333;
}

a.ERLink {
	background: #CB1D15;
	font-family: "Times New Roman", Times, serif;
	color: #fff;
	display: inline-block;
	float: left;
	padding: 0.3em;
	text-decoration: none;
	margin-right: 1em;
}

	a.ERLink:hover {
		text-decoration: underline;
	}

a.title {
}

.logo a {
	display: inline-block;
	height: 111px;
	float: left;
	text-decoration: none;
}

.comandi_interni ul li {
	display: inline-block;
}

.comandi_interni ul {
	float: right;
}

.comandi_interni {
	width: 100%;
	overflow: hidden;
}

#template_doc td {
	padding: 0.3em;
}

.Toolbar_button ul {
	margin-left: 2em;
}
/*end text*/

/*TABELLE*/

table {
	border: 1px solid #666;
}

	table td {
		border: 1px solid #666;
	}

div.FldDomainValue {
	margin: 0em 0.3em;
}

.GridPrintProducts, .GridPrintProducts td, .GridPrintProducts th {
	padding: 0.3em;
	width: 50%;
}

table.TableLayout {
	vertical-align: top;
	border: none;
	width: 100%;
}

	table.TableLayout td {
		border: none;
	}

		table.TableLayout td.TdLeft, table.TableLayout td.TdRight {
			padding: 0.5em;
		}

.ContDiv table.TableLayout td.TdLeft {
	padding-top: 0.8em;
}

.TdRight {
	width: 100%;
}
/*.middle .TableLayout .TdLeft{ vertical-align:top;}*/
/*.TdLeft{ width:230px;}*/
table.Folder button {
	font-size: 1em;
}

#Div_ViewerFiltro > table {
	margin: 0.5em;
}

table.Caption span.caption_folder {
	color: #515151;
}

td.GR0_Fld_Number, td.GR1_Fld_Number {
	text-align: center;
}

.trlayout th {
	height: 0em;
	padding: 0em;
	margin: 0em;
	border: none;
}

th {
	background: #515151;
	text-transform: capitalize;
	font-weight: bold;
	color: #ececec;
	vertical-align: middle;
	border: 1px solid #666;
	padding: 0.5em;
}

table.PropertySelector_Table {
	background: #fff;
}

	table.PropertySelector_Table td {
	}

tr.GR1 {
	background: #ececec;
}

table.PropertySelector_Table tr.PropertySelector_Row td table td {
	padding: inherit;
}

.GR_OverRow {
	background: #FFC;
}

.Window_Tab {
	background: #ececec;
}

	.Window_Tab td, td.PropertySelector_td table td {
		border: none;
	}

.PropertySelector_Table tr td {
	border-bottom: 1px solid #666;
}

.PropertySelector_Caption {
	background: #ececec;
}

	.PropertySelector_Caption td {
		text-transform: uppercase;
	}

tr.PropertySelector_Row table, tr.PropertySelector_Row table tr {
	border: none;
}

table.ButtonBar_Table, table.ButtonBar_Table tr, table.ButtonBar_Table td {
	border: none;
}

.PropertySelector_td {
	text-transform: capitalize;
}

table.VerticalModel_Tab, table.VerticalModel_Tab td, table.VerticalModel_Tab td table {
	border: none;
}

table.VerticalModel_ReadOnlyField {
	height: 1.7em;
	background: #dedede;
	color: #666;
	/*height:1.8em;
	margin:0em 0.5em 0.5em 0.5em;*/
}

.VerticalModel_ReadOnlyField td {
	padding: 0.3em;
}

table.FLdPubLeg_tab b {
	font-size: 1.4em;
}

table.FLdPubLeg_tab td {
	padding: 0.5em;
}

td.VerticalModel_StaticCaption {
	background: #515151;
	padding: 0.7em;
	color: #fff;
	font-size: 1.3em;
}

.VerticalModel_ObbligCaption {
	/*padding:0.5em 0em;*/
}

.Caption, .Caption td {
	border: none;
	color: #CB1D15;
}

.Caption {
	border-bottom: 1px solid #666;
}

.GridPrintProducts {
	margin: 0.5em;
}

#template_doc td table.GridPrintProducts td {
	font-size: 1em;
}

.linkAttachment table, .linkAttachment table td {
	border: none;
	color: #CB1D15;
	text-decoration: underline;
}

	.linkAttachment table label {
		cursor: pointer;
	}

.Attach_label {
	color: #cb1d15;
}

.CellIntestGrid {
	background: #ccc;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
}

.right table, .right table td {
	border: none;
	vertical-align: top;
}

	.right table.VerticalModel_ReadOnlyField td, .right table.VerticalModel_ReadOnlyField {
		min-width: 7em;
	}

table.Grid {
	font-size: 0.7em;
}

table.VerticalModel_Tab {
	font-size: 0.7em;
}

table.Grid td {
	border: 1px solid #666;
	padding: 0.5em;
}

table.Grid th, table.Grid td {
	font-size: 1.1em;
}

#template_doc td {
	border: 1px solid #666;
	font-size: 0.80em;
}

#template_doc th {
	font-size: 0.80em;
}

#template_doc td .Attach_Tab td, #template_doc td .Attach_Tab {
	border: none;
}

.SinteticHelp_Tab td.SinteticHelp_label {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.80em;
}

.Folder {
	background: #cb1d15;
}

td.Folder_LabelSelected {
	background: #fff;
	white-space: nowrap;
	line-height: 1.5;
}

td.Folder_Label {
	background: #666;
	font-size: 0.75em;
	/*width:12em;*/
}

td.Folder_LabelSelected button {
	border: none;
	color: #333;
	background: none;
	font-size: 1em;
	padding: 0em;
	font-weight: bold;
	cursor: default;
}

	td.Folder_LabelSelected button:hover {
		text-decoration: none;
	}

td.Folder_Label button {
	border: none;
	color: #fff;
	background: none;
	padding: 0.3em 0em;
	cursor: pointer;
}

td.Folder_Label:hover {
	background: #666;
}

table.GridCol_Link_Tab td, table.Attach_Tab td, table.GridCol_Link_Tab {
	border: none;
	cursor: pointer;
}

#Div_ViewerFiltro table td, #Div_ViewerFiltro table, #Div_ViewerGriglia table, #Div_ViewerGriglia table td, #Div_ViewerGriglia table.Grid td table.GridCol_Link_Tab td {
	border: none;
}

#Div_ViewerFiltro {
	background: #ececec;
	border-top: 10px solid #fff;
	display: none;
}

#Div_ViewerGriglia table.Grid td {
	border: 1px solid #666;
}

table.Grid table td {
	border: none;
}

td.VerticalModel_Caption, td.VerticalModel_ObbligCaption {
	padding: 0.5em 1em 0.5em 0em;
}

td.VerticalModel_ObbligCaption {
	font-weight: bold;
}

table.Caption {
	background: #ececec;
}

.VerticalModel_Value {
	padding-right: 0.5em
}

table.Caption td {
	padding: 1em 0em 1em 0.3em;
	;
	font-size: 1.4em;
	font-weight: bold;
}

td.SinteticHelp_label {
	color: #333;
}

table.INFO_BOX_WIN_TB {
	border: none;
	margin: 2em;
}

table.MsgBox_Caption, table.MsgBox, table.MsgBox td, table.MsgBox table {
	border: none;
	text-align: center;
}

	table.MsgBox_Caption td {
		font-weight: bold;
		color: #CB1D15;
		border: none;
	}

table.Toolbar {
	margin-top: 0.5em;
}

.cover table.VerticalModel_Tab td {
	padding: 0.3em;
}

.GR0_GridCol_Link {
	color: #333;
	text-decoration: none;
}
/*end tabelle*/

/*PULSANTI*/
/*
input.button_link{
	width:auto;
	display:inline-block;
	margin:0em;
	padding:0em;
	}*/
.scroll_page_button {
	display: inline-block;
	height: 2em;
	width: 2em;
	font-size: 0.8em;
	padding: 0.2em;
	text-align: center;
	color: #900;
	cursor: pointer;
	border: none;
	margin: 0em 0.2em;
}

.cellPaginazione select {
	margin-left: 1em;
	font-size: 0.80em;
}

.scroll_page_button:hover {
	text-decoration: underline;
}

.SP_Pag {
	color: #666;
	font-weight: bold;
	font-size: 0.85em;
	line-height: 2;
}

table.SP_Bar {
	margin: 0.5em 0em;
}

.SP_Cur {
	display: inline-block;
	height: 2em;
	width: 2em;
	font-size: 0.85em;
	vertical-align: middle;
	text-align: center;
	background: #CB1D15;
	color: #fff;
	line-height: 2;
}

.SP_Button {
	line-height: 2;
	color: #CB1D15;
	text-decoration: underline;
	cursor: pointer;
	font-size: 0.85em;
}

.div_sub_menu img {
	cursor: pointer;
	margin-left: -2em;
}

input, select, textarea {
	border: 1px solid #ccc;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

td.Caption_Exit {
	cursor: pointer;
	text-decoration: underline;
}

td.CloseGroup {
	color: #CB1D15;
	text-decoration: underline;
	cursor: pointer;
}

.PropertySelector_td img {
	cursor: pointer;
}

.PropertySelector_Caption td {
	padding: 1em;
}

textarea {
	width: 100%;
}

.TextTime {
	width: 1.2em;
	text-align: center;
}
/*.FldDomainValue{ padding:0.3em;}

ul.Toolbar .button_link{
	text-align:center;
	background: url("../../images/BgButtons.png") top left no-repeat;
	padding:0.3em 0.5em;
	border:1px solid #ccc;
	}
ul.Toolbar .button_link:hover{
	border:1px solid #666;
	}*/
ul.Toolbar li.Toolbar_buttonDisabled .button_link {
	color: #999;
	cursor: default;
}

.FldExtDom_button {
	margin-left: 0.5em;
	cursor: pointer;
}

#DataPresentazioneRisposte_L, .FldDomainValue {
	white-space: nowrap;
}

.nowrap {
	white-space: nowrap;
}

.button_link_disabled, .Toolbar_buttonDisabled a {
	color: #999;
	margin-right: 2em;
	text-decoration: none;
	cursor: default;
}
/*end pulsanti*/
/*FORM*/
input.text, input.ButtonBar_Button, select {
	border: 1px solid #ccc;
}

	input.ButtonBar_Button:hover {
		border: 1px solid #666;
		cursor: pointer;
	}

input.ButtonBar_Button, button, .MsgBox_ButtonOK, /*div.detail .button_link,*/ input.btn /*, .span_footer_nascondi_menu*/ {
	background: url("../../images/BgButtons.png") top left no-repeat;
	padding: 0.3em 0.8em;
	font-weight: bold;
	color: #333;
	font-size: 0.80em;
	cursor: pointer;
	border: 1px solid #666;
	font-weight: normal;
}

	input.ButtonBar_Button:hover, button:hover, .MsgBox_ButtonOK:hover, input.btn:hover {
		text-decoration: underline;
		color: #CB1D15;
	}
/*table.Grid td.GR0_Date input, table.Grid td.GR1_Date input{ display:inline-block;}*/

table.Grid td.GR0_Date input.display_none, table.Grid td.GR1_Date input.display_none {
	display: none;
}

table.Grid td.GR0_Date, table.Grid td.GR1_Date {
	white-space: nowrap;
}

table.VerticalModel_Tab table td.VerticalModel_Caption, span.VerticalModel_Help {
	white-space: nowrap;
}

span.VerticalModel_Help {
	color: #999;
	font-style: italic;
	line-height: 2;
}

/*.span_footer_nascondi_menu{ width:100%; text-align:center; width:93%; display:inline-block;}*/
input, textarea {
	padding: 0.2em;
}

labe.FldCaption {
	font-size: 1em;
}

.inputdiv label {
	font-size: 0.80em;
}

.Group_Open_BANDO_TOOLBAR_SELSUB_SUB img {
	margin: inherit;
}

table.Grid label strong {
	background: #CB1D15;
	color: #fff;
	padding: 0.2em;
	display: inline-block;
}
/*end form*/


#INFO_PROCESS, #INFO_PROCESS2 {
	z-index: 1000;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
}

.top .TopToolbar .left a {
	height: 20px;
	line-height: 1.5;
	font-size: 0.80em;
	padding-left: 2em;
}

#mostra_menu {
	background: url("../../images/espandi.png") top left no-repeat;
}

#nascondi_menu {
	background: url("../../images/comprimi.png") top left no-repeat;
}

#INFO_PROCESS2 {
	/*background-color: #333;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity:0.5;*/
	background: url("../../images/opacity.png") top left;
}

.INFO_BOX_TB {
	background: #fff;
	margin: 0 auto;
	margin-top: 11em;
}

	.INFO_BOX_TB TD, table.INFO_BOX_TB {
		border: none;
		font-size: 0.9em;
		text-align: center;
	}

td.INFO_BOX_WIN_CAPTION {
	font-size: 1em;
	font-weight: bold;
	color: #CB1D15;
	text-transform: uppercase;
}

.GR0_checkbox, GR1_checkbox {
	width: 2em;
}

td.GR0, td.GR1 {
	width: 1em;
}

/*classi ex codice in linea*/

.img_stampa {
	background: url("../images/toolbar/stampa.jpg") center left no-repeat;
	padding: 28px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.cursor_pointer {
	cursor: pointer;
}

.padding_0px {
	padding: 0px;
}

.text_align_center {
	text-align: center;
}

table.VerticalModel_ReadOnlyField {
	margin-right: 0.3em;
	margin-top: 0.3em;
}

/*classi istanza albo operatori economici*/
.main_istanza input.button_link {
	margin-bottom: 0.5em;
}

.main_istanza {
	font-size: 0.85em;
	margin-top: 1.5em;
	margin: 0 auto;
}

	.main_istanza ul li {
		padding-top: 1em;
	}

	.main_istanza ul {
		margin-left: 2em;
	}

	.main_istanza .contentinput {
		background: #ececec;
		padding: 0.5em;
		width: 99%;
		clear: both;
		overflow: hidden;
	}

	.main_istanza .inputdiv {
		float: left;
		margin-right: 1em;
	}

	.main_istanza ul li input, .main_istanza ul li select {
		display: inline;
		cursor: pointer;
	}

	.main_istanza input, .main_istanza select {
		background-color: #FFFFFF;
		border: 1px solid #ccc;
		color: #696969;
		margin-top: 0.2em;
		margin-right: 1em;
		display: block;
	}

	.main_istanza table td input {
		display: inline-block;
	}

	.main_istanza input.display_none {
		display: none;
	}

	.main_istanza input#DataRapLeg_button, .main_istanza input#DataRapLeg_V, .main_istanza input#DelProcura_button, .main_istanza input#DelProcura_V, .main_istanza input#ClasseIscriz_button, input#ClasseIscriz_V, input#ClasseIscriz {
		display: inline;
		margin-top: 3px;
		cursor: pointer;
	}

	.main_istanza h1 {
		font-size: 1.3em;
		font-weight: bold;
		color: #CB1D15;
	}

		.main_istanza h1 span {
			font-size: 0.70em;
			color: #666;
			font-weight: normal;
			line-height: 3;
		}

		.main_istanza h1 em {
			font-weight: normal;
			font-size: 1em;
		}

	.main_istanza h2 { /*font-size:1.5em; */
		text-transform: uppercase;
		color: #CB1D15;
	}

	.main_istanza h3 { /*font-size:1.5em;*/
		line-height: 1;
		font-weight: bold;
		color: #CB1D15;
		margin: 0.5em 0em;
	}

	.main_istanza h4 { /*font-size:1.5em;*/
		font-style: italic;
		margin-bottom: 2em;
		margin-top: 2em;
		font-weight: bold;
	}

	.main_istanza em {
		color: #999;
		font-style: italic;
		font-weight: normal;
	}

	.main_istanza strong {
		font-weight: bold;
	}

	.main_istanza .VerticalModel_Tab {
		background: #ececec;
		margin-top: 1em;
	}

.Attach_Tab img, .Attach_Tab input, .Attach_Tab span {
	display: block;
	margin: 0.3em;
	color: #CB1D15;
	text-align: center;
}

table.Attach_Tab td {
	text-align: center;
}

	table.Attach_Tab td img {
		margin-left: 43%;
	}

table.Attach_Tab {
	margin: auto;
}

.TableLayout td.TdLeft {
	vertical-align: top;
}

.tipscontent {
	font-size: 0.80em;
	color: #333;
}

	.tipscontent ul {
		margin-left: 1em;
	}

		.tipscontent ul li {
			list-style-type: disc;
			padding-top: 0.5em;
		}
/*



.main_istanza div{overflow:auto;}

.main_istanza html, .main_istanza body, .main_istanza div, .main_istanza span, .main_istanzaapplet, .main_istanza object, .main_istanza iframe, .main_istanzah1, .main_istanza h2, .main_istanza h3, .main_istanza h4, .main_istanza h5, .main_istanza h6, .main_istanza p, .main_istanza blockquote, .main_istanza pre, .main_istanzaa, .main_istanza abbr, .main_istanza acronym, .main_istanza address, .main_istanza big, .main_istanza cite, .main_istanza code, .main_istanzadel, .main_istanza dfn, .main_istanza em, .main_istanza font, .main_istanza img, .main_istanza ins, .main_istanza kbd, .main_istanza q, .main_istanza s, .main_istanza samp, .main_istanzasmall, .main_istanza strike, .main_istanza strong, .main_istanza sub, .main_istanza sup, .main_istanza tt, .main_istanza var, .main_istanzadd, .main_istanza dl, .main_istanza dt, .main_istanza li, .main_istanza ol, .main_istanza ul, .main_istanzafieldset, .main_istanza form, .main_istanza label, .main_istanza legend, .main_istanzatable, .main_istanza caption, .main_istanza tbody, .main_istanza tfoot, .main_istanza thead, .main_istanza tr, .main_istanza th, .main_istanza td {margin: 0;padding: 0;border: 0;font-weight: inherit;font-style: inherit; line-height: 1;font-family: inherit;text-align: left;vertical-align: baseline;}
.main_istanza a img, .main_istanza :link img, .main_istanza :visited img {border: 0;}
.main_istanza table{border-collapse: collapse;border-spacing: 0; margin-bottom:0.3em;}
.main_istanza ol, .main_istanza ul {list-style: none;}
.main_istanza q:before,.main_istanza q:after,.main_istanza blockquote:before,.main_istanza blockquote:after {content: "";}




.main_istanza h1, .main_istanza h2, .main_istanza h3, .main_istanza h4, .main_istanza p{padding-left:0.2em;}

.main_istanza input.text{margin:0px; margin-top:2em;}
.main_istanza label{ padding-right:0em; margin-right:0em;} 


.main_istanza input:hover, .main_istanza select:hover{ border-color:#666;}
.main_istanza input:focus, .main_istanza:focus{ border-color:#666;}
.main_istanza ul { margin:0px 30px 0px 30px;}
.main_istanza ul li, .main_istanza ul li table { list-style-type:none; font-weight:normal;text-align:justify; padding:0.3px 0.6px 0px 0px; overflow:hidden;}
.main_istanza .inputdiv strong{ font-size:14px;}

.main_istanza.textarea{ width:100%; height:70px;}
.main_istanza ul li textarea, .main_istanza ul li input{ margin-top:5px; margin-bottom:5px;}
.main_istanza ul.links a{ text-decoration:none; padding-left:30px; color:#666; display:inline-block; height:30px; line-height:3; padding-right:20px;}
.main_istanza ul.links a:hover{ text-decoration:underline; color:#333;}
.main_istanza .matita{ background:url(../images/General/matita.png) center left no-repeat;}
.main_istanza .bin{ background:url(../images/General/bin.png) center left no-repeat;}
.main_istanza .attach{ background:url(../images/General/attach.png) center left no-repeat;}
.main_istanza table{ margin-top:10px; }
.main_istanza table td{ vertical-align:middle; padding:5px; border-bottom:0px solid #666;}
.main_istanza table th{ height:30px; font-weight:bold; background:#ccc; vertical-align:middle; }
.main_istanza table th.allegato{ min-width:60px;}
.main_istanza .generapdf{ width:150px; height:32px; background:url(../images/General/generapdf.png) bottom left no-repeat; border:none; color:#fff; font-weight:bold; cursor:pointer; font-size:11px;}
.main_istanza .generapdf:hover{background:url(../images/General/generapdf.png) top left no-repeat;}
.main_istanza .attachpdf{ width:150px; height:32px; background:url(../images/General/attachpdf.png) bottom left no-repeat; border:none; color:#990000; font-weight:bold; cursor:pointer; font-size:11px;}
.main_istanza .generapdfdisabled { width:150px; height:32px; background:url(../images/General/generapdfdisabled.png) bottom left no-repeat; border:none; color:#898989; font-weight:bold; cursor:pointer; font-size:11px; }
.main_istanza .attachpdfdisabled { width:150px; height:32px; background:url(../images/General/attachpdfdisabled.png) bottom left no-repeat; border:none; color:#898989; font-weight:bold; cursor:pointer; font-size:11px; } 
.main_istanza .editistanzadisabled { width:150px; height:32px; background:url(../images/General/editdisabled.png) bottom left no-repeat; border:none; color:#898989; font-weight:bold; cursor:pointer; font-size:11px; }



.main_istanza .attachpdf:hover{background:url(../images/General/attachpdf.png) top left no-repeat;}
.main_istanza .editistanza{ width:150px; height:32px; background:url(../images/General/edit.png) bottom left no-repeat; border:none; color:#333; font-weight:bold; cursor:pointer; font-size:11px;}
.main_istanza .editistanza:hover{background:url(../images/General/edit.png) top left no-repeat;}


.main_istanza table.dettagli{border:1px solid #666; width:96%; margin-left:30px;}
.main_istanza table.dettagli td, .main_istanza table.dettagli th{ padding:0px 3px 0px 3px; width:20%; border:1px solid #666;}
.main_istanza table.dettagli td{ height:20px; font-size:12px; font-weight:normal;}
.main_istanza ul li input.inserisciriga{ cursor:pointer; margin-top:10px; display:block;}
.main_istanza ul.links li{ display:inline; font-size:12px; vertical-align:middle;}
.main_istanza ul.links {border-top:1px solid #666;  margin-top:20px;}
.main_istanza br { display:none; }
.main_istanza div br { display:inline; }


.main_istanza table#SOGGETTIGrid, .main_istanza table#CESSATIGrid, .main_istanza table#POSIZIONI_INPSGrid,.main_istanza table#POSIZIONI_INAILGrid, .main_istanza table#POSIZIONI_CASSAEDILEGrid, .main_istanza table#DOCUMENTAZIONEGrid  { margin-right:7px; width:99%;  margin-left: 7px; }



.main_istanza input#DataDirTec_V , .main_istanza input#DataDirTec_V, .main_istanza input#DataSogCessato_button, main_istanza input#DataSogCessato_V {display:inline;}
.main

.main_istanza table td input {display:inherit;}
.main_istanza input.Date_button {height:20px; }
.main_istanza div#DOCUMENT { background-color:#CCC; }
.main_istanza table.toolbar { margin-right:5px;  }
.main_istanza table td input#ClasseIscriz_edit { display: inline; }
.main_istanza select#ClasseIscriz_edit { display:inline;}
.main_istanza table td input {height:20px; display:inline;}

.main_istanza div#DOCUMENT{ margin-top:10px;}
.main_istanza div#DOCUMENT table{ margin-top:3px;}
.main_istanza div#DOCUMENT table td{ padding:0px; padding-left:5px; padding-right:5px;}
.main_istanza div#DOCUMENT table td div{overflow:hidden;}

.main_istanza ul li div.LIDIV { display:inline; }
.main_istanza ul li div.LIDIV  table { display:inline; }*/

/*Lista attività*/
ul.ListaAttivita {
	list-style-type: none;
	margin-bottom: 1em;
}

	ul.ListaAttivita li {
		color: #333;
		display: inline;
		padding-left: 1.3em;
		margin-right: 1.2em;
		font-size: 0.85em;
		color: #999;
		font-style: italic;
	}

.prosegui {
	background: url(../../images/prosegui.png) center left no-repeat;
}

.bloccante {
	background: url(../../images/bloccante.png) center left no-repeat;
}

.prosegui a {
	color: #333;
}

li.Toolbar_button img {
	margin-top: 1em;
}

.GR0_GridCol_Link label, .GR1_GridCol_Link label {
	color: #333;
	text-decoration: unone;
	cursor: inherit;
}

table.Grid_Title, table.Grid_Title td.Grid_TitleCell, table.Grid_Title .Grid {
	border: none;
}

.Grid_RowCaption_Sort {
	cursor: pointer;
}
/*CAMBIO PASSWORD*/
.doc_cambio_password {
	width: 43.75em;
	height: 23.125em;
}

	.doc_cambio_password table {
		width: 100%;
		border: none;
		margin: 0em;
		padding: 0em;
		color: #fff;
	}

		.doc_cambio_password table td {
			border-collapse: collapse;
			font-size: 0.85em;
			padding: 1em;
		}

		.doc_cambio_password table input {
			display: block;
			width: 10em;
			border: none;
			padding: 0em 0.3em;
			margin: 0.3em 0em 0em 1em;
			color: #515151;
			margin-bottom: 1em;
			border: 1px solid #666;
			padding: 0.2em;
		}

		.doc_cambio_password table label {
			color: #515151;
			font-weight: bold;
			margin-left: 1em;
		}

		.doc_cambio_password table td.tdleft {
			width: 15.625em;
			vertical-align: top;
		}

		.doc_cambio_password table td span.lock {
			display: block;
			height: 4em;
			padding-left: 3.937em;
			background: url(../images/image/lock.png) top left no-repeat;
			font-size: 1.5em;
			padding-top: 25px;
			font-weight: bold;
			text-transform: uppercase;
			color: #666;
		}

		.doc_cambio_password table td input.oldpassword {
			margin-bottom: 30px;
		}

		.doc_cambio_password table.criteri {
			color: #666;
			font-size: 11px;
		}

			.doc_cambio_password table.criteri td {
				text-align: center;
				padding: 0px;
			}

		.doc_cambio_password table td div#result {
			border: none;
			padding: 0.2em;
			background: #fff url(../images/image/bgCriteri.png) center left no-repeat;
			height: 2em;
			margin-top: 0.5em;
			border: 1px solid #666;
		}

		.doc_cambio_password table td div#bar {
			float: left;
		}

		.doc_cambio_password table ul {
			list-style-type: none;
			margin: 0em;
			padding: 0em;
			margin-top: 2em;
		}

			.doc_cambio_password table ul li {
				vertical-align: middle;
				display: block;
				height: 1.5em;
				padding-left: 1.687em;
				margin-top: 0.125em;
				line-height: 2;
				color: #515151
			}

				.doc_cambio_password table ul li.no {
					background: url(../images/image/no.png) top left no-repeat;
				}

				.doc_cambio_password table ul li.yes {
					background: url(../images/image/yes.png) top left no-repeat;
				}

			.doc_cambio_password table ul.legend {
				margin-top: 10px;
				border-top: 1px solid #fff;
				padding-left: 0px;
				width: 100%;
				text-align: right;
				padding-top: 0.625em;
			}

				.doc_cambio_password table ul.legend li {
					display: inline-block;
					height: 1.5em;
					margin: 0.312em 3.333em 0em 0em;
					line-height: 2;
					padding-left: 1.5em;
					color: #666;
					font-weight: bold;
				}

					.doc_cambio_password table ul.legend li.nolegend {
						background: url(../images/image/noLegend.png)top left no-repeat;
					}

					.doc_cambio_password table ul.legend li.yeslegend {
						background: url(../images/image/yesLegend.png)top left no-repeat;
					}

	.doc_cambio_password .conferma {
		display: table-cell;
		width: 100%;
		height: 100%;
		text-align: center;
		vertical-align: central;
	}
/* FINE CAMBIO PASSWORD*/

ul.Toolbar_stampa {
	position: fixed;
	top: 0px;
	width: 100%;
	border-top: 5px solid #cb1d15;
	border-bottom: 5px solid #cb1d15;
	padding: 0.5em;
	background: #f3f3f3; /* left: 6px; background:#ececec; border:2px solid #ccc; margin:0.2em; padding:1em;*/ /*height:25px; background:#ccccff; margin-bottom:1em;  border-bottom: 1px solid black; padding: 1px*/
}

	ul.Toolbar_stampa li {
		display: inline;
	}

		ul.Toolbar_stampa li a { /*cursor:pointer; font-size:0.80em; font-weight:bold;*/
			display: inline-block;
			background: #515151;
			color: #fff;
			font-weight: normal;
			font-size: 0.8em;
			padding: 0.5em;
			margin-right: 0.5em;
			cursor: pointer;
			text-decoration: none;
			min-width: 10em;
			text-align: center;
		}

			ul.Toolbar_stampa li a:hover {
				background: #e3e3e3;
				color: #515151;
			}

.Folder_Label {
	display: none;
}

.Folder {
	margin-top: 2em;
	border-top: 1px solid #515151;
}

#DIV_Allegato .Attach_Tab span.Attach_label {
	font-size: 1.3em;
}


/* Classi per la dimensione delle colonne della griglia o di altri oggetti che avevano dimensioni fisse e che sono state tolte per il w3c */

.access_width_1 {
	width: 1px;
	min-width: 1px;
}

.access_width_2 {
	width: 2px;
	min-width: 2px;
}

.access_width_3 {
	width: 3px;
	min-width: 3px;
}

.access_width_4 {
	width: 4px;
	min-width: 4px;
}

.access_width_5 {
	width: 5px;
	min-width: 5px;
}

.access_width_6 {
	width: 6px;
	min-width: 6px;
}

.access_width_7 {
	width: 7px;
	min-width: 7px;
}

.access_width_8 {
	width: 8px;
	min-width: 8px;
}

.access_width_9 {
	width: 9px;
	min-width: 9px;
}

.access_width_10 {
	width: 10px;
	min-width: 10px;
}

.access_width_20 {
	width: 20px;
	min-width: 20px;
}

.access_width_30 {
	width: 30px;
	min-width: 30px;
}

.access_width_40 {
	width: 40px;
	min-width: 40px;
}

.access_width_50 {
	width: 50px;
	min-width: 50px;
}

.access_width_60 {
	width: 60px;
	min-width: 60px;
}

.access_width_70 {
	width: 70px;
	min-width: 70px;
}

.access_width_80 {
	width: 80px;
	min-width: 80px;
}

.access_width_90 {
	width: 90px;
	min-width: 90px;
}

.access_width_100 {
	width: 100px;
	min-width: 100px;
}

.access_width_110 {
	width: 110px;
	min-width: 110px;
}

.access_width_120 {
	width: 120px;
	min-width: 120px;
}

.access_width_130 {
	width: 130px;
	min-width: 130px;
}

.access_width_140 {
	width: 140px;
	min-width: 140px;
}

.access_width_150 {
	width: 150px;
	min-width: 150px;
}

.access_width_160 {
	width: 160px;
	min-width: 160px;
}

.access_width_170 {
	width: 170px;
	min-width: 170px;
}

.access_width_180 {
	width: 180px;
	min-width: 180px;
}

.access_width_190 {
	width: 190px;
	min-width: 190px;
}

.access_width_200 {
	width: 200px;
	min-width: 200px;
}

.access_width_210 {
	width: 210px;
	min-width: 210px;
}

.access_width_220 {
	width: 220px;
	min-width: 220px;
}

.access_width_230 {
	width: 230px;
	min-width: 230px;
}

.access_width_240 {
	width: 240px;
	min-width: 240px;
}

.access_width_250 {
	width: 250px;
	min-width: 250px;
}

.access_width_260 {
	width: 260px;
	min-width: 260px;
}

.access_width_270 {
	width: 270px;
	min-width: 270px;
}

.access_width_280 {
	width: 280px;
	min-width: 280px;
}

.access_width_290 {
	width: 290px;
	min-width: 290px;
}

.access_width_300 {
	width: 300px;
	min-width: 300px;
}

.access_width_310 {
	width: 310px;
	min-width: 310px;
}

.access_width_320 {
	width: 320px;
	min-width: 320px;
}

.access_width_330 {
	width: 330px;
	min-width: 330px;
}

.access_width_340 {
	width: 340px;
	min-width: 340px;
}

.access_width_350 {
	width: 350px;
	min-width: 350px;
}

.access_width_360 {
	width: 360px;
	min-width: 360px;
}

.access_width_370 {
	width: 370px;
	min-width: 370px;
}

.access_width_380 {
	width: 380px;
	min-width: 380px;
}

.access_width_390 {
	width: 390px;
	min-width: 390px;
}

.access_width_400 {
	width: 400px;
	min-width: 400px;
}

.access_width_410 {
	width: 410px;
	min-width: 410px;
}

.access_width_420 {
	width: 420px;
	min-width: 420px;
}

.access_width_430 {
	width: 430px;
	min-width: 430px;
}

.access_width_440 {
	width: 440px;
	min-width: 440px;
}

.access_width_450 {
	width: 450px;
	min-width: 450px;
}

.access_width_460 {
	width: 460px;
	min-width: 460px;
}

.access_width_470 {
	width: 470px;
	min-width: 470px;
}

.access_width_480 {
	width: 480px;
	min-width: 480px;
}

.access_width_490 {
	width: 490px;
	min-width: 490px;
}

.access_width_500 {
	width: 500px;
	min-width: 500px;
}

.access_width_510 {
	width: 510px;
	min-width: 510px;
}

.access_width_520 {
	width: 520px;
	min-width: 520px;
}

.access_width_530 {
	width: 530px;
	min-width: 530px;
}

.access_width_540 {
	width: 540px;
	min-width: 540px;
}

.access_width_550 {
	width: 550px;
	min-width: 550px;
}

.access_width_560 {
	width: 560px;
	min-width: 560px;
}

.access_width_570 {
	width: 570px;
	min-width: 570px;
}

.access_width_580 {
	width: 580px;
	min-width: 580px;
}

.access_width_590 {
	width: 590px;
	min-width: 590px;
}

.access_width_600 {
	width: 600px;
	min-width: 600px;
}

.access_width_610 {
	width: 610px;
	min-width: 610px;
}

.access_width_620 {
	width: 620px;
	min-width: 620px;
}

.access_width_630 {
	width: 630px;
	min-width: 630px;
}

.access_width_640 {
	width: 640px;
	min-width: 640px;
}

.access_width_650 {
	width: 650px;
	min-width: 650px;
}

.access_width_660 {
	width: 660px;
	min-width: 660px;
}

.access_width_670 {
	width: 670px;
	min-width: 670px;
}

.access_width_680 {
	width: 680px;
	min-width: 680px;
}

.access_width_690 {
	width: 690px;
	min-width: 690px;
}

.access_width_700 {
	width: 700px;
	min-width: 700px;
}
