TABLE.VerticalModel_Tab
{
    PADDING-RIGHT: 20px;
    PADDING-TOP: 3px;
    FONT-FAMILY: arial;
}
TD.VerticalModel_Caption
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 10pt;
    FONT-FAMILY: arial;
	color:#333;
	padding-left:5px;
    
}
TD.VerticalModel_Value
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: arial
}

TD.VerticalModel_Value SELECT{ border:1px solid #ccc; background-color:#fff; color:#666; margin:3px;}
TD.VerticalModel_Value SELECT:hover {border:1px solid #333; }

TD.VerticalModel_UM
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: arial
}
TD.VerticalModel_ObbligCaption
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: arial
}
LABEL.VerticalModel_Help
{
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-STYLE: italic;
    FONT-FAMILY: arial
}
TD.VerticalModel_StaticCaption
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    FONT-FAMILY: arial;
	color:#1F529D;
}
TABLE.VerticalModel_ReadOnlyField
{
   
    FONT-SIZE: 12px;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #ececec;
	color:#333;
	padding:0px 3px 0px 3px;
	height:20px;

}

table#DASHBOARD_VIEW_RUBRICAFiltro td table{ margin-left:5px;}
