TABLE.VerticalModel_Tab
{
    PADDING-RIGHT: 20px;
    PADDING-TOP: 3px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.VerticalModel_Tab td{ padding-bottom:3px;}
TD.VerticalModel_Caption
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 10pt;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#333;
	padding-left:5px;
    
}
TD.VerticalModel_Value
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

TD.VerticalModel_Value SELECT{ border:1px solid #ccc; background-color:#fff; color:#666; margin:3px;}
TD.VerticalModel_Value SELECT:hover {border:1px solid #333; }

TD.VerticalModel_UM
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
TD.VerticalModel_ObbligCaption
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
LABEL.VerticalModel_Help
{
    FONT-SIZE: 8pt;
    COLOR: #666;
    FONT-STYLE: italic;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
TD.VerticalModel_StaticCaption
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#333;
}
TABLE.VerticalModel_ReadOnlyField
{
   
    FONT-SIZE: 12px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BACKGROUND-COLOR: #ececec;
	color:#333;
	padding:0px 3px 0px 3px;
	height:20px;

}

table#DASHBOARD_VIEW_RUBRICAFiltro td table{ margin-left:5px;}

TD.Value_Obblig
{
  background:#FFBE7D;
}

label#cap_Static10,label#cap_Static11,,label#cap_Static12,label#cap_Static13,label#cap_Static14,label#cap_Static15
{
	background:#777;
	color:#FFF;
	width:100%;
	height:100%;
	padding:2px 6px 2px 6px;
	
}
