TABLE.SP_Bar
{
    FONT-SIZE: 12px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BACKGROUND-COLOR: transparent
}
TD.SP_Button
{
    CURSOR: pointer
}
TD.SP_Cur
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
	color:#CB1D15;
}
TD.SP_Direct
{
    CURSOR: pointer;
    COLOR: #515151;
    TEXT-DECORATION: underline;
	font-weight:bold;
	
}
