@page "/CTL_LIBRARY/functions/NoPermission.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.functions.cnvModel;
@using Microsoft.VisualBasic;
@model eProcurementNext.Razor.Pages.CTL_LIBRARY.functions.NoPermissionModel
@using static eProcurementNext.Session.SessionMiddleware
@{
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new EprocResponse();
}
@{
	htmlToReturn.Write("<html>");
	htmlToReturn.Write("<head>");
	htmlToReturn.Write($@"<link media=""screen,projection"" href=""/" + ApplicationCommon.Application["NOMEAPPPORTALE"]  +$@"/css/style.css"" type=""text/css"" rel=""stylesheet"">");
	htmlToReturn.Write("<title> ACCESSO NEGATO </title>");
	htmlToReturn.Write("</head>");

	htmlToReturn.Write("<body>");
	htmlToReturn.Write($@"<div id=""header"" style=""margin:10px;"">");
	htmlToReturn.Write($@"<div id=""bgheader"" style="" width:inherit;"">");
	htmlToReturn.Write($@"<div id=""logo"" style=""width:inherit;"">");
	htmlToReturn.Write($@"<h1><a href=""HTTP://WWW.AFSOLUZIONI.IT""><img alt=""Nome Gestore"" src=""/" + ApplicationCommon.Application["NOMEAPPPORTALE"] + $@"/images/I_logo.png""></a></h1>");
	htmlToReturn.Write($@"</div>");
	htmlToReturn.Write($@"</div>");
	htmlToReturn.Write($@"<div style="" background:#fff; padding:10px; overflow:auto;"">");
	htmlToReturn.Write($@"<p style=""font-size:18px; font-weight:bold; color:#666; margin-bottom:15px;""><img alt=""Stop"" src=""/" + ApplicationCommon.Application["NOMEAPPPORTALE"] + $@"/images/stop-small.png""> <span style="" color:#C03;"">ACCESSO NEGATO</span></p>");
	htmlToReturn.Write($@"<p style=""font-size:12px; font-weight:bold; color:#666"">");
	htmlToReturn.Write(ApplicationCommon.CNV(HtmlEncode(GetParamURL(Request.QueryString.ToString(), "MSG"))));
	htmlToReturn.Write("</p>");
	htmlToReturn.Write("</div>");
	htmlToReturn.Write("</div>");

	htmlToReturn.Write("</body>");
	htmlToReturn.Write("</html>");




}@Html.Raw(htmlToReturn.Out())