@page "/Report/busta_offerta.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.print_documentModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.CommonModel;
@using static eProcurementNext.Razor.Pages.Report.busta_offertaModel;
@using Microsoft.VisualBasic;
@model eProcurementNext.Razor.Pages.Report.busta_offertaModel
@using static eProcurementNext.Session.SessionMiddleware
@{
	CommonDbFunctions cdf = new();
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new();
}
@{
	//'/application/ctl_library/pdf/pdf.asp?URL=/report/busta_offerta.asp?&IDDOC=67613&TYPEDOC=OFFERTA
	string idDoc = GetParamURL(Request.QueryString.ToString(), "IDDOC");
	objDoc = PrintDocument(session, htmlToReturn, HttpContext,Response,Request);//PrintDocument ok
	var sqlParams = new Dictionary<string, object?>();
	htmlToReturn.Write($@"
		<html>
			<head>");

	addMetaTag(htmlToReturn); 



	htmlToReturn.Write($@"
	</head>

	<body style=""margin-left:50px; margin-right:50px; margin-top:10px; margin-bottom:10px"">


	<table height=""100%"" width=""100%"" border=""0"" style=""height: 1390px;"">

		<tr>
			<td align=""center""> 

				<table  width=""100%"" style=""margin-top:0px"" align=""center"">
					<tr>
						<td style=""border:0px; align=""center"">
							<table style=""font-weight:bold; align:center"">
								<tr>
									<td align=""center"" style=""border:0px; align:center; vertical-align=middle;"">
										<img width=""200px"" src=""./logo_new.gif"" border=""0"" alt=""" + ApplicationCommon.CNV("ALT LOGO") + $@""" />
									</td>
								</tr>
								<tr>
									<td align=""center"" style=""font-size:9px"">
										" + ApplicationCommon.CNV("HEADER_DATI_REGISTRAZIONE_FORNITORE") + $@"
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

			</td>
		</tr>

		<tr>

			<td height=""100%"" align=""top"" valign=""top"">

				<br/><br/><br/><br/><br/>");

	long id_del_mittente ;
	id_del_mittente = DOC_FieldTecnical("TESTATA", "IdPfu");
	sqlParams.Clear();
	sqlParams.Add("@idDoc", CStr(CLng(idDoc)));
	TSRecordSet rs = cdf.GetRSReadFromQuery_("select b.Protocollo as ProtBando, b.Titolo from ctl_doc o with(nolock), ctl_doc b with(nolock) where o.id = @idDoc and b.id = o.linkeddoc", ApplicationCommon.Application.ConnectionString, sqlParams);
	rs.MoveFirst();
	string protocolloBando = CStr(rs["ProtBando"]);


	htmlToReturn.Write("<br/><br/><br/>");

	htmlToReturn.Write("<strong>" + ApplicationCommon.CNV("Registro") + "Bando</strong>: " + protocolloBando + "<br/><br/>");

	htmlToReturn.Write("<strong>" + DOC_Field_Label("COPERTINA", "Body") + "</strong>: " + DOC_Field("COPERTINA", "Body") + "<br/>");
	htmlToReturn.Write("<strong>" + DOC_Field_Label("COPERTINA", "CIG") + "</strong>: " + DOC_Field("COPERTINA", "CIG") + "<br/><br/>");


	htmlToReturn.Write("In data ");
	string tmpDateRec = "";
	string visTempDateRec = "";

	tmpDateRec = DOC_FieldTecnical("TESTATA", "DataInvio");

	visTempDateRec = DateAndTime.Day(CDate(tmpDateRec)) + "/" + DateAndTime.Month(CDate(tmpDateRec)) + "/" + DateAndTime.Year(CDate(tmpDateRec)) + " alle ore " + DateAndTime.Hour(CDate(tmpDateRec)) + ":" + DateAndTime.Minute(CDate(tmpDateRec)) + ":" + DateAndTime.Second(CDate(tmpDateRec));

	htmlToReturn.Write("'" + visTempDateRec + "'");

	htmlToReturn.Write("&egrave; stata presentata dall&apos;operatore economico");
	sqlParams.Clear();
	sqlParams.Add("@nome", "codicefiscale");
	sqlParams.Add("@idpfu", CStr(CLng(id_del_mittente)));
	TSRecordSet tmpRS = cdf.GetRSReadFromQuery_(CStr("select aziRagioneSociale,aziIndirizzoLeg,aziLocalitaLeg, vatValore_FT from profiliutente with(nolock),aziende with(nolock),DM_Attributi with(nolock) where lnk = idazi and dztNome = @nome and idazi = pfuidazi and idpfu = @idpfu"), ApplicationCommon.Application.ConnectionString, sqlParams);
					tmpRS.MoveFirst();
					htmlToReturn.Write("'" + CStr(tmpRS["aziRagioneSociale"]) + " - " + CStr(tmpRS["aziIndirizzoLeg"]) + " - " + CStr(tmpRS["aziLocalitaLeg"]) + " - " + "Cod. Fis." + CStr(tmpRS["vatValore_FT"]) + "'");


					htmlToReturn.Write("&nbsp;");
					htmlToReturn.Write("l&apos;offerta con <strong>" + ApplicationCommon.CNV("Registro") + "</strong>" + DOC_FieldTecnical("TESTATA", "Protocollo") + "relativa all&apos;appalto specificato in oggetto.");
			htmlToReturn.Write($@"
			</td>

		</tr>
		<tr>
			<td>
			
				<table border=""0"" height=""50%"" width=""100%"" style=""vertical-align: text-bottom; margin-bottom: 0px"">
					<tr>
						<td align=""center"" style=""vertical-align: bottom;"">
							"+ApplicationCommon.CNV("footer_stampe_custom_1")+$@" <br/>
							"+ApplicationCommon.CNV("footer_stampe_custom_2")+$@"
						</td>
					</tr>
				</table>
				
			</td>
		</tr>
	</table>
	
	</body>
	</html>");

	try
	{
		FreeMemDocument(session);
	}
	catch
	{
		
	}

}@Html.Raw(htmlToReturn.Out())