@page "/Report/CAMBIO_RUOLO_UTENTE.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.print_documentModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.CommonModel;
@using static eProcurementNext.Razor.Pages.Report.CAMBIO_RUOLO_UTENTEModel;
@using Microsoft.VisualBasic;
@model eProcurementNext.Razor.Pages.Report.CAMBIO_RUOLO_UTENTEModel
@using static eProcurementNext.Session.SessionMiddleware
@{
	CommonDbFunctions cdf = new();
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new();
	//objDoc = PrintDocument(session, htmlToReturn, HttpContext,Response,Request);//PrintDocument non ok
	htmlToReturn.Write($@"
	<html>
	<head>
		<meta http-equiv=""Content-Type"" content=""text/html; charset=utf-8"">
		<link rel=""stylesheet"" type=""text/css"" href=""../ctl_library/themes/GridPrint.css""  />
		<title>" + ApplicationCommon.CNV("Modifica ruolo") + $@"</title>
	</head>
	<body>
		<table>
			<thead>
			<tr>
				<td style=""border:0px;"">
				<table style=""font-weight:bold; vertical-align:middle"">
				<tr>
					<td style=""border:0px; align:right; vertical-align=middle;""  >
						<img  src=""../images/logo-er.png"" border=0 alt=""" + ApplicationCommon.CNV("ALT LOGO") + $@""" />
					</td>
					<td style=""font-size:30px; vertical-align:middle; border:0px; align:left"">
						" + ApplicationCommon.CNV("Portale Gare Telematiche") + $@"
					</td>
				</tr>
				</table>                 
				</td>
			</tr>


			<tr><td>&nbsp;</td></tr>	
	");
	//'DOC_Field("COPERTINA","ProtocolloRiferimento")
	htmlToReturn.Write($@"
	<tr><td>&nbsp;</td></tr>

			<tr>

			<td>

					<table width=""100%"">

						<tr>
						<td align=""left"" style=""background-color:#ccc; font-size:20px; width:100%;"" nowrap>

							");
	htmlToReturn.Write("Modifica ruolo");
	//'DOC_PubLegale "COPERTINA", "Azienda"
	htmlToReturn.Write($@"
						</td>
					</tr>
					
					</table>
	
				</td>
			</tr>


			</thead>
			
			<tr>
				<td style=""border:0px;"">
				</td>
			</tr>
			
		</table>
		
	</body>
	</html>");

	//'-- Testo aggiunto in automatico per liberare la memoria dei nuovi report
	try
	{
		FreeMemDocument(session);
	}
	catch
	{
		
	}
}@Html.Raw(htmlToReturn.Out())