@page "/Report/prn_VERIFICA_REGISTRAZIONE_FORN.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.print_documentModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.CommonModel;
@using static eProcurementNext.Razor.Pages.Report.prn_VERIFICA_REGISTRAZIONE_FORNModel;
@using Microsoft.VisualBasic;
@model eProcurementNext.Razor.Pages.Report.prn_VERIFICA_REGISTRAZIONE_FORNModel
@using static eProcurementNext.Session.SessionMiddleware
@{

	CommonDbFunctions cdf = new();
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new();
	objDoc = PrintDocument(session, htmlToReturn, HttpContext,Response,Request);//PrintDocument ok
	htmlToReturn.Write($@"

	<html>
	<head>");


	addMetaTag(htmlToReturn);


	int NumPag;
	NumPag = 0;

	string iif(bool a, dynamic b, dynamic c)
	{
		if (a == true)
		{
			return b;
		}
		else
		{
			return c;
		}
	}

	htmlToReturn.Write($@"</head>
	<body>
			<center>
				<table style=""width: 800px; height: 1400px; font-family:Arial, Helvetica, sans-serif;"">
	"); 
	Header();
	htmlToReturn.Write($@"
						<tr>
						<td height=""100%"" valign=""top"" >

							<div style=""text-align: center; width: 800px; align: center;"">
								<strong>DICHIARAZIONE SOSTITUTIVA AI SENSI D.P.R. 445/2000 - DATI ANAGRAFICI</strong>
							</div>

							<br/>

							<div style=""text-align: center; width: 800px; align: center;"">

									<table style=""text-align: left; width: 100%"">	
                                        <tr>
                                        	<td style=""padding-bottom:1em;"">Il sottoscritto <b><font class=""Input"">" + DOC_Field("DATI_RAP_LEG", "NomeRapLeg") + $@"</font> <font class=""Input"">" + DOC_Field("DATI_RAP_LEG", "CognomeRapLeg") + $@"</font></b>, in qualità di <b><font class=""Input"">"
												+ DOC_Field("DATI_RAP_LEG", "pfuRuoloAziendale") + $@"</font></b> della <b><font class=""Input"">" + DOC_Field("SCHEDA_OE", "aziRagioneSociale") + $@"</font></b>
												, richiede la registrazione della <b><font class=""Input"">" + DOC_Field("SCHEDA_OE", "aziRagioneSociale") + $@"</font></b>"
												+ ApplicationCommon.CNV("alla piattaforma telematica del [PORTALE_CLIENTE], sottoscrivendo le informazioni di seguito dettagliate:") +
															$@"</td>
                                        </tr>							   

										<tr>
											<td style=""border-top: 2px solid #333; padding:1em 0em;"">
												<b style="" text-transform:uppercase;"">Riepilogo Dati Registrazione Fornitore</b>
											</td>
										</tr>                                                                    

									</table>	

										 <table>
												<tr>
													<td nowrap=""nowrap"">
														<b>Ragione Sociale: </b>
													</td>
													<td>
														<font class=""Input"">"
															+ DOC_Field("SCHEDA_OE", "aziRagioneSociale") +
																		$@"</font>
													</td>                                        
												</tr>

												<tr>
													<td nowrap=""nowrap"">
														<b>Forma Giuridica: </b>
													</td>
													<td>
														<font class=""Input"">"
															+ DOC_Field("SCHEDA_OE", "NaGi") +
																		$@"</font>
													</td>                                        
												</tr>

												<tr>
													<td nowrap=""nowrap"">
														<b>Indirizzo: </b>
													</td>
													<td>
														<font class=""Input"">"
															+ DOC_Field("SCHEDA_OE", "INDIRIZZOLEG") +
																		$@"</font>
													</td>                                        
												</tr>

												<tr>
													<td nowrap=""nowrap"">
														<b>Stato: </b>
													</td>
													<td>
														<font class=""Input"">"
															+ DOC_Field("SCHEDA_OE", "aziStatoLeg") +
																		$@"</font>
													</td>                                        
												</tr>

												<tr>
													<td nowrap=""nowrap"">
														<b>Comune: </b>
													</td>
													<td>
														<font class=""Input"">"
															+ DOC_Field("SCHEDA_OE", "LOCALITALEG") +
																		$@"</font>
													</td>                                        
												</tr>

												<tr>
													<td nowrap=""nowrap"">
														<b>Provincia: </b>
													</td>
													<td>
														<font class=""Input"">"
															+ DOC_Field("SCHEDA_OE", "PROVINCIALEG") +
																		$@"</font>
													</td>                                        
												</tr>

												<tr>
													<td nowrap=""nowrap"">
														<b>C.A.P.: </b>
													</td>
													<td>
														<font class=""Input"">"
															+ DOC_Field("SCHEDA_OE", "CAPLEG") +
																		$@"</font>
													</td>                                        
												</tr>

												<tr>
													<td nowrap=""nowrap"">
														<b>Anno di Iscrizione alla CCIAA: </b>
													</td>
													<td>
														<font class=""Input"">"
															+ DOC_Field("SCHEDA_OE", "ANNOCOSTITUZIONE") +
																		$@"</font>
													</td>                                        
												</tr>

												<tr>
													<td nowrap=""nowrap"">
														<b>N.Iscrizione CCIAA (REA): </b>
													</td>
													<td>
														<font class=""Input"">"
															+ DOC_Field("SCHEDA_OE", "IscrCCIAA") +
																		$@"</font>
													</td>                                        
												</tr>
												<tr>
													<td nowrap=""nowrap"">
														<b>Della CCIAA di: </b>
													</td>
													<td>
														<font class=""Input"">"
															+ DOC_Field("SCHEDA_OE", "SedeCCIAA") +
																		$@"</font>
													</td>                                        
												</tr>

												<tr>
													<td nowrap""nowrap"">
														<b>Codice EORI:</b>
													</td>
													<td>
														<font class=""Input"">"
															+ DOC_Field("SCHEDA_OE", "CodiceEORI") +
																$@"</font>
													</td>                                        
												</tr>

												<tr>
													<td nowrap=""nowrap"">
														<b>" + ApplicationCommon.CNV("Codice Fiscale Ditta / Identificativo Fiscale Estero") + $@": </b>
													</td>
													<td>
														<font class=""Input"">"
															+ DOC_Field("SCHEDA_OE", "codicefiscale") +
																		$@"</font>
													</td>                                        
												</tr>
												<tr>
													<td nowrap=""nowrap"">
														<b>Partita IVA: </b>
													</td>
													<td>
														<font class=""Input"">"
															+ DOC_Field("SCHEDA_OE", "PIVA") +
																		$@"</font>
													</td>                                        
												</tr>
												<tr>
													<td nowrap=""nowrap"">
														<b>Telefono: </b>
													</td>
													<td>
														<font class=""Input"">"
															+ DOC_Field("SCHEDA_OE", "NUMTEL") +
																		$@"</font>
													</td>                                        
												</tr>

												<tr>
													<td nowrap=""nowrap"">
														<b>Fax: </b>
													</td>
													<td>
														<font class=""Input"">"
															+ DOC_Field("SCHEDA_OE", "NUMFAX") +
																		$@"</font>
													</td>                                        
												</tr>
												<tr>
													<td nowrap=""nowrap"">
														<!-- <b>E-Mail <span style=""font-style:italic;"">(Preferibilmente PEC)</span>: </b> -->
														<b>E-Mail (PEC)</b>
													</td>
													<td>
														<font class=""Input"">"
															+ DOC_Field("SCHEDA_OE", "EMAIL") +
																		$@"</font>
													</td>                                        
												</tr>

										</table>

										<table style=""text-align: left; width: 100%; margin-top:2em;"">								   

											   <tr>
													<td style=""border-top: 2px solid #333; padding:1em 0em;"">
														<b style="" text-transform:uppercase;"">Informazioni utente</b>

													</td>
												</tr>                                                                    

										</table>
										 <table>
											<tr>
												<td nowrap=""nowrap"">
													<b>Nome: </b>
												</td>
												<td>
													<font class=""Input"">"
														+ DOC_Field("DATI_RAP_LEG", "NomeRapLeg") +
																	$@"</font>
												</td>                                        
											</tr>

											<tr>
												<td nowrap=""nowrap"">
													<b>Cognome: </b>
												</td>
												<td>
													<font class=""Input"">"
														+ DOC_Field("DATI_RAP_LEG", "CognomeRapLeg") +
																	$@"</font>
												</td>                                        
											</tr>

											<tr>
												<td nowrap=""nowrap"">
													<b>Telefono 1: </b>
												</td>
												<td>
													<font class=""Input"">"
														+ DOC_Field("DATI_RAP_LEG", "TelefonoRapLeg") +
																	$@"</font>
												</td>                                        
											</tr>

											<tr>
												<td nowrap=""nowrap"">
													<b>Telefono 2: </b>
												</td>
												<td>
													<font class=""Input"">"
														+ DOC_Field("DATI_RAP_LEG", "CellulareRapLeg") +
																	$@"</font>
												</td>                                        
											</tr>

											<tr>
												<td nowrap=""nowrap"">
													<b>E-mail: </b>
												</td>
												<td>
													<font class=""Input"">"
														+ DOC_Field("DATI_RAP_LEG", "EmailRapLeg") +
															$@"</font>
												</td>                                        
											</tr>

											<!--
											<tr>
												<td nowrap=""nowrap"">
													<b>Altro indirizzo E-mail: </b>
												</td>
												<td>
													<font class=""Input"">"
														+ DOC_Field("DATI_RAP_LEG", "ReferenteEMail") +
																	$@"</font>
												</td>                                        
											</tr>
											-->
											<tr>
												<td nowrap=""nowrap"">
													<b>Qualifica: </b>
												</td>
												<td>
													<font class=""Input"">"
														+ DOC_Field("DATI_RAP_LEG", "pfuRuoloAziendale") +
																	$@"</font>
												</td>                                        
											</tr>

											<tr>
												<td nowrap=""nowrap"">
													<b>Codice Fiscale: </b>
												</td>
												<td>
													<font class=""Input"">"
														+ DOC_Field("DATI_RAP_LEG", "CFRapLeg") +
																	$@"</font>
												</td>                                        
											</tr>
										</table>
                                        <div>
                                        	<p style=""text-align:left;"">"

												+ ApplicationCommon.CNV("DICHIARAZIONE_DI_VERIDICITA_DATI_INSERITI") +

															$@"</p>
                                            <ul style=""list-style-type:none; float:right; text-align:right;"">
                                            	<li>
													<b>
														<font class=""Input"">" + DOC_Field("DATI_RAP_LEG", "NomeRapLeg") + $@"</font>
														<font class=""Input"">" + DOC_Field("DATI_RAP_LEG", "CognomeRapLeg") + $@"</font>
													</b>
												</li>
                                                <li style=""font-style:italic"">");

	if (DOC_FieldTecnical( "SCHEDA_OE", "aziStatoLeg2") == "M-1-11-ITA" || GetParamURL(Request.QueryString.ToString(), "OLOGRAFA") == "NO" ){
		htmlToReturn.Write($@"(Firmato Digitalmente)");
	}else{
		htmlToReturn.Write($@"(Con Firma Olografa)");
	}

	htmlToReturn.Write($@"</li>
                        </ul>
                     </div>");

	if (DOC_NumRow("ALLEGATI", "") > 0) {
		htmlToReturn.Write($@"<table style=""text-align: left; width: 100%"">								   

											   <tr>
													<td style=""border-top: 1px solid #333; padding:1em 0em;"">
														<b style="" text-transform:uppercase;"">Lista Allegati</b>
													</td>
												</tr> 
												<table cellpadding=0 cellaspacing=0 style=""width:100%"" ><tr style=""background-color: Silver; height: 25px ; text-align: left; ""><td ><b>" + DOC_FieldRow_Label("ALLEGATI", "Descrizione") + $@"</b></td><td ><b>" + DOC_FieldRow_Label("ALLEGATI", "Allegato") + $@"</b></td></tr>");

		int nr;
		nr = DOC_NumRow("ALLEGATI", "");
		for (int i = 0; i <= nr - 1; i++)
		{

			htmlToReturn.Write($@"<tr style=""border-bottom:1px solid; ""><td class=""Input""  style=""width:70%;border-bottom:1px solid #ccc;""  >" + DOC_FieldRow("ALLEGATI", "Descrizione", i) + $@"</td><td class=""Input"" style=""width: 30 %; border - bottom:1px solid #ccc;"">" + DOC_FieldRow("ALLEGATI", "Allegato", i) + $@"</td></tr>");

		}


		htmlToReturn.Write($@"</table>");
	}
	htmlToReturn.Write($@"</div>

						</td>
					</tr>
	");
	footer(); 
	htmlToReturn.Write($@"
				</table>
				<!-- fine pagina 1-->

		   </center>

	</body>
	</html>");

	void PrintPagina() {

		htmlToReturn.Write($@"<div style=""page-break-after: always""></div>");

	}

	void footerold(){

		NumPag = NumPag + 1;

		htmlToReturn.Write($@"<br />
	Dati Registrazione Fornitore
	<hr />
	<table width=""720px"" style=""vertical-align: bottom; bottom: 0px"">
		<tr>
			<td valign=""bottom"" align=""right"">
				 <br>"
					+ NumPag +
						$@"</td>
		</tr>
	</table>");
	}

	void Header() {

		htmlToReturn.Write($@"<tr><td height=""50px"" align=""center"" valign=""top"" >");

		string imgHeader = ApplicationCommon.CNV("HEADER_STAMPE");

		if (Strings.InStr(1, imgHeader, "???") > 0) {
			htmlToReturn.Write($@"<img height=""50px"" src=""logo_new.gif"" border=""0"" alt=""" + ApplicationCommon.CNV("ALT LOGO") + $@"""/>");
		} else {
			htmlToReturn.Write(imgHeader);
		}

		htmlToReturn.Write($@"</td></tr>");


		htmlToReturn.Write($@"<tr><td height=""70px"" align=""center"" valign=""top"" ><h4>" + ApplicationCommon.CNV("HEADER_DATI_REGISTRAZIONE_FORNITORE") + "</h4></td></tr>");

	}

	//'------------------------------------------------------------------------------
	//'-- funzione per disegnare il pie pagina
	//'------------------------------------------------------------------------------
	void footer() {

		NumPag = NumPag + 1;

		htmlToReturn.Write($@"<tr><td valign=""bottom"" height=""10px"" >");
		htmlToReturn.Write($@"<table width=""720px"" height=""10px"" style=""vertical-align: bottom; bottom: 0px"">");
		htmlToReturn.Write($@"<tr><td align=""center"" style=""border-bottom: 1px solid black;"" ><b>" + ApplicationCommon.CNV("FOOTER_Dati_Registrazione_Fornitore") + "</b></td></tr><tr>");
		htmlToReturn.Write($@"<td valign=""bottom"" align=""right"" > <br>" + NumPag);
		htmlToReturn.Write($@"</td>");
		htmlToReturn.Write($@"</tr>");
		htmlToReturn.Write($@"</table>");
		htmlToReturn.Write($@"</td></tr>");

	}

	try
	{
		FreeMemDocument(session);
	}
	catch
	{

	}



}@Html.Raw(htmlToReturn.Out())