@page "/Report/prn_ISTANZA_SDA_2.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using Microsoft.VisualBasic
@using System.Globalization
@using static eProcurementNext.CommonDB.Basic;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.print_documentModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.CommonModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.functions.securityModel;
@model eProcurementNext.Razor.Pages.Report.prn_ISTANZA_SDA_2Model
@using static eProcurementNext.Session.SessionMiddleware
@{
	CommonDbFunctions cdf = new();
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new();
	var sqlParams = new Dictionary<string, object?>();
	objDoc = PrintDocument(session, htmlToReturn, HttpContext, Response, Request);//PrintDocument ok
	string IDDOC = objDoc.mp_IDDoc;
}
@{

	htmlToReturn.Write($@"
	<html>
		<head>");



	dynamic getProvincia(string cod)
	{
		//on error resume next
		string ret = string.Empty;
		sqlParams.Clear();
		sqlParams.Add("@cod", cod);
		TSRecordSet rs = GetRS(@"declare @descrizione as nvarchar(MAX) set @descrizione='' select @descrizione=@descrizione + DMV_DescML + ',' from dbo.Split(@cod,'###') inner join LIB_DomainValues on DMV_DM_ID='GEO' and DMV_Cod=items select substring(@descrizione,0,len(@descrizione)) as descrizione", sqlParams);
		if (rs is not null && !(rs.BOF && rs.EOF))
		{
			rs.MoveFirst();
			ret = CStr(rs["descrizione"]);
		}
		return ret;
	}

	dynamic getVersioneDoc()
	{
		//on error resume next
		string ret = string.Empty;
		sqlParams.Clear();
		sqlParams.Add("@id", CInt(IDDOC));
		TSRecordSet rs5 = GetRS("Select Versione from CTL_DOC with(nolock) where Id=@id", sqlParams);
		if (rs5 is not null && !(rs5.BOF && rs5.EOF))
		{
			rs5.MoveFirst();
			ret = CStr(rs5["Versione"]);
		}
		return ret;
	}

	dynamic getClasseMerceologica(dynamic cod)
	{
		//on error resume next
		string ret = string.Empty;
		sqlParams.Clear();
		sqlParams.Add("@cod", CStr(cod));
		TSRecordSet  rs = GetRS("SELECT  DMV_DescML  FROM Categorie_Merceologiche  where DMV_COD=@cod", sqlParams);
		if (rs is not null && !(rs.BOF && rs.EOF))
		{
			rs.MoveFirst();
			ret = CStr(rs["DMV_DescML"]);
		}
		return ret;
	}


	int NumPag;
	NumPag = 0;

	addMetaTag(htmlToReturn);

	htmlToReturn.Write($@"
		</head>
		<body
	");

	if ((DOC_FieldTecnical("DOCUMENT", "StatoDoc") == "Saved" || string.IsNullOrEmpty(DOC_FieldTecnical("DOCUMENT", "StatoDoc"))) && (GetParamURL(Request.QueryString.ToString(), "TO_SIGN") == "no" || string.IsNullOrEmpty(GetParamURL(Request.QueryString.ToString(), "TO_SIGN"))))
	{
		htmlToReturn.Write($@" style=""background-image:url(../images/bozza.jpg)"" ");
	}

	htmlToReturn.Write($@"
		>
		<style type=""text/css"">



			BODY,DIV ,TABLE, TD {{
			font-family:'Arial','Times New Roman',serif;
			font-size:9.9pt;
			font-style:normal;
			font-weight:normal


			}}
			.Input
			{{
			font-family:'Arial','Times New Roman',serif;
			font-size:10pt;
			font-style:normal;
			font-weight:bold

			}}

			.TITLE{{
			font-family:'Arial','Times New Roman',serif;
			font-size:12pt;
			font-style: bold;
			font-weight:bold



			}}
			.prodotti
			{{
			font-family:'Arial','Times New Roman',serif;
			font-size:7pt;
			font-style:normal;
			font-weight:bold

			}}



			@media print
			{{
			#Ricevuta {{}}
			}}

			@media screen
			{{
			#Ricevuta {{}}
			}}

			  ul li, table ul li {{ list-style-type:none; text-align:justify; }}
			  p	{{  text-align:justify;}}
			 .disc li {{ list-style-type:disc;}}
			 .disc li table td{{ vertical-align:bottom;}}
			  h1{{font-size:1.3em; font-weight:bold; text-align:center;}}
			 .PaddingLeft{{ padding-left:3em;}}
			 .nomargin{{margin-top: -13px;}}
			  ul.ListStyleTypeNone li{{padding-top:0em; }}
			 .ListStyleTypeNone{{ list-style-type:none; }}
			 table.list{{ vertical-align:middle; margin-top:1em;}}
			 ul.disc{{padding-left:0em;}}
			 table td ul.disc{{padding-top:0em;padding-bottom:0em;margin-top: 0em;margin-bottom: 0em;}}
			 .DataGUUE{{ width:25em;}}
			.DataGURI{{ width:17em;}}
			ul.ListStyleTypeNone {{padding-left:0em; }}


		</style>
		<div style=""text-align: center;"">
			<center>
				<table style=""width: 800px; height: 1400px;""
	");

	Header(htmlToReturn);

	htmlToReturn.Write($@"
		<tr>



					<td height=""100%"" valign=""top"" >
						<div style=""text-align: center; width: 800px; align: center;"">
							<div>

								<div>
								</div>
								<br>

								<table style=""text-align: center; width: 100%"">


									<tr style=""background-color: Silver; height: 55px ; text-align: center; "">
										<td >
											<b>" + ApplicationCommon.CNV("INTESTAZIONE_ISTANZA_SDA_2") + $@"</b>
											<br>


										</td>
									</tr>

								</table>
							</div>

						</div>
	");

	htmlToReturn.Write(Strings.Replace(ApplicationCommon.CNV("ISTANZA_SDA_2_KEY_001"), "(((nomebando)))", DOC_Field("TESTATA", "nomebando")));

	htmlToReturn.Write($@"
		<div style=""width: 800px; margin-top: 15px; text-align: left"">

			<table>
				<tr>
					<td nowrap=""nowrap"">
						Il sottoscritto
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "NomeRapLeg") + $@" &nbsp; " + DOC_FieldHTML("TESTATA", "CognomeRapLeg") + $@"
						</font>
					</td>
					<td nowrap=""nowrap"">
						nato a
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "LocalitaRapLeg") + $@"
						</font>
					</td>
					<td nowrap=""nowrap"">
						Provincia
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "ProvinciaRapLeg") + $@"
						</font>
					</td>
					<td nowrap=""nowrap"">
								Stato
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "StatoRapLeg") + $@"
						</font>
					</td>
					<td nowrap=""nowrap"">
						il
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "DataRapLeg") + $@"
						</font>
					</td>
				</tr>
			</table>

			<table>
				<tr>

					<td nowrap=""nowrap"">
						Codice Fiscale
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "CFRapLeg") + $@"
						</font>
					</td>
					<td nowrap=""nowrap"">
						Telefono
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "TelefonoRapLeg") + $@"
						</font>
					</td>
					<td nowrap=""nowrap"">
						Telefono 2
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "CellulareRapLeg") + $@"
						</font>
					</td>


					<td nowrap=""nowrap"">
						Residente a
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "ResidenzaRapLeg") + $@"
						</font>
					</td>

				</tr>
			</table>

			<table>
				<tr>

					<td nowrap=""nowrap"">
						Provincia
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "ProvResidenzaRapLeg") + $@"
						</font>
					</td>
					<td nowrap=""nowrap"">
								Stato
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "StatoResidenzaRapLeg") + $@"
						</font>
					</td>
					<td nowrap=""nowrap"">
						Indirizzo
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "IndResidenzaRapLeg") + $@"
						</font>
					</td>
					<td nowrap=""nowrap"">
						Cap
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "CapResidenzaRapLeg") + $@"
						</font>
					</td>


					<td nowrap=""nowrap"">
						In qualit&agrave; di
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "RuoloRapLeg") + $@"
						</font>
					</td>

				</tr>
			</table>

			<table>
				<tr>
					<td nowrap=""nowrap"">
						Giusta procura per notaio
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "Procura") + $@"
						</font>
					</td>
					<td nowrap=""nowrap"">
						del
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "DelProcura") + $@"
						</font>
					</td>


					<td nowrap=""nowrap"">
						Numero Rep.
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "NumProcura") + $@"
						</font>
					</td>
					<td nowrap=""nowrap"">
						Raccolta Numero
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "NumRaccolta") + $@"
						</font>
					</td>
				</tr>
			</table>

			<table>
				<tr>

					<td nowrap=""nowrap"">
						Della Società
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "RagSoc") + $@"
						</font>
					</td>
					<!--td nowrap=""nowrap"">
						Forma Giuridica
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "NaGi") + $@"
						</font>
					</td-->
			<table>
			<table>
				<tr>

					<td nowrap=""nowrap"">
						Iscritta a
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "SedeCCIAA") + $@"
						</font>
					</td>
					<td nowrap=""nowrap"">
						con il numero:
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "IscrCCIAA") + $@"
						</font>
					</td>
			<table>
				<tr>
					<td nowrap=""nowrap"">
						Codice Fiscale
					</td>

					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "codicefiscale") + $@"
						</font>
					</td>
					<td nowrap=""nowrap"">
						P. Iva
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "PIVA") + $@"
						</font>
					</td>
				</tr>
			</table>
			<table>
				<tr>

					<td nowrap=""nowrap"">
						Con sede legale in via
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "INDIRIZZOLEG") + $@"
						</font>
					</td>
					<td nowrap=""nowrap"">
						Comune
					</td>

					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "LOCALITALEG") + $@"
						</font>
					</td>

				</tr>
			</table>

			<table>
				<tr>

					<td nowrap=""nowrap"">
						C.a.p.
					</td>

					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "CAPLEG") + $@"
						</font>
					</td>
					<td nowrap=""nowrap"">
						Provincia
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "PROVINCIALEG") + $@"
						</font>
					</td>

					<td nowrap=""nowrap"">
							Stato
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "STATOLOCALITALEG") + $@"
						</font>
					</td>
				</tr>
			</table>
			<table>
				</tr>
					<td nowrap=""nowrap"">
						Telefono <em>(1)</em>
					</td>

					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "NUMTEL") + $@"
						</font>
					</td>
					<td nowrap=""nowrap"">
						Telefono <em>(2)</em>
					</td>
					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "NUMTEL2") + $@"
						</font>
					</td>
					<td nowrap=""nowrap"">
						Fax
					</td>

					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "NUMFAX") + $@"
						</font>
					</td>

					<td nowrap=""nowrap"">
						E-mail Pec
					</td>

					<td>
						<font class=""Input"">
							" + DOC_FieldHTML("TESTATA", "EMAIL") + $@"
						</font>
					</td>

				</tr>
			</table>
	");

	string val_ISTANZA_SDA_2_KEY_002 = ApplicationCommon.CNV("ISTANZA_SDA_2_KEY_002");
	val_ISTANZA_SDA_2_KEY_002 = Strings.Replace(val_ISTANZA_SDA_2_KEY_002, "(((Riferimento_Gazzetta)))", "<b>" + DOC_Field("TESTATA", "Riferimento_Gazzetta") + "</b>");
	val_ISTANZA_SDA_2_KEY_002 = Strings.Replace(val_ISTANZA_SDA_2_KEY_002, "(((Data_Pubblicazione_Gazzetta)))", "<b>" + DOC_Field("TESTATA", "Data_Pubblicazione_Gazzetta") + "</b>");
	val_ISTANZA_SDA_2_KEY_002 = Strings.Replace(val_ISTANZA_SDA_2_KEY_002, "(((CheckIscritta1)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA", "CheckIscritta1") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_002 = Strings.Replace(val_ISTANZA_SDA_2_KEY_002, "(((Registro_Camera_Provincia_Artigianato))) ", "<b+" + DOC_Field("TESTATA", "Registro_Camera_Provincia_Artigianato") + "</b>");
	val_ISTANZA_SDA_2_KEY_002 = Strings.Replace(val_ISTANZA_SDA_2_KEY_002, "(((Registro_Provincia_Artigianato))) ", "<b+" + DOC_Field("TESTATA", "Registro_Provincia_Artigianato") + "</b>");
	val_ISTANZA_SDA_2_KEY_002 = Strings.Replace(val_ISTANZA_SDA_2_KEY_002, "(((elenco_camera_attivita_artigianato)))", "<b>" + DOC_Field("TESTATA", "elenco_camera_attivita_artigianato") + "</b>");
	val_ISTANZA_SDA_2_KEY_002 = Strings.Replace(val_ISTANZA_SDA_2_KEY_002, "(((numero_iscrizione)))", "<b>" + DOC_Field("TESTATA", "numero_iscrizione") + "</b>");
	val_ISTANZA_SDA_2_KEY_002 = Strings.Replace(val_ISTANZA_SDA_2_KEY_002, "(((data_iscrizione)))", "<b>" + DOC_Field("TESTATA", "data_iscrizione") + "</b>");
	val_ISTANZA_SDA_2_KEY_002 = Strings.Replace(val_ISTANZA_SDA_2_KEY_002, "(((NaGi)))", "<b>" + DOC_Field("TESTATA", "NaGi") + "</b>");
	val_ISTANZA_SDA_2_KEY_002 = Strings.Replace(val_ISTANZA_SDA_2_KEY_002, "(((sede_iscrizione)))", "<b>" + DOC_Field("TESTATA", "sede_iscrizione") + "</b>");
	val_ISTANZA_SDA_2_KEY_002 = Strings.Replace(val_ISTANZA_SDA_2_KEY_002, "(((CF_iscrizione)))", "<b>" + DOC_Field("TESTATA", "CF_iscrizione") + "</b>");
	val_ISTANZA_SDA_2_KEY_002 = Strings.Replace(val_ISTANZA_SDA_2_KEY_002, "(((IVA_iscrizione)))", "<b>" + DOC_Field("TESTATA", "IVA_iscrizione") + "</b>");
	val_ISTANZA_SDA_2_KEY_002 = Strings.Replace(val_ISTANZA_SDA_2_KEY_002, "(((CheckIscritta2)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA", "CheckIscritta2") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_002 = Strings.Replace(val_ISTANZA_SDA_2_KEY_002, "(((CheckIscritta3)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA", "CheckIscritta3") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_002 = Strings.Replace(val_ISTANZA_SDA_2_KEY_002, "(((CheckSoggetti1)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA", "CheckSoggetti1") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_002 = Strings.Replace(val_ISTANZA_SDA_2_KEY_002, "(((CheckSoggetti2)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA", "CheckSoggetti2") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_002 = Strings.Replace(val_ISTANZA_SDA_2_KEY_002, "(((CheckSoggetti3)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA", "CheckSoggetti3") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_002 = Strings.Replace(val_ISTANZA_SDA_2_KEY_002, "(((CheckSoggetti4)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA", "CheckSoggetti4") == "1", "", "un") + @"checked.gif"" /></font>");


	htmlToReturn.Write(val_ISTANZA_SDA_2_KEY_002);

	htmlToReturn.Write($@"
					</div>
				</div>
			</td>
		</tr>
	");

	footer(htmlToReturn);

	htmlToReturn.Write($@"
		</table>

			<!-- fine pagina 1-->
	");

	PrintPagina(htmlToReturn);

	htmlToReturn.Write($@"<table style=""width: 800px; height: 1400px; """);

	Header(htmlToReturn);

	htmlToReturn.Write($@"
		<tr>
						<td height=""100%"" valign=""top"">
							<div style=""text-align: left; width: 100%"">
	");

	int row;
	row = DOC_NumRow("SOGGETTI", "");

	htmlToReturn.Write($@"
		<table style=""border: 0px solid black; border-collapse: collapse; width: 100%"" align=""center"" cellpadding=""5"">
			<tr style=""height: 18px"">
			<td style=""border: 0px solid black;"" width=""15%"">Nome</td>
			<td style=""border: 0px solid black;"" width=""15%"">Cognome</td>
			<td style=""border: 0px solid black;"" width=""15%"">Luogo</td>
			<td style=""border: 0px solid black;"" width=""15%"">Data di Nascita</td>
			<td style=""border: 0px solid black;"" width=""15%"">Codice Fiscale</td>
			<td style=""border: 0px solid black;"" width=""10%"">Carica</td>
			<td style=""border: 0px solid black;"" width=""15%"">Residenza</td>
			<td style=""border: 0px solid black;"" width=""5%"">Cessato</td>
		</tr>
	");

	for (int i = 0; i <= row - 1; i++)
	{// to row - 1
		htmlToReturn.Write($@"
			<tr style=""height: 20px"">
				<td style=""border: 0px solid black;"" width=""15%""><font class=""Input"">" + DOC_FieldRowHTML("SOGGETTI", "NomeDirTec", i) + $@"</font></td>
				<td style=""border: 0px solid black;"" width=""15%""><font class=""Input"">" + DOC_FieldRowHTML("SOGGETTI", "CognomeDirTec", i) + $@"</font></td>
				<td style=""border: 0px solid black;"" width=""15%""><font class=""Input"">" + DOC_FieldRowHTML("SOGGETTI", "LocalitaDirTec", i) + $@"</font></td>
				<td style=""border: 0px solid black;"" width=""15%""><font class=""Input"">" + DOC_FieldRowHTML("SOGGETTI", "DataDirTec", i) + $@"</font></td>
				<td style=""border: 0px solid black;"" width=""15%""><font class=""Input"">" + DOC_FieldRowHTML("SOGGETTI", "CFDirTec", i) + $@"</font></td>
				<td style=""border: 0px solid black;"" width=""10%""><font class=""Input"">" + DOC_FieldRowHTML("SOGGETTI", "RuoloDirTec", i) + $@"</font></td>
				<td style=""border: 0px solid black;"" width=""15%""><font class=""Input"">" + DOC_FieldRowHTML("SOGGETTI", "ResidenzaDirTec", i) + $@"</font></td>
				<td style=""border: 0px solid black;"" width=""5%""><font class=""Input"">" + IIF(DOC_FieldRowHTML("SOGGETTI", "Checkcessati", i) == "1", "Cessato", "") + $@"</font></td>
			</tr>
		");
	}

	htmlToReturn.Write($@"
		</table>
							 <br/>
	");

	string val_ISTANZA_SDA_2_KEY_003 = ApplicationCommon.CNV("ISTANZA_SDA_2_KEY_003");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_1)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_1") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_2)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_2") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_violazioni_1)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_violazioni_1") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_violazioni_2)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_violazioni_2") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_infrazioni_1)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_infrazioni_1") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_infrazioni_2)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_infrazioni_2") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_fallimento_1)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_fallimento_1") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_fallimento_2)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_fallimento_2") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_fallimento_3)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_fallimento_3") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_fallimento_4)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_fallimento_4") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_fallimento_5)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_fallimento_5") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_fallimento_6)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_fallimento_6") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_illeciti_1)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_illeciti_1") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_illeciti_2)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_illeciti_2") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_conflitti_1)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_conflitti_1") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_conflitti_2)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_conflitti_2") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_appalto_1)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_appalto_1") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_appalto_2)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_appalto_2") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_fiduciaria_1)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_fiduciaria_1") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_fiduciaria_2)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_fiduciaria_2") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_assunzioni_1)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_assunzioni_1") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_assunzioni_2)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_assunzioni_2") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_controllo_1)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_controllo_1") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_controllo_2)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_controllo_2") == "1", "", "un") + @"checked.gif"" /></font>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, @"(((check_art_80_Dichiarazione)))", @"<font class=""Input""><img src=""../ctl_library/images/domain/" + IIF(DOC_Field("TESTATA2", "check_art_80_Dichiarazione") == "1", "", "un") + @"checked.gif"" /></font>");


	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, "(((Tribunale_Chk_fall_2))) ", "<b>" + DOC_Field("TESTATA2", "Tribunale_Chk_fall_2") + "</b>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, "(((Provvedimento_Chk_fall_2))) ", "<b>" + DOC_Field("TESTATA2", "Provvedimento_Chk_fall_2") + "</b>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, "(((del_Chk_fall_2))) ", "<b>" + DOC_Field("TESTATA2", "del_Chk_fall_2") + "</b>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, "(((Tribunale_Chk_fall_3))) ", "<b>" + DOC_Field("TESTATA2", "Tribunale_Chk_fall_3") + "</b>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, "(((Provvedimento_Chk_fall_3))) ", "<b>" + DOC_Field("TESTATA2", "Provvedimento_Chk_fall_3") + "</b>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, "(((del_Chk_fall_3))) ", "<b>" + DOC_Field("TESTATA2", "del_Chk_fall_3") + "</b>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, "(((Tribunale_Chk_fall_3_2))) ", "<b>" + DOC_Field("TESTATA2", "Tribunale_Chk_fall_3_2") + "</b>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, "(((Provvedimento_Chk_fall_3_2))) ", "<b>" + DOC_Field("TESTATA2", "Provvedimento_Chk_fall_3_2") + "</b>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, "(((del_Chk_fall_3_2))) ", "<b>" + DOC_Field("TESTATA2", "del_Chk_fall_3_2") + "</b>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, "(((Tribunale_Chk_fall_4))) ", "<b>" + DOC_Field("TESTATA2", "Tribunale_Chk_fall_4") + "</b>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, "(((Provvedimento_Chk_fall_4))) ", "<b>" + DOC_Field("TESTATA2", "Provvedimento_Chk_fall_4") + "</b>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, "(((del_Chk_fall_4))) ", "<b>" + DOC_Field("TESTATA2", "del_Chk_fall_4") + "</b>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, "(((Tribunale_Chk_fall_4_2))) ", "<b>" + DOC_Field("TESTATA2", "Tribunale_Chk_fall_4_2") + "</b>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, "(((Provvedimento_Chk_fall_4_2))) ", "<b>" + DOC_Field("TESTATA2", "Provvedimento_Chk_fall_4_2") + "</b>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, "(((del_Chk_fall_4_2))) ", "<b>" + DOC_Field("TESTATA2", "del_Chk_fall_4_2") + "</b>");

	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, "(((testo_check_dichiarazione))) ", "<b>" + DOC_Field("TESTATA2", "testo_check_dichiarazione") + "</b>");
	val_ISTANZA_SDA_2_KEY_003 = Strings.Replace(val_ISTANZA_SDA_2_KEY_003, "(((emailriferimentoazienda))) ", "<b>" + DOC_Field("TESTATA2", "emailriferimentoazienda") + "</b>");
	//'Stampa fino al punto G)
	int fine = Strings.InStr(val_ISTANZA_SDA_2_KEY_003, "<strong>h)</strong> che, ai sensi dell'art. 80, co. 5, lett. b), D.Lgs. 50/2016, <em>(Selezionare il punto relativo alla propria situazione)</em>:");
	htmlToReturn.Write(Strings.Mid(val_ISTANZA_SDA_2_KEY_003, 1, fine - 1));

	//'response.write InStr(val_ISTANZA_SDA_2_KEY_003,"che, ai sensi dell’all’art. 80, co. 5, lett. c), D.Lgs. 50/2016,")


	htmlToReturn.Write($@"
		</div>
							</div>
						</td>
					</tr>
	");

	footer(htmlToReturn);

	htmlToReturn.Write($@"
		</table>
				<!-- fine pagina 2-->
	");

	PrintPagina(htmlToReturn);

	htmlToReturn.Write($@"<table style=""width: 800px; height: 1400px; """);

	Header(htmlToReturn);

	htmlToReturn.Write($@"
		<tr>
			<td height=""100%"" valign=""top"">
				<div style=""text-align: left; width: 100%"">
					<div>
	");

	//'STAMPA DAL PUNTO H) fino a K)
	//'response.write InStr(val_ISTANZA_SDA_2_KEY_003,"<li><strong>h)</strong> che, ai sensi dell'art. 80, co. 5, lett. b), D.Lgs. 50/2016, <em>(Selezionare il punto relativo alla propria situazione)</em>:")
	int start = Strings.InStr(val_ISTANZA_SDA_2_KEY_003, @"<strong>h)</strong> che, ai sensi dell'art. 80, co. 5, lett. b), D.Lgs. 50/2016, <em>(Selezionare il punto relativo alla propria situazione)</em>:");
	fine = Strings.InStr(val_ISTANZA_SDA_2_KEY_003, @"<strong>k)</strong> che, ai sensi dell'art. 80, co. 5, lett. e), D.Lgs. 50/2016,  <em>(Selezionare il punto relativo alla propria situazione)</em>:");

	htmlToReturn.Write(Strings.Mid(val_ISTANZA_SDA_2_KEY_003, start, fine - start));


	htmlToReturn.Write($@"
		</div>
	");
	htmlToReturn.Write($@"
	</div>
						</td>
					</tr>
	");
	footer(htmlToReturn);
	htmlToReturn.Write($@"
		</table>
				<!-- fine pagina 3-->
				<!-- fine pagina 2-->
	");
	PrintPagina(htmlToReturn);
	htmlToReturn.Write($@"
		<table style=""width: 800px; height: 1400px;""
	");
	Header(htmlToReturn);
	htmlToReturn.Write($@"
	<tr>
						<td height=""100%"" valign=""top"">
							<div style=""text-align: left; width: 100%"">
								<div>

	");
	//'STAMPA DAL PUNTO N) al Q)
	start = Strings.InStr(val_ISTANZA_SDA_2_KEY_003, "<strong>k)</strong> che, ai sensi dell'art. 80, co. 5, lett. e), D.Lgs. 50/2016,  <em>(Selezionare il punto relativo alla propria situazione)</em>:");
	fine = Strings.InStr(val_ISTANZA_SDA_2_KEY_003, "<strong>q)</strong> di essere informata");

	htmlToReturn.Write(Strings.Mid(val_ISTANZA_SDA_2_KEY_003, start, fine - start));
	htmlToReturn.Write($@"


								</div>
							</div>
						</td>
					</tr>
	");
	footer(htmlToReturn);
	htmlToReturn.Write($@"
				</table>
				<!-- fine pagina 3-->
	");
	PrintPagina(htmlToReturn);
	htmlToReturn.Write($@"
				<table style=""width: 800px; height: 1400px;""
	");
	Header(htmlToReturn);
	htmlToReturn.Write($@"
					<tr>
						<td height=""100%"" valign=""top"">
							<div style=""text-align: left; width: 100%"">
								<div>

	");
	//'STAMPA DAL PUNTO Q)

	start = Strings.InStr(val_ISTANZA_SDA_2_KEY_003, "<strong>q)</strong> di essere informata");

	htmlToReturn.Write(Strings.Mid(Strings.RTrim(val_ISTANZA_SDA_2_KEY_003), start));
	htmlToReturn.Write($@"
										<br/><br/>
	");
	if (!string.IsNullOrEmpty(DOC_FieldTecnical("DISPLAY_CATEGORIE", "Categorie_Merceologiche")))
	{

		string stringa;
		string[] arr;


		stringa = DOC_FieldTecnical("DISPLAY_CATEGORIE", "Categorie_Merceologiche");

		arr = Strings.Split(stringa, "###");

		htmlToReturn.Write($@"<strong>Categorie Merceologiche:</strong>");

		for (int i = 1; i <= arr.Length - 1; i++)
		{ //to Ubound(arr)
				//'response.write arr(i)
			htmlToReturn.Write($@"<br><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + getClasseMerceologica(arr[i]) + "</b>");
		}

	}


	if (DOC_FieldTecnical("DISPLAY_CATEGORIE", "Richiesta_Info") == "1")
	{
		int row7;
		row7 = DOC_NumRow("GRIGLIA_CATEGORIE", "");
		htmlToReturn.Write($@"
			<table style=""border: 0px solid black; border-collapse: collapse; width: 80%"" align=""center"" cellpadding=""5"">
				<tr style=""height: 18px"">
					<td style=""border: 0px solid black;"" width=""40%"">Categorie Merceologiche</td>
					<td style=""border: 0px solid black;"" width=""40%"">Allegato</td>
				</tr>
		");
		for (int i = 0; i <= row7 - 1; i++)
		{// to row7-1

			htmlToReturn.Write($@"
				<tr style=""height: 20px"">
					<td style=""border: 0px solid black;"" width=""20%""><font class=""Input"">" + DOC_FieldRow("GRIGLIA_CATEGORIE", "Categoria_Merceologica", i) + $@"</font></td>
					<td style=""border: 0px solid black;"" width=""20%""><font class=""Input"">" + DOC_FieldRow("GRIGLIA_CATEGORIE", "AllegatoRichiesto", i) + $@"</font></td>
				</tr>

			");
		}
		htmlToReturn.Write($@"
			</table>

		");
	}



	htmlToReturn.Write($@"
							<p><strong>Nota Bene.</strong> La documentazione aggiuntiva allegata dal concorrente, come richiesto ai punti precedenti deve essere denominata secondo la seguente regola: <em>""identificativo gara – ragione sociale del partecipante - punto della domanda di partecipazione cui la documentazione fa riferimento</em>.</p>
							<p>Ad esempio, se il concorrente XYZ, ai fine della partecipazione allo SDA FARMACI, deve allegare la documentazione a comprova della sussistenza delle condizione di non applicazione delle cause di esclusione, come richiesto al punto d) della presente domanda, il nome del file allegato dovrà essere ""SDA FARMACI – XYZ – punto d)"".</p>
							<h3 style=""text-align:center""> ULTERIORE DOCUMENTAZIONE </h3>
							<br/>
	");

	int row6;

	row6 = DOC_NumRow("DOCUMENTAZIONE", "");

	htmlToReturn.Write($@"
		<table style=""border: 0px solid black; border-collapse: collapse; width: 80%"" align=""center"" cellpadding=""5"">
			<tr style=""height: 18px"">
				<td style=""border: 0px solid black;"" width=""40%"">Descrizione</td>
				<td style=""border: 0px solid black;"" width=""40%"">Allegato</td>
			</tr>
	");

	for (int i = 0; i <= row6 - 1; i++)
	{//to row6-1
		htmlToReturn.Write($@"
			<tr style=""height: 20px"">
				<td style=""border: 0px solid black;"" width=""20%""><font class=""Input"">" + DOC_FieldRow("DOCUMENTAZIONE", "Descrizione", i) + $@"</font></td>
				<td style=""border: 0px solid black;"" width=""20%""><font class=""Input"">" + DOC_FieldRow("DOCUMENTAZIONE", "Allegato", i) + $@"</font></td>
			</tr>
		");

	}

	htmlToReturn.Write($@"
		</table>

								</div>
							</div>
						</td>
					</tr>
	");

	footer(htmlToReturn);

	htmlToReturn.Write($@"
		</table>
	<!-- fine pagina 4-->
	");


	string RichiediProdotti;
	RichiediProdotti = DOC_FieldTecnical("TESTATA", "RichiediProdotti");
	if (RichiediProdotti == "1")
	{
		PrintPagina(htmlToReturn);
		htmlToReturn.Write($@"
			<table style=""width: 800px; height: 1400px;""
		");
		Header(htmlToReturn);
		htmlToReturn.Write($@"
			<!--BUGGGGGG-->
					<tr>
						<td height=""100%"" valign=""top"">
							<div style=""text-align: center; width: 800px"">
								<div>
									<h1><center><b>Lista Articoli</b></center></h1>

		");
		int cols;
		cols = objDoc.Sections["PRODOTTI"].mp_Columns.Count;
		int c;
		htmlToReturn.Write($@"
			<table  style=""border: 0px solid black; border-collapse: collapse; width: 800px ;font-size:7pt;"" align=""center"" >
										<tr style=""height: 18px;width: 80% ; font-size:7pt;"">
		");
		for (c = 2; c <= cols; c++)
		{// to cols
			htmlToReturn.Write($@"

				<td style=""border: 0px solid black;font-size:7pt;width: auto;"" >" + Strings.Replace(DOC_FieldRow_Label("PRODOTTI", objDoc.Sections["PRODOTTI"].mp_Columns.ElementAt(c - 1).Value.Name), @"/", @" /") + $@"</td>

			");
		}
		htmlToReturn.Write($@"
			</tr>


		");

		int nr;
		//'recupero il numero di righe della griglia PRODOTTI
		nr = DOC_NumRow("PRODOTTI", "");
		int Row_X_Pag;
		int NumeroPagine;
		Row_X_Pag = 39;
		NumeroPagine = CInt(nr / Row_X_Pag);

		if (NumeroPagine * Row_X_Pag < nr)
		{
			NumeroPagine = NumeroPagine + 1;
		}
		int numpagprodotti = 1;
		if (numpagprodotti <= NumeroPagine)
		{
			for (int i = 0; i <= Row_X_Pag * numpagprodotti; i++)
			{// to Row_X_Pag * numpagprodotti
				if (i == nr)
				{
					break;
				}
				htmlToReturn.Write($@"
					<tr style=""height: 18px;width: 80%;font-size:7pt;"">
				");
				for (c = 2; c <= cols; c++)
				{ //to cols %>
					htmlToReturn.Write($@"
						<td style=""border: 0px solid black; width: auto; "" width=""20 % ""><font class=""prodotti"">" + DOC_FieldRow("PRODOTTI", objDoc.Sections["PRODOTTI"].mp_Columns.ElementAt(c - 1).Value.Name, i) + $@"</font></td>
				");
				}
				htmlToReturn.Write($@"
					</tr>

				");
			}
			numpagprodotti = numpagprodotti + 1;
		}

		htmlToReturn.Write($@"


									</table>

								</div>
							</div>
						</td>
					</tr>


		");
		footer(htmlToReturn);
		htmlToReturn.Write($@"

			</table>
		");
		if (NumeroPagine > 1)
		{
			for (int k = 1; k <= NumeroPagine - 1; k++)
			{ //to NumeroPagine-1 %>
				htmlToReturn.Write($@"
					<!--inizio nuova pagina -->
				");
				PrintPagina(htmlToReturn);
				htmlToReturn.Write($@"
					<table style=""width: 800px; height: 1400px;""
				");
				Header(htmlToReturn);
				htmlToReturn.Write($@"
					<tr>
						<td height=""100%"" valign=""top"">
							<div style=""text-align: left; width: 100%"">
								<div>

									<table  style=""border: 0px solid black; border-collapse: collapse; width: 800px ;font-size:7pt;"" align=""center"" >

										<tr style=""height: 18px;width: 80% ; font-size:7pt;"">
				");
				for (c = 2; c <= cols; c++)
				{// to cols
					htmlToReturn.Write($@"
						<td style=""border: 0px solid black;font-size:7pt;width: auto;"" >" + Strings.Replace(DOC_FieldRow_Label("PRODOTTI", objDoc.Sections["PRODOTTI"].mp_Columns.ElementAt(c - 1).Value.Name), @"/", @" /") + $@"</td>

						");
				}
				htmlToReturn.Write($@"
										</tr>

				");

				for (int i = ((Row_X_Pag * (numpagprodotti - 1)) + 1); i <= Row_X_Pag * numpagprodotti; i++)
				{//to
					if (i == nr)
					{
						break;
					}
					htmlToReturn.Write($@"
						<tr style=""height: 18px;width: 80%;font-size:7pt;"">
					");
					for (c = 2; c <= cols; c++)
					{// to cols
						htmlToReturn.Write($@"
							<td style=""border: 0px solid black;width: auto;"" width=""20%""><font class=""prodotti"">" + DOC_FieldRow("PRODOTTI", objDoc.Sections["PRODOTTI"].mp_Columns.ElementAt(c - 1).Value.Name, i) + $@"</font></td>
						");
					}
					htmlToReturn.Write($@"
						</tr>

					");

				}
				numpagprodotti = numpagprodotti + 1;


				htmlToReturn.Write($@"


									</table>

								</div>
							</div>
						</td>
					</tr>
				");
				footer(htmlToReturn);
				htmlToReturn.Write($@"
					</table>
					<!--fine nuova pagina -->
			");
			}
		}
	}

	htmlToReturn.Write($@"
				</center>

		</body>
		</html>

	");

	void PrintPagina(EprocResponse response)
	{

		response.Write($@"<div style=""page-break-after: always""></div>");

	}

	void Header(EprocResponse response)
	{

		if (DOC_FieldTecnical("DOCUMENT", "StatoDoc") == "Annullato")
		{
			response.Write($@" style=""background-image:url(../images/annullato.gif) ; background-repeat:no-repeat;"" >");
		}
		else
		{
			response.Write($@">");
		}

		response.Write($@"<tr><td height=""50px"" align=""center"" valign=""top"" >");

		string imgHeader = ApplicationCommon.CNV("HEADER_STAMPE");

		if (imgHeader.Contains("???", StringComparison.Ordinal))
		{
			response.Write($@"<img height=""50px"" src=""logo_new.gif"" border=""0"" alt=""" + ApplicationCommon.CNV("ALT LOGO") + @"""/>");
		}
		else
		{
			response.Write(imgHeader);
		}

		response.Write($@"</td></tr>");

	}

	void footer(EprocResponse response)
	{

		NumPag = NumPag + 1;

		response.Write($@"<tr><td valign=""bottom"" height=""10px"" >");
		response.Write($@"<table width=""720px"" height=""10px"" style=""vertical-align: bottom; bottom: 0px""> ");
		response.Write($@"        <tr><td align=""left"" style=""border-bottom: 1px solid black;"" ><b>Richiesta di Ammissione al Sistema Dinamico di Acquisizione</b></td></tr><tr>");
		response.Write($@"            <td valign=""bottom"" align=""right"" >");
		response.Write($@"                ");
		response.Write($@"                  <br>");
		response.Write($@"                " + NumPag);
		response.Write($@"            </td>");
		response.Write($@"        </tr>");
		response.Write($@"    </table>");
		response.Write($@"    </td></tr>");

	}

	try
	{
		FreeMemDocument(session);
	}
	catch
	{

	}
}
@Html.Raw(htmlToReturn.Out())