@page "/Report/risultatodigara.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.print_documentModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.CommonModel;
@using static eProcurementNext.Razor.Pages.Functions.CNVModel;
@using static eProcurementNext.Razor.Pages.Report.risultatodigaraModel;
@using Microsoft.VisualBasic;
@model eProcurementNext.Razor.Pages.Report.risultatodigaraModel
@using static eProcurementNext.Session.SessionMiddleware
@{
	CommonDbFunctions cdf = new();
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new();
	objDoc = PrintDocument(session, htmlToReturn, HttpContext,Response,Request);//PrintDocument ok
}
@{

	int IdMp = session["IdMp"];

	htmlToReturn.Write($@"<div id=""breadcrumb"">

								<span>Ti trovi in:</span> <a href=""/portale/index.asp"">Area Pubblica</a> / <a href=""/portale/dashboard/bandi.asp?ModGriglia=DASHBOARD_VIEW_BANDITRADIZIONALIPUBBLICIGriglia&captionArea=Area pubblica&activetab1=activetab&TABINCLUDE=,1,2,3,4,&NOTLOCKGRID=1&UNICAPAGINA=1&PAGEDEST=bandi.asp&PAGINAZIONE=0&TOOLBAR_PAGINAZIONE=0&AreaFiltroWin=0&ShowExit=0&POSITIONALMODELGRID=&backoffice=yes&Table=DASHBOARD_VIEW_BANDI_FORN_SERV_PUBB&OWNER=&IDENTITY=IDMSG&TOOLBAR=&DOCUMENT=&PATHTOOLBAR=&AreaAdd=no&Height=120,600,210&numRowForPag=12&Sort=expirydate&SortOrder=desc&ACTIVESEL=1&FilterHide=(Tipologia in (1,2,3) and Scaduto=0)&Caption=" + ApplicationCommon.CNV("Bandi") + $@""">" + ApplicationCommon.CNV("Bandi") + "</a> / <strong>Risultato di Gara" + GetParamURL(Request.QueryString.ToString(), "PROTOCOLLOBANDO") + $@"</strong>

	                       		</div>
        	                <div class=""tips"">
                            	    <div class=""tipsbar"">
                               			<a href=""#suggerimento"">nascondi suggerimenti</a>
                                		<a href=""#suggerimento"" class=""suggest"">mostra suggerimenti</a>
                            	    </div>
                            	    <div id=""suggerimento"" class=""tipscontent"">
										Per salvare o leggere il contenuto degli allegati e' sufficiente cliccare sul link. Per la stampa della pagina
										cliccare sull'icona della stampante.
									</div>
	                        </div>                                                


						<div >
							<div id=""paginazione"" class=""paging"">
								<div class=""icons"">
									<a href=""javascript:window.print();"" class=""print"">" + ApplicationCommon.CNV("StampaEffettiva") +
				  $@"</a>
								</div>
								<ul>

									<li><strong>" + ApplicationCommon.CNV("ML_NOMEPORTALE") + $@"</strong></li>

								</ul>
	  						</div>

						</div>

						<table id=""template_doc"" >

						<thead>
						<tr>
						  <th colspan=""4"" align=left nowrap>Riepilogo Risultato di Gara</th>
						</tr>
						</thead>

   						<tbody>

 							<tr>
  							  <th  >Oggetto</th> 
							  	<td >" + DOC_Field("TESTATA", "Oggetto") + $@"</td>
 							</tr>
							<tr>

  								<th  >Risultato di Gara</th> 
					    			<td >
  										<table border=""0"" width=""96%"" id=""table1"" >");

	int i;
	int nr;
	nr = DOC_NumRow("PRODOTTI", "");

	if (nr > 0)
	{
		Fld_Attach objattach = new Fld_Attach();

		htmlToReturn.Write($@"<tr class=""""><td class=""CellIntestGrid""><font class=""PrintCols"">Data Pubblicazione</font></td><td class=""CellIntestGrid""><font class=""PrintCols"">Descrizione</font></td><td class=""CellIntestGrid""><font class=""PrintCols"">Allegato</font></td></tr>");

		for (i = 0; i <= nr - 1; i++)
		{ //to nr-1
			htmlToReturn.Write($@"<tr>

				<td class=""CellGridPrintProducts"">"
				+ DOC_FieldRow("PRODOTTI", "DataIns", i) +
										$@"</td>
				<td class=""CellGridPrintProducts"">"
				+ DOC_FieldRow("PRODOTTI", "Precisazione", i) +
										$@"</td>

				<td class=""linkAttachment"">");

			objattach.Init(18, "Allegato", DOC_FieldRowTecnical("PRODOTTI", "Allegato", i), null, null, "", true);
			objattach.Html(htmlToReturn, false);
			htmlToReturn.Write($@"

				</td>

			</tr>");

		}
	}


		htmlToReturn.Write($@"</table>
   				</td>
			</tr>
			</tbody>	
			</table>
		");


	//'-- Testo aggiunto in automatico per liberare la memoria dei nuovi report
	try
	{
		FreeMemDocument(session);
	}
	catch
	{

	}
}
@Html.Raw(htmlToReturn.Out())