TABLE.ButtonBar_Table
{
    BORDER-TOP: thin;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: transparent
}
.ButtonBar_Button
{
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: maroon;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left;
    TEXT-DECORATION: underline
}
