TEXTAREA.TextArea
{
    WIDTH: 100%
}
TEXTAREA.TextAreaFull
{
    WIDTH: 100%;
    HEIGHT: 100%
}
TABLE.Foto_Tab
{
}
TD.Foto_label
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
INPUT.Fld_Number
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
SELECT.FldDomainValue
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: Arial
}
LABEL.Fld_number
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
