BODY
{ font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
TABLE.GridContainerHeaderHome
{
    BORDER-RIGHT: silver 2px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: silver 2px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: silver 2px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: silver 2px;
    BACKGROUND-COLOR: white
}
TD.CellGridContainerHeaderHome
{
    BORDER-RIGHT: white 0px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: white 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: white 0px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: white 0px;
    BACKGROUND-COLOR: white
}
TABLE.GridLogoHeaderHome
{
    BORDER-RIGHT: white;
    PADDING-RIGHT: 0px;
    BORDER-TOP: white;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: white;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: white;
    BACKGROUND-COLOR: white
}
TD.CellGridLogoHeaderHome
{
    BORDER-RIGHT: white 0px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: white 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: white 0px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: white 0px;
    BACKGROUND-COLOR: white
}
TABLE.GridTailHeaderHome
{
    BORDER-RIGHT: white;
    PADDING-RIGHT: 0px;
    BORDER-TOP: white;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: white;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: white;
    BACKGROUND-COLOR: white
}
TD.CellGridTailHeaderHome
{
    BORDER-RIGHT: white 0px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: white 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: white 0px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: white 0px;
    BACKGROUND-COLOR: white
}
TABLE.GridLinkHeaderHome
{
    BORDER-RIGHT: white;
    PADDING-RIGHT: 0px;
    BORDER-TOP: white;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: white;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: white;
    BACKGROUND-COLOR: white
}
TD.CellGridLinkHeaderHome
{
    BORDER-RIGHT: white 0px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: white 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 0.75em;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: white 0px;
    COLOR: blue;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: white 0px;
    
}
SPAN
{
    CURSOR: pointer
}
BODY.BodyHeaderHome
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: white
}
.LinkHeaderHome
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 0.8em;
    COLOR: #ececec;
    LINE-HEIGHT: 0.75em;
	background:#515151 url(../../images/karo.gif)  left center no-repeat;
	padding-left:13px;
}
.LinkHeaderHome:hover{ text-decoration:underline;}

.TextHeaderHome
{
    FONT-SIZE: 0.75em;
    COLOR: white;
    LINE-HEIGHT: 0.75em;
    
    TEXT-DECORATION: none
}
.FontDescFolder
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: white;
	text-align:left;
	padding-left:20px;
    
}
TABLE.GridToolBar
{
}
TABLE.GridLabel
{
    BACKGROUND-COLOR: #515151;
}
TD.HeadGridGroupMain
{
    FONT-SIZE: 14px;
    COLOR: white;
    HEIGHT: 28px;
    BACKGROUND-COLOR: #CB1D15;
}
