BODY
{
    BACKGROUND-COLOR: #fcf0d4
}
TABLE.GridActionFolder
{
    BORDER-RIGHT: white thin;
    PADDING-RIGHT: 0px;
    BORDER-TOP: black 1px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: white thin;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: white thin;
    BACKGROUND-COLOR: whitesmoke
}
TD.CellGridActionFolder
{
    BORDER-RIGHT: white thin;
    PADDING-RIGHT: 5px;
    BORDER-TOP: white thin;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 5px;
    MARGIN: 0px;
    BORDER-LEFT: white thin;
    COLOR: #161a74;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: white thin;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white;
    TEXT-DECORATION: none
}
A
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #161a74;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
BODY.BodyListMessages
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 0px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
TABLE.GridListMessages
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: white
}
TD.CellGridListMessages
{
    BORDER-RIGHT: gray 1px;
    PADDING-RIGHT: 2px;
    BORDER-TOP: gray 1px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    BORDER-LEFT: gray 1px;
    COLOR: #161a74;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e9edf3
}
A.CellGridListMessages
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #161a74;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
TR.Cell2GridListMessages
{
}
TD.CellGridHelpTender
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    WIDTH: 20%;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: silver
}
TABLE.GridHelpTender
{
    WIDTH: 100%
}
TD.CellGridListTender
{
    FONT-SIZE: 8pt;
    COLOR: black;
    LINE-HEIGHT: 8pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
TD.Cell1GridListMessages
{
    BORDER-RIGHT: white thin;
    PADDING-RIGHT: 0px;
    BORDER-TOP: white thin;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: white thin;
    COLOR: black;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: white thin;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white;
    TEXT-DECORATION: none
}
.FontTextMessages
{
    FONT-SIZE: 8pt;
    COLOR: #161a74;
    LINE-HEIGHT: 8pt;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.TextLink
{
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: black;
    LINE-HEIGHT: 8pt;
    FONT-STYLE: italic;
    FONT-FAMILY: Arial
}
.FontTextIceRiepilogo
{
    FONT-SIZE: 8pt;
    COLOR: #808080;
    FONT-FAMILY: Arial
}
.FontNewMessageUnderline
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: #161a74;
    LINE-HEIGHT: 8pt;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
.FontReadMessageUnderline
{
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: #161a74;
    LINE-HEIGHT: 8pt;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
.FontNewMessage
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: black;
    LINE-HEIGHT: 8pt;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.FontReadMessage
{
    FONT-SIZE: 8pt;
    COLOR: #161a74;
    LINE-HEIGHT: 8pt;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.FontNewMessageNotLink
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #161a74;
    LINE-HEIGHT: 8pt;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
TD.CellGridIntestListTender
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #161a74;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: khaki;
    TEXT-ALIGN: left
}
TABLE.GridListTender
{
    WIDTH: 100%
}
A:link
{
    COLOR: #161a74
}
.FontDescFolder
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.FoglieBluSott
{
    FONT-SIZE: 8pt;
    COLOR: #161a74
}
.cellgridriepilogo
{
    BORDER-RIGHT: lightgrey 1pt;
    BORDER-TOP: darkgray 1pt solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: lightgrey 1pt;
    COLOR: black;
    BORDER-BOTTOM: lightgrey 1pt;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.hrsep
{
    BORDER-RIGHT: black 1pt solid;
    BORDER-TOP: black 1pt solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: black 1pt solid;
    COLOR: black;
    BORDER-BOTTOM: black 1pt solid;
    FONT-FAMILY: Arial
}
.cellgridriepilogo1
{
    BORDER-RIGHT: darkgray 1px;
    BORDER-TOP: darkgray 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: darkgray 1px;
    COLOR: black;
    BORDER-BOTTOM: darkgray 1px;
    FONT-FAMILY: Arial
}
TD.CellNumeric
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: darkred;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
TD.CellNumeric1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: right
}
TD.DescrRagSoc
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
TABLE.testata
{
    BACKGROUND-COLOR: #febf00
}
TD.testatam
{
    FONT-WEIGHT: 900;
    FONT-SIZE: x-large;
    FONT-FAMILY: Arial
}
TD.aflsoluzioni
{
    BORDER-TOP: gray 2px solid;
    PADDING-TOP: 3px
}
TD.top_formlogin
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 13pt;
    COLOR: #256662;
    BORDER-BOTTOM: #7f7f7f 2px solid;
    FONT-FAMILY: Arial
}
TD.SeparateLogin
{
    BORDER-RIGHT: black 1px solid
}
TD.datetime
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #256662;
    FONT-FAMILY: Arial
}
TD.UserName
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #256662;
    FONT-FAMILY: Arial
}
TD.esci
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: #256662;
    FONT-FAMILY: Arial
}
SPAN.ancora
{
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: #256662;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
TD.captionOver
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 14pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
TD.sponsor
{
    BORDER-RIGHT: #256662 1px;
    BORDER-TOP: #256662 1px outset;
    MARGIN-TOP: 2px;
    BORDER-LEFT: #256662 1px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #256662 1px;
    TEXT-ALIGN: center
}
TABLE.ContainerSponsor
{
    BACKGROUND-COLOR: orange
}
TABLE.containerSponsor
{
    BORDER-RIGHT: #256662 1px;
    BORDER-TOP: #256662 1px;
    BORDER-LEFT: #256662 1px;
    BORDER-BOTTOM: #256662 1px;
    BACKGROUND-COLOR: #febf00
}
TD.footer_portale
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 10pt;
    COLOR: #256662;
    FONT-FAMILY: Arial;
    HEIGHT: 10px;
    BACKGROUND-COLOR: #febf00
}
TD.BodyPortale
{
    BORDER-RIGHT: #256662 1px solid;
    BORDER-TOP: #256662 1px solid;
    BORDER-LEFT: #256662 1px solid;
    BORDER-BOTTOM: #256662 1px solid
}
