/*@charset "utf-8";
html, body, div, span,applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dd, dl, dt, li, ol, ul,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;font-weight: inherit;font-style: inherit; line-height: 1;font-family: inherit;text-align: left;vertical-align: baseline;}
a img, :link img, :visited img {border: 0;}
table{border-collapse: collapse;border-spacing: 0; margin-bottom:3px;/* border:1px solid #ccc;}
ol, ul {list-style: none;}
q:before, q:after,blockquote:before, blockquote:after {content: "";}
html,body{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#333;}

.maincontent{ width:98%; margin-top:15px; margin:0 auto; min-width:1000px;}
h1{ font-size:21px; font-weight:bold; line-height:3;}
h1 span{ font-size:16px; color:#666; font-weight:normal; line-height:51px;}
h1 em{ font-weight:normal; font-size:14px;}
h2{ font-size:18px; text-transform:uppercase;}
h3{ font-size:16px; line-height:28px; font-weight:bold;}
h4{ font-size:16px; font-style:italic; margin-bottom:10px; margin-top:10px; font-weight:bold;}
em{ color:#999; font-style:italic; font-weight:normal;}
strong{font-weight:bold;}
.campi{background:#F4F4F4; padding:20px; margin-top:20px;}
.campi div{overflow:auto;}


#DICHIARAZIONE_comune input, #DICHIARAZIONE_comune select {background-color: #FFFFFF; border: 1px solid #ccc; color: #696969; font-size: 12px; margin-top: 3px; margin-bottom:7px; padding: 5px; margin-right:10px; display:block;}
#DICHIARAZIONE_comune input:hover, #DICHIARAZIONE_comune select:hover{ border-color:#666;}
#DICHIARAZIONE_comune input:focus, #DICHIARAZIONE_comune select:focus{ border-color:#666;}



nput.ButtonHyerarchiesVerticalModel {background-color: #ececec; color: #666; font-size: 12px;  width:13px; cursor:pointer;}
#DICHIARAZIONE_comune .inputdiv{ float:left; margin-top:5px; margin-left:10px;}
#DICHIARAZIONE_comune .inputdiv strong{ font-size:14px;}
#DICHIARAZIONE_comune .campi ul { margin-left:20px;}
#DICHIARAZIONE_comune .campi ul li{ list-style-type:decimal; font-weight:bold; font-size:14px; text-align:justify; padding-top:5px;}
#DICHIARAZIONE_comune .campi ul.listdetails{ padding-left:15px; font-style:italic; padding-top:10px;}
#DICHIARAZIONE_comune .campi ul.listdetails li{font-weight:normal; list-style-type:lower-alpha;font-size:12px;}
#DICHIARAZIONE_comune .campi ul li input, .campi ul li select{ display:inline;}
#DICHIARAZIONE_comune .campi ul.liststylenone li, .campi ul.numeric li ul.liststylenone li{ list-style-type:none; padding-top:5px; font-weight:normal;}
#DICHIARAZIONE_comune.textarea{ width:100%; height:70px;}
#DICHIARAZIONE_comune .campi ul li textarea, .campi ul li input{ margin-top:5px; margin-bottom:5px;}
#DICHIARAZIONE_comune .campi ul.numeric li{ list-style-type:decimal; font-weight:normal;}
#DICHIARAZIONE_comune ul.links li{ display:inline; font-size:12px; vertical-align:middle;}
#DICHIARAZIONE_comune ul.links a{ text-decoration:none; padding-left:30px; color:#666; display:inline-block; height:30px; line-height:3; padding-right:20px;}
#DICHIARAZIONE_comune ul.links a:hover{ text-decoration:underline; color:#333;}
#DICHIARAZIONE_comune .bin{ background:url(../../../images/General/LabelListFunctions/DeleteArticle.png) center left no-repeat;}
#DICHIARAZIONE_comune .attach{ background:url(../../../images/General/LabelListFunctions/InsertArticle.png) center left no-repeat;}
#DICHIARAZIONE_comune table{ margin-top:10px;}
#DICHIARAZIONE_comune table td{ vertical-align:middle; padding:5px; border-bottom:1px solid #ccc;}
#DICHIARAZIONE_comune table th{ height:30px; font-weight:bold; background:#ccc; vertical-align:middle; }
#DICHIARAZIONE_comune table th.allegato{ min-width:60px;}
#DICHIARAZIONE_comune .generapdf{ width:150px; height:32px; background:url(../../../images/General/LabelListFunctions/generapdf.png) bottom left no-repeat; border:none; color:#fff; font-weight:bold; cursor:pointer; font-size:11px;}
#DICHIARAZIONE_comune .generapdf:hover{background:url(../../../images/General/LabelListFunctions/generapdf.png) top left no-repeat;}
#DICHIARAZIONE_comune .attachpdf{ width:150px; height:32px; background:url(../../../images/General/LabelListFunctions/attachpdf.png) bottom left no-repeat; border:none; color:#990000; font-weight:bold; cursor:pointer; font-size:11px;}
#DICHIARAZIONE_comune .attachpdf:hover{background:url(../../../images/General/LabelListFunctions/attachpdf.png) top left no-repeat;}
*/

@charset "utf-8";
html, body, div, span,applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dd, dl, dt, li, ol, ul,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;font-weight: inherit;font-style: inherit; line-height: 1;font-family: inherit;text-align: left;vertical-align: baseline;}
a img, :link img, :visited img {border: 0;}
table{border-collapse: collapse;border-spacing: 0; margin-bottom:3px;/* border:1px solid #ccc;*/}
ol, ul {list-style: none;}
q:before, q:after,blockquote:before, blockquote:after {content: "";}
html,body{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#333;}

.maincontent{ width:98%; margin-top:15px; margin:0 auto; min-width:1000px;}
h1{ font-size:21px; font-weight:bold; line-height:3;}
h1 span{ font-size:16px; color:#696969; font-weight:normal; line-height:51px;}
h1 em{ font-weight:normal; font-size:14px;}
h2{ font-size:18px; text-transform:uppercase;}
h3{ font-size:16px; line-height:28px; font-weight:bold;}
h4{ font-size:16px; font-style:italic; margin-bottom:10px; margin-top:10px; font-weight:bold;}
em{ color:#999; font-style:italic; font-weight:normal;}
strong{font-weight:bold;}
.campi{background:#F4F4F4; padding:20px; margin-top:20px;}
.campi div{overflow:hidden; display:inline-block;}


#DICHIARAZIONE_comune Textarea.TextArea, #DICHIARAZIONE_comune input, #DICHIARAZIONE_comune select, {background-color: #FFFFFF; border: 1px solid #ccc; color: #696969; font-size: 12px; margin-top: 3px; margin-bottom:7px; display:block;}
#DICHIARAZIONE_comune Textarea.TextArea:hover, #DICHIARAZIONE_comune input:hover, #DICHIARAZIONE_comune select:hover{ border-color:#696969;}
#DICHIARAZIONE_comune Textarea.TextArea:focus, #DICHIARAZIONE_comune input:focus, #DICHIARAZIONE_comune select:focus{ border-color:#696969;}
/*#DICHIARAZIONE_comune label{ padding-left:10px;}*/

/*#DICHIARAZIONE_comune div.data input{ display:inline-block;}*/
#DICHIARAZIONE_comune .inputdiv input.ButtonHyerarchiesVerticalModel {background-color: #ececec; color: #696969; font-size: 12px;  width:13px; cursor:pointer; width:17px; text-align:center; display:inline; border: 1px solid #ccc;}
/*#DICHIARAZIONE_comune .inputdiv select{ display:inline}*/
#DICHIARAZIONE_comune ul.listdetails select{ display:inline}

#DICHIARAZIONE_comune input, #DICHIARAZIONE_comune select{height:20px; display:block; margin-top:2px;}
#DICHIARAZIONE_comune .TextField{ width:100px;}
#DICHIARAZIONE_comune .inputdiv{ float:left; margin-top:5px; margin-right:5px; margin-bottom:5px;}
#DICHIARAZIONE_comune .inputdiv strong{ font-size:14px;}
#DICHIARAZIONE_comune .campi ul { margin-left:20px;}
#DICHIARAZIONE_comune .campi ul li{ list-style-type:decimal; font-weight:bold; font-size:14px; text-align:justify; padding-top:5px;}
#DICHIARAZIONE_comune .campi ul.listdetails{ padding-left:15px; font-style:italic; padding-top:10px;}
#DICHIARAZIONE_comune .campi ul.listdetails li{font-weight:normal; list-style-type:lower-alpha;font-size:12px;}
#DICHIARAZIONE_comune .campi ul li input, .campi ul li select{ display:inline; vertical-align:middle;}
#DICHIARAZIONE_comune .campi ul.liststylenone li, #DICHIARAZIONE_comune .campi ul.numeric li ul.liststylenone li{ list-style-type:none; padding-top:5px; font-weight:normal;}
#DICHIARAZIONE_comune.textarea{ width:100%; height:70px;}
#DICHIARAZIONE_comune .campi ul li textarea, .campi ul li input{ margin-top:5px; margin-bottom:5px; border: 1px solid #ccc;}
#DICHIARAZIONE_comune .campi ul.numeric li{ list-style-type:decimal; font-weight:normal;}
#DICHIARAZIONE_comune ul.links li{ display:inline; font-size:12px; vertical-align:middle;}
#DICHIARAZIONE_comune ul.links a{ text-decoration:none; padding-left:30px; color:#696969; display:inline-block; height:30px; line-height:3; padding-right:20px;}
#DICHIARAZIONE_comune ul.links a:hover{ text-decoration:underline; color:#333;}
#DICHIARAZIONE_comune .bin{ background:url(../../../images/General/LabelListFunctions/DeleteArticle.png) center left no-repeat;}
#DICHIARAZIONE_comune .attach{ background:url(../../../images/General/LabelListFunctions/InsertArticle.png) center left no-repeat;}
#DICHIARAZIONE_comune table{ margin-top:10px;}
#DICHIARAZIONE_comune table th{ height:30px; font-weight:bold; background:#ccc; vertical-align:middle; }
#DICHIARAZIONE_comune table th.allegato{ min-width:60px;}
#DICHIARAZIONE_comune .generapdf{ width:150px; height:32px; background:url(../../../images/General/LabelListFunctions/generapdf.png) bottom left no-repeat; border:none; color:#fff; font-weight:bold; cursor:pointer; font-size:11px;}
#DICHIARAZIONE_comune .generapdf:hover{background:url(../../../images/General/LabelListFunctions/generapdf.png) top left no-repeat;}
#DICHIARAZIONE_comune .attachpdf{ width:150px; height:32px; background:url(../../../images/General/LabelListFunctions/attachpdf.png) bottom left no-repeat; border:none; color:#990000; font-weight:bold; cursor:pointer; font-size:11px;}
#DICHIARAZIONE_comune .attachpdf:hover{background:url(../../../images/General/LabelListFunctions/attachpdf.png) top left no-repeat;}
#DICHIARAZIONE_comune p{ font-size:12px;}
#DICHIARAZIONE_comune input.radio{ width:15px; border:none;}
#DICHIARAZIONE_comune input.largeinput{ width:230px;}
.largediv{ width:100%;}
.SelectFieldVerticalModel{border: 1px solid #ccc; color: #696969;}
#DICHIARAZIONE_comune .campi ul li .Table_Radio input{ border:none;}
#DICHIARAZIONE_comune .campi .inputdiv select.SelectFieldVerticalModel{ border:1px solid #CCC;}
#DICHIARAZIONE_comune div.data label{display:inline;}