BODY
{
}
BODY.bodyAdviseInfo
{
    BACKGROUND-COLOR: white
}
.loading
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: 'Times New Roman'
}

.Advise {
	font: normal normal normal medium "Times New Roman";
	text-align:"center";
	background: #ffffff none repeat scroll 0% 0%;
	position:absolute;
	left:120px;
	top:240px;
        FONT-WEIGHT: bold;
        FONT-SIZE: 12pt;
        COLOR: black;
	z-index:0;

}
