BODY
{
}
TABLE.GridPag
{
    WIDTH: 100%
}
INPUT.ButtonPag
{
    BORDER-RIGHT: #161a74 1px outset;
    BORDER-TOP: #161a74 1px outset;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #161a74 1px outset;
    COLOR: #161a74;
    BORDER-BOTTOM: #161a74 1px outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e9edf3
}
TD.CellGridPag
{
    WIDTH: 25%
}
.FontInfoPag
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial
}
