BODY
{
}
TABLE.GridCommandProducts
{
}
TD.CellGridCommandProducts
{
    CURSOR: hand
}
.FoglieBluSott
{
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: #161a74;
    LINE-HEIGHT: 8pt;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
TD.CellGridCommand
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: goldenrod
}
