BODY
{
}
TABLE.GridDossierGlobal
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    WIDTH: 100%;
    BORDER-BOTTOM: medium none
}
TD.CellGridDossierGlobal
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: medium none;
    WIDTH: 20%;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none;
    HEIGHT: 100%
}
.fontlinkMenu
{
    FONT-SIZE: 8pt;
    COLOR: darkred;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
