BODY.BodyListFunction
{
    BACKGROUND-COLOR: gainsboro;
    MARGIN-LEFT: 5px;
    MARGIN-RIGHT: 0px;
    MARGIN-TOP: 0px
}
TABLE.GridListFunction
{
    WIDTH: 194px
}
TD.CellGridListFunction
{
}
.FontLinkSelectedListFunction
{
    COLOR: white;
    CURSOR: hand;
    FONT-FAMILY: arial;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold
}
.FontLinkNotSelectedListFunction
{
    COLOR: white;
    CURSOR: hand;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal
}
.FontLinkMessageListFunctions
{
    COLOR: black;
    CURSOR: hand;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt
}
.FontLinkNoMessageListFunctions
{
    COLOR: white;
    CURSOR: hand;
    FONT-FAMILY: Arial;
    FONT-SIZE: 9pt
}
TABLE.GridConteinerListFunction
{
    BACKGROUND-COLOR: gainsboro;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
TD.CellGridConteinerListFunction
{
}
