BODY
{
}
TABLE.GridContainerHeaderHome
{
    BACKGROUND-COLOR: #d8f3fc;
    BORDER-BOTTOM: silver 2px;
    BORDER-LEFT: silver 2px;
    BORDER-RIGHT: silver 2px;
    BORDER-TOP: silver 2px;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
TD.CellGridContainerHeaderHome
{
    BACKGROUND-COLOR: #d8f3fc;
    BORDER-BOTTOM: white 0px;
    BORDER-LEFT: white 0px;
    BORDER-RIGHT: white 0px;
    BORDER-TOP: white 0px;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
TABLE.GridLogoHeaderHome
{
    BACKGROUND-COLOR: #d8f3fc;
    BORDER-BOTTOM: white;
    BORDER-LEFT: white;
    BORDER-RIGHT: white;
    BORDER-TOP: white;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    WIDTH: 100%
}
TD.CellGridLogoHeaderHome
{
    BACKGROUND-COLOR: #d8f3fc;
    BORDER-BOTTOM: white 0px;
    BORDER-LEFT: white 0px;
    BORDER-RIGHT: white 0px;
    BORDER-TOP: white 0px;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
TABLE.GridTailHeaderHome
{
    BACKGROUND-COLOR: #d8f3fc;
    BORDER-BOTTOM: white;
    BORDER-LEFT: white;
    BORDER-RIGHT: white;
    BORDER-TOP: white;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    WIDTH: 100%
}
TD.CellGridTailHeaderHome
{
    BACKGROUND-COLOR: #d8f3fc;
    BORDER-BOTTOM: white 0px;
    BORDER-LEFT: white 0px;
    BORDER-RIGHT: white 0px;
    BORDER-TOP: white 0px;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
TABLE.GridLinkHeaderHome
{
    BACKGROUND-COLOR: #d8f3fc;
    BORDER-BOTTOM: white;
    BORDER-LEFT: white;
    BORDER-RIGHT: white;
    BORDER-TOP: white;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
TD.CellGridLinkHeaderHome
{
    BORDER-BOTTOM: white 0px;
    BORDER-LEFT: white 0px;
    BORDER-RIGHT: white 0px;
    BORDER-TOP: white 0px;
    COLOR: blue;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
SPAN
{
    CURSOR: hand
}
BODY.BodyHeaderHome
{
    BACKGROUND-COLOR: white;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
.LinkHeaderHome
{
    COLOR: blue;
    CURSOR: hand;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 8pt;
    TEXT-DECORATION: underline
}
.TextHeaderHome
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    LINE-HEIGHT: 8pt;
    TEXT-DECORATION: none
}
