BODY
{
}
TABLE.GridPrint
{
}
TD.CellGridPrint
{
}
TABLE.GridHeaderFolderBar
{
    BACKGROUND-COLOR: darkslateblue;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    WIDTH: 200%
}
TD.CellGridHeaderFolderBar
{
    COLOR: white;
    FONT-FAMILY: Arial;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
TABLE.GridFieldsFolderBar
{
    BACKGROUND-COLOR: white;
    WIDTH: 200%
}
TD.CellGridFieldsFolderBar
{
    BACKGROUND-COLOR: silver;
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 1px;
    FONT-WEIGHT: 300;
    TEXT-DECORATION: none
}
TABLE.GridHeaderDocsPrint
{
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    WIDTH: 100%
}
TD.CellGridHeaderDocsPrint
{
    BACKGROUND-COLOR: white
}
.PrintTitle
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.PrintRagSoc
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 12pt;
    TEXT-DECORATION: none
}
.PrintCols
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.PrintValues
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt;
    TEXT-DECORATION: none
}
TABLE.GridPrintCover
{
    BACKGROUND-COLOR: white
}
TD.CellGridPrintCover
{
    BACKGROUND-COLOR: white
}
TABLE.GridPrintCG
{
    BACKGROUND-COLOR: white
}
TD.CellGridPrintCG
{
    BACKGROUND-COLOR: white
}
TABLE.GridPrintArticles
{
    BACKGROUND-COLOR: white
}
TD.CellGridPrintArticles
{
    BACKGROUND-COLOR: white
}
TABLE.GridPrintAttributes
{
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    WIDTH: 100%
}
TD.CellGridPrintAttributes
{
    BACKGROUND-COLOR: white
}
TABLE.GridPrintProducts
{
    BACKGROUND-COLOR: white
}
TD.CellGridPrintProducts
{
    BACKGROUND-COLOR: white
}
TABLE.GridPrintNotes
{
    BACKGROUND-COLOR: white;
    WIDTH: 100%
}
TD.CellGridPrintNotes
{
    BACKGROUND-COLOR: white
}
TABLE.GridPrintAttachments
{
    BACKGROUND-COLOR: white;
    WIDTH: 100%
}
TD.CellGridPrintAttachments
{
    BACKGROUND-COLOR: white
}
.PrintLink
{
    COLOR: blue;
    CURSOR: hand;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    LINE-HEIGHT: 8pt;
    TEXT-DECORATION: underline
}
