@*@{ TODO url pagina Abandon }*@
@page "Abandon.asp"
@using eProcurementNext.Razor;
@model eProcurementNext.Razor.Pages.CTL_LIBRARY.AbandonModel
@inject eProcurementNext.Session.ISession session;
@using static eProcurementNext.Session.SessionMiddleware
@{
	LoadSession(HttpContext, session);
}
<html>
	<head>
	</head>

	<body>
	@{
		LoadSession(HttpContext, session);
		MainGlobalAsa.SessionAbandon(HttpContext, session);
	}
	</body>

</html>