@page "/logoutall"
@inject eProcurementNext.Session.ISession session;
@model eProcurementNext.Razor.Pages.Admin.logout_allModel
@using static eProcurementNext.Session.SessionMiddleware
@* @{
    LoadSession(HttpContext, session);

    // TODO: inserire controlli di sicurezza
}
<h1>Logout di tutti gli utenti</h1>
@{
    bool success = SessionCleaningService.DeleteAllSessions();
}
<h3>@(success ? "Avvenuto con successo": "Fallito")</h3> *@