x_connectionstring:Data Source=172.16.0.103\AFSSE103;Initial Catalog=AFLink_PA_DEV;User ID=afsuser;Password=AFS.user!;Persist Security Info=false;Connection Timeout=50000;Network Library=DBMSSOCN;MultipleActiveResultSets=True
xx_connectionstring:Password=AFS.user!;Persist Security Info=True;User ID=afsuser;Initial Catalog=AFLink_PA_Dev;Data Source=172.16.0.103\afsse103;MultipleActiveResultSets=True
connectionstring:Data Source=SV-VM-01333;Initial Catalog=AFLink_PA_DEV;User ID=tssuser;Password=QPpEUU^Cv!5kqWV-;Persist Security Info=false;Connection Timeout=50000;Network Library=DBMSSOCN;MultipleActiveResultSets=True
tempdir:e:\PortaleGareTelematiche\Blobs\tempdir\
PathFolderAllegati:e:\PortaleGareTelematiche\Allegati\
PathBlobsEntry:e:\PortaleGareTelematiche\Blobs\
app.tsl_online:no
app.tsl_da_tabella:si
app.directory_output_p7m:e:\PortaleGareTelematiche\Allegati\
app.path_xml_tsl:e:\PortaleGareTelematiche\Web\Application\IT_TSL_signed.xml
--app.url_xml_tsl:https://eidas.agid.gov.it/TL/TSL-IT.xml
app.table_sign:CTL_SIGN_ATTACH_INFO
app.enableSignedCMS:YES
app.strVirtualDirectory:/Application
--purgeinterval è l'intervallo di verifica in minuti del purge ( cioè la pulizia dei file temporanei sia nel DB che sul file system )
app.purgeinterval:15
--purgeage è l'età, in minuti, che i file devono avere per essere eliminati
app.purgeage:1440
--se non specificato nel config, max_threads_count vale 0 ed implifica un numero infinito di thread. specificandolo vengono attivati al massimo N istanze dell'applicazione
max_threads_count:8
--flag per indicare la scrittura di una serie di trace nella tabella AfCommon_OperationLogEntryModelType
ATTIVA_TRACE:YES
-- attiva l'email di backoffice di errore
app.mailer:YES