@import url("standardColor.css");

:root {
    /* BASE VAPOR STANDARD */
    --main-color: #0066CC; /* COLORE PRINCIPALE */
    --main-header-menu-color: #0066CC; /* SFONDO HEADER IN ALTO E MENU A SX */
    --main-menu-color: #ffffff; /* SFONDO HEADER IN ALTO E MENU A SX */
    --main-footer-color: #0066CC; /* SFONDO HEADER IN ALTO E MENU A SX */
    --backgrund-submenu: #f1f1f1; /* SFONDO SUBMENU */
    --backgrund-submenu-li: #c3ddf7; /* HOVER E ACTIVE SUBMENU */
    --text-color-submenu-li: #152935; /* COLORE TESTO SUBMENU */
    --bg-pulsanti-menu: rgb(0,144,209); /* COLORE SFONDO PULSANTI */
    --bg-pulsanti-menu-gradient: linear-gradient(90deg, rgba(0,102,204,1) 0%, rgba(0,0,0,1) 100%); /* SFUMATURA SFONDO PULSANTI */
    --bg-pulsanti-menu-gradient-hover: #0066CC; /* SFUMATURA HOVER PULSANTI */
    --bg-pulsanti-menu-hover: #00C3EA; /* HOVER PULSANTI */
    --color-pulsanti-header: #ffffff; /* COLORE DEI PULSANTI HEADER */
    --color-pulsanti-header-hover: #0066CC; /* COLORE DELL'HOVER DEI PULSANTI HEADER */
    --bg-pulsanti-header: #ffffff; /* COLORE SFONDO PULSANTI HEADER */
    --bg-pulsanti-header-gradient: #ffffff; /* SFUMATURA PULSANTI HEADER */
    --bg-pulsanti-header-gradient-hover: #ffffff; /* SFUMATURA HOVER PULSANTI HEADER */
    --bg-pulsanti-header-hover: #0066CC; /* HOVER PULSANTI HEADER */
    --bg-pulsanti-input-group: #0066CC; /* COLORE SFONDO PULSANTI INPUT GROUP */
    --bg-pulsanti-input-group-menu-gradient: #0066CC; /* SFUMATURA PULSANTI INPUT GROUP */
    --bg-pulsanti-input-group-menu-gradient-hover: #0066CC; /* SFUMATURA HOVER PULSANTI INPUT GROUP */
    --bg-pulsanti-input-group-menu-hover: #0066CC; /* HOVER PULSANTI INPUT GROUP */
    --color-scrollbar: #0066CC; /* COLORE DELLA SCROLLBAR */
    --color-scrollbar-gradient: #0066CC; /* SFONDO DELLA SCROLLBAR */
    --iconMenuSx-color: #0066CC;
    --iconMenuSx-color-hover: #F2F5F8;
    --textMenuSx-color: #0066CC;
    --textMenuSx-color-hover: #F2F5F8;
    --background-input-color: #F2F5F8;
    --input-color: #000;
    --bg-color-cta-modal: #0066CC; /* COLORE PRINCIPALE */
    --tab-main-color: #0066CC;
    --tab-main-color-gradient: #0066CC;
    --tab-main-color-hover: #0066CC;
    --tab-main-color-gradient-hover: #0066CC;
    --primary-button: #0090D1;
    --primary-button-gradient: linear-gradient(90deg, rgba(0,102,204,1) 0%, rgba(0,0,0,1) 100%);
    --primary-button-hover: #0066CC;
    --primary-button-gradient-hover: #0066CC;
    --secondary-button-color: #ffffff;
    --secondary-button-background: #CB1D15;
    --secondary-button-background-gradient: linear-gradient(90deg, rgb(203 29 21) 0%, rgb(151 27 21) 100%);
    --secondary-button-hover: #CB1D15;
    --secondary-button-gradient-hover: #CB1D15;
    --secondary-button-border: #CB1D15;
    --colore-pulsanti-azione: #0066CC;
    --colore-pulsanti-azione-hover: #0066CC;
    --page-title: #0066CC;
}
