/* PERSONALIZZAZIONE STANDARD ICONE GRUPPI */
:root {
    /* ICONE */
    --GESTIONE_Utente: "\f4fe";
    --GROUP_Gestione_Enti_Aderenti: "\f66f";
    --GROUP_Gestione_Fornitori: "\f275";
    --GROUP_Validazione_Anagrafiche: "\f0ae";
    --GROUP_Monitoraggio_Sistema: "\f201";
    --GROUP_Pannello_Sicurezza: "\f502";
    --GROUP_Configurazione_di_Sistema: "\f013";
    --GROUP_Configurazione_Valori: "\f0ac";
    --GROUP_Configurazione_DGUE: "\f682";
    --GROUP_Gestione_codifiche_classificazioni: "\f02a";
    --GROUP_Albo_Telematico: "\f54e";
    --GROUP_Cataloghi_ME: "\f07a";
    --GROUP_Albo_Fornitori: "\f4ce";
    --GROUP_Albo_Lavori: "\f807";
    --GROUP_Gestione_Enti_Aderenti: "\f66f";
    --GROUP_Albo_Professionisti: "\f568";
    --GROUP_Gestione_SDA: "\f15c";
    --GROUP_Procedura_AccordoQuadro: "\f2b5";
    --GROUP_Gestione_Fabbisogni: "\f4c1";
    --GROUP_PROGRAMMAZIONE: "\f682";
    --GROUP_Gestione_Questionari: "\f00b";
    --GROUP_GESTIONE_PREGARA: "\f64a";
    --GROUP_Gestione_Pubblicita_Legale: "\f00b";
    --GROUP_INTEGRAZIONE_PBM: "\f00b";
    --GROUP_Procedura_RDO: "\f4c0";
    --GROUP_Procedura_Gara: "\f0e3";
    --GROUP_Affidamenti_Semplificati: "\e068";
    --GROUP_Gestione_SEMPLIFICATO: "\f56c";
    --GROUP_Procedura_Gara_Rilancio_Competitivo: "\f1d8";
    --GROUP_Consultazioni_Preliminari_Mercato: "\f0a1";
    --GROUP_Procedura_Cottimo: "\f662";
    --GROUP_GESTIONE_ASTE: "\f0e7";
    --GROUP_Richieste_Accesso_Atti: "\f51c";
    --GROUP_COM_DPE: "\f658";
    --GROUP_Gestione_Acquisti_a_catalogo: "\f0c0";
    --GROUP_Acquisti_a_catalogo: "\f0c0";
    --GROUP_Dossier: "\f07c";
    --GROUP_REPORT: "\f200";
    --GROUP_AVCP: "\f3ed";
    --GROUP_Release_Notes: "\f518";
    --GROUP_Formulari: "\f187";
    --GROUP_HELP_DESK: "\f129";
    --FASCICOLO_GARA: "\f0c6";
    --ARROWRIGHT: "\f105";
    --GROUP_Gestione_Anagrafiche: "\f2bb";
    --GROUP_MIEI_BANDI: "\f0e3";
    --GROUP_MIEI_INVITI: "\f64a";
    --GROUP_OFFERTE_FORN: "\f571";
    --GROUP_CONTRATTI_FORN: "\f2b5";
    --GROUP_DOC_TERZI: "\f4fd";
    --GROUP_ALBO: "\f4ce";
    --GROUP_ALBO_SDA: "\f56c";
    --GROUP_ALBO_FORNITORI_FORNITORE: "\f4ce";
    --GROUP_ALBO_LAVORI_FORNITORE: "\f807";
    --GROUP_ALBO_PROFESSIONISTI_FORNITORE: "\f568";
    --GROUP_ACQUISTI: "\f291";
    --GROUP_Admin: "\f509";
    --GROUP_BANDO_CONSULTAZIONE: "\f0a1";
    --GROUP_COMUNICAZIONI: "\f658";
    --GROUP_NOTIER: "\f570";
}