<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="db.conn" value=""/>
    <add key="TND.endPointProtocollo" value="https://ws-t.pitre.tn.it/RestServices/RouteRestRequest"/>
    <add key="app.dir_download" value="e:\temp\"/>
    <add key="docer.mail.error" value=""/>
    <add key="docer.mailbackoffice" value=""/>
    <add key="TND.Simulazione" value="0"/>
    <add key="TND.PathCertificate" value="C:\Users\r.odierno\OneDrive - TeamSystem S.p.A\ODIROS\PC UFFICIO\CLIENTI PA\TRENTINO DIGITALE\Implementazione Protocollo PI.TRE\certificato e accesso ambiente test\client-t.ConTRacta-to-restpitre.tn.it.pfx"/>
    <add key="TND.PwdCertificate" value="VWoSIeZMCdrjCZ3V"/>
    <add key="TND.CODE_ADM" value="PAT_TEST"/>
    <add key="TND.CODE_ADM_CREATE" value="PAT"/>
    <add key="TND.CODE_SENDER_GARA_APERTA" value="S171"/>
    <add key="TND.RAGSOC_SENDER_GARA_APERTA" value="Servizio Appalti"/>
    <add key="TND.RAGSOC_OE_GARA_APERTA" value="A tutte le imprese"/>
  </appSettings>
  <connectionStrings/>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <!--
      La sezione <authentication> consente di configurare 
      la modalità di autenticazione della sicurezza utilizzata da 
      ASP.NET per identificare un utente in ingresso. 
    -->
    <authentication mode="Windows"/>
    <!--
       La sezione <customErrors> consente di configurare 
       l'operazione da eseguire in caso di errore non gestito 
       durante l'esecuzione di una richiesta. In particolare, 
       consente agli sviluppatori di configurare le pagine di errore HTML 
       in modo che vengano visualizzate al posto della traccia dello stack dell'errore.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        La sezione system.webServer è necessaria per l'esecuzione di ASP.NET AJAX in Internet
        Information Services 7.0, ma non per versioni precedenti di IIS.
    -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>