@page "/demo/index"
@inject IWebHostEnvironment _environment;
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using static eProcurementNext.Session.SessionMiddleware;
@using static eProcurementNext.Razor.Pages.demo.indexModel;
@using Microsoft.VisualBasic;
@model eProcurementNext.Razor.Pages.demo.indexModel
@{

    EprocResponse htmlToReturn = new EprocResponse();

    //Questa pagina deve rispondere solo sugli ambienti di sviluppo, per tutti gli altri diamo un blocco
    string ambiente = ApplicationCommon.Application["AFUPDATE_AMBIENTE"];

    if (ambiente.ToLower() != "sviluppo" )
    {
        htmlToReturn.Write($@"<p><font size=""6"" face=""Arial Black"">Utility valida solo per gli ambienti di SVILUPPO!</font></p>");
        return;
    }

    LoadSession(HttpContext, session);
   
    string pathFile = System.IO.Path.Combine(_environment.WebRootPath, $@"demo{System.IO.Path.AltDirectorySeparatorChar}index.html");
    string content = System.IO.File.ReadAllText(pathFile, System.Text.Encoding.UTF8);
    htmlToReturn.Write(content);
}
@Html.Raw(htmlToReturn.Out())