TABLE.ButtonBar_Table
{
    BORDER-TOP: thin;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: transparent
}
.ButtonBar_Button
{
    BORDER:NONE;
    CURSOR: pointer;
    COLOR: #FFF;
    BACKGROUND-COLOR: #004080;
    TEXT-ALIGN: center;
	text-transform:uppercase;
	margin-top:10PX;
}
.Button
{
    BORDER-RIGHT: #f5a915 1px solid;
    BORDER-TOP: #f5a915 1px solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: #f5a915 1px solid;
    CURSOR: pointer;
    COLOR: #161a74;
    BORDER-BOTTOM: #f5a915 1px solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e9edf3;
    TEXT-ALIGN: center
}
