TABLE.Caption
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 20px;
    MARGIN-BOTTOM: 2px;
    COLOR: #3f602c;
    BORDER-BOTTOM: #161a74 2px;
    FONT-FAMILY: Arial
}
TD.Caption_Exit
{
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: #161a74;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
