TABLE.Folder
{
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: transparent
}
.Folder_LabelSelected
{
    BORDER-RIGHT: #161a74 0px;
    BORDER-TOP: #161a74 0px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    BORDER-LEFT: #161a74 0px;
    CURSOR: pointer;
    COLOR: #161a74;
    BORDER-BOTTOM: #161a74 0px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
.Folder_Label
{
    BORDER-RIGHT: white 0px ridge;
    BORDER-TOP: white 0px ridge;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    BORDER-LEFT: white 0px ridge;
    CURSOR: pointer;
    COLOR: white;
    BORDER-BOTTOM: white 0px ridge;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #161a74
}
