.ToolBar_button
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: #161a74;
    LINE-HEIGHT: 8pt;
    FONT-FAMILY: Arial
}
TABLE.Toolbar
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    BORDER-LEFT: 1px;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: Arial
}
TD.toolbar
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 1px;
    COLOR: #161a74;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: Arial
}
