USE [AFLink_TND]
GO
/****** Object:  StoredProcedure [dbo].[NOTIER_ANNULLA_ISCRIZ_PA_CREATE_FROM_LISTA]    Script Date: 5/16/2024 2:38:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ALTER PROCEDURE [dbo].[NOTIER_ANNULLA_ISCRIZ_CREATE_FROM_LISTA] ( @IdDoc int  , @idUser int, @jumpCheck varchar(1000) = '' )
CREATE PROCEDURE  [dbo].[NOTIER_ANNULLA_ISCRIZ_PA_CREATE_FROM_LISTA] ( @IdDoc int  , @idUser int )
AS
BEGIN

	SET NOCOUNT ON

	EXEC NOTIER_ANNULLA_ISCRIZ_CREATE_FROM_LISTA @idDoc, @idUser, 'ISCRIZ_PA'

END

GO
