USE [AFLink_TND]
GO
/****** Object:  StoredProcedure [dbo].[OLD_STARTUPDBAPPLICATION_MODULO_APPALTO_PNRR_PNC]    Script Date: 5/16/2024 2:38:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OLD_STARTUPDBAPPLICATION_MODULO_APPALTO_PNRR_PNC]
AS
BEGIN
	-----------------------------------------------------------------------------------
	--( in presenza del modulo simog attivo si attiverà in automatico anche il modulo PNRR_PNC )
	-----------------------------------------------------------------------------------
	--se sul cliente è attivo il modulo MODULO_APPALTO_PNRR_PNC allora rendo visibili i campi sui modelli delle gare
	-----------------------------------------------------------------------------------
	IF dbo.PARAMETRI('ATTIVA_MODULO','MODULO_APPALTO_PNRR_PNC','ATTIVA','YES',-1) = 'YES'
	BEGIN
		update CTL_Parametri 
			set Valore='0' 
			where Contesto in ('BANDO_GARA_TESTATA','BANDO_GARA_TESTATA_RDO','BANDO_SEMPLIFICATO_TESTATA2','BANDO_GARA_TESTATA_ACCORDOQUADRO','BANDO_GARA_TESTATA_AVVISO','BANDO_GARA_TESTATA_COTTIMO','DASHBOARD_VIEW_REPORT_LISTA_PROCEDUREFiltro','DASHBOARD_VIEW_REPORT_LISTA_PROCEDUREGriglia','BANDO_GARA_TESTATA_GAREINFORMALI') and Oggetto='Appalto_PNRR' 
			and Proprieta='Hide' 

		update CTL_Parametri 
			set Valore='0' 
			where Contesto in ('BANDO_GARA_TESTATA','BANDO_GARA_TESTATA_RDO','BANDO_SEMPLIFICATO_TESTATA2','BANDO_GARA_TESTATA_ACCORDOQUADRO','BANDO_GARA_TESTATA_AVVISO','BANDO_GARA_TESTATA_COTTIMO','DASHBOARD_VIEW_REPORT_LISTA_PROCEDUREFiltro','DASHBOARD_VIEW_REPORT_LISTA_PROCEDUREGriglia','BANDO_GARA_TESTATA_GAREINFORMALI') and Oggetto='Appalto_PNC' 
			and Proprieta='Hide' 

		update CTL_Parametri 
			set Valore='0' 
			where Contesto in ('BANDO_GARA_TESTATA','BANDO_GARA_TESTATA_RDO','BANDO_SEMPLIFICATO_TESTATA2','BANDO_GARA_TESTATA_ACCORDOQUADRO','BANDO_GARA_TESTATA_AVVISO','BANDO_GARA_TESTATA_COTTIMO','BANDO_GARA_TESTATA_GAREINFORMALI') and Oggetto='Motivazione_Appalto_PNRR' 
			and Proprieta='Hide' 
		
		update CTL_Parametri 
			set Valore='0' 
			where Contesto in ('BANDO_GARA_TESTATA','BANDO_GARA_TESTATA_RDO','BANDO_SEMPLIFICATO_TESTATA2','BANDO_GARA_TESTATA_ACCORDOQUADRO','BANDO_GARA_TESTATA_AVVISO','BANDO_GARA_TESTATA_COTTIMO','BANDO_GARA_TESTATA_GAREINFORMALI') and Oggetto='Motivazione_Appalto_PNC' 
			and Proprieta='Hide' 

	END
	ELSE
	BEGIN

		update CTL_Parametri 
			set Valore='1' 
			where Contesto in ('BANDO_GARA_TESTATA','BANDO_GARA_TESTATA_RDO','BANDO_SEMPLIFICATO_TESTATA2','BANDO_GARA_TESTATA_ACCORDOQUADRO','BANDO_GARA_TESTATA_AVVISO','BANDO_GARA_TESTATA_COTTIMO','DASHBOARD_VIEW_REPORT_LISTA_PROCEDUREFiltro','DASHBOARD_VIEW_REPORT_LISTA_PROCEDUREGriglia','BANDO_GARA_TESTATA_GAREINFORMALI') and Oggetto='Appalto_PNRR' 
			and Proprieta='Hide' 

		update CTL_Parametri 
			set Valore='1' 
			where Contesto in ('BANDO_GARA_TESTATA','BANDO_GARA_TESTATA_RDO','BANDO_SEMPLIFICATO_TESTATA2','BANDO_GARA_TESTATA_ACCORDOQUADRO','BANDO_GARA_TESTATA_AVVISO','BANDO_GARA_TESTATA_COTTIMO','DASHBOARD_VIEW_REPORT_LISTA_PROCEDUREFiltro','DASHBOARD_VIEW_REPORT_LISTA_PROCEDUREGriglia','BANDO_GARA_TESTATA_GAREINFORMALI') and Oggetto='Appalto_PNC' 
			and Proprieta='Hide' 

		update CTL_Parametri 
			set Valore='1' 
			where Contesto in ('BANDO_GARA_TESTATA','BANDO_GARA_TESTATA_RDO','BANDO_SEMPLIFICATO_TESTATA2','BANDO_GARA_TESTATA_ACCORDOQUADRO','BANDO_GARA_TESTATA_AVVISO','BANDO_GARA_TESTATA_COTTIMO','BANDO_GARA_TESTATA_GAREINFORMALI') and Oggetto='Motivazione_Appalto_PNRR' 
			and Proprieta='Hide' 
		
		update CTL_Parametri 
			set Valore='1' 
			where Contesto in ('BANDO_GARA_TESTATA','BANDO_GARA_TESTATA_RDO','BANDO_SEMPLIFICATO_TESTATA2','BANDO_GARA_TESTATA_ACCORDOQUADRO','BANDO_GARA_TESTATA_AVVISO','BANDO_GARA_TESTATA_COTTIMO','BANDO_GARA_TESTATA_GAREINFORMALI') and Oggetto='Motivazione_Appalto_PNC' 
			and Proprieta='Hide' 

	END

END
GO
