USE [AFLink_TND]
GO
/****** Object:  StoredProcedure [dbo].[CopiaModelloCTL]    Script Date: 5/16/2024 2:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[CopiaModelloCTL]( @NewModello as varchar(200) , @Modello as varchar(200) ,  @Modulo as varchar(100) ) as 
begin 

	--set @Modello = 'RDO_OGGETTO'
	--set @NewModello = 'RDO_OGGETTO_SAVE'
	--set @Modulo = 'RDO'

	--delete from LIB_Models where MOD_Name = @NewModello  and @Modulo = MOD_Module
	delete from CTL_Models where MOD_Name = @NewModello  and @Modulo = MOD_Module
	--insert into LIB_Models(
	insert into CTL_Models(
	MOD_ID                                             
	,MOD_Name                                           
	,MOD_DescML                                                                                                                                                                                                                                                      
	,MOD_Type 
	,MOD_Sys 
	,MOD_help                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
	,MOD_Param
	,MOD_Module
	)


	select  * from (
	select  
	@NewModello as MOD_ID                                             
	,@NewModello as MOD_Name                                           
	,@NewModello as MOD_DescML                                                                                                                                                                                                                                                      
	,MOD_Type 
	,MOD_Sys 
	,cast( MOD_help  as varchar(1000)) as MOD_help                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
	,  cast( MOD_Param  as varchar(1000)) as MOD_Param                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
	,@Modulo as MOD_Module 
	from CTL_Models where MOD_Name = @Modello 
	) as a

	--delete from LIB_ModelAttributes where MA_MOD_ID = @NewModello and @Modulo = MA_Module
	--insert into LIB_ModelAttributes(
	delete from CTL_ModelAttributes where MA_MOD_ID = @NewModello and @Modulo = MA_Module
	insert into CTL_ModelAttributes(
	MA_MOD_ID                                          
	,MA_DZT_Name                                        
	,MA_DescML                                                                                                                                                                                                                                                       
	,MA_Pos 
	,MA_Len 
	,MA_Order 
	,MA_Module
	)
	select  * from (
	select @NewModello as MA_MOD_ID                                          
	,MA_DZT_Name                                        
	,MA_DescML                                                                                                                                                                                                                                                       
	,MA_Pos 
	,MA_Len 
	,MA_Order 
	,@Modulo as MA_Module
	from CTL_ModelAttributes where MA_MOD_ID = @Modello 
	) as a

	--delete from LIB_ModelAttributeProperties where MAP_MA_MOD_ID = @NewModello and @Modulo = MAP_Module
	--insert into LIB_ModelAttributeProperties(
	delete from CTL_ModelAttributeProperties where MAP_MA_MOD_ID = @NewModello and @Modulo = MAP_Module
	insert into CTL_ModelAttributeProperties(
	MAP_MA_MOD_ID                                      
	,MAP_MA_DZT_Name                                    
	,MAP_Propety                                        
	,MAP_Value                                                                                                                                                                                                                                                       
	,MAP_Module
	)
	select  * from (
	select @NewModello as MAP_MA_MOD_ID                                      
	,MAP_MA_DZT_Name                                    
	,MAP_Propety                                        
	,MAP_Value                                                                                                                                                                                                                                                       
	,@Modulo as MAP_Module
	from CTL_ModelAttributeProperties where MAP_MA_MOD_ID = @Modello 

	) as a
end



GO
