USE [AFLink_TND]
GO
/****** Object:  StoredProcedure [dbo].[DOCUMENT_STORED_CONTRATTO_GARA]    Script Date: 5/16/2024 2:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DOCUMENT_STORED_CONTRATTO_GARA] ( @DocName NVARCHAR(50) , @Section NVARCHAR(50) , @IdDoc INT , @idUser INT )
AS
BEGIN

	SET NOCOUNT ON

	EXEC DOCUMENT_CK_TOOLBAR_CONTRATTO_GARA @Section, @IdDoc, @idUser

END

GO
