USE [AFLink_TND]
GO
/****** Object:  StoredProcedure [dbo].[OLD_TEMPLATE_CONTEST_CREATE_FROM_BANDO_GARA_MANDATARIA]    Script Date: 5/16/2024 2:38:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  Proc [dbo].[OLD_TEMPLATE_CONTEST_CREATE_FROM_BANDO_GARA_MANDATARIA]
	( @IdDoc int  , @idUser int )
AS
BEGIN

	SET NOCOUNT ON;	
	
	--select top 0 
	--	cast( '' as varchar(250)) as id , 
	--	cast( '' as varchar(max)) as Errore
	--	into #Result

	--insert into #Result exec TEMPLATE_CONTEST_CREATE_FOR @IdDoc , @idUser , 'DGUE_MANDATARIA'

	--select * from #Result
	
	exec TEMPLATE_CONTEST_CREATE_FOR @IdDoc , @idUser , 'DGUE_MANDATARIA'

end
GO
