USE [AFLink_TND]
GO
/****** Object:  StoredProcedure [dbo].[OLD_SP_QUESTIONARIO_AMMINISTRATIVO_VERIFICA_INFORMAZIONI ]    Script Date: 5/16/2024 2:38:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OLD_SP_QUESTIONARIO_AMMINISTRATIVO_VERIFICA_INFORMAZIONI ] (@idDoc INT = 0, @idUser INT = 0)
AS
BEGIN

  -- TODO
  print @idDoc
  print @idUser

END
GO
