USE [AFLink_TND]
GO
/****** Object:  StoredProcedure [dbo].[RICERCA_OE_CREATE_FROM_BANDO_GARA]    Script Date: 5/16/2024 2:38:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[RICERCA_OE_CREATE_FROM_BANDO_GARA] 
	( @idDoc int , @IdUser int  )
AS
BEGIN
	SET NOCOUNT ON;

	exec RICERCA_OE_CREATE_FROM_SORGENTE  @idDoc , @IdUser, 'BANDO_GARA'
END

GO
