USE [AFLink_TND]
GO
/****** Object:  StoredProcedure [dbo].[BOModOff_OffArtXCol]    Script Date: 5/16/2024 2:38:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[BOModOff_OffArtXCol](@IdOff INT) AS
 SELECT  OfferteArticoliXColonne.oacIdOar, OfferteArticoliXColonne.oacIdMcl, OfferteArticoliXColonne.oacIdVat, OfferteArticoliXColonne.oacWarning
  FROM OfferteArticoliXColonne
  WHERE (oacIdOar IN (
   SELECT OfferteArticoli.IdOar
    FROM OfferteArticoli
    WHERE OfferteArticoli.oarIdOff = @IdOff))
GO
