USE [AFLink_TND]
GO
/****** Object:  StoredProcedure [dbo].[OLD_PDA_SORTEGGIO_OFFERTA_CREATE_FROM_PDA_RIEPILOGO_LOTTO]    Script Date: 5/16/2024 2:38:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OLD_PDA_SORTEGGIO_OFFERTA_CREATE_FROM_PDA_RIEPILOGO_LOTTO] ( @idDoc int , @IdUser int  )
AS
BEGIN

	-----------------------------------------------------------------------------------------------------------------------------------------
	-- QUESTA STORED DI MAKE DOC FROM VIENE UTILIZZATA PER CREARE IL DOCUMENTO DI SORTEGGIO A PARTIRE DAL RIEPILOGO LOTTO ( NON DALLA PDA)---
	-- DI UNA GARA A LOTTI. 
	-----------------------------------------------------------------------------------------------------------------------------------------
	-- LA CONTROPARTE PROCESSO PER LA CREAZIONE DEL SORTEGGIO AUTOMATICO è SORTEGGIO_EXEQUO_LOTTO,PDA_MICROLOTTI
	----------------------------------------------------------------------------------------------------------------

	-- la variabile @idDoc identifica l'id della PDA_RIEPILOGO_LOTTO

	SET NOCOUNT ON

	declare @Id as INT
	declare @PrevDoc as INT
	set @PrevDoc=0
	
	declare @Errore as nvarchar(2000)
	set @Errore = ''

	
	set @id = null
	
	IF NOT EXISTS ( select id from PDA_DRILL_MICROLOTTO_TESTATA_VIEW where id = @idDoc and Exequo = '1' )
	BEGIN
		set @Errore = 'Lo stato non è coerente con la funzione richiamata'
	END
	ELSE
	BEGIN

		-- il sorteggio ha come linkeddoc la comunicazione che a sua volta ha come linkeddoc la pda

		--SE NON SONO IN ERRORE CERCO UNA VERSIONE PRECEDENTE DEL DOCUMENTO 
		select @id = sor.id 
			from CTL_DOC sor with(nolock)
					INNER JOIN CTL_DOC com with(nolock) ON sor.LinkedDoc = com.id and com.tipodoc = 'PDA_COMUNICAZIONE' and com.JumpCheck = '0-SORTEGGIO' and com.deleted = 0 
					INNER JOIN CTL_DOC pda with(nolock) ON com.linkeddoc = pda.id and pda.deleted = 0
					INNER JOIN Document_MicroLotti_Dettagli dett ON dett.idheader = pda.id 
			where dett.id = @idDoc and sor.deleted = 0 and sor.TipoDoc in ( 'PDA_SORTEGGIO_OFFERTA' ) and sor.statofunzionale = 'InLavorazione' and sor.JumpCheck = 'MANUALE'

	END


	-- se non esiste lo creo
	IF @id is null and @Errore=''
	BEGIN

		declare @idRow int
		declare @idCom int
		declare @idPDA int
		declare @NumeroLotto varchar(50)

		select @idPDA = idheader , @NumeroLotto  = NumeroLotto  from dbo.Document_MicroLotti_Dettagli where id = @idDoc 

		-- creo il documento comunicazione contenitore
		exec  PDA_COMUNICAZIONE_CREATE_FROM_SORTEGGIO @idPDA , @IdUser ,@idCom output

		-- creo il documento di sorteggio dell singolo lotto
		exec PDA_SORTEGGIO_OFFERTA_CREATE_FROM_SORTEGGIO @idDoc , @IdUser, 'MANUALE', @Id output

	END		


	if @Errore = ''
	begin
		-- rirorna l'id della nuova comunicazione appena creata
		select @Id as id
	
	end
	else
	begin
		-- rirorna l'errore
		select 'Errore' as id , @Errore as Errore
	end

SET NOCOUNT OFF

END



GO
