USE [AFLink_TND]
GO
/****** Object:  StoredProcedure [dbo].[GESTIONE_GUUE_F03_CREATE_FROM_CONTRATTO]    Script Date: 5/16/2024 2:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GESTIONE_GUUE_F03_CREATE_FROM_CONTRATTO] ( @id int , @IdUser int )
AS
BEGIN 

	exec GESTIONE_GUUE_F03_CREATE_FROM_CONVENZIONE @id  , @IdUser  

END
GO
