@page "/Report/CONVENZIONE.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.CommonModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.print_documentModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.functions.securityModel;
@using static eProcurementNext.Razor.Pages.Report.CONVENZIONEModel;
@using Microsoft.VisualBasic;
@model eProcurementNext.Razor.Pages.Report.contrattotelematicoModel
@using static eProcurementNext.Session.SessionMiddleware
@{
	CommonDbFunctions cdf = new();
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new();
	objDoc = PrintDocument(session, htmlToReturn, HttpContext,Response,Request);//PrintDocument ok
}
@{

	//'*******************************************
	//'*****  VALIDAZIONE DELL'INPUT UTENTE  *****
	//'*******************************************
	validate( "IDDOC", CStr(GetParamURL(Request.QueryString.ToString(), "IDDOC")) , TIPO_PARAMETRO_NUMERO, CInt(""), "", 1,HttpContext,session);
	validate("DOCUMENT", GetParamURL(Request.QueryString.ToString(), "DOCUMENT").Replace(".", "_"), TIPO_PARAMETRO_STRING, SOTTO_TIPO_PARAMETRO_TABLE, "", 0,HttpContext,session);
	validate("TYPEDOC", GetParamURL(Request.QueryString.ToString(), "TYPEDOC").Replace(".", "_"), TIPO_PARAMETRO_STRING, SOTTO_TIPO_PARAMETRO_TABLE, "", 0, HttpContext, session);

	if(GetParamURL(Request.QueryString.ToString(), "PORTALE") != "1")
	{
		htmlToReturn.Clear();
		htmlToReturn.Write($@"
		<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 Strict//EN"" ""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"">
		<html xmlns=""http://www.w3.org/1999/xhtml"">
		<head>

		<meta http-equiv=""Content-Type"" content=""text/html; charset=utf-8"">
		<META HTTP-EQUIV=""Pragma"" CONTENT=""no-cache"">
		<META HTTP-EQUIV=""Expires"" CONTENT=""-1"">
		<link rel=""stylesheet"" type=""text/css"" href=""../ctl_library/themes/print.css"" media=""print"" />
		<link rel=""stylesheet"" type=""text/css"" href=""../ctl_library/themes/style.css"" media=""screen,projection"" />
		<link rel=""stylesheet"" type=""text/css"" href=""../ctl_library/themes/bandi.css"" media=""all"" />
		<link rel=""stylesheet"" type=""text/css"" href=""../ctl_library/themes/field.css"" media=""all"" />
		<link rel=""shortcut icon"" href=""favicon.ico"" type=""image/x-icon"" />
		<!--[if IE]><link rel=""stylesheet"" type=""text/css"" href=""/registrazione/css/iefix.css"" /><![endif]-->
		<!--[if lt IE 7]><link rel=""stylesheet"" type=""text/css"" href=""/registrazione/css/ie6fix.css"" />
		<![endif]-->
		<script type=""text/javascript"" src=""../ctl_library/jscript/mootools.js""></script>
		<script type=""text/javascript"" src=""../ctl_library/jscript/common.js""></script>
		<script type=""text/javascript"" src=""../ctl_library/jscript/forms.js""></script>

		<script type=""text/javascript"" src=""../ctl_library/jscript/document/document.js""></script>

		<style>
		div#main{{ padding:0px; margin:auto; }}
		#colcontainer{{margin:0px;}}
		#colcx{{width:auto;float:none;display:block;}}
		@media screen {{
					table#logo{{display:none}}
		}}
	</style>

	<title></title>
	</head>

	<body>

	<div id=""main"">

	<div id=""middle"">
		<div id=""colcontainer"">					

			<div id=""colcx"" >			

                <table align=center id=logo style=""font-weight:bold; font-size:14pt; font-family:Arial; vertical-align:middle"">
          <tr>
          <td style=""border:0px; align:right"" align=right>
          <img  width=100 height=100 src=""/registrazione/images/light_logo.gif"" border=0 alt=""Portale Gare"" />
          </td>
          <td style=""valign:middle; border:0px; align:left"">Portale Gare Telematiche</td>
          </tr>
        </table> 	                	
        <h2><strong></strong></h2>
        <div>
			     <div id=""paginazione"" class=""paging"">
			     	<img src=""/registrazione/images/printer.gif"" id=""printbtn"" alt="""" />
				  <ul>
				  </ul>
	     </div>


			</div>"); 
	}
	else
	{
		htmlToReturn.Write($@"
		<meta http-equiv=""Content-Type"" content=""text/html; charset=utf-8"">
		<META HTTP-EQUIV=""Pragma"" CONTENT=""no-cache"">
		<META HTTP-EQUIV=""Expires"" CONTENT=""-1"">
		<!--div id=""colcx"" class=""large""-->
		<div id=""breadcrumb"">
		<span>" + ApplicationCommon.CNV("Ti trovi in") + $@":</span> 

		<a href=""" + ApplicationCommon.Application["WEBSERVERPORTALE"] + $@"/" + ApplicationCommon.Application["NOMEAPPPORTALE"] + $@"/index.asp"">" + ApplicationCommon.CNV("Area Pubblica") + $@"</a> / 

		<a href=""/""" + ApplicationCommon.Application["NOMEAPPPORTALE"] + $@"/dashboard/bandi.asp?ModGriglia=DASHBOARD_VIEW_CONVENZIONI_PORTALEGriglia&ModelloFiltro=PORTALE_FILTRO_CONVENZIONE&captionArea=Area pubblica&activetab1=activetab&TABINCLUDE=,5,&NOTLOCKGRID=1&UNICAPAGINA=1&PAGEDEST=bandi.asp&PAGINAZIONE=0&TOOLBAR_PAGINAZIONE=0&AreaFiltroWin=0&FilterHide=&ShowExit=0&POSITIONALMODELGRID=&backoffice=yes&Table=DASHBOARD_VIEW_CONVENZIONI_PUBBLICI_PORTALE&OWNER=&IDENTITY=IDMSG&TOOLBAR=&DOCUMENT=&PATHTOOLBAR=../dashboard/&AreaAdd=no&Caption=Convenzioni&Height=120,600,210&numRowForPag=12&Sort=expirydate&SortOrder=desc&ACTIVESEL=1"">" + GetParamURL(Request.QueryString.ToString(), "DESCPROVENIENZA")+ $@"</a> 


		/ <strong>" + ApplicationCommon.CNV("Dettaglio Convenzione") + $@"</strong>

		</div>

		<!--SUGGERIMENTI-->                        		                      	
		<div class=""tips"" id=""contenitoresuggerimento"">
  	    <div class=""tipsbar"">
     			<a href=""#suggerimento"">" + ApplicationCommon.CNV("Nascondi suggerimenti") + $@"</a>
      		<a href=""#suggerimento"" class=""suggest"">" + ApplicationCommon.CNV("Mostra suggerimenti") + $@"</a>
		</div>
  	    <div id=""suggerimento"" class=""tipscontent"">

       " + ApplicationCommon.CNV("suggerimento_convenzione") + $@"
       <br>
	   <br>
      <a href=""" + ApplicationCommon.Application["WEBSERVERPORTALE"] + $@"/" + ApplicationCommon.Application["NOMEAPPPORTALE"] + $@"/registrazione.asp"">" + ApplicationCommon.CNV("Registrati") + $@"</a>
    </div>
  </div>            

  	<br>");
	}
	htmlToReturn.Write($@"<!--TOOLBAR DI TESTA  E TITOLO-->");
	htmlToReturn.Write($@"
	<div>

    <div id=""paginazione"" class=""paging"">  
      <div class=""icons"">
          <a href=""javascript:window.print();"" class=""print"">"+ApplicationCommon.CNV("StampaEffettiva")+$@"</a>  
      </div>");
	htmlToReturn.Write($@"<!--ELEMENTI NASCOSTI PER TOOLBAR DI CODA-->");
	htmlToReturn.Write("<ul>");
	htmlToReturn.Write("</ul>");

	htmlToReturn.Write($@"
	</div>
    <div id=toolbarprivate class=""paging comandi"" style=""display:none;"">
      <div class=""icons1"">
        <ul>
         <li style=""background:url(" + ApplicationCommon.Application["WEBSERVERPORTALE"] + $@"/" + ApplicationCommon.Application["NOMEAPPPORTALE"] + $@"/images/stampa.jpg) center left no-repeat; padding:28px;margin-top:0px;margin-bottom:0px; "" ><a style=""cursor:pointer;"" onclick=""javscript:window.print();"">" + ApplicationCommon.CNV("StampaEffettiva") + $@"</a></li> 
	</ul>
      </div>");

	htmlToReturn.Write($@"
	  <div class=""comandi_interni"" >
        <ul>

          <li><input id=""Chiudi"" type=button  class=""btn"" value" + ApplicationCommon.CNV("Chiudi") + $@"onclick=""Javascript:parent.LoadFolder1();"" ></li>

        </ul>
      </div>

    </div>
</div>");
	htmlToReturn.Write($@"<!--TABELLA DEI DATI DEL DOCUMENTO-->");
	htmlToReturn.Write($@"
<table id=""template_doc"" >

<thead>
  <tr>
     <th colspan=""4"" align=left nowrap>" + ApplicationCommon.CNV("Convenzioni - Riepilogo") + $@"</th>
  </tr>
</thead>

	<tbody>

	<tr>
		<th>" + ApplicationCommon.CNV("Convenzione N.") + $@"&nbsp;:</th> 
  		<td >" + DOC_Field("TESTATA", "NumOrd") + $@"</td>
    </tr>
	<tr>
		<th>" + ApplicationCommon.CNV("Oggetto") + $@"&nbsp;:</th> 
  		<td >" + DOC_Field("TESTATA", "DOC_Name") + $@"</td>
    </tr>


	<tr>
		<th>" + ApplicationCommon.CNV("Descrizione") + $@"&nbsp;:</th> 
  		<td >" + DOC_Field("TESTATA", "DescrizioneEstesa") + $@"</td>
    </tr>

 	<tr>
		<th>" + ApplicationCommon.CNV("Valore Contratto") + $@"&nbsp;:</th> 
  		<td >" + DOC_Field("TESTATA", "Total") + $@"</td>
 </tr>");

	htmlToReturn.Write($@"<!--<tr>
	<th>" + ApplicationCommon.CNV("Residuo Contratto") + $@"&nbsp;:</th> 
	<td >" + DOC_Field("TESTATA","BDG_TOT_Residuo") + $@"</td>
	</tr>-->");
	htmlToReturn.Write($@"
  <tr>
		<th>" + ApplicationCommon.CNV("Importo Allocabile") + $@"&nbsp;:</th> 
  		<td >" + DOC_Field("TESTATA", "ImportoAllocabile") + $@"</td>
 </tr>
 <tr>
		<th>" + ApplicationCommon.CNV("Data Inizio") + $@"&nbsp;:</th> 
  		<td >" + DOC_Field("TESTATA", "DataInizio") + $@"</td>

 </tr>
  <tr>
		<th>" + ApplicationCommon.CNV("Data Fine") + $@"&nbsp;:</th> 
  		<td >" + DOC_Field("TESTATA", "DataFine") + $@"</td>
  </tr>

 </tbody>
</table>");

	htmlToReturn.Write($@"<br>
<br>
<table id=""template_doc"">
<thead>
  <tr>
     <th colspan=""4"" align=left nowrap>" + ApplicationCommon.CNV("Fornitore") + $@"</th>
  </tr>
</thead>
<tbody>	

 <tr>
	<td>");
	
	DOC_PubLegale("TESTATA", "AZI_Dest", htmlToReturn);
	htmlToReturn.Write($@"</td>


  </tr>
 
 
</tbody>
</table>");

htmlToReturn.Write($@"<!--PROROGA-->");
htmlToReturn.Write($@"
<div id=""proroga"">
</div>
<br>");
htmlToReturn.Write($@"<!--TOOLBAR DI CODA-->");
htmlToReturn.Write($@"
<div id=""toolbarportale"">
</div>


<br>");
htmlToReturn.Write($@"<!--CHIARIMENTI--> 
<div id=CHIARIMENTI>

</div>
	<!--INFO FINE PAGINA-->");
	htmlToReturn.Write($@"<div class=""details"" class=""large"">
  <address>
    <strong>


	</strong>


  </address>
</div>");

	//'-- Testo aggiunto in automatico per liberare la memoria dei nuovi report
	try
	{
		FreeMemDocument(session);
	}
	catch
	{
		
	}
}@Html.Raw(htmlToReturn.Out())