@page "/Report/light_risultatodigara_int.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using Microsoft.VisualBasic
@using static eProcurementNext.CommonDB.Basic;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.print_documentModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.CommonModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.functions.securityModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.functions.masterPageToolsModel;
@using static eProcurementNext.Razor.Pages.Report.light_risultatodigara_intModel;
@model eProcurementNext.Razor.Pages.Report.light_risultatodigara_intModel
@using static eProcurementNext.Session.SessionMiddleware
@{
	Layout = ConfigurationServices.GetKey("LayoutVersion", "_masterPage");
	CommonDbFunctions cdf = new();
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new();
	
	objDoc = PrintDocument(session, htmlToReturn, HttpContext,Response,Request);//PrintDocument ok
}
@{
	
	string idDoc = objDoc.mp_IDDoc;
	//'*******************************************
	//'*****  VALIDAZIONE DELL'INPUT UTENTE  *****
	//'*******************************************
	validate("IDDOC", CStr(GetParamURL(Request.QueryString.ToString(), "IDDOC")), TIPO_PARAMETRO_NUMERO, CInt(""), "", 1, HttpContext, session);
	validate("DOCUMENT", GetParamURL(Request.QueryString.ToString(), "DOCUMENT").Replace(".", "_"), TIPO_PARAMETRO_STRING, SOTTO_TIPO_PARAMETRO_TABLE, "", 0, HttpContext, session);
	validate("TYPEDOC", GetParamURL(Request.QueryString.ToString(), "TYPEDOC").Replace(".", "_"), TIPO_PARAMETRO_STRING, SOTTO_TIPO_PARAMETRO_TABLE, "", 0, HttpContext, session);
	var sqlParams = new Dictionary<string, object?>();
	int IdMp = session["IdMp"];
	void drawContent()
	{
		stackUpdateCurrentPosition("report", "report/light_risultatodigara_int.asp?" + GetQueryStringFromContext(Request.QueryString), ApplicationCommon.CNV("Risultato di gara"),session, HttpContext);
		bool bRaggiutoOblioGara;
		bRaggiutoOblioGara = false;
		//'--verifico se raggiunta datadirittooblio della gara
		sqlParams.Add("@id",CStr(GetParamURL(Request.QueryString.ToString(), "IDDOC")).Replace("'", "''"));
		TSRecordSet rsOblio = cdf.GetRSReadFromQuery_("select idheader from document_bando with(nolock) where idheader = @id and DataDirittoOblio <= GETDATE() ", ApplicationCommon.Application.ConnectionString, sqlParams);
		if(rsOblio.RecordCount >0)
		{
			bRaggiutoOblioGara = true;
		}
		htmlToReturn.Write($@"
		<input type=""hidden"" id=""DOCUMENT"" name=""DOCUMENT"" value=""RISULTATODIGARA""/>
		<input type=""hidden"" id=""IDDOC_GUID"" name=""IDDOC_GUID"" value=""" + idDoc + $@"""/>
		<input type=""hidden"" id=""FASCICOLO"" name=""FASCICOLO"" value=""" + DOC_FieldTecnical("TESTATA", "Fascicolo").Trim() + $@"""/>
		<input type=""hidden"" id=""PARAM_QUESITINEW"" value=""" + idDoc +$@"""/>
		<input type=""hidden"" id=""TIPODOC"" value=""RISULTATODIGARA""/>


		<div id=""colcx"" class=""largeview"" >");
		htmlToReturn.Write($@"<!--
		<div class=""paging comandi"">           
		<div class=""icons1"">
		<ul>
		<li style=""background:url(../images/stampa.jpg) center left no-repeat; padding:28px;margin-top:0px;margin-bottom:0px; "" >
		<a style=""cursor:pointer;"" onclick=""javscript:window.print();"">" + ApplicationCommon.CNV("StampaEffettiva") + $@"</a>
		</li> 
		<li style=""padding:28px;margin-top:0px;margin-bottom:0px; "">
		<a style=""cursor:pointer;"" onclick=""Javascript:breadCrumbPop('');return false;"">" + ApplicationCommon.CNV("Chiudi") + $@"</a>
		</li>
		</ul>
		</div>
		</div>
		-->");
		htmlToReturn.Write($@"
			<table id=""template_doc"">

				<thead>
					<tr>
						<th colspan=""4"" align=""left"" nowrap>
						" + ApplicationCommon.CNV("Riepilogo Esiti/Pubblicazioni") + $@"
						</th>
					</tr>
				</thead>");
		htmlToReturn.Write($@"
		<tbody>

 				<tr>
  				  <th>Oggetto</th> 
				  	<td>" + DOC_Field("TESTATA", "Body") + $@"</td>
 				</tr>
				<tr>

  					<th>Esiti/Pubblicazioni</th> 
						<td>
  							<table border=""0"" width=""96%"" id=""table1"" class=""GridPrintProducts"" >");
		int i = 0;
		int nr = 0;
		nr = DOC_NumRow("PRODOTTI", "");
		if(nr >0)
		{
			Fld_Attach objattach = new Fld_Attach();
			htmlToReturn.Write($@"<tr class=""""><td class=""CellIntestGrid"" ><font class=""PrintCols"">Descrizione</font></td><td class=""CellIntestGrid""><font class=""PrintCols"">Allegato</font></td><td class=""CellIntestGrid""><font class=""PrintCols"">Tipo Documento</font></td><td class=""CellIntestGrid""><font class=""PrintCols"">Data</font></td></tr>");
			for(i = 0;i <= nr-1;i++)
			{
				if( DOC_FieldRow( "PRODOTTI", "StatoFunzionale", i ) == "Inviato" )
				{
					htmlToReturn.Write($@"
					<tr>

						<td class=""CellGridPrintProducts"">
						"+DOC_FieldRow( "PRODOTTI", "Precisazione", i )+$@"
						</td>

						<td class=""linkAttachment"">");
					//'--se si tratta di Esito se è superata la datadirittooblio della gara non visualizzo l'allegato
					if(DOC_FieldRowTecnical ( "PRODOTTI", "TipoDocumentoEsito", i ) ==  "CV Commissione"  && bRaggiutoOblioGara)
					{
						htmlToReturn.Write("");
					}
					else
					{
						objattach.Init(0,"Allegato", DOC_FieldRowTecnical("PRODOTTI", "Allegato", i), null,null, "", true);
						objattach.Html(htmlToReturn, false);
					}
					htmlToReturn.Write($@"
					</td>
					<td class=""CellGridPrintProducts"">
					" + DOC_FieldRow("PRODOTTI", "TipoDocumentoEsito", i) + $@"
					</td>

					<td class=""CellGridPrintProducts"">
					" + DOC_FieldRow("PRODOTTI", "DataIns", i) + $@"
					</td>");
					htmlToReturn.Write("</tr>");

				}
			}
		}
		htmlToReturn.Write($@"
						</table>
   						</td>
				</tr>
				</tbody>	
			</table>

	 </div>");
		//'-- Testo aggiunto in automatico per liberare la memoria dei nuovi report
		try
		{
			FreeMemDocument(session);
		}
		catch
		{

		}
	}
	ViewData["mp_jsOnload"] = "apriDettaglioStampa();";
	
	//drawMasterPage("../", "Documenti  da Pubblicare");
	drawContent();
}@Html.Raw(htmlToReturn.Out())