@page "/Report/prn_AQ_ABILITAZIONE_RILANCIO.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using Microsoft.VisualBasic
@using System.Globalization
@using static eProcurementNext.CommonDB.Basic;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.print_documentModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.CommonModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.functions.securityModel;
@using static eProcurementNext.Razor.Pages.Report.prn_AQ_ABILITAZIONE_RILANCIOModel;
@model eProcurementNext.Razor.Pages.Report.prn_AQ_ABILITAZIONE_RILANCIOModel
@using static eProcurementNext.Session.SessionMiddleware
@{

	CommonDbFunctions cdf = new();
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new();

	objDoc = PrintDocument(session, htmlToReturn, HttpContext,Response,Request);//PrintDocument ok
	string IDDOC = objDoc.mp_IDDoc;



	htmlToReturn.Write($@"
	<html>
	<head>");

		
	addMetaTag(htmlToReturn);
	htmlToReturn.Write($@"

	</head>

	<body style=""margin-left:50px; margin-right:50px; margin-top:10px; margin-bottom:10px"">


	<table height=""100%"" width=""100%"" border=""0"" style=""height: 1390px;"">

		<tr>
			<td align=""center""> 

				<table  width=""100%"" style=""margin-top:0px"" align=""center"">
					<tr>
						<td style=""border:0px;"" align=""center"">
							<table width=""100%"" style=""font-weight:bold; "">
								<tr>");
	string imgHeader = ApplicationCommon.CNV("HEADER_STAMPE");
	if(imgHeader.Contains("???", StringComparison.Ordinal))
	{
		htmlToReturn.Write($@"<img height=""50px"" src=""logo_new.gif"" border=""0"" alt=""" + ApplicationCommon.CNV("ALT LOGO") + $@""" />");
	}
	else
	{
		htmlToReturn.Write($@"<td style=""  valign=""bottom"" align=""left"" >" + imgHeader + " </td>");
		htmlToReturn.Write($@"<td style=""  valign=""bottom"" align=""right"" ><b>Richiesta ""Abilitazione Rilancio""</b></td>");
	}
	htmlToReturn.Write($@"
								</tr>								
							</table>
						</td>
					</tr>
				</table>

			</td>
		</tr>");
	htmlToReturn.Write($@"
	<tr>

			<td height=""100%"" align=""top"" valign=""top"">

				<br/><br/>
				 <table  width=""100%"">
						<tr><td style=""""border-bottom: 1px solid black;""><center><b>" + DOC_FieldHTML("TESTATA", "BodyContratto") + $@"</b></center></td></tr>
						<tr><td style="""">&nbsp;</td></tr>
						<tr><td style="""">&nbsp;</td></tr>
						<tr><td style=""""><center><b><u>Richiesta di ""ABILITAZIONE RILANCIO""</u></b></center></td></tr>
						<tr><td style="">&nbsp;</td></tr>
						<tr><td style="""">&nbsp;</td></tr>
						<tr>
							<td><p>Il sottoscritto " + DOC_FieldHTML("TESTATA", "IdPfu") +$@", in qualità di RUP, ai sensi dell’art. 31 del D. Lgs 50/2016, per la fornitura di cui sopra, designato con atto allegato alla presente comunicazione, 
								   dichiara di aver preso visione degli atti e delle prescrizioni stabilite dall’Accordo Quadro in oggetto, sottoscritto tra So.Re.Sa. Spa ed i fornitori aggiudicatari.
								   Al fine della definizione del rilancio competitivo, chiede di poter avere accesso alla documentazione di gara presentata dagli operatori economici parte del suddetto Accordo ed, 
								   in particolare, alla documentazione amministrativa, all’offerta tecnica ed economica. <br/> Il diritto di accesso a tale documentazione è regolato ai sensi dell’art. 53 del D. Lgs. 50/2016. <br/> 
								   Dichiara infine che, ai sensi del Regolamento UE/2016/679 (GDPR), il trattamento dei dati conferiti nell’ambito della procedura di acquisizione di beni o servizi, o comunque raccolti da So.Re.Sa. Spa a tale scopo, 
								   sono finalizzati unicamente all’espletamento della procedura, nonché delle attività ad essa correlate e conseguenti. 
								   In relazione alle descritte finalità, il trattamento dei dati personali avverrà mediante strumenti manuali, informatici e telematici, 
								   con logiche strettamente correlate alle finalità predette e, comunque, in modo da garantire la sicurezza e la riservatezza dei dati stessi.
							</p></td>
						</tr>

				</table>
			</td>
		</tr>");
	htmlToReturn.Write($@"
		<tr>
			<td>");



	//'--PIE DI PAGINA
	footer();
	htmlToReturn.Write($@"
			</td>
		</tr>
		</table>




	</body>
	</html>");
	 //'-- Testo aggiunto in automatico per liberare la memoria dei nuovi report
	 try
	 {
	 	FreeMemDocument(session);
	 }
	 catch
	 {
	
	 }
	
	//'------------------------------------------------------------------------------
	//'-- funzione per disegnare il pie pagina
	//'------------------------------------------------------------------------------
	void footer()
	{
		int NumPagCorrente = 0;
		NumPagCorrente = NumPagCorrente + 1;

		htmlToReturn.Write($@"
		<tr><td valign=""bottom"" height=""5px"" >
		<table id=""piedipagina1"" width=""100%"" height=""5px"" style=""vertical-align: bottom; bottom: 0px"">
		        <tr><td style=""border-bottom: 1px solid black;border-top: 1px solid black;""  valign=""bottom"" align=""left"" ><b></b></td>
		            <td style=""border-bottom: 1px solid black;border-top: 1px solid black;""  valign=""bottom"" align=""right"" >

		                Pagina: " + NumPagCorrente + $@"
		            </td>
		        </tr>
		    </table>
		    </td></tr>");
	}
	void PrintPagina()
	{
		htmlToReturn.Write($@"<div style=""page-break-after: always""></div>");
	}
}@Html.Raw(htmlToReturn.Out())