@page "/Report/risultatodigara_int.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.print_documentModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.CommonModel;
@using static eProcurementNext.Razor.Pages.Functions.CNVModel;
@using static eProcurementNext.Razor.Pages.Report.risultatodigara_intModel;
@using Microsoft.VisualBasic;
@model eProcurementNext.Razor.Pages.Report.risultatodigara_intModel
@using static eProcurementNext.Session.SessionMiddleware
@{
	CommonDbFunctions cdf = new();
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new();
	objDoc = PrintDocument(session, htmlToReturn, HttpContext, Response, Request);//PrintDocument ok
}
@{

	int IdMp = session["IdMp"];

	htmlToReturn.Write($@"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 Strict//EN"" ""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"">

	<html xmlns=""http://www.w3.org/1999/xhtml"">
	<head>
	<meta http-equiv=""Content-Type"" content=""text/html; charset=utf-8"">

	<link rel=""stylesheet"" type=""text/css"" href=""/registrazione/css/style.css"" media=""screen,projection"" />
	<link rel=""stylesheet"" type=""text/css"" href=""/registrazione/css/bandi.css"" media=""all"" />
	<link rel=""stylesheet"" type=""text/css"" href=""/registrazione/css/print.css"" media=""print"" />
	<link rel=""shortcut icon"" href=""favicon.ico"" type=""image/x-icon"" />

	<!--[if lt IE 8 ]> 
		<link rel=""stylesheet"" type=""text/css"" href=""../css/iefix.css"" /> 
	<![endif]--> 
	<!--[if lt IE 7]> 
	<link rel=""stylesheet"" type=""text/css"" href=""../css/ie6fix.css"" /> 
	<![endif]-->

	<script type=""text/javascript"" src=""/registrazione/js/mootools.js""></script>
	<script type=""text/javascript"" src=""/registrazione/js/common.js""></script>
	<script type=""text/javascript"" src=""/registrazione/js/forms.js""></script>
	<script type=""text/javascript"" src=""../ctl_library/JScript/ExecFunction.js""></script>


	<title>Piattaforma Gare</title>
	</head>

	<body>
	<div id=""main"">
	<div id=""shadow"">
		<div id=""header"">
			    <h1><a href=""index.htm""><img src=""/registrazione/images/logo.png"" alt=""Piattaforma Gare"" /></a></h1>
		</div>
		<div id=""middle"">
			<div id=""colcontainer"">					


				<div id=""colcx"" class=""large"">						
                        <div id=""breadcrumb"">

	                       		</div>
        	                <div class=""tips"">
                            	    <div class=""tipsbar"">
                               			<a href=""#suggerimento"">nascondi suggerimenti</a>
                                		<a href=""#suggerimento"" class=""suggest"">mostra suggerimenti</a>
                            	    </div>
                            	    <div id=""suggerimento"" class=""tipscontent"">
										Per salvare o leggere il contenuto degli allegati e' sufficiente cliccare sul link. Per la stampa della pagina
										cliccare sull'icona della stampante.
									</div>
	                        </div>                                                

                        <!--div id=""topdetails"" class=""details"">
                        	<address>
                            	<strong>Direzione Gare e Contratti</strong>

                                </address>
                        </div-->

						<div >
							<div id=""paginazione"" class=""paging"">

                    <div class=""icons1"">
                    <ul>
                      <li style=""background:url(/registrazione/images/printer.gif) center left no-repeat; padding:28px;margin-top:35px;margin-bottom:35px; "" ><a style=""cursor:pointer;"" onclick=""javscript:window.print();"">Stampa</a></li> 
                    </ul>
                    </div>

								<ul>");

					if (GetParamURL(Request.QueryString.ToString(), "CONTESTO") != "BANDITRADIZIONALI")
					{
						htmlToReturn.Write($@"<li><strong>Direzione Gare e Contratti</strong></li>");
					}else{
						htmlToReturn.Write($@"<li><strong>Direzione Provveditorato ed Economato</strong></li>");
					}
			htmlToReturn.Write($@"</ul>
	  						</div>

						</div>

						<table id=""template_doc"" >

						<thead>
						<tr>
						  <th colspan=""4"" align=left nowrap>Riepilogo Risultato di Gara</th>
						</tr>
						</thead>

   						<tbody>

 							<tr>
  							  <th  >Oggetto</th> 
							  	<td >" + DOC_Field("TESTATA", "Oggetto") + $@"</td>
 							</tr>
							<tr>

  								<th  >Risultato di Gara</th> 
					    			<td >
  										<table border=""0"" width=""96%"" id=""table1"" >");

	int i;
	int nr;
	nr = DOC_NumRow("PRODOTTI", "");

	if (nr > 0)
	{
		Fld_Attach objattach = new Fld_Attach();

		htmlToReturn.Write($@"<tr class=""""><td class=""CellIntestGrid""><font class=""PrintCols"">Descrizione</font></td><td class=""CellIntestGrid""><font class=""PrintCols"">Allegato</font></td></tr>");

		for (i = 0; i <= nr - 1; i++)
		{ //to nr-1
			htmlToReturn.Write($@"<tr>
				<td class=""CellGridPrintProducts"">"
					+ DOC_FieldRow("PRODOTTI", "Precisazione", i) +
								$@"</td>

				<td class=""linkAttachment"">");
			objattach.Init(18, "Allegato", DOC_FieldRowTecnical("PRODOTTI", "Allegato", i), null, null, "", true);
			objattach.Html(htmlToReturn, false);
			htmlToReturn.Write($@"</td>

			</tr>");
		}
	}
	htmlToReturn.Write($@"</table>
   						</td>
					</tr>
				</tbody>	
			</table>");

		if (GetParamURL(Request.QueryString.ToString(), "CONTESTO") != "BANDITRADIZIONALI")
		{
			htmlToReturn.Write($@"<div class=""details"" class=""large"">
						    	    <address>
						        	    <strong>Direzione Gare e Contratti</strong>
						                <p></p>
						            </address>
							</div>");
		}
		else
		{
			htmlToReturn.Write($@"<div class=""details"" class=""large"">
                    			<address>
                            	<strong></strong>
									<p>Organizzazione con sistema di gestione qualita'</p>	
									<p></p>

								</address>

                			</div>");
		}
		htmlToReturn.Write($@"</div>

				<div id=""coldx"" class=""hidden"">
							<h2><span><img src=""images/primo_piano.png"" alt=""In primo piano"" /></span></h2>
							
		  					<div class=""coltop"" >
								<ul>
									<li><a href=""#"">I nostri Clienti</a></li>
									<li><a href=""#"">Case History</a></li>
								</ul>
							</div>
							<h2><span><img src=""images/partner.png"" alt=""Partner"" /></span></h2>
				      				<a href=""#"" class=""partner ext""><img src=""images/logo_enginfo.gif"" alt="""" /> <span>www.eginfo.it</span></a>
							<a href=""#"" class=""partner ext""><img src=""images/logo_euris.gif"" alt="""" /> 
								<span>www.euris.it</span></a>
							<a href=""#"" class=""partner ext""><img src=""images/logo_oxero.gif"" alt="""" /> <span>www.oxero.it</span></a>
							<a href=""#"" class=""partner ext""><img src=""images/logo_rotospeed.gif"" alt="""" /> <span>www.rotospeed.it</span></a>
							<a href=""#"" class=""partner ext""><img src=""images/logo_metoda.gif"" alt="""" /> <span>www.metoda.it</span></a>
							<a href=""#"" class=""partner ext""><img src=""images/logo_erga.gif"" alt="""" /> <span>www.ergait.it</span></a>
				</div>
				
				
	      	</div>

		 </div>
		
	</div>	 
	</div>
		
	</body>
	</html>");

	//'-- Testo aggiunto in automatico per liberare la memoria dei nuovi report
		try
		{
			FreeMemDocument(session);
		}
		catch
		{

		}
}
@Html.Raw(htmlToReturn.Out())