@page "/Report/SCHEDA_PRECONTRATTO.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.print_documentModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.DOCUMENT.CommonModel;
@using static eProcurementNext.Razor.Pages.CustomDoc.GetNomeDirigenteModel;
@using static eProcurementNext.Razor.Pages.Report.SCHEDA_PRECONTRATTOModel;
@using Microsoft.VisualBasic;
@model eProcurementNext.Razor.Pages.Report.SCHEDA_PRECONTRATTOModel
@using static eProcurementNext.Session.SessionMiddleware
@{
    CommonDbFunctions cdf = new();
    LoadSession(HttpContext, session);
    EprocResponse htmlToReturn = new();
    objDoc = PrintDocument(session, htmlToReturn, HttpContext, Response, Request);//PrintDocument ok
}
@{

    htmlToReturn.Write($@"<html>");

    //'-- nel caso il valore del numero passato sia zero ritorna stringa vuota

    string NumF(string strNum)
    {
        string viewDate;

        viewDate = strNum;

        if (CStr(0.5).Contains(".", StringComparison.Ordinal))
        {
            viewDate = viewDate.Replace(".", "A");
            viewDate = viewDate.Replace(",", ".");
            viewDate = viewDate.Replace("A", ",");
        }

        return viewDate;
    }

    //'--azienda mittente del bando
    string strSQL;
    int idDoc = CInt(objDoc.mp_IDDoc);
    var sqlParams = new Dictionary<string, object?>();
    sqlParams.Add("@idDoc", idDoc);
    TSRecordSet Rs = GetRS("select top 1 ID_MSG_BANDO from Document_SchedaPrecontratto where Id=@idDoc", sqlParams);
    Rs.MoveFirst();

	sqlParams.Clear();
	sqlParams.Add("@ID_MSG_BANDO", CInt(Rs["ID_MSG_BANDO"]!));
	strSQL = "select IdMittente, pfuIdAzi from TAB_MESSAGGI_FIELDS, ProfiliUtente where IdMsg=@ID_MSG_BANDO and IdPfu=IdMittente";
    TSRecordSet RsAziendaMitt = GetRS(strSQL, sqlParams);
    TSRecordSet? RsInfoMitt = null;
    if (RsAziendaMitt.RecordCount > 0)
    {
		sqlParams.Clear();
		sqlParams.Add("@pfuIdAzi", CInt(RsAziendaMitt["pfuIdAzi"]!));
		RsInfoMitt = GetRS("select * from DASHBOARD_VIEW_AZIENDE where idazi=@pfuIdAzi", sqlParams);
        if (RsInfoMitt.RecordCount > 0)
        {
            RsInfoMitt.MoveFirst();
        }
    }

    htmlToReturn.Write($@"<STYLE>
	BODY
	{{
		FONT-SIZE: 10pt;
		FONT-FAMILY: Arial
	}}
	TABLE
	{{
		FONT-SIZE: 10pt;
		FONT-FAMILY: Arial
	}}

	.size1
	{{
		FONT-SIZE: 12pt;
		FONT-FAMILY: Arial
	}}

	.size2
	{{
		FONT-SIZE: 14pt;
		FONT-FAMILY: Arial
	}}

	.size5
	{{
		FONT-SIZE: 20pt;
		FONT-FAMILY: Arial
	}}

	.L
	{{
		BORDER-TOP: black 1px solid;
		BORDER-LEFT: black 1px solid;
		BORDER-RIGHT: black 1px solid;
		BORDER-BOTTOM: black 1px solid
	}}

	.C
	{{
		BORDER-TOP: black 1px solid;
		BORDER-BOTTOM: black 1px solid;
		BORDER-RIGHT: black 1px solid;

	}}


	</STYLE>

	<head>
	<meta http-equiv=""Content-Type"" content=""text/html; charset=utf-8"">
	<title>" + (RsInfoMitt is not null && RsInfoMitt.Fields is not null ? CStr(RsInfoMitt["aziragionesociale"]) : "") + $@"</title>
	</head>

	<body>
	<div align=""center"" width=""100%"" height=""100%"">
	<table border=""0""  height=""100%"" width=""90%"" >
	<tr>
		<td height=""100%"" valign=""top"">
			<!-- LOGO -->
			<div align=""center""  >
			<table border=""0"" valign=""top"">
			  <tr>
			    <td ><img src=""logo.jpg""  border=""0""></td>
			  </tr>
			</table>
			</div>


			<!-- Intestazione foglio -->

			<!--div align=""center"">
			<b><font class=""size2""><font class=""size5"">P</font> R O V I N C I A &nbsp;&nbsp;D I&nbsp;&nbsp; <font class=""size5"">N </font>A P O L I</font></font></b><br>
			<b><font class=""size1"">DIREZIONE GARE E CONTRATTI</font></b><br>
			<i>Via Oberdan, n 32 (Palazzo BNL) IV piano - 80134 Napoli<br>
			</div-->

			<div align=""center"" style=""text-align:center;"">
				<b><font class=""size2""><font class=""size5"">" + (RsInfoMitt is not null && RsInfoMitt.Fields is not null ? CStr(RsInfoMitt["aziragionesociale"]) : "") + $@"</ font ></ font ></ b >< br >
				<b><font class=""size1""></font></b><br>
				<i>" + (RsInfoMitt is not null && RsInfoMitt.Fields is not null ? CStr(RsInfoMitt["aziIndirizzoLeg"]) : "") + $@"&nbsp;" + (RsInfoMitt is not null && RsInfoMitt.Fields is not null ? CStr(RsInfoMitt["aziCAPLeg"]) : "") + $@"&nbsp;" + (RsInfoMitt is not null && RsInfoMitt.Fields is not null ? CStr(RsInfoMitt["aziLocalitaLeg"]) : "") + $@"&nbsp; (" + (RsInfoMitt is not null && RsInfoMitt.Fields is not null ? CStr(RsInfoMitt["aziProvinciaLeg"]) : "") + $@")" + (RsInfoMitt is not null && RsInfoMitt.Fields is not null ? CStr(RsInfoMitt["aziStatoLeg"]) : "") + $@"<br>
				Sito Web:<u>http://</i>" + (RsInfoMitt is not null && RsInfoMitt.Fields is not null ? CStr(RsInfoMitt["aziSitoWeb"]) : "") + $@"</u> <br>
				<i>e-mail address:</i> <u>" + (RsInfoMitt is not null && RsInfoMitt.Fields is not null ? CStr(RsInfoMitt["azie_mail"]) : "") + $@"</u> <br>
				<b>fax" + (RsInfoMitt is not null && RsInfoMitt.Fields is not null ? CStr(RsInfoMitt["aziFax"]) : "") + $@"- tel" + (RsInfoMitt is not null && RsInfoMitt.Fields is not null ? CStr(RsInfoMitt["aziTelefono1"]) : "") + $@"</b> <br>
			</div>

			<br>
			<br>

			<!-- Statico -->
			<table border=""0""  width=""100%""  >
				<tr>
					<td style=""text-align : center"" ><font class=""size1"">
						<b>Istruttoria Controlli</b>
						<br><br>
						</font>
					</td>
				</tr>
				<tr>
					<td style=""text-align : center"" ><hr>
					</td>
				</tr>
			</table>

			<!-- Protocollo Bando -->

			<table border=""0""  width=""100%""  >

				<tr>
					<td width=""80%"">&nbsp;</td>
					<td align=""left"" ><font class=""size1"">Protocollo Bando <i>" + DOC_Field("TESTATA", "ProtocolloBando") + $@"</i>
					</font></td>
				</tr>
			</table>

			<br>

			<!-- Aggiudicataria -->");

    TSRecordSet rsAzi;
    rsAzi = GetRS("select * from aziende,tipidatirange,descsi where cast(aziIddscFormaSoc as varchar)=tdrcodice and tdriddsc=iddsc and tdridtid=131 and idazi = " + DOC_FieldTecnical("TESTATA", "idAggiudicatrice"));

    htmlToReturn.Write($@"<table border=""0""  width=""100%""  >
				<tr>

					<td align=""left"" ><b><font class=""size1""> Aggiudicataria <br>"
            + CStr(rsAzi["aziragionesociale"]) + $@"&nbsp;&nbsp;"
        + CStr(rsAzi["dsctesto"]) + $@"</b><br>"
        + CStr(rsAzi["aziIndirizzoLeg"]) + $@"<br>"
        + CStr(rsAzi["aziCAPLeg"]) + $@"&nbsp;" + CStr(rsAzi["aziLocalitaLeg"]) + $@"&nbsp;(" + CStr(rsAzi["aziProvinciaLeg"]) + $@")<br>
						Fax" + CStr(rsAzi["azifax"]) + $@"<br>
						Partita Iva" + CStr(rsAzi["aziPartitaIva"]) + $@"<br>

						</font>
					</td>
				</tr>
			</table>

			<br>
			<br>


			<!-- OGGETTO -->
			<table border=""0""  width=""100%""  >
				<tr>

					<td align=""left"" valign=""top"" ><b><font class=""size1"">
						<u><b>OGGETTO</u>:</b>
						</font>
					</td>

					<td style=""text-align : justify"" ><font class=""size1"">
						<i>" + DOC_Field("TESTATA", "Oggetto") + $@"</i>
						</font>
					</td>

				</tr>

			</table>
			<br>
			<!-- Istruttoria Controlli -->
			<table border=""0""  width=""100%""  >
				<tr>

					<td align=""left"" valign=""top"" ><b><font class=""size1"">
						<u>Istruttoria Controlli</u>:</b>&nbsp;&nbsp;<i>" + DOC_Field("TESTATA_3", "IstruttoriaControlli") + $@"</i>
						</font>
					</td>
				</tr>

			</table>

			<br>
			<br>

			<!-- Dati Aggiudicazione -->
			<table border=""0""  width=""100%""  >

				<tr>
					<td align=""left"" ><font class=""size1"">Det. Aggiudicazione N." + DOC_Field("TESTATA_2", "NRDeterminazione") +
    $@"&nbsp;&nbsp;del&nbsp;&nbsp;" + DOC_Field("TESTATA_2", "DataDetermina") + $@".&nbsp;&nbsp;Lettera Aggiudicazione N." + DOC_Field("TESTATA_2", "ProtocolloGenerale") +
    $@"&nbsp;&nbsp;del&nbsp;&nbsp;" + DOC_Field("TESTATA_2", "DataProt") + $@".
					</font></td>
				</tr>
				<tr>
					<td align=""left"" ><font class=""size1"">Scadenza pres. documenti" + DOC_Field("TESTATA_2", "ScadenzaDocumentazione") +
    $@"&nbsp;&nbsp;&nbsp;&nbsp;Scadenza stipula" + DOC_Field("TESTATA_2", "ScadenzaStipula") + $@".
					</font></td>
				</tr>
				<tr>
					<td style=""text-align : center"" ><hr>
					</td>
				</tr>
				<tr>
					<td align=""left"" ><font class=""size1"">Comunicazione Esito N." + DOC_Field("TESTATA_2", "ProtocolloGeneraleEsito") +
    $@"&nbsp;&nbsp;del&nbsp;&nbsp;" + DOC_Field("TESTATA_2", "DataProtEsito") + $@".&nbsp;&nbsp;Responsabile Contratto" + DOC_Field("TESTATA_2", "ResponsabileContratto") +
    $@"&nbsp;&nbsp;Importo Contratto&nbsp;Euro&nbsp;" + DOC_Field("TESTATA_2", "ValoreContratto") + $@".
					</font></td>
				</tr>
				<tr>
					<td style=""text-align : center"" ><hr>
					</td>
				</tr>
				<tr>
					<td align=""left"" ><font class=""size1"">Pubblicazione Esito&nbsp;&nbsp;&nbsp;" + DOC_Field("ESITO", "PubblicazioneEsito") +
    $@"&nbsp;&nbsp;&nbsp;&nbsp;Efficacia Aggiudicazione&nbsp;&nbsp;&nbsp;" + DOC_Field("ESITO", "DataEfficacia") + $@".
					</font></td>
				</tr>
			</table>
			<br>

			<!-- Controlli Attivati -->
			<table border=""0"" width=""96%"" id=""table1"" >
			<tr><b><font class=""size1""> Controlli Attivati</b></font></tr>
			<tr>
			<td width=""5%""  class=""L""  align=""center"" >Fornitore</td>
		    	<td width=""20%"" class=""C""  align=""center"" >Tipo Controllo</td>
		    	<td width=""5%""  class=""C""  align=""center"" >Data Rilascio</td>
		    	<td width=""10%"" class=""C2"" align=""center"" >Esito</td>
		    	<td width=""10%"" class=""C""  align=""center"" >Note</td>
			</tr>");

    int i;
    int nr;
    nr = DOC_NumRow("CONTROLLI", "");
    for (i = 0; i <= nr - 1; i++)
    { //to nr-1

        htmlToReturn.Write($@"<tr>
    			<td width=""30%"" style=""border-style: solid; border-width: 1px"">" + i + 1 + $@")" +
            DOC_FieldRow("CONTROLLI", "Fornitore", i) +
                    $@"</td>

    			<td width=""25%"" style=""border-style: solid; border-width: 1px"">"
                + DOC_FieldRow("CONTROLLI", "TipoComunicazione", i) +
                    $@"</td>

			<td width=""25%"" style=""border-style: solid; border-width: 1px"">"
                + DOC_FieldRow("CONTROLLI", "DataRilascio", i) +
                    $@"</td>

			<td width=""25%"" style=""border-style: solid; border-width: 1px"">"
                + DOC_FieldRow("CONTROLLI", "Esito", i) +
                    $@"</td>

			<td width=""25%"" style=""border-style: solid; border-width: 1px"">"
                + DOC_FieldRow("CONTROLLI", "NoteComunicazione", i) +
                    $@"</td>

			</tr>");

    }

    htmlToReturn.Write($@"</table>
	<br>
	<br>
			<!-- Controlli Aggiuntivi -->
			<table border=""0"" width=""96%"" id=""table1"" >
			<tr><b><font class=""size1""> Controlli Aggiuntivi </b></font></tr>
			<tr>
			<td width=""5%""  class=""L""  align=""center"" >Fornitore</td>
		    	<td width=""20%"" class=""C""  align=""center"" >Tipo Controllo</td>
		    	<td width=""10%"" class=""C""  align=""center"" >Attivato il</td>
		    	<td width=""5%""  class=""C""  align=""center"" >Data Rilascio</td>
		    	<td width=""10%"" class=""C""  align=""center"" >Esito</td>
		    	<td width=""10%"" class=""C""  align=""center"" >Note</td>
		    	<td width=""10%""  class=""C""  align=""center"" >Data Scadenza</td>
			</tr>");

    nr = DOC_NumRow("DURC", "");
    for (i = 0; i <= nr - 1; i++)
    { //to nr-1

        htmlToReturn.Write($@"<tr>
					<td width=""30%"" style=""border-style: solid; border-width: 1px"">" + i + 1 + $@")" +
        DOC_FieldRow("DURC", "DURC_Fornitore", i) +
                                        $@"</td>

    			<td width=""25%"" style=""border-style: solid; border-width: 1px"">"
                + DOC_FieldRow("DURC", "DURC_TipoComunicazione", i) +
                                            $@"</td>

			<td width=""25%"" style=""border-style: solid; border-width: 1px"">"
                    + DOC_FieldRow("DURC", "DURC_DataControllo", i) +
                                            $@"</td>

			<td width=""25%"" style=""border-style: solid; border-width: 1px"">"
                + DOC_FieldRow("DURC", "DURC_DataRilascio", i) +
                                            $@"</td>

			<td width=""25%"" style=""border-style: solid; border-width: 1px"">"
                + DOC_FieldRow("DURC", "DURC_Esito", i) +
                                            $@"</td>

			<td width=""25%"" style=""border-style: solid; border-width: 1px"">"
                + DOC_FieldRow("DURC", "DURC_NoteComunicazione", i) +
                                            $@"</td>
			<td width=""25%"" style=""border-style: solid; border-width: 1px"">"
                + DOC_FieldRow("DURC", "DURC_DataScadenza", i) +
                                            $@"</td>

			</tr>");

    }

    htmlToReturn.Write($@"</table>
	<br>
	<br>
			<!-- Firma dirigente -->

			<table border=""0""  width=""100%""  >
				<tr>
					<td align=""left"" width=""80%""><b>IL RESPONSABILE DEL PROCEDIMENTO</b></td>
					<td align=""center"" nowrap>
						<b><font class=""size1"">
						Visto</b><br>
						<b><font class=""size1"">
						Il Dirigente</b><br>");

    if (Information.IsDate(DOC_Field("TESTATA_2", "DataProt")))
    {
        htmlToReturn.Write($@"<i>dott." + GetNomeDirigente(GARE_E_CONTRATTI, DOC_Field("TESTATA_2", "DataProt")) + $@"</i>");
    }
    else
    {
        htmlToReturn.Write($@"<i>dott." + GetNomeDirigente(GARE_E_CONTRATTI, DOC_Field("TESTATA_2", "DataDetermina")) + $@"</i>");
    }

    htmlToReturn.Write($@"</font>
						<!--
						<img border=""0"" src=""firma_demarino.jpg""  width=""150px"">
						-->
					<td align=""left"" width=""10%"">&nbsp;</td>

				</tr>
			</table>

			<!-- Chiusura -->

		</td>
	</tr>

	</table>

	</div>
	</body>");


    //'-- Testo aggiunto in automatico per liberare la memoria dei nuovi report

    try
    {
        FreeMemDocument(session);
    }
    catch
    {

    }



}
@Html.Raw(htmlToReturn.Out())