Grid_FldBold
{
    FONT-WEIGHT: bolder
}
TABLE.Calendar
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 10pt;
    COLOR: #333;
}

#Div_ViewerGriglia table td div table.Calendar td.DAY_CAP_Calendar, #Div_ViewerGriglia table td div table.Calendar td.DAY_CELL_Calendar, #Div_ViewerGriglia table td div table.Calendar td.OUT_DAY_CELL_Calendar, #Div_ViewerGriglia table td div table.Calendar TD.OUT_SATURDAY_CELL_Calendar, #Div_ViewerGriglia table td div table.Calendar TD.OUT_SUNDAY_CELL_Calendar{ border:1px solid #666;}
#Div_ViewerGriglia table td div table.Calendar TD.SUNDAY_CELL_Calendar, #Div_ViewerGriglia table td div table.Calendar td.SATURDAY_CELL_Calendar{ border:1px solid #ccc;}

#Div_ViewerGriglia table td div table.Calendar td.CAPTION_Calendar{ border:1px solid #515151;}
#Div_ViewerGriglia table td div table.Calendar td.TODAY_DAY_CELL_Calendar{border:5px solid #cb1d15; color:#cb1d15; }
#Div_ViewerGriglia table td div table.Calendar td.TODAY_DAY_CELL_Calendar td.CAP_CELLCalendar{font-size:1.8em;}







td TD.DAY_CAP_Calendar
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 1em;
    MARGIN: 0px;
    COLOR: #313131;
    BACKGROUND-COLOR:#ccc;
    TEXT-ALIGN: center;
	padding:0.5em;
	border:1px solid #fff;
}
.CAPTION_Calendar
{
	padding:0.5em;
    FONT-WEIGHT: bold;
    FONT-SIZE: 13pt;
    /*FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ff8805', endColorStr='#ffe4b8', gradientType='0');*/
    MARGIN-BOTTOM: 1px;
    MARGIN-LEFT: 6px;
    COLOR: #fff;
    BACKGROUND-COLOR: #515151;
    TEXT-ALIGN: left
}

.CAP_CELLCalendar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 1em;
    TEXT-ALIGN:center;
}
.CAP_CELLUsedCalendar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    TEXT-ALIGN:center
}

TD.OUT_DAY_CELL_Calendar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    HEIGHT: 100px;
    WIDTH: 18%;	
    BACKGROUND-COLOR: #ececec;
    TEXT-ALIGN:center;
	border:1px solid #666;
}

TD.OUT_SUNDAY_CELL_Calendar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #cb1d15;
    HEIGHT: 100px;
    WIDTH: 5%;	
    BACKGROUND-COLOR:#fba19d;
    TEXT-ALIGN:center
}
TD.OUT_SATURDAY_CELL_Calendar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #cb1d15;
    HEIGHT: 100px;
     WIDTH: 5%;	
   BACKGROUND-COLOR:#fba19d;
    TEXT-ALIGN:center
}

TD.DAY_CELL_Calendar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
     
    HEIGHT: 100px;
    WIDTH: 18%;	
    BACKGROUND-COLOR: #fff;
    TEXT-ALIGN:center
}
TD.SUNDAY_CELL_Calendar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #fff;
    HEIGHT: 100px;
    WIDTH: 5%;	
    BACKGROUND-COLOR: #cb1d15;
    TEXT-ALIGN:center
}
TD.SATURDAY_CELL_Calendar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 1em;
    COLOR: #fff;
    HEIGHT: 100px;
    WIDTH: 5%;	
    BACKGROUND-COLOR:#cb1d15;
    TEXT-ALIGN:center;
}
TD.TODAY_OUT_DAY_CELL_Calendar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    HEIGHT: 100px;
    WIDTH: 18%;	
    BACKGROUND-COLOR: moccasin;
    TEXT-ALIGN:center
}

TD.TODAY_OUT_SUNDAY_CELL_Calendar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ff0000;
    HEIGHT: 100px;
    WIDTH: 5%;	
    BACKGROUND-COLOR: darkgray;
    TEXT-ALIGN:center
}
TD.TODAY_OUT_SATURDAY_CELL_Calendar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ff0000;
    HEIGHT: 100px;
     WIDTH: 5%;	
   BACKGROUND-COLOR: darkgray;
    TEXT-ALIGN:center
}

TD.TODAY_DAY_CELL_Calendar
{
    FONT-WEIGHT: bold;
    HEIGHT: 100px;
    WIDTH: 18%;	
    BACKGROUND-COLOR: #fff;
    TEXT-ALIGN: center;

}
TD.TODAY_SUNDAY_CELL_Calendar
{

    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ff0000;
    HEIGHT: 100px;
    WIDTH: 5%;	
    BACKGROUND-COLOR: silver;
    TEXT-ALIGN: center;
}
TD.TODAY_SATURDAY_CELL_Calendar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #cb1d15;
    HEIGHT: 100px;
    WIDTH: 5%;	
    BACKGROUND-COLOR: #fff;
	border:1px solid #cb1d15;
    TEXT-ALIGN:center
}

TABLE.CalSintetic
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    COLOR: #515151;
    CURSOR: pointer;
	text-align:center;
	border:1px solid #515151;
}
.CAPTION_CalSintetic
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
   /* FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#aaaaaa', endColorStr='#ffffff', gradientType='0');*/
    MARGIN-BOTTOM: 1px;
    MARGIN-LEFT: 6px;
    COLOR: #fff;
    TEXT-ALIGN: center;
	background:#515151;
	padding:0.5em 0em;
   /* N-BACKGROUND-COLOR: orange*/
}
.CAP_CELLUsedCalSintetic
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    TEXT-ALIGN: center;
}
.CAP_CELLCalSintetic
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    TEXT-ALIGN:center
}
TD.DAY_CAP_CalSintetic
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    COLOR: #333;
    PADDING-TOP: 2px;
    BACKGROUND-COLOR: #ccc;
    TEXT-ALIGN: center;
}


td.OUT_DAY_CELL_CalSintetic
{
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: #666;
    HEIGHT: 18px;
    BACKGROUND-COLOR:#ececec;
    TEXT-ALIGN:center
}

TD.OUT_SUNDAY_CELL_CalSintetic, TD.OUT_SATURDAY_CELL_CalSintetic
{
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: #cb1d15;
    HEIGHT: 18px;
    BACKGROUND-COLOR:#fba19d;
    TEXT-ALIGN:center
}

TD.DAY_CELL_CalSintetic
{
    HEIGHT: 18px;
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: #515151;
    BACKGROUND-COLOR:#fff;
    TEXT-ALIGN: center;

}
TD.SUNDAY_CELL_CalSintetic
{
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: #fff;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #cb1d15;
    TEXT-ALIGN: center;
}
TD.SATURDAY_CELL_CalSintetic
{
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: #fff;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #cb1d15;
    TEXT-ALIGN: center;
}

TD.OUT_DAY_CELL_CalSinteticUsed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    CURSOR: pointer;
	HEIGHT: 18px;
    COLOR: #fff;
    BACKGROUND-COLOR:#ef5454;
    TEXT-ALIGN:center
}
TD.OUT_SUNDAY_CELL_CalSinteticUsed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    CURSOR: pointer;
    HEIGHT: 18px;
	COLOR: #fff;
    BACKGROUND-COLOR:#ef5454;
	TEXT-ALIGN:center;
}
TD.OUT_SATURDAY_CELL_CalSinteticUsed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    CURSOR: pointer;    
	HEIGHT: 18px;
    COLOR: #fff;
    BACKGROUND-COLOR:#ef5454;
    TEXT-ALIGN:center
}
TD.DAY_CELL_CalSinteticUsed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    CURSOR: pointer;
	HEIGHT: 18px;
    COLOR: #fff;
    BACKGROUND-COLOR:#ef5454;
    TEXT-ALIGN:center
}
TD.SUNDAY_CELL_CalSinteticUsed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    CURSOR: pointer;
    HEIGHT: 18px;
     COLOR: #fff;
    BACKGROUND-COLOR:#ef5454;
	TEXT-ALIGN:center
}
TD.SATURDAY_CELL_CalSinteticUsed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    CURSOR: pointer;
    HEIGHT: 18px;
    COLOR: #fff;
    BACKGROUND-COLOR:#ef5454;
	TEXT-ALIGN:center
}

TABLE.CalPrinter
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 10pt;
    COLOR: #333;
}
TD.DAY_CAP_CalPrinter
{

    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    COLOR: #333;
    PADDING-TOP: 2px;
    TEXT-ALIGN: center
}
.CAPTION_CalPrinter
{
    BORDER-RIGHT: #000000 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #000000 1px solid;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 18pt;
    /*FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff', endColorStr='#aaaaaa', gradientType='0');*/
    MARGIN-BOTTOM: 1px;
    PADDING-BOTTOM: 1px;
    MARGIN-LEFT: 6px;
    COLOR: #000000;
    PADDING-TOP: 1px;
    HEIGHT: 50px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: left
}
.CAP_CELLCalPrinter
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
     
    TEXT-ALIGN:center
}
.CAP_CELLUsedCalPrinter
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    TEXT-ALIGN:center
}

TD.OUT_DAY_CELL_CalPrinter
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    HEIGHT: 110px;
    BACKGROUND-COLOR: silver;
    TEXT-ALIGN:center
}


TD.OUT_SUNDAY_CELL_CalPrinter
{
    BORDER-RIGHT: #333 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-BOTTOM: #333 1px solid;
     
    HEIGHT: 110px;
    BACKGROUND-COLOR: silver;
    TEXT-ALIGN:center
}
TD.OUT_SATURDAY_CELL_CalPrinter
{
    BORDER-RIGHT: #333 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-BOTTOM: #333 1px solid;
     
    HEIGHT: 110px;
    BACKGROUND-COLOR: silver;
    TEXT-ALIGN:center
}
TD.DAY_CELL_CalPrinter
{
    BORDER-RIGHT: #333 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-BOTTOM: #333 1px solid;
     
    HEIGHT: 110px;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN:center
}
TD.SUNDAY_CELL_CalPrinter
{
    BORDER-RIGHT: #333 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-BOTTOM: #333 1px solid;
     
    HEIGHT: 110px;
    TEXT-ALIGN:center
}
TD.SATURDAY_CELL_CalPrinter
{
    BORDER-RIGHT: #333 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-BOTTOM: #333 1px solid;
     
    HEIGHT: 110px;
    TEXT-ALIGN:center
}



UNKNOWN
{
    BORDER-RIGHT: #800000 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #800000 1px solid;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 13pt;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ff8805', endColorStr='#ffe4b8', gradientType='0');
    MARGIN-BOTTOM: 1px;
    PADDING-BOTTOM: 1px;
    MARGIN-LEFT: 6px;
    BORDER-LEFT: #800000 1px solid;
    COLOR: #800000;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #800000 1px solid;
     
    BACKGROUND-COLOR: orange
}
TD.GR0_GridCol_LinkCal
{
    BORDER-RIGHT: lightgrey 1px solid;
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: blue;
    BORDER-BOTTOM: silver 1px solid;
    NO-TEXT-DECORATION: underline
}

/*TD.TODAY_OUT_DAY_CELL_CalSintetic
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: #888888;
    HEIGHT: 18px;
    BACKGROUND-COLOR: moccasin;
    TEXT-ALIGN:center
}
TD.TODAY_OUT_SUNDAY_CELL_CalSintetic
{
    BORDER-LEFT: red 1px solid;
    BORDER-TOP: red 1px solid;
    BORDER-RIGHT: red 1px solid;
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: #888888;
    BORDER-BOTTOM: red 1px solid;
     
    HEIGHT: 18px;
    BACKGROUND-COLOR: darkgray;
    TEXT-ALIGN:center
}
TD.TODAY_OUT_SATURDAY_CELL_CalSintetic
{
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: #888888;
    HEIGHT: 18px;
    BACKGROUND-COLOR: darkgray;
    TEXT-ALIGN:center
}*/
.right table td TD.TODAY_DAY_CELL_CalSintetic
{
    HEIGHT: 18px;
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    BACKGROUND-COLOR: #fff;
	color:#cb1d15;
	border:1px solid #cb1d15;
    TEXT-ALIGN:center;
	font-weight:bold;
}
TD.TODAY_SUNDAY_CELL_CalSintetic
{
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: #cb1d15;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #fff;
    TEXT-ALIGN:center;
	border:1px solid #cb1d15;
}
TD.TODAY_SATURDAY_CELL_CalSintetic
{
    FONT-SIZE: 8pt;
    CURSOR: pointer;
    COLOR: #cb1d15;
    HEIGHT: 18px;
    BACKGROUND-COLOR:#fff;
    TEXT-ALIGN:center;
	border:1px solid #cb1d15;
}

TD.TODAY_OUT_DAY_CELL_CalSinteticUsed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    CURSOR: pointer;
    COLOR: #333;
    HEIGHT: 18px;
    BACKGROUND-COLOR:#ef5454;
    TEXT-ALIGN:center
}
TD.TODAY_OUT_SUNDAY_CELL_CalSinteticUsed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    CURSOR: pointer;
    COLOR:#333;
    HEIGHT: 18px;
    BACKGROUND-COLOR:#ef5454;
    TEXT-ALIGN:center
}
TD.TODAY_OUT_SATURDAY_CELL_CalSinteticUsed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    CURSOR: pointer;
    COLOR: #333;
    HEIGHT: 18px;
    BACKGROUND-COLOR:#ef5454;
    TEXT-ALIGN:center
}
TD.TODAY_DAY_CELL_CalSinteticUsed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    CURSOR: pointer;
    COLOR: #333;
    HEIGHT: 18px;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN:center
}
TD.TODAY_SUNDAY_CELL_CalSinteticUsed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    CURSOR: pointer;
    COLOR: #333;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #ef5454;
    TEXT-ALIGN:center,
}
TD.TODAY_SATURDAY_CELL_CalSinteticUsed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    CURSOR: pointer;
    COLOR: #333;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #fff;
    TEXT-ALIGN:center;
}

TD.TODAY_OUT_DAY_CELL_CalPrinter
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    HEIGHT: 110px;
    BACKGROUND-COLOR: #fff;
	border:1px solid #cb1d15;
	color:##cb1d15;
    TEXT-ALIGN:center;
}

TD.TODAY_OUT_SUNDAY_CELL_CalPrinter
{
	FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    HEIGHT: 110px;
    BACKGROUND-COLOR: #fff;
	border:1px solid #cb1d15;
	color:#cb1d15;
    TEXT-ALIGN:center;
}
TD.TODAY_OUT_SATURDAY_CELL_CalPrinter
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    HEIGHT: 110px;
    BACKGROUND-COLOR: #fff;
	border:1px solid #cb1d15;
	color:#cb1d15;
    TEXT-ALIGN:center
}
TD.TODAY_DAY_CELL_CalPrinter
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    HEIGHT: 110px;
    BACKGROUND-COLOR: white;
	color:#cb1d15;
	border:1px solid #cb1d15;
    TEXT-ALIGN:center
}
TD.TODAY_SUNDAY_CELL_CalPrinter
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    HEIGHT: 110px;
    TEXT-ALIGN:center;
	background:#fff;
	border:1px solid #cb1d15;
	color:#cb1d15;
}
TD.TODAY_SATURDAY_CELL_CalPrinter
{
   
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    HEIGHT: 110px;
    TEXT-ALIGN:center
	background:#fff;
	border:1px solid #cb1d15;
	color:#cb1d15;
}


div#Div_ViewerCalendar table td div#div_GridViewer{ padding:1em;}
