@charset "utf-8";


.DOM_Desc_MultiValue {
    display: inline;
    padding-right: 5px;
}

.DOM_Desc_MultiValue_AFTER {
    display: inline;
    padding-left: 5px;
}

td.DOM_OPT {
    padding: 5px 5px 5px 5px;
}

/* 
 * Fine css per il modulo questionario
 */
.ModuloQuestionarioSectionOpen {
    margin-bottom: 1em;
}

.ModuloQuestionarioSectionTitle {
    /* background-color: #ececec; */
    /* width:95%; */
    background-color: #1A9DDA !important;
    padding: 0.3em 0em 0.3em 0em;
    color: white !important;
    font-style: inherit !important;
    /* text-align: center; */
}

.ModuloQuestionarioHr {
    width: 100%;
    margin: 0.75em 0 0.75em 0.2em;
    height: 0.1em;
    border-width: 0;
    color: gray;
    background-color: gray;
}

.ModuloQuestionarioConditionedSection {
    font-size: 0.8125em;
    /* padding-left: 30px;
  font-style: italic; */
    padding: 0em 0em 0em 1em;
    color: #FEC825;
}

.ModuloQuestionarioParameterNoteContainer {
    margin: 0 1em 1em 1.5em;
}

.DescrizioneEstesaSezione {
    font-size: large;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.rowParameterNote {
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0.8em;
}

.ModuloQuestionarioSectionDescription_Print {
    padding: 0.6em;
}

.ModuloQuestionarioNote {
    font-size: 16px;
    /* padding: 10px */
    padding-top: 0.2em;
}

.ModuloQuestionarioNoteDescription {
    font-size: 14px;
    /* background-color: #FAFAFA; */
    /* padding-left: 30px */
}

.setOpacity_Print .VerticalModel_ReadOnlyField {
    background: transparent;
    /* border: 1px solid #666; */
    width: 100%;
}

.Questionario_Parametro_Titolo {
    font-size: 16px;
    padding-bottom: 0.2em;
}

.Questionario_Parametro_Descrizione {
    font-size: 14px;
    /* padding: 5px; */
}
/* 
 * Fine css per il modulo questionario
 */

.TextArea_NotEditable {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: normal;
}
