@charset "utf-8";
html, body, div, span,applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dd, dl, dt, li, ol, ul,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;font-weight: inherit;font-style: inherit; line-height: 1;font-family: inherit;text-align: left;vertical-align: baseline;}
a img, :link img, :visited img {border: 0;}
table{border-collapse: collapse;border-spacing: 0; margin-bottom:3px;/* border:1px solid #ccc;*/}
ol, ul {list-style: none;}
q:before, q:after,blockquote:before, blockquote:after {content: "";}
html,body{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#333;}

.bodyScanner{ background:#a8a8a8 url(./imgs/top.gif) top left repeat-x; border-top:1px solid #ececec;}
.appletDiv{text-align: center; background:#fff;height:200px; width:99%; margin:0 auto; border:1px solid #999;}
h1{ color:#333; font-size:21px; text-align:center; line-height:60px; /*background:url(./imgs/logo.png) center left no-repeat;*/ padding-left:90px; display:block; width:380px; margin:0 auto;}

