
.Toolbar_button
{
	FONT-WEIGHT:normal;
    FONT-SIZE: 12px;
    CURSOR: pointer;
    COLOR: #CB1D15;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-ALIGN: left;
    TEXT-DECORATION: underline

}

TABLE.Toolbar
{
    PADDING-RIGHT: 3px;
    BORDER-TOP: thin;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
}
BODY
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	
}
#LISTA_ATTIVITA_TOOLBAR_Prosegui img{ margin-left:20px;}
.ToolBar_buttonDisabled
{
    FONT-SIZE: 12px;
    COLOR: gray;
    TEXT-ALIGN: left;
}


input, select, textarea{ border:1px solid #ccc; padding-left:3px; margin-right:3px; }
input#GridViewer_SEL{ border:none;}
/*
input:focus{ background-color:#fff;}
input.ctlclsProtocolBG_vis, input.ctlclsProtocolloOfferta_vis, input.ctlclsProtocolloBando_vis, input.ctlclsDataPubblicazioneBando_vis, input.ctlclsProceduraGara_vis, input.ctlclsRilancio_vis, input.ctlclstipoappalto_vis, input.ctlclsTermineRicezioneOfferte_vis, input.ctlclsOra_vis, input.ctlclsMinuti_vis, input.ctlclsImportoBaseAsta_vis, input.ctlclsCriterioAggiudicazioneGara_vis, input.ctlclsRequestSignTemp_vis, input.ctlclsCriterioFormulazioneOfferte_vis, input.ctlclsProtocolloInformaticoUscita_vis, input.ctlclsDataProtocolloInformaticoUscita_vis, input.ctlclsCIG_vis, input.ctlclsCUP_vis, input.ctlclsDataAperturaOfferte_vis, textarea.ctlclsObject, input.ctlclsCalcoloAnomalia_vis, input.ctlclsOffAnomale_vis, input.TextFieldLocked{ border:1px solid #96B0D4; background-color:#EFEFEF; padding-left:3px;}
*/