BODY
{
}
.FontSelectedTab
{
    BORDER-RIGHT: #161a74 1pt ridge;
    BORDER-TOP: #161a74 1pt ridge;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #161a74 1pt ridge;
    COLOR: #161a74;
    BORDER-BOTTOM: #161a74 1pt;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white;
    TEXT-DECORATION: none
}
.FontNotSelectedTab
{
    BORDER-RIGHT: white 1pt ridge;
    BORDER-TOP: white 1pt ridge;
    FONT-SIZE: 8pt;
    BORDER-LEFT: white 1pt ridge;
    CURSOR: pointer;
    COLOR: #161a74;
    BORDER-BOTTOM: white 1pt ridge;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e9edf3;
    TEXT-DECORATION: none
}
.FontIceTab
{
    FONT-SIZE: 8pt;
    COLOR: #808080;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
TABLE.GridTab
{
    BACKGROUND-COLOR: #e9edf3
}
