BODY
{
}
TABLE.GridPrint
{
}
TD.CellGridPrint
{
}
TABLE.GridHeaderFolderBar
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 200%;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: darkslateblue
}
TD.CellGridHeaderFolderBar
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14pt;
    COLOR: white;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
TABLE.GridFieldsFolderBar
{
    WIDTH: 200%;
    BACKGROUND-COLOR: white
}
TD.CellGridFieldsFolderBar
{
    FONT-WEIGHT: 300;
    FONT-SIZE: 1px;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: silver;
    TEXT-DECORATION: none
}
TABLE.GridHeaderDocsPrint
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 100%;
    PADDING-TOP: 0px
}
TD.CellGridHeaderDocsPrint
{
    BACKGROUND-COLOR: white
}
.PrintTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.PrintRagSoc
{
    FONT-SIZE: 12pt;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.PrintCols
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.PrintValues
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
TABLE.GridPrintCover
{
    BACKGROUND-COLOR: white
}
TD.CellGridPrintCover
{
    BACKGROUND-COLOR: white
}
TABLE.GridPrintCG
{
    BACKGROUND-COLOR: white
}
TD.CellGridPrintCG
{
    BACKGROUND-COLOR: white
}
TABLE.GridPrintArticles
{
    BACKGROUND-COLOR: white
}
TD.CellGridPrintArticles
{
    BACKGROUND-COLOR: white
}
TABLE.GridPrintAttributes
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    WIDTH: 100%;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: white
}
TD.CellGridPrintAttributes
{
    BACKGROUND-COLOR: white
}
TABLE.GridPrintProducts
{
    BACKGROUND-COLOR: white
}
TD.CellGridPrintProducts
{
    BACKGROUND-COLOR: white
}
TABLE.GridPrintNotes
{
    WIDTH: 100%;
    BACKGROUND-COLOR: white
}
TD.CellGridPrintNotes
{
    BACKGROUND-COLOR: white
}
TABLE.GridPrintAttachments
{
    WIDTH: 100%;
    BACKGROUND-COLOR: white
}
TD.CellGridPrintAttachments
{
    BACKGROUND-COLOR: white
}
.PrintLink
{
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: blue;
    LINE-HEIGHT: 8pt;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
.OAPFontLegalPub
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.OAPFontLegalPubBold
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
TABLE.OAPGridLegalPub
{
}
TD.OAPCellGridLegalPub
{
}
.FontLabelObblig
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial
}
.TextFieldCoverLocked
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
TD.CellGridNumericPrintProducts
{
    TEXT-ALIGN: right
}
TD.CellNumericBold
{
    BORDER-TOP: 0pt solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
TD.cellgridriepilogo1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
TD.CellNumeric
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: darkred;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
TD.CellNumeric1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
HR.separatoreBig
{
    BORDER-RIGHT: black 4px solid;
    BORDER-TOP: black 4px solid;
    BORDER-LEFT: black 4px solid;
    BORDER-BOTTOM: black 4px solid;
    BACKGROUND-COLOR: gray
}
