@page "/Portale/registrazione_oe.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using static eProcurementNext.HTML.BasicFunction;
@using Microsoft.VisualBasic;
@using static eProcurementNext.Razor.Pages.Portale.INC.layoutModel;
@using static  eProcurementNext.Razor.Pages.Portale.INC.aflink_wrapperModel;
@using static eProcurementNext.Session.SessionMiddleware
@{
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new(GetParamURL(HttpContext.Request.QueryString.ToString(), "XML_ATTACH_TYPE"));
}
@{
	Layout = IsMasterPageNew() ? "~/Pages/Portale/INC/layoutNew.cshtml" : "~/Pages/Portale/INC/layout.cshtml";

}
@{
	ViewData["Title"] = "Registrazione Operatore Economico";
	//drawLayout("Registrazione Operatore Economico",htmlToReturn,Response,Request);
	htmlToReturn.Write($@"<div class=""page-header""><h2 itemprop=""headline"">Registrazione Operatore Economico</h2></div>");

	//'WEBSERVERAPPLICAZIONE_INTERNO

	wrapperPage("registrazione_er.asp", htmlToReturn, Request, session,HttpContext);

}@Html.Raw(htmlToReturn.Out())