@page "/CTL_LIBRARY/infogare.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonDB
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using static eProcurementNext.HTML.BasicFunction;
@using static eProcurementNext.Session.SessionMiddleware
@using Microsoft.VisualBasic;
@model eProcurementNext.Razor.Pages.CTL_LIBRARY.infogareModel
@{
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new(GetParamURL(HttpContext.Request.QueryString.ToString(), "XML_ATTACH_TYPE"));
}
@{
	htmlToReturn.Write("<HTML>");
	htmlToReturn.Write("<HEAD>");

	htmlToReturn.Write("<TITLE></TITLE>");
	htmlToReturn.Write("</HEAD>");
	htmlToReturn.Write("<BODY>");

	string strSQL = "select * from DASHBOARD_VIEW_Rpt_DatiGAre with(nolock) order by periodo desc  ";
	CommonDbFunctions cdb = new();
	TSRecordSet rs = cdb.GetRSReadFromQuery_(strSQL, ApplicationCommon.Application.ConnectionString);
	if (rs.RecordCount >0)
	{
		rs.MoveFirst();
		while(!rs.EOF)
		{
			htmlToReturn.Write(@"Periodo:<div id=""Periodo"">" + CStr(rs["Periodo"]) + "</div><br>");
			htmlToReturn.Write(@"Numero Gare:<div id=""NumeroGare"">" + CStr(rs["NumGarePubb"]) + "</div><br>");
			htmlToReturn.Write(@"Numero Lotti:<div id=""NumeroLotti"">" + CStr(rs["NumeroLotti"]) + "</div><br>");
			htmlToReturn.Write(@"Numero Lotti Aggiudicati:<div id=""NumeroLottiAggiudicati"">" + CStr(rs["LottiAggiudicati"]) + "</div><br>");
			htmlToReturn.Write(@"Valore Importo Lotti:<div id=""ValoreImportoLotti"">" + CStr(rs["ValoreImportoLotto"]) + "</div><br>");
			htmlToReturn.Write(@"Importo Aggiudicato:<div id=""ImportoAggiudicato"">" + CStr(rs["ImportoAggiudicato"]) + "</div><br>");
			htmlToReturn.Write("-------------------------------------------------<br>");

			rs.MoveNext();
		}
	}

	htmlToReturn.Write("</BODY>");
	htmlToReturn.Write("</HTML>");
}@Html.Raw(htmlToReturn.Out())