<?xml version="1.0" encoding="utf-8"?>
<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- Stringa di connessione per il database -->
    <add key="db.conn" value="Password=QPpEUU^Cv!5kqWV-;Persist Security Info=True;User ID=tssuser;Initial Catalog=AFLink_PA_DEV;Data Source=SV-VM-01333" />
    <!--************************** PARAMETRI INIPEC ****************************-->
    <add key="InfoCamere.BasicUsername" value="H1G1APL6" />
    <add key="InfoCamere.BasicPassword" value="Napolimet!6" />
    <add key="InfoCamere.CaricaPec.NomeDocumento" value="InfocamereLista" />
    <add key="InfoCamere.TipoDocumento" value="zip" />
    <add key="InfoCamere.ScaricaPec.TipoRichiesta" value="FORNITURA_FPEC" />
    <add key="InfoCamere.Indirizzo_WS" value="http://ws.fpec.gemo.infocamere.it" />
    <add key="InfoCamere.Client" value="https://fpecws.infocamere.it" />
    <add key="InfoCamere.Endpoint" value="/fpec/ServizioFornituraPec" />
    <add key="InfoCamere.Host" value="fpecws.infocamere.it" />
    <add key="InfoCamere.SOAPAction.ScaricaPec" value="scaricoFornituraPec" />
    <add key="InfoCamere.SOAPAction.CaricaPec" value="richiestaFornituraPec" />
    <add key="InfoCamere.mainPath" value="C:/Users/slentinello/Desktop/" />
    <add key="InfoCamere.ScaricaPec.FilePath" value="INFOCAMEREWS_FILE/ScaricaPec/" />
    <add key="InfoCamere.CaricaPec.FilePath" value="INFOCAMEREWS_FILE/CaricaPec/" />
    <add key="InfoCamere.XMLnamespace.soap" value="http://schemas.xmlsoap.org/soap/envelope/" />
    <add key="InfoCamere.XMLnamespace.ns3" value="http://ws.fpec.gemo.infocamere.it" />
    <!--****************************************************************************-->
    <!--************************* PARAMETRI XMLValidation ***************************-->
    <add key="XMLValidation.Error.XSDPath" value="Il percorso fornito per il file XSD risulta incorretto. Controlla se il file esiste." />
    <add key="XMLValidation.Error.XMLPath" value="Il percorso fornito per il file XML risulta incorretto. Controlla se il file esiste." />
    <add key="XMLValidation.Error.XSD" value="Errore nel recupero dell'XSD." />
    <add key="XMLValidation.Error.ValidateXML" value="Errore di validazione file XML." />
    <add key="XMLValidation.Error.ReadXML" value="Errore di lettura file XML con schema XSD." />
    <!--****************************************************************************-->
    <!--************************* PARAMETRI PCP ***************************-->
    <!--<add key="PCP.EsitoOperazione.Delay.AP_CONF" value="5" />-->
    <!--<add key="PCP.EsitoOperazione.Delay.SC_CONF" value="5" />-->
    <!--<add key="PCP.EsitoOperazione.Delay.AV_PUBB" value="5" />-->
    <!--<add key="PCP.EsitoOperazione.NumRetryLimit.AP_CONF" value="10" />-->
    <!--<add key="PCP.EsitoOperazione.NumRetryLimit.SC_CONF" value="10" />-->
    <!--<add key="PCP.EsitoOperazione.NumRetryLimit.AV_PUBB" value="20" />-->
	<!--<add key="PCP.EsitoOperazione.NumRetryLimit.AV_RETT" value="20" />-->
    <!--****************************************************************************-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>