USE [AFLink_TND]
GO
/****** Object:  View [dbo].[DASHBOARD_VIEW_ORDINE_DA_RDF]    Script Date: 5/16/2024 2:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create view [dbo].[DASHBOARD_VIEW_ORDINE_DA_RDF] as 
select * from dbo.document_ordine



GO
