USE [AFLink_TND]
GO
/****** Object:  View [dbo].[OLD2_DASHBOARD_VIEW_BANDOUNICO]    Script Date: 5/16/2024 2:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[OLD2_DASHBOARD_VIEW_BANDOUNICO]  AS

	--Versione=2&data=2018-08-16&Attvita=203503&Nominativo=Sabato
	
	SELECT d.id as IdMsg
			, CAST(d.IdPfu AS VARCHAR(20)) AS IdPfu
			, '' as msgIType
			, '' as msgISubType
			, -1 as msgelabwithsuccess
				
			, d.titolo as Name
				
			, cast( d.body as nvarchar(4000)) as Oggetto
				
			, b.ProtocolloBando as ProtocolloBando
				
			, b.DataScadenzaOfferta as ExpiryDate
				
				
			,case b.ImportoBaseAsta WHEN '0' then NULL
				else b.ImportoBaseAsta
			end as ImportoBaseAsta
			
			,case b.CriterioAggiudicazioneGara WHEN '0'then ''
				else b.CriterioAggiudicazioneGara
			end as CriterioAggiudicazioneGara
				 
			--, SUBSTRING (MSGTEXT, CHARINDEX ('<AFLinkFieldStato>', CAST(MSGTEXT AS VARCHAR(8000))) + 18, 1) AS StatoGD
			, case d.statoFunzionale 
				when 'InLavorazione' then 1 
				else '2'
			end AS StatoGD
			,'' as FaseGara
			,d.Data as DataCreazione
			,ReceivedQuesiti
			,b.tipoappalto
			,b.proceduragara


		, case 
			when isnull( r.StatoRepertorio , '' ) = '' then 'InCorso'
			else r.StatoRepertorio 
			end as StatoRepertorio 


		--, case 
		--		when VisualizzaNotifiche = '0'and getdate() < DataAperturaOfferte then null  --dataprimasedutatermine presentazioni offerte
		--		when VisualizzaNotifiche = '1'and getdate() < DataScadenzaOfferta then null  --termine presentazioni offerte
		--		else RecivedIstanze
		--	end as ReceivedOff 
		, case 
				when VisualizzaNotifiche = '0'and getdate() < DataScadenzaOfferta then null  ---termine presentazioni offerte presente sul bando		
				else RecivedIstanze
			end as ReceivedOff 


		, case when isnull( TipoProceduraCaratteristica , '' ) = 'RFQ' then 'DOC_RFQ' else d.Tipodoc end as OPEN_DOC_NAME
				
		,
		case 
			when d.statofunzionale in ('InLavorazione','InApprove') then ''
			else
				case b.EvidenzaPubblica
					when '1' then
						case 
							when isnull(CT.deleted,1)=1 then '1'
							else '0'
						end
					else '0'
				end 
					
		end as DocumentoPubblicato
		, d.StatoFunzionale
		, isnull( TipoProceduraCaratteristica , '' ) as TipoProceduraCaratteristica
		, GeneraConvenzione
		, d.Protocollo	
		,ISNULL(Appalto_Verde,'no') as Appalto_Verde
		,ISNULL(Acquisto_Sociale,'no') as Acquisto_Sociale 
		,case 
				when Appalto_Verde='si' and Acquisto_Sociale='si' then '<img title="Appalto Verde" alt="Appalto Verde" src="../images/Appalto_Verde.png">&nbsp;<img title="Acquisto Sociale" alt="Acquisto Sociale" src="../images/Acquisto_Sociale.png">'  
				when Appalto_Verde='si' and Acquisto_Sociale='no' then  '<img title="Appalto Verde" alt="Appalto Verde" src="../images/Appalto_Verde.png">' 
				when Appalto_Verde='no' and Acquisto_Sociale='si' then  '<img title="Acquisto Sociale" alt="Acquisto Sociale" src="../images/Acquisto_Sociale.png">' 
		end as Bando_Verde_Sociale
		
		,isnull(TipoSceltaContraente,'') as TipoSceltaContraente

		, C.Cottimo_Gara_Unificato

	--from CTL_DOC as d with(nolock ,index( ix_08) )
	from CTL_DOC as d with(nolock ,index( ICX_CTL_DOC_IdPfu_TipoDoc_LinkedDoc_StatoFunzionale_Deleted) )
	
		inner join document_bando b with(nolock) on d.id = b.idheader
		left outer join Document_Repertorio r with(nolock) on r.ProtocolloBando = b.ProtocolloBando
		left outer join CTL_DOC CT with(nolock) on CT.TipoDoc='BANDO_NON_VIS' and CT.linkedDoc=D.id and CT.jumpcheck=D.TipoDoc
		
		--vedo tramite parametro se il Cottimo è unificato alle Procedure di gara
		cross join (select dbo.PARAMETRI('GROUP_Procedura','Cottimo_Gara_Unificato','ATTIVO','NO',-1 ) as Cottimo_Gara_Unificato ) C  

	where d.TipoDoc in ( 'BANDO_GARA' ) and d.deleted=0


	union all
	---PER DARE LA VISIBILITA' DEL DOCUMENTO AL RUP

	SELECT d.id as IdMsg
			, CV.Value AS IdPfu
			, '' as msgIType
			, '' as msgISubType
			, -1 as msgelabwithsuccess
				
			, d.titolo as Name
				
			, cast( d.body as nvarchar(4000)) as Oggetto
				
			, b.ProtocolloBando as ProtocolloBando
				
			, b.DataScadenzaOfferta as ExpiryDate
				
				
			,case b.ImportoBaseAsta WHEN '0' then NULL
				else b.ImportoBaseAsta
			end as ImportoBaseAsta
				
			,case b.CriterioAggiudicazioneGara WHEN '0'then ''
				else b.CriterioAggiudicazioneGara
			end as CriterioAggiudicazioneGara
				 
			--, SUBSTRING (MSGTEXT, CHARINDEX ('<AFLinkFieldStato>', CAST(MSGTEXT AS VARCHAR(8000))) + 18, 1) AS StatoGD
			, case d.statoFunzionale 
				when 'InLavorazione' then 1 
				else '2'
			end AS StatoGD
			,'' as FaseGara
			,d.Data as DataCreazione
			,ReceivedQuesiti
			,b.tipoappalto
			,b.proceduragara


		, case 
			when isnull( r.StatoRepertorio , '' ) = '' then 'InCorso'
			else r.StatoRepertorio 
			end as StatoRepertorio 


		--, case 
		--		when VisualizzaNotifiche = '0'and getdate() < DataAperturaOfferte then null  --dataprimasedutatermine presentazioni offerte
		--		when VisualizzaNotifiche = '1'and getdate() < DataScadenzaOfferta then null  --termine presentazioni offerte
		--		else RecivedIstanze
		--	end as ReceivedOff 
		, case 
				when VisualizzaNotifiche = '0' and getdate() < DataScadenzaOfferta then null  ---termine presentazioni offerte presente sul bando		
				else RecivedIstanze
			end as ReceivedOff 


--		, d.Tipodoc as OPEN_DOC_NAME
		, case when isnull( TipoProceduraCaratteristica , '' ) = 'RFQ' then 'DOC_RFQ' else d.Tipodoc end as OPEN_DOC_NAME
				
		,
		case 
			when d.statofunzionale in ('InLavorazione','InApprove') then ''
			else
				case b.EvidenzaPubblica
					when '1' then
						case 
							when isnull(CT.deleted,1)=1 then '1'
							else '0'
						end
					else '0'
				end 
					
		end as DocumentoPubblicato
		, d.StatoFunzionale
		, isnull( TipoProceduraCaratteristica , '' ) as TipoProceduraCaratteristica
		, GeneraConvenzione
		, d.Protocollo	
		,ISNULL(Appalto_Verde,'no') as Appalto_Verde
		,ISNULL(Acquisto_Sociale,'no') as Acquisto_Sociale 
		,case 
				when Appalto_Verde='si' and Acquisto_Sociale='si' then '<img title="Appalto Verde" alt="Appalto Verde" src="../images/Appalto_Verde.png">&nbsp;<img title="Acquisto Sociale" alt="Acquisto Sociale" src="../images/Acquisto_Sociale.png">'  
				when Appalto_Verde='si' and Acquisto_Sociale='no' then  '<img title="Appalto Verde" alt="Appalto Verde" src="../images/Appalto_Verde.png">' 
				when Appalto_Verde='no' and Acquisto_Sociale='si' then  '<img title="Acquisto Sociale" alt="Acquisto Sociale" src="../images/Acquisto_Sociale.png">' 
		end as Bando_Verde_Sociale
		,isnull(TipoSceltaContraente,'') as TipoSceltaContraente
		, C.Cottimo_Gara_Unificato

	from
		-- prendo i RUP
		CTL_DOC_Value CV with(nolock ,index(IX_CTL_DOC_Value_DSE_ID_DZT_Name) )
	
		-- poi i doumenti
		inner join CTL_DOC as d with(nolock , index (ICX_CTL_DOC_id) )  on CV.idheader=d.id and d.TipoDoc in ( 'BANDO_GARA' ) and d.deleted=0  and isnull( CV.Value , 0 ) <> cast( d.IdPfu as varchar(20) )

		inner join document_bando b with(nolock) on d.id = b.idheader

		left outer join Document_Repertorio r with(nolock) on r.ProtocolloBando = b.ProtocolloBando
		left outer join CTL_DOC CT with(nolock) on CT.TipoDoc='BANDO_NON_VIS' and CT.linkedDoc=D.id and CT.jumpcheck=D.TipoDoc

		--vedo tramite parametro se il Cottimo è unificato alle Procedure di gara
		cross join (select dbo.PARAMETRI('GROUP_Procedura','Cottimo_Gara_Unificato','ATTIVO','NO',-1 ) as Cottimo_Gara_Unificato ) C  

	where
	
		CV.DSE_ID='InfoTec_comune' and CV.dzt_name='UserRUP'

		
	--from CTL_DOC as d with(nolock)
	--	inner join document_bando b with(nolock) on d.id = b.idheader
	--	left outer join Document_Repertorio r with(nolock) on r.ProtocolloBando = b.ProtocolloBando
	--	left outer join CTL_DOC CT with(nolock) on CT.TipoDoc='BANDO_NON_VIS' and CT.linkedDoc=D.id and CT.jumpcheck=D.TipoDoc

	--	inner join CTL_DOC_Value CV with(nolock) on CV.idheader=d.id and CV.DSE_ID='InfoTec_comune' and CV.dzt_name='UserRUP'
	--	--left join CTL_DOC_Value CV with(nolock) on CV.idheader=d.id and CV.DSE_ID='InfoTec_comune' and CV.dzt_name='UserRUP'
	--	--cross join ( select 'USER' as utente union all select 'RUP' as utente ) as u

	--where d.TipoDoc in ( 'BANDO_GARA' ) and d.deleted=0
	--	and isnull( CV.Value , 0 ) <> cast( d.IdPfu as varchar(20) )
GO
