USE [AFLink_TND]
GO
/****** Object:  View [dbo].[OLD_DASHBOARD_VIEW_DOCUMENTI_PUBBLICI]    Script Date: 5/16/2024 2:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[OLD_DASHBOARD_VIEW_DOCUMENTI_PUBBLICI] as
	select * from FAST_DPCM_DOCUMENTI_PUBBLICI
		WHERE ISNULL(JUMPCHECK,'')<>'MIGRAZIONE'

GO
