USE [AFLink_TND]
GO
/****** Object:  View [dbo].[DASHBOARD_VIEW_REPORT_LISTA_RDO]    Script Date: 5/16/2024 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[DASHBOARD_VIEW_REPORT_LISTA_RDO]  as 

	select * 
		from DASHBOARD_VIEW_REPORT_LISTA_PROCEDURE 
		where   TipoDoc = 'BANDO_GARA' and TipoProceduraCaratteristica = 'RDO' 



GO
