USE [AFLink_TND]
GO
/****** Object:  View [dbo].[DASHBOARD_VIEW_PARAMETRI_ESTRAZIONE_LISTINI_CONVENZIONI]    Script Date: 5/16/2024 2:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[DASHBOARD_VIEW_PARAMETRI_ESTRAZIONE_LISTINI_CONVENZIONI] as 
Select 
		*
from ctl_doc
where tipodoc='PARAMETRI_ESTRAZIONE_LISTINI_CONVENZIONI' and deleted=0
GO
