USE [AFLink_TND]
GO
/****** Object:  View [dbo].[CONFORMITA_MICROLOTTI_VIEW_TESTATA]    Script Date: 5/16/2024 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  view [dbo].[CONFORMITA_MICROLOTTI_VIEW_TESTATA] as
select 
		v.* 
		, t.* 
		, ModelloPDA
		, ModelloPDA_DrillTestata
		, ModelloPDA_DrillLista
		, ModelloOfferta_Drill
		, ModelloConformitaTestata 
		, ModelloConformitaDettagli
		, 'CONFORMITA_MICROLOTTI_OFF' as DOCUMENT
	 from CTL_DOC v
		inner join CTL_DOC d on v.LinkedDoc = d.id
		inner join Document_PDA_TESTATA t on d.id = t.idheader
		left outer join Document_Modelli_MicroLotti m on m.Codice = t.ListaModelliMicrolotti

	where v.deleted = 0

GO
