USE [AFLink_TND]
GO
/****** Object:  View [dbo].[AZI_UPD_INAIL_DETTAGLI_FROM_AZIENDA]    Script Date: 5/16/2024 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AZI_UPD_INAIL_DETTAGLI_FROM_AZIENDA] as 
select 
*,IdAzi as ID_FROM
from Aziende_Sedi where TipoSede='INAIL'
GO
