USE [AFLink_TND]
GO
/****** Object:  View [dbo].[FLES_VIEW_FLES_TBL_MODIFICA_CONTRATTUALE]    Script Date: 5/16/2024 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE       VIEW [dbo].[FLES_VIEW_FLES_TBL_MODIFICA_CONTRATTUALE] AS
	select
		UUID,
		(select pfuNome from DASHBOARD_VIEW_UTENTI dshViewUte where dshViewUte.IdPfu = IDPFU_INVIO) as utente,  --OK > (Utente che invia),
		(select pfuNome from DASHBOARD_VIEW_UTENTI dshViewUte where dshViewUte.IdPfu = IDPFU_BOZZA) as compilatore_modificaContratto,  --OK > (Compilatore),
		IDDOC,
		IDROW_PCP_SCHEDE,
		REGISTRO_SISTEMA,
		CIG,
		ID_CONTRATTO,
		ID_APPALTO,
		STATO_FUNZIONALE AS esito,
		DATA_INVIO AS dataInvioScheda,
		DATA_ULTIMA_MODIFICA,
		STATO_BOZZA,
		TIPO_SCHEDA,
		EFORM_XML,
		EFORM_XML_BASE64,
		DATA_APPROVAZIONE,
		URL_DOCUMENTAZIONE,
		MOTIVO_REVISIONE_PREZZI AS motivoRevisionePrezzi,
		CIG_NUOVA_PROCEDURA,
		IMPORTO_LAVORI,
		IMPORTO_SERVIZI,
		IMPORTO_FORNITURE,
		IMPORTO_TOTALE_SICUREZZA,
		IMPORTO_PROGETTAZIONE,
		ULTERIORI_SOMME_NO_RIBASSO,
		SOMME_A_DISPOSIZIONE,
		NUM_GIORNI_PROROGA, 
		FINANZIAMENTI_CANONI_PA,
		ENTRATE_UTENZA,
		INTROITO_ATTIVO,
		SOMME_OPZIONI_RINNOVI,
		DATA_SOTTOSCRIZIONE,
		MOTIVI_MODIFICA,
		CAUSA_MODIFICA,
		CAUSA_MODIFICA_ML,
		MOTIVI_MODIFICA_DESCRIZIONE
		from FLES_TABLE_MODIFICA_CONTRATTUALE
GO
