USE [AFLink_TND]
GO
/****** Object:  View [dbo].[DASHBOARD_VIEW_E_CERTIS_GET_CRITERIA]    Script Date: 5/16/2024 2:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DASHBOARD_VIEW_E_CERTIS_GET_CRITERIA] AS 
	SELECT -1 AS ID, 'Aggiornamento lista' as operazione
GO
