USE [AFLink_TND]
GO
/****** Object:  View [dbo].[OLD_dashboard_view_fermosistema]    Script Date: 5/16/2024 2:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create view [dbo].[OLD_dashboard_view_fermosistema] as 

	select *
		from ctl_doc 
			inner join document_FermoSistema on id=idheader
		
		where tipodoc='FERMOSISTEMA' 
				





GO
