USE [AFLink_TND]
GO
/****** Object:  View [dbo].[DASHBOARD_VIEW_Festivita]    Script Date: 5/16/2024 2:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  view [dbo].[DASHBOARD_VIEW_Festivita] as 
select * from dbo.Document_Festivita where deleted = 0 and Copy  =0
GO
