USE [AFLink_TND]
GO
/****** Object:  View [dbo].[OLD2_View_Modelli_Fabbisogni]    Script Date: 5/16/2024 2:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[OLD2_View_Modelli_Fabbisogni] as

	select 
		c.titolo as codice , 
		isnull(  C3.Value , '5' ) as Ambito
		from 
			ctl_doc C
			left outer join ctl_doc_value C3 on C3.idheader=C.id and C3.dzt_name='MacroAreaMerc' 
			
		where 
			C.tipodoc='CONFIG_MODELLI_FABBISOGNI'
			and C.deleted=0

GO
