USE [AFLink_TND]
GO
/****** Object:  View [dbo].[DECADENZA_FROM_PDA_RIEPILOGO_LOTTO_ROW]    Script Date: 5/16/2024 2:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE view [dbo].[DECADENZA_FROM_PDA_RIEPILOGO_LOTTO_ROW] as
			
			


select L.id  as ID_FROM , L.id as LinkedDoc,  Fascicolo  --, 'InLavorazione' as StatoFunzionale
			from Document_MicroLotti_Dettagli L 
				inner join Document_PDA_OFFERTE o on L.idHeader = o.idrow 
				inner join ctl_doc b on o.idheader = b.id




GO
