USE [AFLink_TND]
GO
/****** Object:  View [dbo].[VIEW_SIMOG_PUBBLICA_GARA]    Script Date: 5/16/2024 2:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VIEW_SIMOG_PUBBLICA_GARA]
as

	select 
	
		* 
		,
		
		left(DATA_PUBBLICAZIONE,4) + '-'+ SUBSTRING(DATA_PUBBLICAZIONE,5,2) +  '-' + SUBSTRING(DATA_PUBBLICAZIONE,7,2)  as DataPubblicazione,


		left(DATA_SCADENZA_PAG,4) + '-'+ SUBSTRING(DATA_SCADENZA_PAG,5,2) +  '-' + SUBSTRING(DATA_SCADENZA_PAG,7,2)  as DataScadenza,

		left(DATA_SCADENZA_RICHIESTA_INVITO,4) + '-'+ SUBSTRING(DATA_SCADENZA_RICHIESTA_INVITO,5,2) +  '-' + SUBSTRING(DATA_SCADENZA_RICHIESTA_INVITO,7,2)  as DataScadenza2,
		
		left(DATA_LETTERA_INVITO,4) + '-'+ SUBSTRING(DATA_LETTERA_INVITO,5,2) +  '-' + SUBSTRING(DATA_LETTERA_INVITO,7,2)  as Campo_data_1

		
		
	from document_bando_datiPubSimog 
GO
