USE [AFLink_TND]
GO
/****** Object:  View [dbo].[DASHBOARD_VIEW_CONCORSI_ENTE_DETTAGLI_CAL]    Script Date: 5/16/2024 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[DASHBOARD_VIEW_CONCORSI_ENTE_DETTAGLI_CAL] as 
select  
	P.idpfu, 
	A.*
	from DASHBOARD_VIEW_CONCORSI_ENTE_DETTAGLI_CAL_CONF_SISTEMA A
		INNER JOIN ProfiliUtente P with(nolock) on P.Pfuidazi=Azi_Ente
GO
