USE [AFLink_TND]
GO
/****** Object:  View [dbo].[OLD2_dashboard_view_Services_Integration_Request]    Script Date: 5/16/2024 2:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[OLD2_dashboard_view_Services_Integration_Request] AS
	select * From Services_Integration_Request
GO
