USE [AFLink_TND]
GO
/****** Object:  View [dbo].[OLD_PREGARA_CRONOLOGIA_VIEW]    Script Date: 5/16/2024 2:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  view   [dbo].[OLD_PREGARA_CRONOLOGIA_VIEW]  as 

	select 
		s.APS_ID_ROW,
		s.APS_Doc_Type, 
		s.APS_ID_DOC , 
		s.APS_State , 
		
		s.APS_UserProfile ,
		s.APS_IdPfu , 
		s.APS_IsOld , 
		s.APS_Date , 
		s.APS_APC_Cod_Node , 
		s.APS_NextApprover ,
		d.id as CRONOLOGIAGrid_ID_DOC , 
		d.TipoDoc as CRONOLOGIAGrid_OPEN_DOC_NAME,
		d.DataProtocolloGenerale,
		d.ProtocolloGenerale,
		d.SIGN_ATTACH as APS_Allegato,
		d.Note as APS_Note
		from CTL_ApprovalSteps s with(nolock) 
			left join CTL_DOC d with(nolock)  on d.LinkedDoc = s.APS_ID_ROW and d.TipoDoc = 'PREGARA' and d.Deleted = 1
		
GO
