USE [AFLink_TND]
GO
/****** Object:  View [dbo].[AFUPDATE_PARAMETRI_POWERSHELL]    Script Date: 5/16/2024 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AFUPDATE_PARAMETRI_POWERSHELL] AS
	select top 0 'NOME_PARAMETRO' as CHIAVE, 'VALORE' AS VALORE
GO
