USE [AFLink_TND]
GO
/****** Object:  View [dbo].[DOCUMENT_MICROLOTTI_MODELLI_DETTAGLI_FROM_MODELLI_MICROLOTTI]    Script Date: 5/16/2024 2:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[DOCUMENT_MICROLOTTI_MODELLI_DETTAGLI_FROM_MODELLI_MICROLOTTI] as 
Select *
 ,IdHeader as ID_FROM
from dbo.Document_Modelli_MicroLotti_Formula
GO
