USE [AFLink_TND]
GO
/****** Object:  View [dbo].[dashboard_view_pda_dati_offerte_excel]    Script Date: 5/16/2024 2:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














CREATE VIEW [dbo].[dashboard_view_pda_dati_offerte_excel]
AS
	SELECT    o.IdHeader AS idPDA ,
			  o.aziRagionesociale ,
			  a.vatValore_FT AS codicefiscale ,
			  o.ProtocolloOfferta , 
			  --graduatoria ,
			  --Statoriga , 
			  --[Posizione] ,

			
			  d.Id ,
			  d.IdHeader ,
			  d.TipoDoc ,

			  t.Graduatoria ,
			  t.Sorteggio ,
			  case when K.StatoRiga='Revocato' then 'Revocato' else  t.Posizione end as Posizione,
			  t.Aggiudicata ,
			  t.Exequo ,
			  dbo.GetCodDom2DescML('Statoriga',t.StatoRiga,'I') as StatoRiga ,
			  t.EsitoRiga ,
			  t.ValoreOfferta ,
			  t.ValoreImportoLotto ,
			  t.ValoreSconto ,
			  t.ValoreRibasso ,
			  t.PunteggioTecnicoAssegnato ,
			  t.PunteggioTecnicoRiparCriterio ,
			  t.PunteggioTecnicoRiparTotale ,


			  cast( d.NumeroLotto as int ) as NumeroLotto,
			  d.Descrizione ,
			  d.Qty ,
			  d.PrezzoUnitario ,
			  d.CauzioneMicrolotto ,
			  d.CIG ,
			  --d.CodiceATC ,
			  dbo.GetCodDom2DescML('A_ATC',d.CodiceATC,'I') as CodiceATC ,
			  --d.PrincipioAttivo ,
			  dbo.GetCodDom2DescML('A_PRINCIPIO_ATTIVO',d.PrincipioAttivo,'I') as PrincipioAttivo ,
			  --d.FormaFarmaceutica ,
			  dbo.GetCodDom2DescML('A_FORMA_FARMACEUTICA',d.FormaFarmaceutica,'I') as FormaFarmaceutica , 
			  d.Dosaggio ,
			  --d.Somministrazione ,
			  dbo.GetCodDom2DescML('A_VIA_DI_SOMMINISTRAZIONE',d.Somministrazione,'I') as Somministrazione , 
			  --d.UnitadiMisura ,
			  dbo.GetCodDom2DescML('A_UM',d.UnitadiMisura,'I') as UnitadiMisura ,
			  d.Quantita ,
			  d.ImportoBaseAstaUnitaria ,
			  d.ImportoAnnuoLotto ,
			  d.ImportoTriennaleLotto ,
			  d.NoteLotto ,
			  d.CodiceAIC ,
			  d.QuantitaConfezione ,
			  d.ClasseRimborsoMedicinale ,
			  d.PrezzoVenditaConfezione ,
			  d.AliquotaIva ,
			  d.ScontoUlteriore ,
			  d.EstremiGURI ,
			  d.PrezzoUnitarioOfferta ,
			  d.PrezzoUnitarioRiferimento ,
			  d.TotaleOffertaUnitario ,
			  d.ScorporoIVA ,
			  d.PrezzoVenditaConfezioneIvaEsclusa ,
			  d.PrezzoVenditaUnitario ,
			  d.ScontoOffertoUnitario ,
			  d.ScontoObbligatorioUnitario ,
			  d.DenominazioneProdotto ,
			  d.RagSocProduttore ,
			  d.CodiceProdotto ,
			  d.MarcaturaCE ,
			  d.NumeroRepertorio ,
			  d.NumeroCampioni ,
			  d.Versamento ,
			  d.PrezzoInLettere ,
			  d.importoBaseAsta ,
			  d.CampoTesto_1 ,
			  d.CampoTesto_2 ,
			  d.CampoTesto_3 ,
			  d.CampoTesto_4 ,
			  d.CampoTesto_5 ,
			  d.CampoTesto_6 ,
			  d.CampoTesto_7 ,
			  d.CampoTesto_8 ,
			  d.CampoTesto_9 ,
			  d.CampoTesto_10 ,
			  d.CampoNumerico_1 ,
			  d.CampoNumerico_2 ,
			  d.CampoNumerico_3 ,
			  d.CampoNumerico_4 ,
			  d.CampoNumerico_5 ,
			  d.CampoNumerico_6 ,
			  d.CampoNumerico_7 ,
			  d.CampoNumerico_8 ,
			  d.CampoNumerico_9 ,
			  d.CampoNumerico_10 ,
			  d.Voce ,
			  d.idHeaderLotto ,
			  d.CampoAllegato_1 ,
			  d.CampoAllegato_2 ,
			  d.CampoAllegato_3 ,
			  d.CampoAllegato_4 ,
			  d.CampoAllegato_5 ,
			  d.NumeroRiga ,
			  d.PunteggioTecnico ,
			  d.ValoreEconomico ,
			  d.PesoVoce ,
			  d.Variante ,
			  d.CONTRATTO ,
			  d.CODICE_AZIENDA_SANITARIA ,
			  d.CODICE_REGIONALE ,
			  d.DESCRIZIONE_CODICE_REGIONALE ,
			  d.TARGET ,
			  d.MATERIALE ,
			  d.LATEX_FREE ,
			  d.MISURE ,
			  d.VOLUME ,
			  d.ALTRE_CARATTERISTICHE ,
			  d.CONFEZIONAMENTO_PRIMARIO ,
			  d.PESO_CONFEZIONE ,
			  d.DIMENSIONI_CONFEZIONE ,
			  d.TEMPERATURA_CONSERVAZIONE ,
			  d.QUANTITA_PRODOTTO_SINGOLO_PEZZO ,
			  --d.UM_QUANTITA_PRODOTTO_SINGOLO_PEZZO ,
			  dbo.GetCodDom2DescML('A_UM_Q_PRODOTTO_SINGOLO_PEZZO',d.UM_QUANTITA_PRODOTTO_SINGOLO_PEZZO,'I') as UM_QUANTITA_PRODOTTO_SINGOLO_PEZZO ,
			  --d.UM_DOSAGGIO ,
			  dbo.GetCodDom2DescML('A_UM_DOSAGGIO',d.UM_DOSAGGIO,'I') as UM_DOSAGGIO ,
			  d.PARTITA_IVA_FORNITORE ,
			  d.RAGIONE_SOCIALE_FORNITORE ,
			  d.CODICE_ARTICOLO_FORNITORE ,
			  d.DENOMINAZIONE_ARTICOLO_FORNITORE ,
			  d.DATA_INIZIO_PERIODO_VALIDITA ,
			  d.DATA_FINE_PERIODO_VALIDITA ,
			  d.RIFERIMENTO_TEMPORALE_FABBISOGNO ,
			  d.FABBISOGNO_PREVISTO ,
			  d.PREZZO_OFFERTO_PER_UM ,
			  d.CONTENUTO_DI_UM_CONFEZIONE ,
			  d.PREZZO_CONFEZIONE_IVA_ESCLUSA ,
			  d.PREZZO_PEZZO ,
			  d.SCHEDA_PRODOTTO ,
			  --d.CODICE_CND ,
			  dbo.GetCodDom2DescML('A_CND',d.CODICE_CND,'I') as CODICE_CND ,
			  d.DESCRIZIONE_CND ,
			  --d.CODICE_CPV ,
			  dbo.GetCodDom2DescML('CODICE_CPV',d.CODICE_CPV,'I') as CODICE_CPV ,
			  d.DESCRIZIONE_CODICE_CPV ,
			  d.LIVELLO ,
			  d.CERTIFICAZIONI ,
			  d.CARATTERISTICHE_SOCIALI_AMBIENTALI ,
			  d.PREZZO_BASE_ASTA_UM_IVA_ESCLUSA ,
			  d.VALORE_BASE_ASTA_IVA_ESCLUSA ,
			  d.RAGIONE_SOCIALE_ATTUALE_FORNITORE ,
			  d.PREZZO_UM_IVA_ESCLUSA_ATTUALE_FORNITORE ,
			  d.DATA_ULTIMO_CONTRATTO ,
			  d.UM_UNITA_POSOLOGICA_CONTENUTA_INTERNO_DEL_BANCALE ,
			  d.VALORE_COMPLESSIVO_OFFERTA ,
			  d.NOTE_ENTI_STRUTTURE_AMMINISTRAZIONI ,
			  d.NOTE_OPERATORE_ECONOMICO ,
			  d.ONERI_SICUREZZA ,
			  d.PARTITA_IVA_DEPOSITARIO ,
			  d.RAGIONE_SOCIALE_DEPOSITARIO ,
			  d.IDENTIFICATIVO_OGGETTO_INIZIATIVA ,
			  --d.AREA_MERCEOLOGICA ,
			  dbo.GetCodDom2DescML('AREA_MERCEOLOGICA',d.AREA_MERCEOLOGICA,'I') as AREA_MERCEOLOGICA ,
			  d.PERC_SCONTO_FISSATA_PER_LEGGE ,
			  d.ULTERIORE_PERC_DI_SCONTO_FISSATA_DA_AIFA1 ,
			  d.ULTERIORE_PERC_DI_SCONTO_FISSATA_DA_AIFA2 ,
			  d.ADESIONE_PAYBACK ,
			  d.DescrizioneAIC ,
			  d.ValoreAccessorioTecnico ,
			  --d.TipoAcquisto ,
			  dbo.GetCodDom2DescML('TipoAcquisto',d.TipoAcquisto,'I') as TipoAcquisto ,
			  --d.Subordinato ,
			  dbo.GetCodDom2DescML('Subordinato',d.Subordinato,'I') as Subordinato ,
			  d.ArticoliPrimari ,
			  d.SelRow ,
			  d.Erosione ,
			  d.Campo_Intero_1 ,
			  d.Campo_Intero_2 ,
			  d.Campo_Intero_3 ,
			  d.Campo_Intero_4 ,
			  d.Campo_Intero_5 ,
			  d.CODICE_CIVAB ,
			  d.DESCRIZIONE_CIVAB ,
			  d.CODICE_EAN ,
			  d.CODICE_FISCALE_OPERATORE_ECONOMICO ,
			  d.CODICE_FISCALE_PRODUTTORE ,
			  d.CODICE_PARAF ,
			  --d.TIPO_REPERTORIO ,
			  dbo.GetCodDom2DescML('TIPO_REPERTORIO',d.TIPO_REPERTORIO,'I') as TIPO_REPERTORIO ,
			  d.CampoAllegato_6 ,
			  d.CampoAllegato_7 ,
			  d.CampoAllegato_8 ,
			  d.CampoAllegato_9 ,
			  d.CampoAllegato_10 ,
			  d.ONERI_SICUREZZA_NR ,
			  --d.TIPOLOGIA_FORNITURA ,
			  dbo.GetCodDom2DescML('TIPOLOGIA_FORNITURA',d.TIPOLOGIA_FORNITURA,'I') as TIPOLOGIA_FORNITURA ,
			  d.CampoTesto_11 ,
			  d.CampoTesto_12 ,
			  d.CampoTesto_13 ,
			  d.CampoTesto_14 ,
			  d.CampoTesto_15 ,
			  d.CampoTesto_16 ,
			  d.CampoTesto_17 ,
			  d.CampoTesto_18 ,
			  d.CampoTesto_19 ,
			  d.CampoTesto_20 ,
			  d.CampoNumerico_11 ,
			  d.CampoNumerico_12 ,
			  d.CampoNumerico_13 ,
			  d.CampoNumerico_14 ,
			  d.CampoNumerico_15 ,
			  d.CampoNumerico_16 ,
			  d.CampoNumerico_17 ,
			  d.CampoNumerico_18 ,
			  d.CampoNumerico_19 ,
			  d.CampoNumerico_20 ,
			  d.CampoAllegato_11 , 
			  d.CampoAllegato_12 , 
			  d.CampoAllegato_13 , 
			  d.CampoAllegato_14 , 
			  d.CampoAllegato_15 , 
			  d.CampoAllegato_16 , 
			  d.CampoAllegato_17 , 
			  d.CampoAllegato_18 , 
			  d.CampoAllegato_19 , 
			  d.CampoAllegato_20 , 
			  d.Campo_Intero_6 ,
			  d.Campo_Intero_7 ,
			  d.Campo_Intero_8 ,
			  d.Campo_Intero_9 ,
			  d.Campo_Intero_10 ,
			  d.Campo_Intero_11 ,
			  d.Campo_Intero_12 ,
			  d.Campo_Intero_13 ,
			  d.Campo_Intero_14 ,
			  d.Campo_Intero_15 ,
			  d.Campo_Intero_16 ,
			  d.Campo_Intero_17 ,
			  d.Campo_Intero_18 ,
			  d.Campo_Intero_19 ,
			  d.Campo_Intero_20 ,
			  d.PrezzoVenditaConfezioneIvaInclusa,
			  d.QT_NUM_PRODOTTO_SINGOLO_PEZZO,
			  d.PEZZI_PER_CONFEZIONE,
			  d.STERILE,
			  d.MONOUSO,
			  d.COSTI_MANODOPERA,
			  d.[PercAgg],
			  d.[Dominio_SiNo],
			  d.[Intervallo_0_24],
			  d.[Dominio_SiNo_2],
			  d.[Dominio_SiNo_3],
			  d.[CODIFICA_ARTICOLO_OE_PEZZO_SINGOLO],
			  d.PERC_RIBASSO,
			  d.[Temperatura_minima_di_conservazione],
			  d.[Temperatura_massima_di_conservazione],
			  d.[Ftalati_free],			  
			  d.[Presenza_medicinali],
			  d.[Infiammabile],			  
			  d.[Sostanza_corrosiva],
			  d.[Sostanza_tossica],
			  d.[Sostanza_velenosa],
			  d.[Classe_di_Rimborsabilita],
			  d.[ULTERIORE_PERC_DI_SCONTO_FISSATA_DA_AIFA3],
			  d.PunteggioEconomicoAssegnato,
			  d.Dominio_SiNo_4,
			  d.Dominio_SiNo_5,
			  d.Dominio_SiNo_6,
			  d.Dominio_SiNo_7,
			  d.Dominio_SiNo_8,
			  d.Dominio_SiNo_9,
			  d.Dominio_SiNo_10,
			  d.Dominio_SiNo_11,
			  d.Dominio_SiNo_12,
			  d.Dominio_SiNo_13,
			  d.Rialzo_Offerta_Unitario,
			   d.[CODICE_ISO], 
			  d.[CODICE_REF], 
			  d.[COMODATO_DUSO], 
			  d.[CONFEZIONAMENTO_SECONDARIO_ECOCOMPATIBILE], 
			  d.[CONTENUTO_DI_UP_PER_CONFEZIONE], 
			  d.[DEFINED_DAILY_DOSE], 
			  d.[DENOMINAZIONE_ARTICOLO_COMPLETA], 
			  d.[DENOMINAZIONE_ARTICOLO_SINTETICA], 
			  d.[DENOMINAZIONE_COMMERCIALE], 
			  d.[DESCRIZIONE_COMPLETA_PARAF_BDF], 
			  d.[DOSAGGIO_QTA_PER_PRINCIPIO_ATTIVO], 
			  d.[FARMACO_ESCLUSIVO], 
			  d.[FATTORE_PRODUTTIVO], 
			  d.[INCLUSIONE_PHT], 
			  d.[NUMERO_UNITA_POSOLOGICA_CONTENUTA_INT_BANCALE], 
			  d.[PREZZO_AL_PUBBLICO_PER_CONFEZIONEivainclusa], 
			  d.[SCADENZA_BREVETTO], 
			  d.[SCHEDA_DI_SICUREZZA], 
			  d.[SCHEDA_TECNICA_PRODOTTO], 
			  d.[VALORE_UNITARIO_OFFERTO_IVA_ESCLUSA]
			  , d.[IMPORTO_OPZIONI], d.[IMPORTO_ATTUAZIONE_SICUREZZA], d.[PROGRESSIVO_RIGA], d.[DATA_CONSEGNA], d.[CODICE_WBS], d.[DESCRIZIONE_WBS], 
			  d.[DICHIARAZIONE_LATEX_GLUTEN_LACTOS_FREE], d.[PRODOTTO_IN_ESCLUSIVA], d.[ELENCO_AIC_DISPONIBILI], d.[PRESENZA_DI_GLUTINE], 
			  d.[PRESENZA_DI_LATTOSIO], d.[ALL_FIELD], d.[ClasseIscriz_S], d.[AREA_DI_CONSEGNA], d.[FotoProdotto], d.[IdRigaRiferimento], d.[MULTIPLI_ORDINABILI], 
			  d.[TAGLIA],d.[MODALITA_DI_CONSERVAZIONE], d.[CODICE_DM_PMC], d.[SCHEDA_TECNICA_LINK], d.[CODICE_BDR]
			--campi Export listini ampiezza di gamma
			 ,d.AmpiezzaGamma, d.FabbisognoTotale, d.Tipo_Prodotto, d.ReferenteFornitore, d.TIPOLOGIA_DM, d.ClasseCE, d.CodiceAttribuitoFabbricante, d.NomeCommercialeModello, d.PartitaIVAFabbricante, d.RagioneSocialeFabbricante, d.TipoMedicinale, 
			  d.QuantitaMinimaGara, d.prezzoOffertoIvaEsclusa, d.UnitadiMisuraAcquisto, d.PrezzoAcquistoIVAesclusa, d.CodiceSmaltimento, d.TipizzazioneProdotto, d.Temperatura, d.ClassificazioneADR, d.VitaUtileReferenza, d.NoteABS

		FROM  document_pda_offerte o with(nolock)


			left JOIN document_microlotti_dettagli t with(nolock) ON t.idheader = o.idrow AND t.tipodoc = 'PDA_OFFERTE' AND t.Voce = 0 
			
			left JOIN document_microlotti_dettagli d with(nolock) ON d.idheader = o.idrow AND d.tipodoc = 'PDA_OFFERTE' and t.NumeroLotto = d.NumeroLotto

			INNER JOIN dm_attributi a with(nolock) ON a.lnk = o.idAziPartecipante AND dztnome = 'CodiceFiscale' and idApp=1
			left outer join (  select o.NumeroLotto , d.idheader ,max(o.StatoRiga) as StatoRiga
									from Document_PDA_OFFERTE d with(nolock) 
										inner join Document_MicroLotti_Dettagli o with(nolock) on d.IdHeader = o.idheader and o.TipoDoc = 'PDA_MICROLOTTI'
										where o.voce = 0
									group by o.NumeroLotto , d.idheader 

							) as K on K.IdHeader = o.IdHeader and k.NumeroLotto =t.NumeroLotto
		WHERE o.statopda IN ('2' , '22' , '222' ,'9' ) --and o.idheader = 121644
		--PER NON MOSTRARE LOTTI NON PRESENTI NEL RIEPILOGO FINALE E MOSTRARLO SE ANCORA NON E' FINITA LA VALUTAZIONE AMM.
		and ISNULL(k.NumeroLotto,'') = ISNULL(t.NumeroLotto,'')

-- tutti i lotti deserti
union all

	SELECT    C.ID  AS idPDA ,
			  '' AS aziRagionesociale ,
			  '' AS codicefiscale ,
			  '' AS ProtocolloOfferta , 
			  --graduatoria ,
			  --Statoriga , 
			  --[Posizione] ,

			
			  t.Id ,
			  t.IdHeader ,
			  t.TipoDoc ,

			  t.Graduatoria ,
			  t.Sorteggio ,
			  t.Posizione ,
			  t.Aggiudicata ,
			  t.Exequo ,
			  'Deserta' as StatoRiga ,
			  t.EsitoRiga ,
			  t.ValoreOfferta ,
			  t.ValoreImportoLotto ,
			  t.ValoreSconto ,
			  t.ValoreRibasso ,
			  t.PunteggioTecnicoAssegnato ,
			  t.PunteggioTecnicoRiparCriterio ,
			  t.PunteggioTecnicoRiparTotale ,


			  cast( t.NumeroLotto as int ) as NumeroLotto,
			  t.Descrizione ,
			  t.Qty ,
			  t.PrezzoUnitario ,
			  t.CauzioneMicrolotto ,
			  t.CIG ,
			  --t.CodiceATC ,
			  dbo.GetCodDom2DescML('A_ATC',t.CodiceATC,'I') as CodiceATC ,
			  --t.PrincipioAttivo ,
			  dbo.GetCodDom2DescML('A_PRINCIPIO_ATTIVO',t.PrincipioAttivo,'I') as PrincipioAttivo ,
			  --t.FormaFarmaceutica ,
			  dbo.GetCodDom2DescML('A_FORMA_FARMACEUTICA',t.FormaFarmaceutica,'I') as FormaFarmaceutica , 
			  t.Dosaggio ,
			  --t.Somministrazione ,
			  dbo.GetCodDom2DescML('A_VIA_DI_SOMMINISTRAZIONE',t.Somministrazione,'I') as Somministrazione , 
			  --t.UnitadiMisura ,
			  dbo.GetCodDom2DescML('A_UM',t.UnitadiMisura,'I') as UnitadiMisura ,
			  t.Quantita ,
			  t.ImportoBaseAstaUnitaria ,
			  t.ImportoAnnuoLotto ,
			  t.ImportoTriennaleLotto ,
			  t.NoteLotto ,
			  t.CodiceAIC ,
			  t.QuantitaConfezione ,
			  t.ClasseRimborsoMedicinale ,
			  t.PrezzoVenditaConfezione ,
			  t.AliquotaIva ,
			  t.ScontoUlteriore ,
			  t.EstremiGURI ,
			  t.PrezzoUnitarioOfferta ,
			  t.PrezzoUnitarioRiferimento ,
			  t.TotaleOffertaUnitario ,
			  t.ScorporoIVA ,
			  t.PrezzoVenditaConfezioneIvaEsclusa ,
			  t.PrezzoVenditaUnitario ,
			  t.ScontoOffertoUnitario ,
			  t.ScontoObbligatorioUnitario ,
			  t.DenominazioneProdotto ,
			  t.RagSocProduttore ,
			  t.CodiceProdotto ,
			  t.MarcaturaCE ,
			  t.NumeroRepertorio ,
			  t.NumeroCampioni ,
			  t.Versamento ,
			  t.PrezzoInLettere ,
			  t.importoBaseAsta ,
			  t.CampoTesto_1 ,
			  t.CampoTesto_2 ,
			  t.CampoTesto_3 ,
			  t.CampoTesto_4 ,
			  t.CampoTesto_5 ,
			  t.CampoTesto_6 ,
			  t.CampoTesto_7 ,
			  t.CampoTesto_8 ,
			  t.CampoTesto_9 ,
			  t.CampoTesto_10 ,
			  t.CampoNumerico_1 ,
			  t.CampoNumerico_2 ,
			  t.CampoNumerico_3 ,
			  t.CampoNumerico_4 ,
			  t.CampoNumerico_5 ,
			  t.CampoNumerico_6 ,
			  t.CampoNumerico_7 ,
			  t.CampoNumerico_8 ,
			  t.CampoNumerico_9 ,
			  t.CampoNumerico_10 ,
			  t.Voce ,
			  t.idHeaderLotto ,
			  t.CampoAllegato_1 ,
			  t.CampoAllegato_2 ,
			  t.CampoAllegato_3 ,
			  t.CampoAllegato_4 ,
			  t.CampoAllegato_5 ,
			  t.NumeroRiga ,
			  t.PunteggioTecnico ,
			  t.ValoreEconomico ,
			  t.PesoVoce ,
			  t.Variante ,
			  t.CONTRATTO ,
			  t.CODICE_AZIENDA_SANITARIA ,
			  t.CODICE_REGIONALE ,
			  t.DESCRIZIONE_CODICE_REGIONALE ,
			  t.TARGET ,
			  t.MATERIALE ,
			  t.LATEX_FREE ,
			  t.MISURE ,
			  t.VOLUME ,
			  t.ALTRE_CARATTERISTICHE ,
			  t.CONFEZIONAMENTO_PRIMARIO ,
			  t.PESO_CONFEZIONE ,
			  t.DIMENSIONI_CONFEZIONE ,
			  t.TEMPERATURA_CONSERVAZIONE ,
			  t.QUANTITA_PRODOTTO_SINGOLO_PEZZO ,
			  --t.UM_QUANTITA_PRODOTTO_SINGOLO_PEZZO ,
			  dbo.GetCodDom2DescML('A_UM_Q_PRODOTTO_SINGOLO_PEZZO',t.UM_QUANTITA_PRODOTTO_SINGOLO_PEZZO,'I') as UM_QUANTITA_PRODOTTO_SINGOLO_PEZZO ,
			  --t.UM_DOSAGGIO ,
			  dbo.GetCodDom2DescML('A_UM_DOSAGGIO',t.UM_DOSAGGIO,'I') as UM_DOSAGGIO ,
			  t.PARTITA_IVA_FORNITORE ,
			  t.RAGIONE_SOCIALE_FORNITORE ,
			  t.CODICE_ARTICOLO_FORNITORE ,
			  t.DENOMINAZIONE_ARTICOLO_FORNITORE ,
			  t.DATA_INIZIO_PERIODO_VALIDITA ,
			  t.DATA_FINE_PERIODO_VALIDITA ,
			  t.RIFERIMENTO_TEMPORALE_FABBISOGNO ,
			  t.FABBISOGNO_PREVISTO ,
			  t.PREZZO_OFFERTO_PER_UM ,
			  t.CONTENUTO_DI_UM_CONFEZIONE ,
			  t.PREZZO_CONFEZIONE_IVA_ESCLUSA ,
			  t.PREZZO_PEZZO ,
			  t.SCHEDA_PRODOTTO ,
			  --t.CODICE_CND ,
			  dbo.GetCodDom2DescML('A_CND',t.CODICE_CND,'I') as CODICE_CND ,
			  t.DESCRIZIONE_CND ,
			  --t.CODICE_CPV ,
			  dbo.GetCodDom2DescML('CODICE_CPV',t.CODICE_CPV,'I') as CODICE_CPV ,
			  t.DESCRIZIONE_CODICE_CPV ,
			  t.LIVELLO ,
			  t.CERTIFICAZIONI ,
			  t.CARATTERISTICHE_SOCIALI_AMBIENTALI ,
			  t.PREZZO_BASE_ASTA_UM_IVA_ESCLUSA ,
			  t.VALORE_BASE_ASTA_IVA_ESCLUSA ,
			  t.RAGIONE_SOCIALE_ATTUALE_FORNITORE ,
			  t.PREZZO_UM_IVA_ESCLUSA_ATTUALE_FORNITORE ,
			  t.DATA_ULTIMO_CONTRATTO ,
			  t.UM_UNITA_POSOLOGICA_CONTENUTA_INTERNO_DEL_BANCALE ,
			  t.VALORE_COMPLESSIVO_OFFERTA ,
			  t.NOTE_ENTI_STRUTTURE_AMMINISTRAZIONI ,
			  t.NOTE_OPERATORE_ECONOMICO ,
			  t.ONERI_SICUREZZA ,
			  t.PARTITA_IVA_DEPOSITARIO ,
			  t.RAGIONE_SOCIALE_DEPOSITARIO ,
			  t.IDENTIFICATIVO_OGGETTO_INIZIATIVA ,
			  --t.AREA_MERCEOLOGICA ,
			  dbo.GetCodDom2DescML('AREA_MERCEOLOGICA',t.AREA_MERCEOLOGICA,'I') as AREA_MERCEOLOGICA ,
			  t.PERC_SCONTO_FISSATA_PER_LEGGE ,
			  t.ULTERIORE_PERC_DI_SCONTO_FISSATA_DA_AIFA1 ,
			  t.ULTERIORE_PERC_DI_SCONTO_FISSATA_DA_AIFA2 ,
			  t.ADESIONE_PAYBACK ,
			  t.DescrizioneAIC ,
			  t.ValoreAccessorioTecnico ,
			  --t.TipoAcquisto ,
			  dbo.GetCodDom2DescML('TipoAcquisto',t.TipoAcquisto,'I') as TipoAcquisto ,
			  --t.Subordinato ,
			  dbo.GetCodDom2DescML('Subordinato',t.Subordinato,'I') as Subordinato ,
			  t.ArticoliPrimari ,
			  t.SelRow ,
			  t.Erosione ,
			  t.Campo_Intero_1 ,
			  t.Campo_Intero_2 ,
			  t.Campo_Intero_3 ,
			  t.Campo_Intero_4 ,
			  t.Campo_Intero_5 ,
			  t.CODICE_CIVAB ,
			  t.DESCRIZIONE_CIVAB ,
			  t.CODICE_EAN ,
			  t.CODICE_FISCALE_OPERATORE_ECONOMICO ,
			  t.CODICE_FISCALE_PRODUTTORE ,
			  t.CODICE_PARAF ,
			  --t.TIPO_REPERTORIO ,
			  dbo.GetCodDom2DescML('TIPO_REPERTORIO',t.TIPO_REPERTORIO,'I') as TIPO_REPERTORIO ,
			  t.CampoAllegato_6 ,
			  t.CampoAllegato_7 ,
			  t.CampoAllegato_8 ,
			  t.CampoAllegato_9 ,
			  t.CampoAllegato_10 ,
			  t.ONERI_SICUREZZA_NR ,
			  --t.TIPOLOGIA_FORNITURA ,
			  dbo.GetCodDom2DescML('TIPOLOGIA_FORNITURA',t.TIPOLOGIA_FORNITURA,'I') as TIPOLOGIA_FORNITURA ,
			  t.CampoTesto_11 ,
			  t.CampoTesto_12 ,
			  t.CampoTesto_13 ,
			  t.CampoTesto_14 ,
			  t.CampoTesto_15 ,
			  t.CampoTesto_16 ,
			  t.CampoTesto_17 ,
			  t.CampoTesto_18 ,
			  t.CampoTesto_19 ,
			  t.CampoTesto_20 ,
			  t.CampoNumerico_11 ,
			  t.CampoNumerico_12 ,
			  t.CampoNumerico_13 ,
			  t.CampoNumerico_14 ,
			  t.CampoNumerico_15 ,
			  t.CampoNumerico_16 ,
			  t.CampoNumerico_17 ,
			  t.CampoNumerico_18 ,
			  t.CampoNumerico_19 ,
			  t.CampoNumerico_20 ,
			  t.CampoAllegato_11 , 
			  t.CampoAllegato_12 , 
			  t.CampoAllegato_13 , 
			  t.CampoAllegato_14 , 
			  t.CampoAllegato_15 , 
			  t.CampoAllegato_16 , 
			  t.CampoAllegato_17 , 
			  t.CampoAllegato_18 , 
			  t.CampoAllegato_19 , 
			  t.CampoAllegato_20 , 
			  t.Campo_Intero_6 ,
			  t.Campo_Intero_7 ,
			  t.Campo_Intero_8 ,
			  t.Campo_Intero_9 ,
			  t.Campo_Intero_10 ,
			  t.Campo_Intero_11 ,
			  t.Campo_Intero_12 ,
			  t.Campo_Intero_13 ,
			  t.Campo_Intero_14 ,
			  t.Campo_Intero_15 ,
			  t.Campo_Intero_16 ,
			  t.Campo_Intero_17 ,
			  t.Campo_Intero_18 ,
			  t.Campo_Intero_19 ,
			  t.Campo_Intero_20 ,
			  t.PrezzoVenditaConfezioneIvaInclusa,
			  t.QT_NUM_PRODOTTO_SINGOLO_PEZZO,
			  t.PEZZI_PER_CONFEZIONE,
			  t.STERILE,
			  t.MONOUSO,
			  t.COSTI_MANODOPERA,
			  t.[PercAgg],
			  t.[Dominio_SiNo],
			  t.[Intervallo_0_24],
			  t.[Dominio_SiNo_2],
			  t.[Dominio_SiNo_3],
			  t.[CODIFICA_ARTICOLO_OE_PEZZO_SINGOLO],
			  t.PERC_RIBASSO,
			  t.[Temperatura_minima_di_conservazione],
			  t.[Temperatura_massima_di_conservazione],
			  t.[Ftalati_free],
			  t.[Infiammabile],
			  t.[Presenza_medicinali],			  			  
			  t.[Sostanza_corrosiva],
			  t.[Sostanza_tossica],
			  t.[Sostanza_velenosa],
			  t.[Classe_di_Rimborsabilita],
			  t.[ULTERIORE_PERC_DI_SCONTO_FISSATA_DA_AIFA3],
			  t.PunteggioEconomicoAssegnato,
			  t.Dominio_SiNo_4,
			  t.Dominio_SiNo_5,
			  t.Dominio_SiNo_6,
			  t.Dominio_SiNo_7,
			  t.Dominio_SiNo_8,
			  t.Dominio_SiNo_9,
			  t.Dominio_SiNo_10,
			  t.Dominio_SiNo_11,
			  t.Dominio_SiNo_12,
			  t.Dominio_SiNo_13,
			  t.Rialzo_Offerta_Unitario,
			   t.[CODICE_ISO], 
			  t.[CODICE_REF], 
			  t.[COMODATO_DUSO], 
			  t.[CONFEZIONAMENTO_SECONDARIO_ECOCOMPATIBILE], 
			  t.[CONTENUTO_DI_UP_PER_CONFEZIONE], 
			  t.[DEFINED_DAILY_DOSE], 
			  t.[DENOMINAZIONE_ARTICOLO_COMPLETA], 
			  t.[DENOMINAZIONE_ARTICOLO_SINTETICA], 
			  t.[DENOMINAZIONE_COMMERCIALE], 
			  t.[DESCRIZIONE_COMPLETA_PARAF_BDF], 
			  t.[DOSAGGIO_QTA_PER_PRINCIPIO_ATTIVO], 
			  t.[FARMACO_ESCLUSIVO], 
			  t.[FATTORE_PRODUTTIVO], 
			  t.[INCLUSIONE_PHT], 
			  t.[NUMERO_UNITA_POSOLOGICA_CONTENUTA_INT_BANCALE], 
			  t.[PREZZO_AL_PUBBLICO_PER_CONFEZIONEivainclusa], 
			  t.[SCADENZA_BREVETTO], 
			  t.[SCHEDA_DI_SICUREZZA], 
			  t.[SCHEDA_TECNICA_PRODOTTO], 
			  t.[VALORE_UNITARIO_OFFERTO_IVA_ESCLUSA],
			  t.[IMPORTO_OPZIONI], t.[IMPORTO_ATTUAZIONE_SICUREZZA], t.[PROGRESSIVO_RIGA], t.[DATA_CONSEGNA], t.[CODICE_WBS], t.[DESCRIZIONE_WBS], 
			  t.[DICHIARAZIONE_LATEX_GLUTEN_LACTOS_FREE], t.[PRODOTTO_IN_ESCLUSIVA], t.[ELENCO_AIC_DISPONIBILI], t.[PRESENZA_DI_GLUTINE], 
			  t.[PRESENZA_DI_LATTOSIO], t.[ALL_FIELD], t.[ClasseIscriz_S], t.[AREA_DI_CONSEGNA], t.[FotoProdotto], t.[IdRigaRiferimento], t.[MULTIPLI_ORDINABILI], 
			  t.[TAGLIA],t.[MODALITA_DI_CONSERVAZIONE], t.[CODICE_DM_PMC], t.[SCHEDA_TECNICA_LINK], t.[CODICE_BDR]
			  --campi Export listini ampiezza di gamma
			 ,t.AmpiezzaGamma, t.FabbisognoTotale, t.Tipo_Prodotto, t.ReferenteFornitore, t.TIPOLOGIA_DM, t.ClasseCE, t.CodiceAttribuitoFabbricante, t.NomeCommercialeModello, t.PartitaIVAFabbricante, t.RagioneSocialeFabbricante, t.TipoMedicinale, 
			  t.QuantitaMinimaGara, t.prezzoOffertoIvaEsclusa, t.UnitadiMisuraAcquisto, t.PrezzoAcquistoIVAesclusa, t.CodiceSmaltimento, t.TipizzazioneProdotto, t.Temperatura, t.ClassificazioneADR, t.VitaUtileReferenza, t.NoteABS

		FROM  ctl_doc c with(nolock)
			
			inner JOIN document_microlotti_dettagli t with(nolock) ON t.idheader = C.ID AND t.tipodoc = 'PDA_MICROLOTTI' --AND t.Voce = 0 

			LEFT OUTER JOIN ( select o.idheader , d.numerolotto from Document_PDA_OFFERTE  o with(nolock) inner join document_microlotti_dettagli d  with(nolock) ON d.idheader = o.idrow AND d.tipodoc = 'PDA_OFFERTE' and d.Voce = 0 ) as d ON C.ID = d.IDHEADER and d.NumeroLotto = t.numerolotto

			--LEFT OUTER JOIN Document_PDA_OFFERTE  o ON C.ID = O.IDHEADER
			
			--LEFT JOIN document_microlotti_dettagli d ON d.idheader = o.idrow AND d.tipodoc = 'PDA_OFFERTE' and t.NumeroLotto = d.NumeroLotto and d.Voce = 0 

		WHERE C.tIPODOC = 'PDA_MICROLOTTI' and c.deleted = 0 and d.idheader is null

	--	and c.id = 200908






GO
