USE [AFLink_TND]
GO
/****** Object:  View [dbo].[VIEW_CTL_DOC_VALUE_NO_LOCK]    Script Date: 5/16/2024 2:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_CTL_DOC_VALUE_NO_LOCK] AS
	select * from ctl_doc_value with(nolock)
GO
