USE [AFLink_TND]
GO
/****** Object:  View [dbo].[VIEW_TED_PUBBLICA_XML]    Script Date: 5/16/2024 2:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VIEW_TED_PUBBLICA_XML] AS
	select g.idHeader, --chiave di ingresso
			
			id_gara, 

			REPLACE(CONVERT(varchar(10), TED_DATA_SCADENZA_PAG, 121),'-','') as TED_DATA_SCADENZA_PAG,
			CONVERT(varchar(5), TED_DATA_SCADENZA_PAG, 108) as TED_ORA_SCADENZA,

			cast( isnull(TED_NUMERO_QUOTIDIANI_NAZ,0) as varchar) as TED_NUMERO_QUOTIDIANI_NAZ, 
			cast( isnull(TED_NUMERO_QUOTIDIANI_REGIONALI,0) as varchar) as TED_NUMERO_QUOTIDIANI_REGIONALI, 

			isnull(TED_SITO_MINISTERO_INF_TRASP,'N') as TED_SITO_MINISTERO_INF_TRASP, 

			left(isnull(TED_LINK_SITO,''),250) as TED_LINK_SITO,

			REPLACE(CONVERT(varchar(10), TED_DATA_SCADENZA_RICHIESTA_INVITO, 121),'-','') as TED_DATA_SCADENZA_RICHIESTA_INVITO, 
			REPLACE(CONVERT(varchar(10), TED_DATA_LETTERA_INVITO, 121),'-','') as TED_DATA_LETTERA_INVITO
	

		from Document_TED_GARA g with(nolock)

GO
