USE [AFLink_TND]
GO
/****** Object:  View [dbo].[OLD2_OFFERTA_AMPIEZZA_Get_ProdottiLotto]    Script Date: 5/16/2024 2:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[OLD2_OFFERTA_AMPIEZZA_Get_ProdottiLotto] AS

	
	select 
		x.Id, idHeaderLotto as [IdHeader], x.TipoDoc,[Voce], [idHeaderLotto], [NumeroLotto],[Graduatoria], [Sorteggio], [Posizione], [Aggiudicata], [Exequo], [StatoRiga], [EsitoRiga], [ValoreOfferta],  [Descrizione], [Qty], [PrezzoUnitario], [CauzioneMicrolotto], [CIG], [CodiceATC], [PrincipioAttivo], [FormaFarmaceutica], [Dosaggio], [Somministrazione], [UnitadiMisura], [Quantita], [ImportoBaseAstaUnitaria], [ImportoAnnuoLotto], [ImportoTriennaleLotto], cast([NoteLotto] as nvarchar(max)) as  [NoteLotto] , [CodiceAIC], [QuantitaConfezione], [ClasseRimborsoMedicinale], [PrezzoVenditaConfezione], [AliquotaIva], [ScontoUlteriore], [EstremiGURI], [PrezzoUnitarioOfferta], [PrezzoUnitarioRiferimento], [TotaleOffertaUnitario], [ScorporoIVA], [PrezzoVenditaConfezioneIvaEsclusa], [PrezzoVenditaUnitario], [ScontoOffertoUnitario], [ScontoObbligatorioUnitario], [DenominazioneProdotto], [RagSocProduttore], [CodiceProdotto], [MarcaturaCE], [NumeroRepertorio], [NumeroCampioni], [Versamento], [PrezzoInLettere], [importoBaseAsta], [CampoTesto_1], [CampoTesto_2], [CampoTesto_3], [CampoTesto_4], [CampoTesto_5], [CampoTesto_6], [CampoTesto_7], [CampoTesto_8], [CampoTesto_9], [CampoTesto_10], [CampoNumerico_1], [CampoNumerico_2], [CampoNumerico_3], [CampoNumerico_4], [CampoNumerico_5], [CampoNumerico_6], [CampoNumerico_7], [CampoNumerico_8], [CampoNumerico_9], [CampoNumerico_10],  [CampoAllegato_1], [CampoAllegato_2], [CampoAllegato_3], [CampoAllegato_4], [CampoAllegato_5], [NumeroRiga], [PunteggioTecnico], [ValoreEconomico], [PesoVoce], [ValoreImportoLotto], [Variante], [CONTRATTO], [CODICE_AZIENDA_SANITARIA], [CODICE_REGIONALE], [DESCRIZIONE_CODICE_REGIONALE], [TARGET], [MATERIALE], [LATEX_FREE], [MISURE], [VOLUME], [ALTRE_CARATTERISTICHE], [CONFEZIONAMENTO_PRIMARIO], [PESO_CONFEZIONE], [DIMENSIONI_CONFEZIONE], [TEMPERATURA_CONSERVAZIONE], [QUANTITA_PRODOTTO_SINGOLO_PEZZO], [UM_QUANTITA_PRODOTTO_SINGOLO_PEZZO], [UM_DOSAGGIO], [PARTITA_IVA_FORNITORE], [RAGIONE_SOCIALE_FORNITORE], [CODICE_ARTICOLO_FORNITORE], [DENOMINAZIONE_ARTICOLO_FORNITORE], [DATA_INIZIO_PERIODO_VALIDITA], [DATA_FINE_PERIODO_VALIDITA], [RIFERIMENTO_TEMPORALE_FABBISOGNO], [FABBISOGNO_PREVISTO], [PREZZO_OFFERTO_PER_UM], [CONTENUTO_DI_UM_CONFEZIONE], [PREZZO_CONFEZIONE_IVA_ESCLUSA], [PREZZO_PEZZO], [SCHEDA_PRODOTTO], [CODICE_CND], [DESCRIZIONE_CND], [CODICE_CPV], [DESCRIZIONE_CODICE_CPV], [LIVELLO], [CERTIFICAZIONI], [CARATTERISTICHE_SOCIALI_AMBIENTALI], [PREZZO_BASE_ASTA_UM_IVA_ESCLUSA], [VALORE_BASE_ASTA_IVA_ESCLUSA], [RAGIONE_SOCIALE_ATTUALE_FORNITORE], [PREZZO_UM_IVA_ESCLUSA_ATTUALE_FORNITORE], [DATA_ULTIMO_CONTRATTO], [UM_UNITA_POSOLOGICA_CONTENUTA_INTERNO_DEL_BANCALE], [VALORE_COMPLESSIVO_OFFERTA], [NOTE_ENTI_STRUTTURE_AMMINISTRAZIONI], [NOTE_OPERATORE_ECONOMICO], [ONERI_SICUREZZA], [PARTITA_IVA_DEPOSITARIO], [RAGIONE_SOCIALE_DEPOSITARIO], [IDENTIFICATIVO_OGGETTO_INIZIATIVA], [AREA_MERCEOLOGICA], [PERC_SCONTO_FISSATA_PER_LEGGE], [ULTERIORE_PERC_DI_SCONTO_FISSATA_DA_AIFA1], [ULTERIORE_PERC_DI_SCONTO_FISSATA_DA_AIFA2], [ADESIONE_PAYBACK], [DescrizioneAIC], [ValoreAccessorioTecnico], [TipoAcquisto], [Subordinato], [ArticoliPrimari], [SelRow], [Erosione], [ValoreSconto], [ValoreRibasso], [PunteggioTecnicoAssegnato], [PunteggioTecnicoRiparCriterio], [PunteggioTecnicoRiparTotale], [Campo_Intero_1], [Campo_Intero_2], [Campo_Intero_3], [Campo_Intero_4], [Campo_Intero_5], [CODICE_CIVAB], [DESCRIZIONE_CIVAB], [CODICE_EAN], [CODICE_FISCALE_OPERATORE_ECONOMICO], [CODICE_FISCALE_PRODUTTORE], [CODICE_PARAF], [TIPO_REPERTORIO], [CampoAllegato_6], [CampoAllegato_7], [CampoAllegato_8], [CampoAllegato_9], [CampoAllegato_10], [ONERI_SICUREZZA_NR], [TIPOLOGIA_FORNITURA], [CampoTesto_11], [CampoTesto_12], [CampoTesto_13], [CampoTesto_14], [CampoTesto_15], [CampoTesto_16], [CampoTesto_17], [CampoTesto_18], [CampoTesto_19], [CampoTesto_20], [CampoNumerico_11], [CampoNumerico_12], [CampoNumerico_13], [CampoNumerico_14], [CampoNumerico_15], [CampoNumerico_16], [CampoNumerico_17], [CampoNumerico_18], [CampoNumerico_19], [CampoNumerico_20], [CampoAllegato_11], [CampoAllegato_12], [CampoAllegato_13], [CampoAllegato_14], [CampoAllegato_15], [CampoAllegato_16], [CampoAllegato_17], [CampoAllegato_18], [CampoAllegato_19], [CampoAllegato_20], [Campo_Intero_6], [Campo_Intero_7], [Campo_Intero_8], [Campo_Intero_9], [Campo_Intero_10], [Campo_Intero_11], [Campo_Intero_12], [Campo_Intero_13], [Campo_Intero_14], [Campo_Intero_15], [Campo_Intero_16], [Campo_Intero_17], [Campo_Intero_18], [Campo_Intero_19], [Campo_Intero_20], [PrezzoVenditaConfezioneIvaInclusa], [STERILE], [MONOUSO], [QT_NUM_PRODOTTO_SINGOLO_PEZZO], [PEZZI_PER_CONFEZIONE], [COSTI_MANODOPERA], [PercAgg], [Dominio_SiNo], [Intervallo_0_24], [Dominio_SiNo_2], [Dominio_SiNo_3], [CODIFICA_ARTICOLO_OE_PEZZO_SINGOLO], [PERC_RIBASSO], [Temperatura_minima_di_conservazione], [Temperatura_massima_di_conservazione], [Ftalati_free], [Infiammabile], [Presenza_medicinali], [Sostanza_corrosiva], [Sostanza_tossica], [Sostanza_velenosa], [Classe_di_Rimborsabilita], [ULTERIORE_PERC_DI_SCONTO_FISSATA_DA_AIFA3], [PunteggioEconomicoAssegnato], [Dominio_SiNo_4], [Dominio_SiNo_5], [Dominio_SiNo_6], [Dominio_SiNo_7], [Dominio_SiNo_8], [Dominio_SiNo_9], [Dominio_SiNo_10], [Dominio_SiNo_11], [Dominio_SiNo_12], [Dominio_SiNo_13], [Rialzo_Offerta_Unitario], [CODICE_ISO], [CODICE_REF], [COMODATO_DUSO], [CONFEZIONAMENTO_SECONDARIO_ECOCOMPATIBILE], [CONTENUTO_DI_UP_PER_CONFEZIONE], [DEFINED_DAILY_DOSE], [DENOMINAZIONE_ARTICOLO_COMPLETA], [DENOMINAZIONE_ARTICOLO_SINTETICA], [DENOMINAZIONE_COMMERCIALE], [DESCRIZIONE_COMPLETA_PARAF_BDF], [DOSAGGIO_QTA_PER_PRINCIPIO_ATTIVO], [FARMACO_ESCLUSIVO], [FATTORE_PRODUTTIVO], [INCLUSIONE_PHT], [NUMERO_UNITA_POSOLOGICA_CONTENUTA_INT_BANCALE], [PREZZO_AL_PUBBLICO_PER_CONFEZIONEivainclusa], [SCADENZA_BREVETTO], [SCHEDA_DI_SICUREZZA], [SCHEDA_TECNICA_PRODOTTO], [VALORE_UNITARIO_OFFERTO_IVA_ESCLUSA], [IMPORTO_OPZIONI], [IMPORTO_ATTUAZIONE_SICUREZZA], [PROGRESSIVO_RIGA], [DATA_CONSEGNA], [CODICE_WBS], [DESCRIZIONE_WBS], [DICHIARAZIONE_LATEX_GLUTEN_LACTOS_FREE], [PRODOTTO_IN_ESCLUSIVA], [ELENCO_AIC_DISPONIBILI], [PRESENZA_DI_GLUTINE], [PRESENZA_DI_LATTOSIO], [ALL_FIELD], [ClasseIscriz_S], [AREA_DI_CONSEGNA], [FotoProdotto], [IdRigaRiferimento], [MULTIPLI_ORDINABILI], [TAGLIA], [MODALITA_DI_CONSERVAZIONE], [CODICE_DM_PMC], [SCHEDA_TECNICA_LINK], [CODICE_BDR], [MODALITA_DI_CONSERVAZIONE_DOM], [VALOREIMPORTOLOTTOORIGINARIO], [AmpiezzaGamma], [FabbisognoTotale], [Tipo_Prodotto], [ReferenteFornitore], [TIPOLOGIA_DM], [ClasseCE], [CodiceAttribuitoFabbricante], [NomeCommercialeModello], [PartitaIVAFabbricante], [RagioneSocialeFabbricante], [TipoMedicinale], [QuantitaMinimaGara], [prezzoOffertoIvaEsclusa], [UnitadiMisuraAcquisto], [PrezzoAcquistoIVAesclusa], [CodiceSmaltimento], [TipizzazioneProdotto], [Temperatura], [ClassificazioneADR], [VitaUtileReferenza], [NoteABS], [DurataInMesi], [ConfezionamentoSecondario], [UDIDI], [NoteOE], [PrezzoConfezionePrimaria], [QuantitaUMOfferta], [ScontoConfezioneMinimaVendita], [CodiceParafarmaco], [NumeroLottoESTAR], [PrezzoPubblicoConfezione], [PrezzoExfactoryConfezione], [PrezzoPubblicoUnitario], [PrezzoExfactoryUnitario], [ScontoPrezzoPubblico], [ScontoPrezzoExfactory], [ScontoNonInLineaCalcolatiAutomaticamente], [RiferimentoScontoForzato], [MotivazioneScontoForzato], [ProdottoEsclusivo], [PrezzoSecretato], [ATCDiDettaglio], [PresenzaDMConnessiAlProdotto], [PresenzaLattice], [TracciatoDMDedicati], [BaseAstaUnitariaGara], [ScontoOffertoSullaVoce], [VALORESCONTOORIGINARIO], [IVA_PERC], [Numero_Certificazione_DM], [Data_Scadenza_Certificazione], [Elenco_Azienda], [pcp_ContrattiDisposizioniParticolari], [cn16_OrgRicorso_countryCode], [pcp_ModalitaAcquisizione], [pcp_OggettoPrincipaleContratto], [pcp_PrevedeRipetizioniCompl], [pcp_TipologiaLavoro], [pcp_PrevedeRipetizioniOpzioni], [pcp_Categoria], [CUP], [CATEGORIE_MERC], [pcp_TipoAppaltoGara], [DESC_LUOGO_ISTAT], [pcp_UlterioriSommeNoRibasso], [pcp_SommeOpzioniRinnovi], [pcp_SommeRipetizioni], [pcp_SommeADisposizione], [impProgettazione], [AddInfo_Acc_ril_da], [AddInfo_Att_SOA], [AddInfo_des_att], [AddInfo_Fat_spe_ult_tri], [AddInfo_For_Ser_arc], [AddInfo_For_Ser_di_esp_in_mus], [AddInfo_For_Ser_di_mus], [AddInfo_Lau_tri_o_mag], [AddInfo_Tip_di_man], [AddInfo_Tit_di_stu], [AddInfo_Acc_A_Ser_spe_di_ist], [AddInfo_Acc_Acq_pre_lav_lav], [AddInfo_Acc_B_Ser_spe_di_ist], [AddInfo_Acc_C_Ser_spe_di_ist], [AddInfo_Rec_str], [AddInfo_Reg_EMA], [AddInfo_Res_soc_imp_ISO_260], [AddInfo_Ris_coa_sup], [AddInfo_Ris_ord_sup], [AddInfo_Ser_esp_h48_in_sed_naz_Ser_di], [AddInfo_Acc_Eta_adu], [AddInfo_Acc_Eta_anz], [AddInfo_Acc_Eta_evo_e_gen], [AddInfo_Acc_Per_con_dis], [AddInfo_Acc_Ser_ter], [AddInfo_Acc_Spo_soc], [AddInfo_Acc_sup], [AddInfo_Aut_Acq_pre_lav_lav], [AddInfo_Aut_Eta_adu], [AddInfo_Aut_Eta_anz], [AddInfo_Aut_Eta_evo_e_gen], [AddInfo_Aut_Per_con_dis], [AddInfo_Aut_Ser_ter], [AddInfo_Aut_Spo_soc], [AddInfo_Car_foo_UNI_ISO_140], [AddInfo_Cer_ISO_5], [AddInfo_Cer_ISO_500], [AddInfo_Cer_OHS_180_a_bre_ISO_450], [AddInfo_Cer_soc_imp_SA], [AddInfo_Cer_soc_imp_SA_800], [AddInfo_Cer_UNI_CEI_113], [AddInfo_Cer_UNI_CEI_ISO_900_ai_sen_UNI], [AddInfo_Cer_UNI_EN_148_200], [AddInfo_Cer_UNI_EN_ISO_140], [AddInfo_Cer_UNI_ISO_370_Pre_del_cor], [AddInfo_Con_del_lin_cim], [AddInfo_Con_del_lin_Fra], [AddInfo_Con_del_lin_Ing], [AddInfo_Con_del_lin_lad], [AddInfo_Con_del_lin_moc], [AddInfo_Con_del_lin_Spa], [AddInfo_Con_del_lin_Ted], [AddInfo_Con_del_nor_di_cat_ICC], [AddInfo_Den_tri], [AddInfo_Dir_tec_arc_con_req_ex_dm_260], [AddInfo_Dir_tec_con_lau_in_ben_cul], [AddInfo_Dir_tec_esp_lav_OS2_non_inf_5], [AddInfo_Dir_tec_Res_abi_dal_Min], [AddInfo_Ges_col_su_ban_Ser_di_tra_col], [AddInfo_Inv_dei_gas_ad_eff_ser_UNI_ISO], [AddInfo_Isc_al_Reg_dei_Rev_leg_Ser_di], [AddInfo_Isc_Alb_Age_per_il_Lav_Ser_som], [AddInfo_Isc_Alb_con_fin_Ser_di_con_fin], [AddInfo_Isc_alb_dei_gio_pub], [AddInfo_Isc_alb_for_Con_dir_soc], [AddInfo_Isc_alb_for_Con_fin], [AddInfo_Isc_alb_for_Con_in_mat_amm], [AddInfo_Isc_alb_for_Con_par_pub_pri], [AddInfo_Isc_alb_for_Con_pri], [AddInfo_Isc_neg_ele_dei_nom_abi_all_del], [AddInfo_Isc_Ord_Dot_com_Ser_di_con_e], [AddInfo_Isc_Ord_naz_deg_att_Ser_att], [AddInfo_Isc_Ord_naz_deg_att_Ser_di_con], [AddInfo_Mic_imp_pic_imp_med], [AddInfo_Pos_del_lic_all_del_di_inv], [AddInfo_Pos_del_lic_all_del_di_vig], [COSTO_MANODOPERA], [COSTO_NOLI_E_TRASPORTI], [COSTO_MATERIALI], [ARROTONDAMENTO], [COSTO_MANODOPERA_OE], [COSTO_NOLI_E_TRASPORTI_OE], [COSTO_MATERIALI_OE], [SPESE_GENERALI_IMPRESA_OE], [UTILE_IMPRESA_OE], [MOTIVAZIONE_CIG], [TIPO_FINANZIAMENTO], [pcp_ImportoFinanziamento], [pcp_cigCollegato], [MOTIVO_COLLEGAMENTO], [pcp_iniziativeNonSoddisfacenti], [pcp_saNonSoggettaObblighi24Dicembre2015], [pcp_lavoroOAcquistoPrevistoInProgrammazione], [pcp_CondizioniNegoziata], [pcp_ServizioPubblicoLocale], [pcp_finanziamentiCanoniPA], [pcp_entrateUtenza], [pcp_introitoAttivo], [pcp_metodoCalcoloProventi]
		from Document_MicroLotti_Dettagli x with (nolock)
			inner join CTL_DOC a with (nolock) on a.Id = x.IdHeader and a.TipoDoc = 'OFFERTA'
				where x.TipoDoc = 'OFFERTA_AMPIEZZA'
		union
	select 
		x.Id, idHeaderLotto as [IdHeader], a.TipoDoc, [Voce], [idHeaderLotto],[NumeroLotto],[Graduatoria], [Sorteggio], [Posizione], [Aggiudicata], [Exequo], [StatoRiga], [EsitoRiga], [ValoreOfferta],  [Descrizione], [Qty], [PrezzoUnitario], [CauzioneMicrolotto], [CIG], [CodiceATC], [PrincipioAttivo], [FormaFarmaceutica], [Dosaggio], [Somministrazione], [UnitadiMisura], [Quantita], [ImportoBaseAstaUnitaria], [ImportoAnnuoLotto], [ImportoTriennaleLotto], cast([NoteLotto] as nvarchar(max)) as  [NoteLotto], [CodiceAIC], [QuantitaConfezione], [ClasseRimborsoMedicinale], [PrezzoVenditaConfezione], [AliquotaIva], [ScontoUlteriore], [EstremiGURI], [PrezzoUnitarioOfferta], [PrezzoUnitarioRiferimento], [TotaleOffertaUnitario], [ScorporoIVA], [PrezzoVenditaConfezioneIvaEsclusa], [PrezzoVenditaUnitario], [ScontoOffertoUnitario], [ScontoObbligatorioUnitario], [DenominazioneProdotto], [RagSocProduttore], [CodiceProdotto], [MarcaturaCE], [NumeroRepertorio], [NumeroCampioni], [Versamento], [PrezzoInLettere], [importoBaseAsta], [CampoTesto_1], [CampoTesto_2], [CampoTesto_3], [CampoTesto_4], [CampoTesto_5], [CampoTesto_6], [CampoTesto_7], [CampoTesto_8], [CampoTesto_9], [CampoTesto_10], [CampoNumerico_1], [CampoNumerico_2], [CampoNumerico_3], [CampoNumerico_4], [CampoNumerico_5], [CampoNumerico_6], [CampoNumerico_7], [CampoNumerico_8], [CampoNumerico_9], [CampoNumerico_10],  [CampoAllegato_1], [CampoAllegato_2], [CampoAllegato_3], [CampoAllegato_4], [CampoAllegato_5], [NumeroRiga], [PunteggioTecnico], [ValoreEconomico], [PesoVoce], [ValoreImportoLotto], [Variante], [CONTRATTO], [CODICE_AZIENDA_SANITARIA], [CODICE_REGIONALE], [DESCRIZIONE_CODICE_REGIONALE], [TARGET], [MATERIALE], [LATEX_FREE], [MISURE], [VOLUME], [ALTRE_CARATTERISTICHE], [CONFEZIONAMENTO_PRIMARIO], [PESO_CONFEZIONE], [DIMENSIONI_CONFEZIONE], [TEMPERATURA_CONSERVAZIONE], [QUANTITA_PRODOTTO_SINGOLO_PEZZO], [UM_QUANTITA_PRODOTTO_SINGOLO_PEZZO], [UM_DOSAGGIO], [PARTITA_IVA_FORNITORE], [RAGIONE_SOCIALE_FORNITORE], [CODICE_ARTICOLO_FORNITORE], [DENOMINAZIONE_ARTICOLO_FORNITORE], [DATA_INIZIO_PERIODO_VALIDITA], [DATA_FINE_PERIODO_VALIDITA], [RIFERIMENTO_TEMPORALE_FABBISOGNO], [FABBISOGNO_PREVISTO], [PREZZO_OFFERTO_PER_UM], [CONTENUTO_DI_UM_CONFEZIONE], [PREZZO_CONFEZIONE_IVA_ESCLUSA], [PREZZO_PEZZO], [SCHEDA_PRODOTTO], [CODICE_CND], [DESCRIZIONE_CND], [CODICE_CPV], [DESCRIZIONE_CODICE_CPV], [LIVELLO], [CERTIFICAZIONI], [CARATTERISTICHE_SOCIALI_AMBIENTALI], [PREZZO_BASE_ASTA_UM_IVA_ESCLUSA], [VALORE_BASE_ASTA_IVA_ESCLUSA], [RAGIONE_SOCIALE_ATTUALE_FORNITORE], [PREZZO_UM_IVA_ESCLUSA_ATTUALE_FORNITORE], [DATA_ULTIMO_CONTRATTO], [UM_UNITA_POSOLOGICA_CONTENUTA_INTERNO_DEL_BANCALE], [VALORE_COMPLESSIVO_OFFERTA], [NOTE_ENTI_STRUTTURE_AMMINISTRAZIONI], [NOTE_OPERATORE_ECONOMICO], [ONERI_SICUREZZA], [PARTITA_IVA_DEPOSITARIO], [RAGIONE_SOCIALE_DEPOSITARIO], [IDENTIFICATIVO_OGGETTO_INIZIATIVA], [AREA_MERCEOLOGICA], [PERC_SCONTO_FISSATA_PER_LEGGE], [ULTERIORE_PERC_DI_SCONTO_FISSATA_DA_AIFA1], [ULTERIORE_PERC_DI_SCONTO_FISSATA_DA_AIFA2], [ADESIONE_PAYBACK], [DescrizioneAIC], [ValoreAccessorioTecnico], [TipoAcquisto], [Subordinato], [ArticoliPrimari], [SelRow], [Erosione], [ValoreSconto], [ValoreRibasso], [PunteggioTecnicoAssegnato], [PunteggioTecnicoRiparCriterio], [PunteggioTecnicoRiparTotale], [Campo_Intero_1], [Campo_Intero_2], [Campo_Intero_3], [Campo_Intero_4], [Campo_Intero_5], [CODICE_CIVAB], [DESCRIZIONE_CIVAB], [CODICE_EAN], [CODICE_FISCALE_OPERATORE_ECONOMICO], [CODICE_FISCALE_PRODUTTORE], [CODICE_PARAF], [TIPO_REPERTORIO], [CampoAllegato_6], [CampoAllegato_7], [CampoAllegato_8], [CampoAllegato_9], [CampoAllegato_10], [ONERI_SICUREZZA_NR], [TIPOLOGIA_FORNITURA], [CampoTesto_11], [CampoTesto_12], [CampoTesto_13], [CampoTesto_14], [CampoTesto_15], [CampoTesto_16], [CampoTesto_17], [CampoTesto_18], [CampoTesto_19], [CampoTesto_20], [CampoNumerico_11], [CampoNumerico_12], [CampoNumerico_13], [CampoNumerico_14], [CampoNumerico_15], [CampoNumerico_16], [CampoNumerico_17], [CampoNumerico_18], [CampoNumerico_19], [CampoNumerico_20], [CampoAllegato_11], [CampoAllegato_12], [CampoAllegato_13], [CampoAllegato_14], [CampoAllegato_15], [CampoAllegato_16], [CampoAllegato_17], [CampoAllegato_18], [CampoAllegato_19], [CampoAllegato_20], [Campo_Intero_6], [Campo_Intero_7], [Campo_Intero_8], [Campo_Intero_9], [Campo_Intero_10], [Campo_Intero_11], [Campo_Intero_12], [Campo_Intero_13], [Campo_Intero_14], [Campo_Intero_15], [Campo_Intero_16], [Campo_Intero_17], [Campo_Intero_18], [Campo_Intero_19], [Campo_Intero_20], [PrezzoVenditaConfezioneIvaInclusa], [STERILE], [MONOUSO], [QT_NUM_PRODOTTO_SINGOLO_PEZZO], [PEZZI_PER_CONFEZIONE], [COSTI_MANODOPERA], [PercAgg], [Dominio_SiNo], [Intervallo_0_24], [Dominio_SiNo_2], [Dominio_SiNo_3], [CODIFICA_ARTICOLO_OE_PEZZO_SINGOLO], [PERC_RIBASSO], [Temperatura_minima_di_conservazione], [Temperatura_massima_di_conservazione], [Ftalati_free], [Infiammabile], [Presenza_medicinali], [Sostanza_corrosiva], [Sostanza_tossica], [Sostanza_velenosa], [Classe_di_Rimborsabilita], [ULTERIORE_PERC_DI_SCONTO_FISSATA_DA_AIFA3], [PunteggioEconomicoAssegnato], [Dominio_SiNo_4], [Dominio_SiNo_5], [Dominio_SiNo_6], [Dominio_SiNo_7], [Dominio_SiNo_8], [Dominio_SiNo_9], [Dominio_SiNo_10], [Dominio_SiNo_11], [Dominio_SiNo_12], [Dominio_SiNo_13], [Rialzo_Offerta_Unitario], [CODICE_ISO], [CODICE_REF], [COMODATO_DUSO], [CONFEZIONAMENTO_SECONDARIO_ECOCOMPATIBILE], [CONTENUTO_DI_UP_PER_CONFEZIONE], [DEFINED_DAILY_DOSE], [DENOMINAZIONE_ARTICOLO_COMPLETA], [DENOMINAZIONE_ARTICOLO_SINTETICA], [DENOMINAZIONE_COMMERCIALE], [DESCRIZIONE_COMPLETA_PARAF_BDF], [DOSAGGIO_QTA_PER_PRINCIPIO_ATTIVO], [FARMACO_ESCLUSIVO], [FATTORE_PRODUTTIVO], [INCLUSIONE_PHT], [NUMERO_UNITA_POSOLOGICA_CONTENUTA_INT_BANCALE], [PREZZO_AL_PUBBLICO_PER_CONFEZIONEivainclusa], [SCADENZA_BREVETTO], [SCHEDA_DI_SICUREZZA], [SCHEDA_TECNICA_PRODOTTO], [VALORE_UNITARIO_OFFERTO_IVA_ESCLUSA], [IMPORTO_OPZIONI], [IMPORTO_ATTUAZIONE_SICUREZZA], [PROGRESSIVO_RIGA], [DATA_CONSEGNA], [CODICE_WBS], [DESCRIZIONE_WBS], [DICHIARAZIONE_LATEX_GLUTEN_LACTOS_FREE], [PRODOTTO_IN_ESCLUSIVA], [ELENCO_AIC_DISPONIBILI], [PRESENZA_DI_GLUTINE], [PRESENZA_DI_LATTOSIO], [ALL_FIELD], [ClasseIscriz_S], [AREA_DI_CONSEGNA], [FotoProdotto], [IdRigaRiferimento], [MULTIPLI_ORDINABILI], [TAGLIA], [MODALITA_DI_CONSERVAZIONE], [CODICE_DM_PMC], [SCHEDA_TECNICA_LINK], [CODICE_BDR], [MODALITA_DI_CONSERVAZIONE_DOM], [VALOREIMPORTOLOTTOORIGINARIO], [AmpiezzaGamma], [FabbisognoTotale], [Tipo_Prodotto], [ReferenteFornitore], [TIPOLOGIA_DM], [ClasseCE], [CodiceAttribuitoFabbricante], [NomeCommercialeModello], [PartitaIVAFabbricante], [RagioneSocialeFabbricante], [TipoMedicinale], [QuantitaMinimaGara], [prezzoOffertoIvaEsclusa], [UnitadiMisuraAcquisto], [PrezzoAcquistoIVAesclusa], [CodiceSmaltimento], [TipizzazioneProdotto], [Temperatura], [ClassificazioneADR], [VitaUtileReferenza], [NoteABS], [DurataInMesi], [ConfezionamentoSecondario], [UDIDI], [NoteOE], [PrezzoConfezionePrimaria], [QuantitaUMOfferta], [ScontoConfezioneMinimaVendita], [CodiceParafarmaco], [NumeroLottoESTAR], [PrezzoPubblicoConfezione], [PrezzoExfactoryConfezione], [PrezzoPubblicoUnitario], [PrezzoExfactoryUnitario], [ScontoPrezzoPubblico], [ScontoPrezzoExfactory], [ScontoNonInLineaCalcolatiAutomaticamente], [RiferimentoScontoForzato], [MotivazioneScontoForzato], [ProdottoEsclusivo], [PrezzoSecretato], [ATCDiDettaglio], [PresenzaDMConnessiAlProdotto], [PresenzaLattice], [TracciatoDMDedicati], [BaseAstaUnitariaGara], [ScontoOffertoSullaVoce], [VALORESCONTOORIGINARIO], [IVA_PERC], [Numero_Certificazione_DM], [Data_Scadenza_Certificazione], [Elenco_Azienda], [pcp_ContrattiDisposizioniParticolari], [cn16_OrgRicorso_countryCode], [pcp_ModalitaAcquisizione], [pcp_OggettoPrincipaleContratto], [pcp_PrevedeRipetizioniCompl], [pcp_TipologiaLavoro], [pcp_PrevedeRipetizioniOpzioni], [pcp_Categoria], [CUP], [CATEGORIE_MERC], [pcp_TipoAppaltoGara], [DESC_LUOGO_ISTAT], [pcp_UlterioriSommeNoRibasso], [pcp_SommeOpzioniRinnovi], [pcp_SommeRipetizioni], [pcp_SommeADisposizione], [impProgettazione], [AddInfo_Acc_ril_da], [AddInfo_Att_SOA], [AddInfo_des_att], [AddInfo_Fat_spe_ult_tri], [AddInfo_For_Ser_arc], [AddInfo_For_Ser_di_esp_in_mus], [AddInfo_For_Ser_di_mus], [AddInfo_Lau_tri_o_mag], [AddInfo_Tip_di_man], [AddInfo_Tit_di_stu], [AddInfo_Acc_A_Ser_spe_di_ist], [AddInfo_Acc_Acq_pre_lav_lav], [AddInfo_Acc_B_Ser_spe_di_ist], [AddInfo_Acc_C_Ser_spe_di_ist], [AddInfo_Rec_str], [AddInfo_Reg_EMA], [AddInfo_Res_soc_imp_ISO_260], [AddInfo_Ris_coa_sup], [AddInfo_Ris_ord_sup], [AddInfo_Ser_esp_h48_in_sed_naz_Ser_di], [AddInfo_Acc_Eta_adu], [AddInfo_Acc_Eta_anz], [AddInfo_Acc_Eta_evo_e_gen], [AddInfo_Acc_Per_con_dis], [AddInfo_Acc_Ser_ter], [AddInfo_Acc_Spo_soc], [AddInfo_Acc_sup], [AddInfo_Aut_Acq_pre_lav_lav], [AddInfo_Aut_Eta_adu], [AddInfo_Aut_Eta_anz], [AddInfo_Aut_Eta_evo_e_gen], [AddInfo_Aut_Per_con_dis], [AddInfo_Aut_Ser_ter], [AddInfo_Aut_Spo_soc], [AddInfo_Car_foo_UNI_ISO_140], [AddInfo_Cer_ISO_5], [AddInfo_Cer_ISO_500], [AddInfo_Cer_OHS_180_a_bre_ISO_450], [AddInfo_Cer_soc_imp_SA], [AddInfo_Cer_soc_imp_SA_800], [AddInfo_Cer_UNI_CEI_113], [AddInfo_Cer_UNI_CEI_ISO_900_ai_sen_UNI], [AddInfo_Cer_UNI_EN_148_200], [AddInfo_Cer_UNI_EN_ISO_140], [AddInfo_Cer_UNI_ISO_370_Pre_del_cor], [AddInfo_Con_del_lin_cim], [AddInfo_Con_del_lin_Fra], [AddInfo_Con_del_lin_Ing], [AddInfo_Con_del_lin_lad], [AddInfo_Con_del_lin_moc], [AddInfo_Con_del_lin_Spa], [AddInfo_Con_del_lin_Ted], [AddInfo_Con_del_nor_di_cat_ICC], [AddInfo_Den_tri], [AddInfo_Dir_tec_arc_con_req_ex_dm_260], [AddInfo_Dir_tec_con_lau_in_ben_cul], [AddInfo_Dir_tec_esp_lav_OS2_non_inf_5], [AddInfo_Dir_tec_Res_abi_dal_Min], [AddInfo_Ges_col_su_ban_Ser_di_tra_col], [AddInfo_Inv_dei_gas_ad_eff_ser_UNI_ISO], [AddInfo_Isc_al_Reg_dei_Rev_leg_Ser_di], [AddInfo_Isc_Alb_Age_per_il_Lav_Ser_som], [AddInfo_Isc_Alb_con_fin_Ser_di_con_fin], [AddInfo_Isc_alb_dei_gio_pub], [AddInfo_Isc_alb_for_Con_dir_soc], [AddInfo_Isc_alb_for_Con_fin], [AddInfo_Isc_alb_for_Con_in_mat_amm], [AddInfo_Isc_alb_for_Con_par_pub_pri], [AddInfo_Isc_alb_for_Con_pri], [AddInfo_Isc_neg_ele_dei_nom_abi_all_del], [AddInfo_Isc_Ord_Dot_com_Ser_di_con_e], [AddInfo_Isc_Ord_naz_deg_att_Ser_att], [AddInfo_Isc_Ord_naz_deg_att_Ser_di_con], [AddInfo_Mic_imp_pic_imp_med], [AddInfo_Pos_del_lic_all_del_di_inv], [AddInfo_Pos_del_lic_all_del_di_vig], [COSTO_MANODOPERA], [COSTO_NOLI_E_TRASPORTI], [COSTO_MATERIALI], [ARROTONDAMENTO], [COSTO_MANODOPERA_OE], [COSTO_NOLI_E_TRASPORTI_OE], [COSTO_MATERIALI_OE], [SPESE_GENERALI_IMPRESA_OE], [UTILE_IMPRESA_OE], [MOTIVAZIONE_CIG], [TIPO_FINANZIAMENTO], [pcp_ImportoFinanziamento], [pcp_cigCollegato], [MOTIVO_COLLEGAMENTO], [pcp_iniziativeNonSoddisfacenti], [pcp_saNonSoggettaObblighi24Dicembre2015], [pcp_lavoroOAcquistoPrevistoInProgrammazione], [pcp_CondizioniNegoziata], [pcp_ServizioPubblicoLocale], [pcp_finanziamentiCanoniPA], [pcp_entrateUtenza], [pcp_introitoAttivo], [pcp_metodoCalcoloProventi]
		from Document_MicroLotti_Dettagli x with (nolock)
			inner join CTL_DOC a with (nolock) on a.Id = x.IdHeader and a.TipoDoc = 'OFFERTA'
				where x.TipoDoc = 'OFFERTA_AMPIEZZA'

GO
