USE [AFLink_TND]
GO
/****** Object:  View [dbo].[CRITERI_RICERCA_OE_FROM_TOOLBAR]    Script Date: 5/16/2024 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[CRITERI_RICERCA_OE_FROM_TOOLBAR] as 

select
-1 as IndRow,
'1' as CARBelongTo--,
--'0' as CancellatoDiUfficio  



GO
