USE [AFLink_TND]
GO
/****** Object:  View [dbo].[MAIL_MAIL_PEC]    Script Date: 5/16/2024 2:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[MAIL_MAIL_PEC]
AS
SELECT  
'I' as LNG,   
 1 IdDoc 
 
			





GO
