USE [AFLink_TND]
GO
/****** Object:  View [dbo].[DASHBOARD_VIEW_ULTIMI_DOCUMENTI_PUBBLICI]    Script Date: 5/16/2024 2:45:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[DASHBOARD_VIEW_ULTIMI_DOCUMENTI_PUBBLICI] as
	select * from FAST_DPCM_ULTIMI_DOCUMENTI_PUBBLICI
GO
