TEXTAREA.TextArea
{
    FONT-SIZE: 12pt;
    WIDTH: 100%
}
TEXTAREA.TextAreaFull
{
    WIDTH: 100%;
    HEIGHT: 100%
}
TABLE.Foto_Tab
{
    CURSOR: hand
}
TD.Foto_label
{
    FONT-SIZE: 10pt;
    COLOR: blue;
    FONT-FAMILY: Arial
}
INPUT.Fld_Number
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
SELECT.FldDomainValue
{
    BORDER-RIGHT: lightgrey 1px inset;
    BORDER-TOP: lightgrey 1px inset;
    FONT-SIZE: 9pt;
    BORDER-LEFT: lightgrey 1px inset;
    BORDER-BOTTOM: lightgrey 1px inset;
    FONT-FAMILY: Arial
}
LABEL.Fld_number
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
.Fld_Number_POS
{
    FONT-SIZE: 10pt;
    COLOR: green;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
.Fld_Number_NEG
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: red;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
TABLE.Attach_Tab
{
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: #161a74;
    FONT-FAMILY: Arial
}
LABEL.Attach_label
{
    FONT-SIZE: 10pt;
    COLOR: blue;
    FONT-FAMILY: Arial
}
TABLE.Foto_Tab
{
    CURSOR: hand
}
TD.Foto_label
{
    FONT-SIZE: 10pt;
    COLOR: blue;
    FONT-FAMILY: Arial
}
TD.FldHier_unselectable
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
TD.FldHier_selectable
{
    FONT-SIZE: 10pt;
    CURSOR: hand;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
TD.FldHier_selectableMouseOver
{
    FONT-SIZE: 10pt;
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: navy
}
INPUT.FldHier_edit
{
    BORDER-RIGHT: lightgrey 1px inset;
    BORDER-TOP: lightgrey 1px inset;
    FONT-SIZE: 9pt;
    BORDER-LEFT: lightgrey 1px inset;
    BORDER-BOTTOM: lightgrey 1px inset;
    FONT-FAMILY: Arial
}
TABLE.FldHier_path
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px 0px 12px;
    PADDING-TOP: 0px
}
TABLE.FldHier_node
{
    PADDING-RIGHT: 4px;
    MARGIN-TOP: 2px
}
BODY.ExtField
{
    MARGIN: 0px
}
IMG.FldHier_PlusMinus
{
    CURSOR: hand
}
TABLE.FldHier_border
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid
}
.FldCaption_Bold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
LABEL.Attach_label
{
    FONT-SIZE: 10pt;
    CURSOR: hand;
    COLOR: blue;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
TABLE.FldPubLeg_Tab
{
    BORDER-RIGHT: gray 1px;
    BORDER-TOP: gray 1px;
    FONT-SIZE: 10pt;
    BORDER-LEFT: gray 1px;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: Arial
}
TD.Fld_DescDB_label
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
INPUT.FldExtDom_E2
{
    Z-INDEX: 2;
    POSITION: absolute;
    BACKGROUND-COLOR: transparent
}
INPUT.FldExtDom_E
{
    BORDER-RIGHT: lightgrey 1px inset;
    BORDER-TOP: lightgrey 1px inset;
    FONT-SIZE: 9pt;
    Z-INDEX: 2;
    LEFT: -1000px;
    BORDER-LEFT: lightgrey 1px inset;
    BORDER-BOTTOM: lightgrey 1px inset;
    FONT-FAMILY: Arial;
    POSITION: absolute;
    TOP: -1000px;
    BACKGROUND-COLOR: transparent
}
INPUT.FldExtDom_V
{
    BORDER-RIGHT: lightgrey 1px inset;
    BORDER-TOP: lightgrey 1px inset;
    FONT-SIZE: 9pt;
    Z-INDEX: 1;
    BORDER-LEFT: lightgrey 1px inset;
    BORDER-BOTTOM: lightgrey 1px inset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: transparent
}
.GridCol_Link_Number_POS
{
    FONT-SIZE: 10pt;
    COLOR: green;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
.GridCol_Link_Number_NEG
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: red;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
INPUT.FldHier_button
{
    BORDER-RIGHT: #161a74 1px outset;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #161a74 1px outset;
    PADDING-LEFT: 0px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px 0px 1px;
    BORDER-LEFT: #161a74 1px outset;
    COLOR: #161a74;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #161a74 1px outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e9edf3
}
INPUT.Text
{
    BORDER-RIGHT: lightgrey 1px inset;
    BORDER-TOP: lightgrey 1px inset;
    FONT-SIZE: 12pt;
    BORDER-LEFT: lightgrey 1px inset;
    BORDER-BOTTOM: lightgrey 1px inset;
    FONT-FAMILY: Arial
}
INPUT.FldExtDom_button
{
    BORDER-RIGHT: #161a74 1px outset;
    BORDER-TOP: #161a74 1px outset;
    FONT-SIZE: 8pt;
    MARGIN-LEFT: 1px;
    BORDER-LEFT: #161a74 1px outset;
    COLOR: #161a74;
    BORDER-BOTTOM: #161a74 1px outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e9edf3
}
INPUT.Attach_button
{
    BORDER-RIGHT: #161a74 1px outset;
    BORDER-TOP: #161a74 1px outset;
    FONT-SIZE: 8pt;
    MARGIN-LEFT: 1px;
    BORDER-LEFT: #161a74 1px outset;
    COLOR: #161a74;
    BORDER-BOTTOM: #161a74 1px outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e9edf3
}
.fld_Evidence
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: red
}
