TABLE.Grid
{
    BORDER-RIGHT: blue;
    BORDER-TOP: blue;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue;
    COLOR: black;
    BORDER-BOTTOM: blue;
    FONT-FAMILY: Arial
}
TD.Grid_RowCaption
{
    BORDER-RIGHT: 1px outset;
    BORDER-TOP: 1px outset;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 2px;
    BORDER-LEFT: 1px outset;
    COLOR: white;
    MARGIN-RIGHT: 2px;
    BORDER-BOTTOM: 1px outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: silver;
    TEXT-ALIGN: center
}
TD.Grid_RowCaption_Sort
{
    BORDER-RIGHT: 1px outset;
    BORDER-TOP: 1px outset;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 2px;
    BORDER-LEFT: 1px outset;
    CURSOR: hand;
    COLOR: white;
    MARGIN-RIGHT: 2px;
    BORDER-BOTTOM: 1px outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: silver
}

TD.Grid_TitleCell
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 18px
}
TD.Grid_Total
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
TD.Grid_Total_GridCol_Link_Number
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
TD.Grid_Total_Fld_Number
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}



TR.GR0
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white;

}
TR.GR1
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: lightgrey;
}

TR.GR_OverRow
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: lightblue;
}

TD.GR0
{
    BORDER-RIGHT: lightgrey 1px solid;

}
TD.GR1
{
    BORDER-RIGHT: lightgrey 1px solid;
}

TD.GR0_TextArea
{
    BORDER-RIGHT: lightgrey 1px solid;

}
TD.GR1_TextArea
{
    BORDER-RIGHT: lightgrey 1px solid;
}



TD.Grid_TitleCell
{
    FONT-WEIGHT: bolder
}
TD.GR0_GridCol_Link
{
    BORDER-RIGHT: lightgrey 1px solid;
    CURSOR: hand;
    COLOR: blue;
    TEXT-DECORATION: underline
}
TD.GR1_GridCol_Link
{
    BORDER-RIGHT: lightgrey 1px solid;
    CURSOR: hand;
    COLOR: blue;
    TEXT-DECORATION: underline
}
TD.GR0_Fld_Number
{
    BORDER-RIGHT: lightgrey 1px solid;
}
TD.GR1_Fld_Number
{
    BORDER-RIGHT: lightgrey 1px solid;
}
TD.GR0_GridCol_Link_Number
{
    BORDER-RIGHT: lightgrey 1px solid;
    CURSOR: hand;
    COLOR: blue;
    TEXT-ALIGN: right;
    TEXT-DECORATION: underline
}
TD.GR1_GridCol_Link_Number
{
    BORDER-RIGHT: lightgrey 1px solid;
    CURSOR: hand;
    COLOR: blue;
    TEXT-ALIGN: right;
    TEXT-DECORATION: underline
}
TD.GR0_Text
{
    BORDER-RIGHT: lightgrey 1px solid;
}
TD.GR1_Text
{
    BORDER-RIGHT: lightgrey 1px solid;
}
TD.GR1_FldDomainValue
{
    BORDER-RIGHT: lightgrey 1px solid;
}
TD.GR0_FldDomainValue
{
    BORDER-RIGHT: lightgrey 1px solid;
}
TD.GR1_Foto
{
    BORDER-RIGHT: lightgrey 1px solid;
}
TD.GR0_Foto
{
    BORDER-RIGHT: lightgrey 1px solid;
}
TD.GR1_FldExtDom
{
    BORDER-RIGHT: lightgrey 1px solid;
}
TD.GR0_FldExtDom
{
    BORDER-RIGHT: lightgrey 1px solid;
}
TD.GR0_Attach
{
    BORDER-RIGHT: lightgrey 1px solid;
}
TD.GR1_Attach
{
    BORDER-RIGHT: lightgrey 1px solid;
}
TD.GR0_FldHier
{
    BORDER-RIGHT: lightgrey 1px solid;
}
TD.GR1_FldHier
{
    BORDER-RIGHT: lightgrey 1px solid;
}
TD.GR0_Fld_DescDB
{
    BORDER-RIGHT: lightgrey 1px solid;
}
TD.GR1_Fld_DescDB
{
    BORDER-RIGHT: lightgrey 1px solid;
}
TD.GR0_checkbox
{
    BORDER-RIGHT: lightgrey 1px solid;
}
TD.GR1_checkbox
{
    BORDER-RIGHT: lightgrey 1px solid;
}