TEXTAREA.TextArea
{
    WIDTH: 100%;
	border:1px solid #ccc;
	background-color:#fff;
	margin-top:5px;
	color:#333;
}
.RTE
{
    FONT-SIZE: 10pt;
    WIDTH: 100%;
	BORDER: lightgrey 1px inset;
	display:none;

}
.FRM_RTE
{
    FONT-SIZE: 10pt;
    WIDTH: 100%;
	BORDER: lightgrey 1px inset;

}

.rte-zone{width:350px;margin:0;padding:0;height:160px;border:1px #999 solid;clear:both}

.rte-toolbar{overflow:hidden;}

.rte-toolbar a,.rte-toolbar a img{border:0}

.rte-toolbar p{xfloat:left;margin:0;padding-right:5px}




TEXTAREA.TextArea:hover{
	BORDER-COLOR:#333;
}

TEXTAREA.TextArea:focus{
	BACKGROUND-COLOR:#FFF;
	border-color:#333;
	color:#333;
}

TEXTAREA.TextArea:hover{
	border-color:333;
}
TEXTAREA.TextAreaFull
{
    WIDTH: 100%;
    HEIGHT: 100%
}
TABLE.Foto_Tab
{
    CURSOR: pointer
}
TD.Foto_label
{
    FONT-SIZE: 10pt;
    COLOR: #CB1D15;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
INPUT.Fld_Number
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-ALIGN: right
}
SELECT.FldDomainValue
{
    BORDER: 1px solid #ccc;
	background-color:#fff;
    FONT-SIZE: 9pt;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#CB1D15;
	margin-left:5px;
}
select:hover{
	border-color:#333;
}

select:focus{
	background-color:#fff;
}

LABEL.Fld_number
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-ALIGN: right
}
.Fld_Number_POS
{
    FONT-SIZE: 10pt;
    COLOR: green;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-ALIGN: right
}
.Fld_Number_NEG
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: red;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-ALIGN: right
}
TABLE.Attach_Tab
{
    FONT-SIZE: 12px;
    CURSOR: pointer;
    COLOR: #161a74;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
LABEL.Attach_label
{
    FONT-SIZE: 10pt;
    COLOR: #CB1D15;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
TABLE.Foto_Tab
{
    CURSOR: pointer
}
TD.Foto_label
{
    FONT-SIZE: 10pt;
    COLOR: #CB1D15;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
TD.FldHier_unselectable
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
TD.FldHier_selectable
{
    FONT-SIZE: 10pt;
    CURSOR: pointer;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-DECORATION: underline
}
TD.FldHier_selectableMouseOver
{
    FONT-SIZE: 10pt;
    CURSOR: pointer;
    COLOR: white;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BACKGROUND-COLOR: navy
}
INPUT.FldHier_edit
{
    BORDER: 1px solid #ccc;
    FONT-SIZE: 12px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin:3PX;
	padding-left:3px;
	color:#CB1D15;
}
INPUT.FldHier_edit:focus
{
	background-color:#fff;
}



TABLE.FldHier_path
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px 0px 12px;
    PADDING-TOP: 0px
}
TABLE.FldHier_node
{
    PADDING-RIGHT: 4px;
    MARGIN-TOP: 2px
}
BODY.ExtField
{
    MARGIN: 0px
}
IMG.FldHier_PlusMinus
{
    CURSOR: pointer
}
TABLE.FldHier_border
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid
}
.FldCaption_Bold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
LABEL.Attach_label
{
    FONT-SIZE: 1em;
    CURSOR: pointer;
    COLOR: #CB1D15;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-DECORATION: underline;
}
TABLE.FldPubLeg_Tab
{
    BORDER-RIGHT: gray 1px;
    BORDER-TOP: gray 1px;
    FONT-SIZE: 10pt;
    BORDER-LEFT: gray 1px;
    BORDER-BOTTOM: gray 1px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
TD.Fld_DescDB_label
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
INPUT.FldExtDom_E2
{
    Z-INDEX: 2;
    POSITION: absolute;
    BACKGROUND-COLOR: transparent
}
INPUT.FldExtDom_E
{
    FONT-SIZE: 9pt;
    Z-INDEX: 2;
    LEFT: -1000px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    POSITION: absolute;
    TOP: -1000px;
    BACKGROUND-COLOR: transparent;
	border:1px solid #ccc;
	color:#333;
	font-weight:normal;
}

INPUT.FldExtDom_E:focus{ 
	background-color:#fff; 
	border-color:#333;
}


INPUT.FldExtDom_V
{
    FONT-SIZE: 9pt;
    Z-INDEX: 1;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BACKGROUND-COLOR:#fff;
	BORDER:1px solid #ccc;
	margin-left:3px;
}



INPUT:HOVER{ border-color:#333;}

.GridCol_Link_Number_POS
{
    FONT-SIZE: 10pt;
    COLOR: green;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-ALIGN: right
}
.GridCol_Link_Number_NEG
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: red;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-ALIGN: right
}
INPUT.FldHier_button
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px 0px 1px;
    COLOR: #0F3D7C;
    PADDING-TOP: 0px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BACKGROUND-COLOR: #e9edf3;
	margin-right:3px;
	border:1px solid #ccc;
}
INPUT.Text
{
    FONT-SIZE: 12px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border:1px solid #ccc;
	background-color:#fff;
	color:#333;
	margin:3px;
	padding-left:3px;
}
INPUT.Text:hover{ border-color:#333;}
INPUT.Text:focus{ border-color:#333; background-color:#fff; color:#333;}



INPUT.FldExtDom_button
{
    BORDER: 1px solid #ccc;
    FONT-SIZE: 12px;
    MARGIN-LEFT: 1px;
    COLOR: #CB1D15;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BACKGROUND-COLOR: #e9edf3
}
INPUT.Attach_button
{
    FONT-SIZE: 12px;
    MARGIN-LEFT: 1px;
    COLOR: #CB1D15;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BACKGROUND-COLOR: #e9edf3;
	border:1px solid #ccc;
}


INPUT.Text_err
{
    FONT-SIZE: 12px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border:1px solid #F00; color:#000; background-color:#FFC;
}

INPUT, LABEL {font-size:12px; padding-right:5px;}

.TextArea_Label{}


INPUT.TextTime
{
   WIDTH: 30px;
 }
TABLE.FldPubLeg_Tab a{ color:#CB1D15;}



LABEL.Attach_Evidence_label
{
    FONT-SIZE: 10pt;
    COLOR: #CB1D15;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

td.GR0_Fld_Number, td.GR1_Fld_Number{
	text-align:right;
	}
	
TD.NOTREAD_Fld_Number,TD.notread_Fld_Number
{

    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: middle;
    PADDING-TOP: 5px;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: right
    
}	

span.Fld_Number{ float:right; text-align:right;}
input.Fld_Number{text-align:right;}