Grid_FldBold
{
}

TABLE.Grid td{
	border:1px solid #c0bfbf; 
	border-collapse:collapse;
	padding:3px;
	font-family:Arial;
	vertical-align:middle;
}
TABLE.Grid td table td{ border:none;}

TABLE.Grid td a{ color:#2268B3;}

TABLE#DASHBOARD_VIEW_RUBRICAGriglia td{ border:none;}
	
TABLE.Grid
{
    BORDER:1px solid #ccc;
	border-collapse:collapse;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: #333;
	margin-top:5px;
}
TABLE.GridColLink_Tab img{ cursor:pointer;}


TD.Grid_RowCaption
{
    BORDER:1px solid #ccc;
    PADDING: 3px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 5px;
    MARGIN: 0px;
    COLOR:333333;
    PADDING-TOP: 5px;
    BACKGROUND-COLOR: #ccc;
}
TD.Grid_RowCaption_Sort
{
	PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 5px;
    MARGIN: 0px;
    CURSOR: pointer;
    COLOR: #333;
    PADDING-TOP: 5px;
    BACKGROUND-COLOR: #ccc;
    TEXT-DECORATION: underline;
	font-weight:bold;
}
TD.Grid_Total
{
    MARGIN-TOP: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    LINE-HEIGHT: 30px;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: right
}
TD.Grid_Total_GridCol_Link_Number
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    TEXT-ALIGN: right
}
TD.Grid_Total_Fld_Number
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    TEXT-ALIGN: right
}
TR.GR0
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: #333;
    BACKGROUND-COLOR: white
}
TR.GR1
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: #333;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
TR.GR_OverRow
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: #333;
    BACKGROUND-COLOR: #efefef;
}
TR.GR0_Sel
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: #333;
    BACKGROUND-COLOR: #e8e8e8;
}
TR.GR1_Sel
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: #333;
    BACKGROUND-COLOR: #e8e8e8;
}
TR.GR_OverRow_Sel
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: #333;
    BACKGROUND-COLOR: #efefef;
}
TD.GR0
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR0_TextArea
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_TextArea
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.Grid_TitleCell
{
    FONT-WEIGHT: bolder;
    VERTICAL-ALIGN: top;
	font-family:Arial;
	color:#1F529D;
}
TD.GR0_GridCol_Link
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    CURSOR: pointer;
    COLOR: #598FC6;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-DECORATION: underline
}
TD.GR1_GridCol_Link
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    CURSOR: pointer;
    COLOR:#598FC6;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-DECORATION: underline
}
TD.GR0_Fld_Number
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-ALIGN: right
}
TD.GR1_Fld_Number
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-ALIGN: right
}
TD.GR0_GridCol_Link_Number
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    CURSOR: pointer;
    COLOR: blue;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-ALIGN: right;
    TEXT-DECORATION: underline
}
TD.GR1_GridCol_Link_Number
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    CURSOR: pointer;
    COLOR: blue;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-ALIGN: right;
    TEXT-DECORATION: underline
}
TD.GR0_Text
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_Text
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_FldDomainValue
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR0_FldDomainValue
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_Foto
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR0_Foto
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_FldExtDom
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR0_FldExtDom
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR0_Attach
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_Attach
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR0_FldHier
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_FldHier
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR0_Fld_DescDB
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_Fld_DescDB
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR0_checkbox
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_checkbox
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR0_Date
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: lightgrey 1px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: lightgrey 1px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_date
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: lightgrey 1px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: lightgrey 1px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TR.RED
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: red;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #eeeeee
}
TD.RED
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_TextArea
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_GridCol_Link
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    CURSOR: pointer;
    COLOR: blue;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-DECORATION: underline
}
TD.RED_Fld_Number
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-ALIGN: right
}
TD.RED_GridCol_Link_Number
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    CURSOR: pointer;
    COLOR: blue;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-ALIGN: right;
    TEXT-DECORATION: underline
}
TD.RED_Text
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_FldDomainValue
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_Foto
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_FldExtDom
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_Attach
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_FldHier
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_Fld_DescDB
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_checkbox
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_Date
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: lightgrey 1px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: lightgrey 1px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.SIMPLE
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: lightgrey 1px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: lightgrey 1px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.SIMPLER
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: lightgrey 1px;
    PADDING-LEFT: 5px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: lightgrey 1px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-ALIGN: right
}
#DETTAGLI, #FORMDOCUMENT{ margin-left:5px;}




TR.BLACK_Sel
{


    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: aliceblue

}


TR.BLACK
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Arial;
    BORDER-RIGHT: lightgrey 1px solid
}


TD.BLACK_TextArea
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}
TD.BLACK_GridCol_Link
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid;
    CURSOR: hand;
    COLOR: #598FC6;
    TEXT-DECORATION: underline;
}

TD.BLACK_GridCol_Link label
{
	cursor:pointer;
}

TD.BLACK_Fld_Number
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid;
    TEXT-ALIGN: right
}
TD.BLACK_GridCol_Link_Number
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid;
    CURSOR: hand;
    COLOR: #161a74;
    TEXT-ALIGN: right;
    TEXT-DECORATION: underline
}
TD.BLACK_Text
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}
TD.BLACK_FldDomainValue
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}
TD.BLACK_Foto
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}
TD.BLACK_FldExtDom
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}
TD.BLACK_Attach
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}
TD.BLACK_FldHier
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}
TD.BLACK_Fld_DescDB
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}
TD.BLACK_checkbox
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}
TD.BLACK_Date
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}


/*TABLE.Grid td.GR1, TABLE.Grid td.GR0*/ 
/*TD.Grid_RowCaption{ width:22px;}*/
TD.GR0_TextArea, {width:100%;}



