Grid_FldBold
{
}

TABLE.Grid td{
	border:1px solid #666; 
	border-collapse:collapse;
	padding:3px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	vertical-align:middle;
}
TABLE.Grid td table td{ border:none;}

TABLE.Grid td a{ color:#2268B3;}

TABLE#DASHBOARD_VIEW_RUBRICAGriglia td{ border:none;}
	
TABLE.Grid
{
    BORDER:1px solid #ccc;
	border-collapse:collapse;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: #333;
	margin-top:5px;
}
TABLE.GridColLink_Tab img{ cursor:pointer;}
.GR1_GridCol_Link:hover label, .GR0_GridCol_Link:hover label{ cursor:pointer;}

TD.Grid_RowCaption
{
    BORDER:1px solid #ccc;
    PADDING: 3px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 5px;
    MARGIN: 0px;
    COLOR:ececec;
    PADDING-TOP: 5px;
    BACKGROUND-COLOR: #888;
}
TD.Grid_RowCaption_Sort
{
	PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 5px;
    MARGIN: 0px;
    CURSOR: pointer;
    COLOR: #ececec;
    PADDING-TOP: 5px;
    BACKGROUND-COLOR: #888;
    TEXT-DECORATION: underline;
	font-weight:bold;
}
TD.Grid_Total
{
    MARGIN-TOP: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    LINE-HEIGHT: 30px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-ALIGN: right
}
TD.Grid_Total_GridCol_Link_Number
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    TEXT-ALIGN: right
}
TD.Grid_Total_Fld_Number
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    TEXT-ALIGN: right
}
TR.GR0
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: #333;
    BACKGROUND-COLOR: white
}
TR.GR1
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: #333;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BACKGROUND-COLOR:#f6f6f6;
}
TR.GR_OverRow
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: #333;
    BACKGROUND-COLOR: #efefef;
}
TR.GR0_Sel
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: #333;
    BACKGROUND-COLOR: #e8e8e8;
}
TR.GR1_Sel
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: #333;
    BACKGROUND-COLOR: #e8e8e8;
}
TR.GR_OverRow_Sel
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: #333;
    BACKGROUND-COLOR: #efefef;
}
TD.GR0
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    WIDTH: 5px;
}
TD.GR1
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    WIDTH: 5px;

}
TD.GR0_TextArea
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_TextArea
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.Grid_TitleCell
{
    FONT-WEIGHT: normal;
    VERTICAL-ALIGN: top;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#515151;
}
TD.GR0_GridCol_Link
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    CURSOR: pointer;
    COLOR: #CB1D15;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-DECORATION: underline
}
TD.GR1_GridCol_Link
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    CURSOR: pointer;
    COLOR:#CB1D15;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-DECORATION: underline
}
TD.GR0_Fld_Number
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-ALIGN: right
}
TD.GR1_Fld_Number
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-ALIGN: right
}
TD.GR0_GridCol_Link_Number
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    CURSOR: pointer;
    COLOR: blue;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-ALIGN: right;
    TEXT-DECORATION: underline
}
TD.GR1_GridCol_Link_Number
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    CURSOR: pointer;
    COLOR: blue;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-ALIGN: right;
    TEXT-DECORATION: underline
}
TD.GR0_Text
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_Text
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_FldDomainValue
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR0_FldDomainValue
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_Foto
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR0_Foto
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_FldExtDom
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR0_FldExtDom
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR0_Attach
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_Attach
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR0_FldHier
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_FldHier
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR0_Fld_DescDB
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_Fld_DescDB
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR0_checkbox
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_checkbox
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR0_Date
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: lightgrey 1px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: lightgrey 1px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.GR1_date
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: lightgrey 1px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: lightgrey 1px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TR.RED
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: red;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BACKGROUND-COLOR: #eeeeee
}
TD.RED
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_TextArea
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_GridCol_Link
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    CURSOR: pointer;
    COLOR: blue;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-DECORATION: underline
}
TD.RED_Fld_Number
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-ALIGN: right
}
TD.RED_GridCol_Link_Number
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    CURSOR: pointer;
    COLOR: blue;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-ALIGN: right;
    TEXT-DECORATION: underline
}
TD.RED_Text
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_FldDomainValue
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_Foto
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_FldExtDom
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_Attach
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_FldHier
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_Fld_DescDB
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_checkbox
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RED_Date
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: lightgrey 1px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: lightgrey 1px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.SIMPLE
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: lightgrey 1px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: lightgrey 1px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.SIMPLER
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: lightgrey 1px;
    PADDING-LEFT: 5px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: lightgrey 1px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-ALIGN: right
}
#DETTAGLI, #FORMDOCUMENT{ margin-left:5px;  }




TR.BLACK_Sel
{


    FONT-WEIGHT: lighter;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BACKGROUND-COLOR: aliceblue

}


TR.BLACK
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BORDER-RIGHT: lightgrey 1px solid
}


TD.BLACK_TextArea
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}
TD.BLACK_GridCol_Link
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid;
    CURSOR: hand;
    COLOR: #598FC6;
    TEXT-DECORATION: underline;
}

TD.BLACK_GridCol_Link label
{
	cursor:pointer;
}

TD.BLACK_Fld_Number
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid;
    TEXT-ALIGN: right
}
TD.BLACK_GridCol_Link_Number
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid;
    CURSOR: hand;
    COLOR: #161a74;
    TEXT-ALIGN: right;
    TEXT-DECORATION: underline
}
TD.BLACK_Text
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}
TD.BLACK_FldDomainValue
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}
TD.BLACK_Foto
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}
TD.BLACK_FldExtDom
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}
TD.BLACK_Attach
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}
TD.BLACK_FldHier
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}
TD.BLACK_Fld_DescDB
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}
TD.BLACK_checkbox
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}
TD.BLACK_Date
{
    FONT-WEIGHT: bold;
    BORDER-RIGHT: lightgrey 1px solid
}

/*ANNULLATO*/

TR.ANNULLATO
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #999;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BACKGROUND-COLOR: #eeeeee;
	text-decoration:line-through;
}
TD.ANNULLATO
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.ANNULLATO_TextArea
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.ANNULLATO_GridCol_Link
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    CURSOR: pointer;
    COLOR: blue;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-DECORATION: underline
}
TD.ANNULLATO_Fld_Number
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-ALIGN: right
}
TD.ANNULLATO_GridCol_Link_Number
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    CURSOR: pointer;
    COLOR: blue;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid;
    TEXT-ALIGN: right;
    TEXT-DECORATION: underline
}
TD.ANNULLATO_Text
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.ANNULLATO_FldDomainValue
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.ANNULLATO_Foto
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.ANNULLATO_FldExtDom
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.ANNULLATO_Attach
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.ANNULLATO_FldHier
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.ANNULLATO_Fld_DescDB
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.RANNULLATO_checkbox
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}
TD.ANNULLATO_Date
{
    BORDER-RIGHT: lightgrey 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: lightgrey 1px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: lightgrey 1px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: lightgrey 1px solid
}


table.Grid tr:hover td.ANNULLATO_Text label
{
	text-decoration:line-through;
	font-weight:bold;
	color:#999;	
	cursor:pointer;
}
