TABLE.HierarchySelector_Tab
{
    FONT-WEIGHT: bolder;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: left
}
TD.HierarchySelector_Root
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    CURSOR: pointer;
    FONT-FAMILY: verdana
}
TD.HierarchySelector_Node
{
    FONT-SIZE: 10pt;
    CURSOR: pointer;
    FONT-FAMILY: verdana;
    TEXT-ALIGN: left;
    TEXT-DECORATION: underline
}
TD.HierarchySelector_Node_Selected
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    TEXT-TRANSFORM: uppercase;
    CURSOR: pointer;
    FONT-STYLE: italic;
    FONT-FAMILY: verdana;
    TEXT-ALIGN: left;
    TEXT-DECORATION: underline
}
