TH
{
    BORDER:1px solid #ccc;
    PADDING: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 5px;
    MARGIN: 0px;
    COLOR:333333;
    PADDING-TOP: 5px;
    /*BACKGROUND-COLOR: #ccc;*/
}

