@page "/DASHBOARD/ViewerRubrica.asp"
@using eProcurementNext.Application
@using eProcurementNext.CommonModule
@using eProcurementNext.DashBoard
@using eProcurementNext.HTML
@using Microsoft.VisualBasic
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.functions.intestModel;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.functions.securityModel;
@using static eProcurementNext.CommonModule.Basic;
@inject eProcurementNext.Session.ISession session;
@inject IConfiguration configuration;
@using static eProcurementNext.Session.SessionMiddleware
@model eProcurementNext.Razor.Pages.DASHBOARD.ViewerRubricaModel
@{
	LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new(GetParamURL(HttpContext.Request.QueryString.ToString(), "XML_ATTACH_TYPE"));
}
@{
	htmlToReturn.Write($@"<link rel=stylesheet href=""../CTL_Library/Themes/body.css"" type=""text/css"">");
	htmlToReturn.Write($@"<link rel=stylesheet href=""../CTL_Library/Themes/griddocument.css"" type=""text/css"">");
	htmlToReturn.Write($@"<link rel=stylesheet href=""../CTL_Library/Themes/toolbarDocument.css"" type=""text/css"">");
	htmlToReturn.Write($@"<link rel=stylesheet href=""../CTL_Library/Themes/folder.css"" type=""text/css"">");
	htmlToReturn.Write($@"<script src=""../CTL_Library/jscript/ExecFunction.js"" >");
	htmlToReturn.Write("</script>");

	//'-- validazione input utente
	
	validate("Rubrica", GetParamURL(Request.QueryString.ToString(), "Rubrica"), TIPO_PARAMETRO_STRING, SOTTO_TIPO_PARAMETRO_TABLE, "", 0,HttpContext,session);
	//'-- inizializzo i folder con le descrittive 
	Folder mp_objFolder = new Folder();
	ToolbarButton lab ;
	int i;

	mp_objFolder.strPath = "../images/general/LabelTabDocument/";
	int cur = -1;
	int count = 0;
	string filter = GetParamURL(Request.QueryString.ToString(), "FilterHide");
	string  Rubrica = GetParamURL(Request.QueryString.ToString(), "Rubrica");
	string url = GetQueryStringFromContext(Request.QueryString);
	url = url.Replace("&FilterHide=" + filter, "");
	url = url.Replace("&Rubrica=" + Rubrica, "");

	if (string.IsNullOrEmpty(Rubrica))
	{
		Rubrica = "A";
	}
	//'-- aggiunta label 
	for( i = 0;i<25;i++)
	{
		lab = new ToolbarButton();

		lab.URL = "ViewerRubrica.asp?" + url + "&Rubrica=" + Strings.Chr(Strings.Asc("A") + i);

		//'lab.Target = "AgingGrid"
		lab.Target = "self";

		lab.Text = CStr(Strings.Chr(Strings.Asc("A") + i));
		mp_objFolder.Buttons.Add(lab.Text, lab);

		if (CStr(Strings.Chr( Strings.Asc("A") + i )) == Rubrica)
		{
			cur = i;
		}
	}
	lab = new ToolbarButton();
	//'lab.OnClick = "AgingGrid_ChangeValuta( '" & rsDivise.Fields("AGDE_CodiceDivisa") & "' );"
	lab.URL = "ViewerRubrica.asp?" + url + "&Rubrica=" + "All";

	//'lab.Target = "AgingGrid"
	lab.Target = "self";

	lab.Text = "All";
	mp_objFolder.Buttons.Add(lab.Text, lab);
	if( "All" == Rubrica )
	{
		cur = i;
	}

	if( cur == -1 )
	{
		cur = 0;
		filter = "A";
	}

	mp_objFolder.LabelSelected = cur + 1;

	htmlToReturn.Write("</head><body >");
	htmlToReturn.Write($@"<table class=""Window_Tab""  width=""100%"" border=""0"" cellspacing=""0"" cellpadding=""0""  height=""100%""  >");
	htmlToReturn.Write($@"<tr><td width=""100%"">");

	mp_objFolder.Init(session);
	mp_objFolder.Html(htmlToReturn);

	htmlToReturn.Write("</td></tr>");
	htmlToReturn.Write($@"<tr><td width=""100%""  height=""100%"" >");
	htmlToReturn.Write($@"<div id=""DivViewerFiltro"" style=""height:100%"" width=""100%"" >");
	htmlToReturn.Write($@"<iframe border=""0"" frameborder=""0"" width=""100%"" height=""100%"" id=""ViewerRubrica"" name=""ViewerRubrica"" src=""Viewer.asp?");

	if (cur != i)
	{
		htmlToReturn.Write(url + $@"&FilterHide= left( cognome ,1 ) = '" + Strings.Chr(Strings.Asc("A") + cur) + $@"'"" ");
	}
	else
	{
		htmlToReturn.Write ( url + $@""" ");
	}
	htmlToReturn.Write($@"marginheight=""0"" marginwidth=""0""  > </iframe>");
	htmlToReturn.Write("</div>");

	htmlToReturn.Write("</td></tr>");
	htmlToReturn.Write("</table></body></html>");
}@Html.Raw(htmlToReturn.Out())