USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[GEO_CodiciStati_FoglioAree]    Script Date: 5/16/2024 2:42:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEO_CodiciStati_FoglioAree](
	[CodArea] [nvarchar](4000) NULL,
	[Denominazione] [nvarchar](4000) NULL,
	[Name] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
