USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[MSGVatMsg]    Script Date: 5/16/2024 2:42:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MSGVatMsg](
	[IdVat] [int] NOT NULL,
	[IdMsg] [int] NOT NULL,
 CONSTRAINT [PK_MSGVatMsg] PRIMARY KEY NONCLUSTERED 
(
	[IdVat] ASC,
	[IdMsg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MSGVatMsg]  WITH CHECK ADD  CONSTRAINT [FK_MSGVatMsg_MSGValoriAttributi] FOREIGN KEY([IdVat])
REFERENCES [dbo].[MSGValoriAttributi] ([IdVat])
GO
ALTER TABLE [dbo].[MSGVatMsg] CHECK CONSTRAINT [FK_MSGVatMsg_MSGValoriAttributi]
GO
