USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[SchemiUso]    Script Date: 5/16/2024 2:42:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchemiUso](
	[IdUse] [int] NOT NULL,
	[suName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_SchemiUso] PRIMARY KEY NONCLUSTERED 
(
	[IdUse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
