USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[OaPUtenti]    Script Date: 5/16/2024 2:42:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OaPUtenti](
	[IdPfu] [int] NOT NULL,
	[IdOaP] [int] NOT NULL
) ON [PRIMARY]
GO
