USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[TAB_ATTACH]    Script Date: 5/16/2024 2:42:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_ATTACH](
	[IdAtt] [int] IDENTITY(1,1) NOT NULL,
	[attIdMsg] [int] NOT NULL,
	[attIdObj] [int] NULL,
	[attOrderFile] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TAB_ATTACH]  WITH CHECK ADD  CONSTRAINT [FK_TAB_ATTACH_TAB_MESSAGGI] FOREIGN KEY([attIdMsg])
REFERENCES [dbo].[TAB_MESSAGGI] ([IdMsg])
GO
ALTER TABLE [dbo].[TAB_ATTACH] CHECK CONSTRAINT [FK_TAB_ATTACH_TAB_MESSAGGI]
GO
ALTER TABLE [dbo].[TAB_ATTACH]  WITH CHECK ADD  CONSTRAINT [FK_TAB_ATTACH_TAB_OBJ] FOREIGN KEY([attIdObj])
REFERENCES [dbo].[TAB_OBJ] ([IdObj])
GO
ALTER TABLE [dbo].[TAB_ATTACH] CHECK CONSTRAINT [FK_TAB_ATTACH_TAB_OBJ]
GO
