USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[MIGR_ANAG_FORN]    Script Date: 5/16/2024 2:42:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIGR_ANAG_FORN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RAGIONE_SOCIALE] [nvarchar](255) NULL,
	[NATURA_GIURIDICA] [nvarchar](255) NULL,
	[CODICE_FISCALE] [nvarchar](255) NULL,
	[PARTITA_IVA] [nvarchar](255) NULL,
	[STATO] [nvarchar](255) NULL,
	[INDIRIZZO] [nvarchar](255) NULL,
	[LOCALITA] [nvarchar](255) NULL,
	[PROVINCIA] [nvarchar](255) NULL,
	[CAP] [nvarchar](255) NULL,
	[TELEFONO] [nvarchar](255) NULL,
	[FAX] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[TIPO_COOPERATIVA] [nvarchar](255) NULL,
	[CARICATO] [bit] NOT NULL,
	[NOTE] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MIGR_ANAG_FORN] ADD  CONSTRAINT [DF__MIGR_ANAG__CARIC__46DB9F89]  DEFAULT ((1)) FOR [CARICATO]
GO
ALTER TABLE [dbo].[MIGR_ANAG_FORN] ADD  DEFAULT ('') FOR [NOTE]
GO
