USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[Document_Microlotti_Dettagli_StatoRiga_Backup_EFail]    Script Date: 5/16/2024 2:42:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document_Microlotti_Dettagli_StatoRiga_Backup_EFail](
	[Id] [int] NOT NULL,
	[StatoRiga] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
