USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[TempElabIdAzi]    Script Date: 5/16/2024 2:42:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempElabIdAzi](
	[IdAzi] [int] NULL
) ON [PRIMARY]
GO
