USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[AttiDiGara]    Script Date: 5/16/2024 2:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttiDiGara](
	[idAttoDiGara] [int] NOT NULL,
	[Descrizione] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
