USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[TAB_TENDER]    Script Date: 5/16/2024 2:42:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_TENDER](
	[tndIdMsg] [int] NOT NULL,
	[tndIdMsgCDO] [varchar](100) NOT NULL,
	[tndDataScad] [datetime] NULL,
	[tndTipoTender] [tinyint] NOT NULL,
	[tndStatoTender] [bit] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TAB_TENDER] ADD  CONSTRAINT [DF_TAB_TENDER_tndTipoTender]  DEFAULT (0) FOR [tndTipoTender]
GO
ALTER TABLE [dbo].[TAB_TENDER] ADD  CONSTRAINT [DF_TAB_TENDER_tndStatoTender]  DEFAULT (0) FOR [tndStatoTender]
GO
ALTER TABLE [dbo].[TAB_TENDER]  WITH CHECK ADD  CONSTRAINT [FK_TAB_TENDER_TAB_MESSAGGI] FOREIGN KEY([tndIdMsg])
REFERENCES [dbo].[TAB_MESSAGGI] ([IdMsg])
GO
ALTER TABLE [dbo].[TAB_TENDER] CHECK CONSTRAINT [FK_TAB_TENDER_TAB_MESSAGGI]
GO
