USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[Decode]    Script Date: 5/16/2024 2:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Decode](
	[cIn] [char](1) NULL,
	[cOut] [varchar](20) NULL
) ON [PRIMARY]
GO
