USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[MIGR_FORN_CPV]    Script Date: 5/16/2024 2:42:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIGR_FORN_CPV](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CF] [nvarchar](255) NULL,
	[CPV] [nvarchar](255) NULL,
	[DATA_FINE] [nvarchar](255) NULL,
	[CARICATO] [int] NOT NULL,
	[NOTE] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MIGR_FORN_CPV] ADD  DEFAULT ((1)) FOR [CARICATO]
GO
ALTER TABLE [dbo].[MIGR_FORN_CPV] ADD  DEFAULT ('') FOR [NOTE]
GO
