USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[AziAteco]    Script Date: 5/16/2024 2:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AziAteco](
	[IdAzi] [int] NOT NULL,
	[AtvAtecord] [varchar](25) NOT NULL,
	[IdAziAteco] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_AziAteco] PRIMARY KEY NONCLUSTERED 
(
	[IdAziAteco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AziAteco]  WITH NOCHECK ADD  CONSTRAINT [FK_AziAteco_Aziende] FOREIGN KEY([IdAzi])
REFERENCES [dbo].[Aziende] ([IdAzi])
GO
ALTER TABLE [dbo].[AziAteco] CHECK CONSTRAINT [FK_AziAteco_Aziende]
GO
