USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[CTL_SSO_TOKENS]    Script Date: 5/16/2024 2:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTL_SSO_TOKENS](
	[token] [nvarchar](50) NOT NULL,
	[cf] [nvarchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
 CONSTRAINT [PK_CTL_SSO_TOKENS] PRIMARY KEY CLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 97, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
