USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[FLES_TABLE_MODIFICA_CONTRATTUALE]    Script Date: 5/16/2024 2:42:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLES_TABLE_MODIFICA_CONTRATTUALE](
	[UUID] [uniqueidentifier] NOT NULL,
	[IDDOC] [int] NULL,
	[IDROW_PCP_SCHEDE] [int] NULL,
	[REGISTRO_SISTEMA] [varchar](50) NULL,
	[IDPFU_BOZZA] [bigint] NULL,
	[IDPFU_INVIO] [bigint] NULL,
	[STATO_FUNZIONALE] [varchar](50) NULL,
	[CIG] [varchar](500) NULL,
	[ID_CONTRATTO] [varchar](1000) NOT NULL,
	[ID_APPALTO] [nvarchar](1000) NULL,
	[DATA_INVIO] [datetime] NULL,
	[TIPO_SCHEDA] [varchar](100) NULL,
	[DATA_ULTIMA_MODIFICA] [datetime] NULL,
	[STATO_BOZZA] [varchar](50) NULL,
	[EFORM_XML] [nvarchar](max) NULL,
	[EFORM_XML_BASE64] [nvarchar](max) NULL,
	[DATA_APPROVAZIONE] [datetime] NULL,
	[URL_DOCUMENTAZIONE] [varchar](4000) NULL,
	[MOTIVO_REVISIONE_PREZZI] [varchar](100) NULL,
	[CIG_NUOVA_PROCEDURA] [varchar](50) NULL,
	[IMPORTO_LAVORI] [decimal](18, 2) NULL,
	[IMPORTO_SERVIZI] [decimal](18, 2) NULL,
	[IMPORTO_FORNITURE] [decimal](18, 2) NULL,
	[IMPORTO_TOTALE_SICUREZZA] [decimal](18, 2) NULL,
	[IMPORTO_PROGETTAZIONE] [decimal](18, 2) NULL,
	[ULTERIORI_SOMME_NO_RIBASSO] [decimal](18, 2) NULL,
	[SOMME_A_DISPOSIZIONE] [decimal](18, 2) NULL,
	[NUM_GIORNI_PROROGA] [int] NULL,
	[FINANZIAMENTI_CANONI_PA] [decimal](18, 2) NULL,
	[ENTRATE_UTENZA] [decimal](18, 2) NULL,
	[INTROITO_ATTIVO] [decimal](18, 2) NULL,
	[SOMME_OPZIONI_RINNOVI] [decimal](18, 2) NULL,
	[DATA_SOTTOSCRIZIONE] [datetime] NULL,
	[MOTIVI_MODIFICA] [varchar](50) NULL,
	[CAUSA_MODIFICA] [varchar](50) NULL,
	[CAUSA_MODIFICA_ML] [varchar](50) NULL,
	[MOTIVI_MODIFICA_DESCRIZIONE] [varchar](2000) NULL,
	[REVENUE_BUYER_AMOUNT] [decimal](18, 2) NULL,
	[REVENUE_USER_AMOUNT] [decimal](18, 2) NULL,
	[VALUE_DESCRIPTION] [varchar](500) NULL,
 CONSTRAINT [PK__FLES_TAB__65A475E7AAB6B5A7] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[FLES_TABLE_MODIFICA_CONTRATTUALE] ADD  CONSTRAINT [DF__FLES_TABLE__UUID__0F2F3AA6]  DEFAULT (newid()) FOR [UUID]
GO
