USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[CTL_CONFIG_MAIL_GETALIAS]    Script Date: 5/16/2024 2:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTL_CONFIG_MAIL_GETALIAS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TYPEDOC] [varchar](100) NOT NULL,
	[SOCIETA] [varchar](200) NOT NULL,
	[DIREZIONE] [varchar](200) NOT NULL,
	[Peso] [tinyint] NOT NULL,
	[ALIAS] [varchar](200) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTL_CONFIG_MAIL_GETALIAS] ADD  CONSTRAINT [DF_CTL_CONFIG_MAIL_GETALIAS_SOCIETA]  DEFAULT ('') FOR [SOCIETA]
GO
ALTER TABLE [dbo].[CTL_CONFIG_MAIL_GETALIAS] ADD  CONSTRAINT [DF_CTL_CONFIG_MAIL_GETALIAS_DIREZIONE]  DEFAULT ('') FOR [DIREZIONE]
GO
ALTER TABLE [dbo].[CTL_CONFIG_MAIL_GETALIAS] ADD  CONSTRAINT [DF_CTL_CONFIG_MAIL_GETALIAS_Peso]  DEFAULT (0) FOR [Peso]
GO
ALTER TABLE [dbo].[CTL_CONFIG_MAIL_GETALIAS] ADD  CONSTRAINT [DF_CTL_CONFIG_MAIL_GETALIAS_ALIAS]  DEFAULT ('') FOR [ALIAS]
GO
