USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[CodiciDivise]    Script Date: 5/16/2024 2:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodiciDivise](
	[IdCdv] [int] IDENTITY(1,1) NOT NULL,
	[cdvIdUms] [int] NOT NULL,
	[cdvCodUic] [char](3) NOT NULL,
	[cdvCodIso] [char](3) NOT NULL,
	[cdvUem] [bit] NOT NULL,
 CONSTRAINT [PK_CodiciDivise] PRIMARY KEY NONCLUSTERED 
(
	[IdCdv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_CodiciDivise] UNIQUE NONCLUSTERED 
(
	[cdvIdUms] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CodiciDivise] ADD  CONSTRAINT [DF_CodiciDivise_cdvUem]  DEFAULT (0) FOR [cdvUem]
GO
ALTER TABLE [dbo].[CodiciDivise]  WITH CHECK ADD  CONSTRAINT [FK_CodiciDivise_UnitaMisura] FOREIGN KEY([cdvIdUms])
REFERENCES [dbo].[UnitaMisura] ([IdUms])
GO
ALTER TABLE [dbo].[CodiciDivise] CHECK CONSTRAINT [FK_CodiciDivise_UnitaMisura]
GO
