USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[BusteFirmate]    Script Date: 5/16/2024 2:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusteFirmate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[objfile] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
