USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[DASHBOARD_SP_VIEW_REPORT_LISTA_PROCEDURE_RUP_PROPONENTE_XLSX]    Script Date: 5/16/2024 2:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DASHBOARD_SP_VIEW_REPORT_LISTA_PROCEDURE_RUP_PROPONENTE_XLSX](
	[id] [int] NOT NULL,
	[Ente] [nvarchar](1000) NULL,
	[aziRagioneSociale] [nvarchar](1000) NULL,
	[AZI_Ente] [varchar](50) NULL,
	[Titolo] [nvarchar](4000) NULL,
	[Oggetto] [varchar](8000) NULL,
	[CriterioAggiudicazioneGara] [nvarchar](max) NULL,
	[StatoFunzionale] [varchar](50) NULL,
	[Registro] [varchar](50) NULL,
	[Fascicolo] [varchar](50) NULL,
	[Note] [varchar](8000) NULL,
	[DataInvio] [datetime] NULL,
	[DataInvioAl] [varchar](10) NULL,
	[DataScadenzaOfferta] [datetime] NULL,
	[DataScadenzaA] [varchar](10) NULL,
	[ImportoBaseAsta2] [float] NULL,
	[CIG] [varchar](20) NULL,
	[CIG_LOTTO] [nvarchar](50) NULL,
	[NumeroLotto] [varchar](50) NOT NULL,
	[RecivedIstanze] [int] NULL,
	[ValoreImportoLotto] [float] NULL,
	[tipoProceduraCaratteristica] [varchar](100) NULL,
	[ProceduraGara] [varchar](20) NULL,
	[TipoDoc] [varchar](50) NULL,
	[TipoAppaltoGara] [varchar](50) NULL,
	[DescTipoProcedura] [nvarchar](4000) NULL,
	[Descrizione] [nvarchar](max) NULL,
	[pfuLogin] [nvarchar](200) NULL,
	[UserRup] [nvarchar](max) NULL,
	[IdPfu] [int] NULL,
	[ClassiMerceologiche] [nvarchar](max) NULL,
	[ClassiMerceologicheLiv] [nvarchar](max) NULL,
	[Divisione_lotti] [varchar](1) NULL,
	[NumeroInvitati] [int] NULL,
	[Aggiudicazione] [varchar](17) NOT NULL,
	[IsAggiudicato] [int] NOT NULL,
	[PrimoLivelloStruttura] [nvarchar](3000) NULL,
	[TIPO_AMM_ER] [nvarchar](3000) NULL,
	[ImportoAggiudicato] [float] NULL,
	[idPdA] [int] NULL,
	[idRowLotto] [int] NULL,
	[ambito] [nvarchar](max) NULL,
	[Appalto_Verde] [varchar](10) NULL,
	[Acquisto_Sociale] [varchar](10) NULL,
	[AppaltoInEmergenza] [varchar](10) NULL,
	[Appalto_PNRR] [varchar](10) NULL,
	[Appalto_PNC] [varchar](10) NULL,
	[IdentificativoIniziativa] [varchar](50) NULL,
	[GeneraConvenzione] [char](1) NULL,
	[StatoRiga] [varchar](50) NULL,
	[Data_Aggiudicazione_Lotto] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
