USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[TempRicercheAziende]    Script Date: 5/16/2024 2:42:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempRicercheAziende](
	[razIdAzi] [int] NULL
) ON [PRIMARY]
GO
