USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[Document_questionario]    Script Date: 5/16/2024 2:42:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document_questionario](
	[Sesso] [varchar](2) NULL,
	[Eta] [varchar](10) NULL,
	[Titolo_studio] [varchar](20) NULL,
	[Sito_DPE] [varchar](10) NULL,
	[Contatti_DPE] [varchar](10) NULL,
	[Servizio_albo] [varchar](1) NULL,
	[Servizio_portale] [varchar](1) NULL,
	[Servizio_modulistica] [varchar](1) NULL,
	[Servizio_gare] [varchar](1) NULL,
	[Servizio_contratti] [varchar](1) NULL,
	[Servizio_atti] [varchar](1) NULL,
	[A1] [varchar](2) NULL,
	[A2] [varchar](2) NULL,
	[B1] [varchar](2) NULL,
	[B2] [varchar](2) NULL,
	[C1] [varchar](2) NULL,
	[C2] [varchar](2) NULL,
	[D1] [varchar](2) NULL,
	[D2] [varchar](2) NULL,
	[E1] [varchar](2) NULL,
	[E2] [varchar](2) NULL,
	[F1] [varchar](2) NULL,
	[F2] [varchar](2) NULL,
	[G1] [varchar](2) NULL,
	[G2] [varchar](2) NULL,
	[H1] [varchar](2) NULL,
	[H2] [varchar](2) NULL,
	[I1] [varchar](2) NULL,
	[I2] [varchar](2) NULL,
	[L1] [varchar](2) NULL,
	[L2] [varchar](2) NULL,
	[M1] [varchar](2) NULL,
	[M2] [varchar](2) NULL,
	[N1] [varchar](2) NULL,
	[N2] [varchar](2) NULL,
	[O2] [varchar](2) NULL,
	[O1] [varchar](2) NULL,
	[P1] [varchar](2) NULL,
	[P2] [varchar](2) NULL,
	[Q1] [varchar](2) NULL,
	[Q2] [varchar](2) NULL,
	[R1] [varchar](2) NULL,
	[R2] [varchar](2) NULL,
	[S1] [varchar](2) NULL,
	[S2] [varchar](2) NULL,
	[T1] [varchar](2) NULL,
	[T2] [varchar](2) NULL,
	[U1] [varchar](2) NULL,
	[U2] [varchar](2) NULL,
	[V1] [varchar](2) NULL,
	[V2] [varchar](2) NULL,
	[Z1] [varchar](2) NULL,
	[Z2] [varchar](2) NULL,
	[K1] [varchar](2) NULL,
	[K2] [varchar](2) NULL,
	[J1] [varchar](2) NULL,
	[J2] [varchar](2) NULL,
	[Y1] [varchar](2) NULL,
	[Y2] [varchar](2) NULL,
	[X1] [varchar](2) NULL,
	[X2] [varchar](2) NULL,
	[W1] [varchar](2) NULL,
	[W2] [varchar](2) NULL,
	[1a] [varchar](2) NULL,
	[1b] [varchar](2) NULL,
	[2a] [varchar](2) NULL,
	[2b] [varchar](2) NULL,
	[3a] [varchar](2) NULL,
	[3b] [varchar](2) NULL,
	[4a] [varchar](2) NULL,
	[4b] [varchar](2) NULL,
	[5a] [varchar](2) NULL,
	[5b] [varchar](2) NULL,
	[6a] [varchar](2) NULL,
	[6b] [varchar](2) NULL,
	[7a] [varchar](2) NULL,
	[7b] [varchar](2) NULL,
	[8a] [varchar](2) NULL,
	[8b] [varchar](2) NULL,
	[9a] [varchar](2) NULL,
	[9b] [varchar](2) NULL,
	[10a] [varchar](2) NULL,
	[10b] [varchar](2) NULL,
	[11a] [varchar](2) NULL,
	[11b] [varchar](2) NULL,
	[12a] [varchar](2) NULL,
	[12b] [varchar](2) NULL,
	[13a] [varchar](2) NULL,
	[13b] [varchar](2) NULL,
	[14] [varchar](2) NULL,
	[15] [varchar](2) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ReceivedData] [datetime] NULL,
	[Deleted] [varchar](1) NULL,
	[StatoQuest] [varchar](20) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Document_questionario] ADD  CONSTRAINT [DF_Document_questionario_ReceivedData]  DEFAULT (getdate()) FOR [ReceivedData]
GO
ALTER TABLE [dbo].[Document_questionario] ADD  CONSTRAINT [DF_Document_questionario_Deleted]  DEFAULT ('0') FOR [Deleted]
GO
