USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[TempModelliGruppi]    Script Date: 5/16/2024 2:42:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempModelliGruppi](
	[IdMgr] [int] NOT NULL,
	[mgrIdMdl] [int] NOT NULL,
	[mgrNome] [nvarchar](20) NOT NULL,
	[mgrPosizione] [tinyint] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TempModelliGruppi] ADD  CONSTRAINT [DF_TempModelliGruppi_mgrPosizione]  DEFAULT (0) FOR [mgrPosizione]
GO
