USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[CTL_CHECK_SECURITY]    Script Date: 5/16/2024 2:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTL_CHECK_SECURITY](
	[tipo] [varchar](500) NULL,
	[VALUE] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTL_CHECK_SECURITY] ADD  CONSTRAINT [DF__CTL_CHECK___tipo__1179A241]  DEFAULT ('KEYS_TO_BLOCK_IN_FILTER') FOR [tipo]
GO
