USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[CTL_Pec_Document_Wait_Attributes]    Script Date: 5/16/2024 2:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTL_Pec_Document_Wait_Attributes](
	[idrow] [int] IDENTITY(1,1) NOT NULL,
	[idHeader] [int] NULL,
	[AttribName] [varchar](255) NULL,
	[AttribValue] [varchar](500) NULL
) ON [PRIMARY]
GO
