USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[StoricoDivise]    Script Date: 5/16/2024 2:42:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoricoDivise](
	[IdSdv] [int] NOT NULL,
	[sdvIdUms] [int] NOT NULL,
	[sdvData] [datetime] NOT NULL,
	[sdvCambio] [money] NOT NULL,
 CONSTRAINT [PK_StoricoDivise] PRIMARY KEY NONCLUSTERED 
(
	[IdSdv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_StoricoDivise] UNIQUE NONCLUSTERED 
(
	[sdvIdUms] ASC,
	[sdvData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
