USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[AZ_ATTRIBUTI]    Script Date: 5/16/2024 2:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AZ_ATTRIBUTI](
	[IdAz] [int] NOT NULL,
	[IdStrutt] [int] NOT NULL,
	[IdAttr] [int] NOT NULL,
	[Valore] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_AZ_ATTRIBUTI] PRIMARY KEY NONCLUSTERED 
(
	[IdAz] ASC,
	[IdStrutt] ASC,
	[IdAttr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
