USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[AZ_STRUTTURA]    Script Date: 5/16/2024 2:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AZ_STRUTTURA](
	[IdAz] [int] NOT NULL,
	[IdStrutt] [int] NOT NULL,
	[Path] [varchar](100) NOT NULL,
	[Descrizione] [nvarchar](450) NULL,
	[DataUModifica] [datetime] NULL,
	[Deleted] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_STRUTTURA] PRIMARY KEY NONCLUSTERED 
(
	[IdAz] ASC,
	[IdStrutt] ASC,
	[Path] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AZ_STRUTTURA] ADD  CONSTRAINT [DF_AZ_STRUTTURA_DataUModifica]  DEFAULT (getdate()) FOR [DataUModifica]
GO
ALTER TABLE [dbo].[AZ_STRUTTURA] ADD  CONSTRAINT [DF_AZ_STRUTTURA_Deleted]  DEFAULT (0) FOR [Deleted]
GO
