USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[DfSPfuCsp]    Script Date: 5/16/2024 2:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DfSPfuCsp](
	[IdPfu] [int] NOT NULL,
	[cspValue] [int] NOT NULL,
 CONSTRAINT [PK_DfSPfuCsp] PRIMARY KEY NONCLUSTERED 
(
	[IdPfu] ASC,
	[cspValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DfSPfuCsp]  WITH NOCHECK ADD  CONSTRAINT [FK_DfSPfuCsp_ProfiliUtente] FOREIGN KEY([IdPfu])
REFERENCES [dbo].[ProfiliUtente] ([IdPfu])
GO
ALTER TABLE [dbo].[DfSPfuCsp] CHECK CONSTRAINT [FK_DfSPfuCsp_ProfiliUtente]
GO
