USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[TAB_BLACK_LIST]    Script Date: 5/16/2024 2:42:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_BLACK_LIST](
	[blIdMsg] [int] NOT NULL,
	[blIdAzi] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TAB_BLACK_LIST]  WITH CHECK ADD  CONSTRAINT [FK_TAB_BLACK_LIST_TAB_MESSAGGI] FOREIGN KEY([blIdMsg])
REFERENCES [dbo].[TAB_MESSAGGI] ([IdMsg])
GO
ALTER TABLE [dbo].[TAB_BLACK_LIST] CHECK CONSTRAINT [FK_TAB_BLACK_LIST_TAB_MESSAGGI]
GO
