USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[CTL_Import]    Script Date: 5/16/2024 2:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTL_Import](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPfu] [int] NULL,
	[A] [nvarchar](max) NULL,
	[B] [nvarchar](max) NULL,
	[C] [nvarchar](max) NULL,
	[D] [nvarchar](max) NULL,
	[E] [nvarchar](max) NULL,
	[F] [nvarchar](max) NULL,
	[G] [nvarchar](max) NULL,
	[H] [nvarchar](max) NULL,
	[I] [nvarchar](max) NULL,
	[J] [nvarchar](max) NULL,
	[K] [nvarchar](max) NULL,
	[L] [nvarchar](max) NULL,
	[M] [nvarchar](max) NULL,
	[N] [nvarchar](max) NULL,
	[O] [nvarchar](max) NULL,
	[P] [nvarchar](max) NULL,
	[Q] [nvarchar](max) NULL,
	[R] [nvarchar](max) NULL,
	[S] [nvarchar](max) NULL,
	[T] [nvarchar](max) NULL,
	[U] [nvarchar](max) NULL,
	[V] [nvarchar](max) NULL,
	[W] [nvarchar](max) NULL,
	[X] [nvarchar](max) NULL,
	[Y] [nvarchar](max) NULL,
	[Z] [nvarchar](max) NULL,
	[AA] [nvarchar](max) NULL,
	[AB] [nvarchar](max) NULL,
	[AC] [nvarchar](max) NULL,
	[AD] [nvarchar](max) NULL,
	[AE] [nvarchar](max) NULL,
	[AF] [nvarchar](max) NULL,
	[AG] [nvarchar](max) NULL,
	[AH] [nvarchar](max) NULL,
	[AI] [nvarchar](max) NULL,
	[AJ] [nvarchar](max) NULL,
	[AK] [nvarchar](max) NULL,
	[AL] [nvarchar](max) NULL,
	[AM] [nvarchar](max) NULL,
	[AN] [nvarchar](max) NULL,
	[AO] [nvarchar](max) NULL,
	[AP] [nvarchar](max) NULL,
	[AQ] [nvarchar](max) NULL,
	[AR] [nvarchar](max) NULL,
	[AS] [nvarchar](max) NULL,
	[AT] [nvarchar](max) NULL,
	[AU] [nvarchar](max) NULL,
	[AV] [nvarchar](max) NULL,
	[AW] [nvarchar](max) NULL,
	[AX] [nvarchar](max) NULL,
	[AY] [nvarchar](max) NULL,
	[AZ] [nvarchar](max) NULL,
	[BA] [nvarchar](max) NULL,
	[BB] [nvarchar](max) NULL,
	[BC] [nvarchar](max) NULL,
	[BD] [nvarchar](max) NULL,
	[BE] [nvarchar](max) NULL,
	[BF] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
