USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[Document_ContrattoTelematico_Sezioni]    Script Date: 5/16/2024 2:42:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document_ContrattoTelematico_Sezioni](
	[Descrizione] [ntext] NULL,
	[Pos] [tinyint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
