USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[RdoElaborate]    Script Date: 5/16/2024 2:42:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RdoElaborate](
	[IdPfu] [int] NOT NULL,
	[NumeroRdo] [int] NOT NULL,
 CONSTRAINT [PK_RdoElaborate] PRIMARY KEY NONCLUSTERED 
(
	[IdPfu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RdoElaborate] ADD  CONSTRAINT [DF_RdoElaborate_NumeroRdo]  DEFAULT (0) FOR [NumeroRdo]
GO
ALTER TABLE [dbo].[RdoElaborate]  WITH NOCHECK ADD  CONSTRAINT [FK_RdoElaborate_ProfiliUtente] FOREIGN KEY([IdPfu])
REFERENCES [dbo].[ProfiliUtente] ([IdPfu])
GO
ALTER TABLE [dbo].[RdoElaborate] CHECK CONSTRAINT [FK_RdoElaborate_ProfiliUtente]
GO
