USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[CTL_Relations]    Script Date: 5/16/2024 2:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTL_Relations](
	[REL_idRow] [int] IDENTITY(1,1) NOT NULL,
	[REL_Type] [varchar](50) NOT NULL,
	[REL_ValueInput] [varchar](250) NOT NULL,
	[REL_ValueOutput] [varchar](max) NULL,
 CONSTRAINT [IX_CTL_Relations_Rel_IdRow] PRIMARY KEY CLUSTERED 
(
	[REL_idRow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
