USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[GARBAGE_COLLECTOR_QUERY_TO_EXEC]    Script Date: 5/16/2024 2:42:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GARBAGE_COLLECTOR_QUERY_TO_EXEC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Query] [varchar](300) NULL,
	[Start] [datetime] NULL,
	[Stop] [datetime] NULL,
	[Duration] [int] NULL,
	[Esito] [bit] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GARBAGE_COLLECTOR_QUERY_TO_EXEC] ADD  CONSTRAINT [DF_GARBAGE_COLLECTOR_QUERY_TO_EXEC_Duration]  DEFAULT ((0)) FOR [Duration]
GO
ALTER TABLE [dbo].[GARBAGE_COLLECTOR_QUERY_TO_EXEC] ADD  CONSTRAINT [DF_GARBAGE_COLLECTOR_QUERY_TO_EXEC_Esito]  DEFAULT ((0)) FOR [Esito]
GO
