USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[FLES_TABLE_SCHEDA_SA1]    Script Date: 5/16/2024 2:42:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLES_TABLE_SCHEDA_SA1](
	[UUID] [uniqueidentifier] NOT NULL,
	[IDDOC] [int] NULL,
	[IDROW_PCP_SCHEDE] [int] NULL,
	[REGISTRO_SISTEMA] [varchar](50) NULL,
	[IDPFU_BOZZA] [bigint] NULL,
	[IDPFU_INVIO] [bigint] NULL,
	[STATO_FUNZIONALE] [varchar](50) NULL,
	[CIG] [varchar](50) NULL,
	[ID_CONTRATTO] [varchar](1000) NULL,
	[ID_APPALTO] [nvarchar](1000) NULL,
	[DATA_INVIO] [datetime] NULL,
	[DENOMINAZIONE_AVANZAMENTO] [nvarchar](50) NULL,
	[MODALITA_PAGAMENTO] [nvarchar](50) NULL,
	[DATA_AVANZAMENTO] [datetime] NULL,
	[AVANZAMENTO] [nvarchar](100) NULL,
	[IMPORTO_CUMULATO] [float] NULL,
	[ULTIMO_IMPORTO_COMUNICATO] [float] NULL,
	[DATA_ULTIMA_MODIFICA] [datetime] NULL,
	[STATO_BOZZA] [varchar](50) NULL,
 CONSTRAINT [PK__FLES_TAB__65A475E7D5291C41] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FLES_TABLE_SCHEDA_SA1] ADD  CONSTRAINT [DF__FLES_TABLE__UUID__0049BC6D]  DEFAULT (newid()) FOR [UUID]
GO
