USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[SchemiAccesso]    Script Date: 5/16/2024 2:42:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchemiAccesso](
	[IdAccess] [int] NOT NULL,
	[saName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_SchemiAccesso] PRIMARY KEY NONCLUSTERED 
(
	[IdAccess] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
