USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[WORK_TAB_OBJ]    Script Date: 5/16/2024 2:42:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORK_TAB_OBJ](
	[IdObj] [int] IDENTITY(1,1) NOT NULL,
	[objFile] [image] NULL,
	[objName] [nvarchar](250) NULL,
	[objAttachInfo] [ntext] NULL,
 CONSTRAINT [PK_WORK_TAB_OBJ] PRIMARY KEY CLUSTERED 
(
	[IdObj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
