USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[Document_Programmazione_Dettagli]    Script Date: 5/16/2024 2:42:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document_Programmazione_Dettagli](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdHeader] [int] NOT NULL,
	[TipoDoc] [varchar](600) NULL,
	[StatoRiga] [varchar](50) NOT NULL,
	[EsitoRiga] [varchar](max) NULL,
	[NumeroRiga] [int] NULL,
	[Plant] [nvarchar](500) NULL,
	[CODICE_CUI] [nvarchar](50) NULL,
	[PRIMA_ANNUALITA_P] [varchar](10) NULL,
	[START_ANNUALITA] [varchar](10) NULL,
	[CUP] [nvarchar](500) NULL,
	[ACQUISTO_COMP_ALTRA_PROG] [varchar](10) NULL,
	[CODICE_CUI_LAVORO] [nvarchar](50) NULL,
	[LOTTO_FUNZIONALE] [varchar](10) NULL,
	[Ambito_Geo] [varchar](max) NULL,
	[CUP_MASTER] [nvarchar](500) NULL,
	[TipoAppaltoGara] [varchar](50) NULL,
	[Macrocategoria_Merceologica] [nvarchar](500) NULL,
	[CODICE_CPV] [nvarchar](500) NULL,
	[CODICE_CND] [nvarchar](500) NULL,
	[Descrizione] [nvarchar](max) NULL,
	[Livello_priorita] [varchar](50) NULL,
	[ResponsabileProcedimento] [varchar](500) NULL,
	[MODALITA_ACQUISIZIONE] [varchar](50) NULL,
	[Tipologia_di_procedura] [varchar](500) NULL,
	[Durata_Contratto] [varchar](50) NULL,
	[Data_scadenza_contratto_in_essere] [datetime] NULL,
	[importoBaseAstaAnnuo] [float] NULL,
	[Stima_costi_Primo_anno] [float] NULL,
	[Stima_costi_Secondo_anno] [float] NULL,
	[Stima_costi_anni_successivi] [float] NULL,
	[Stima_costi_acquisto_totale] [float] NULL,
	[Stima_costi_importo] [float] NULL,
	[Stima_costi_Tipologia] [nvarchar](500) NULL,
	[CODICE_AUSA] [varchar](500) NULL,
	[Denominazione_AMM_Delegata] [nvarchar](500) NULL,
	[Modalita_approvvigionamento] [varchar](500) NULL,
	[Note] [nvarchar](max) NULL,
	[CampoTesto_1] [nvarchar](max) NULL,
	[CampoTesto_2] [nvarchar](max) NULL,
	[CampoTesto_3] [nvarchar](max) NULL,
	[CampoTesto_4] [nvarchar](max) NULL,
	[CampoTesto_5] [nvarchar](max) NULL,
	[CampoTesto_6] [nvarchar](max) NULL,
	[CampoTesto_7] [nvarchar](max) NULL,
	[CampoTesto_8] [nvarchar](max) NULL,
	[CampoTesto_9] [nvarchar](max) NULL,
	[CampoTesto_10] [nvarchar](max) NULL,
	[CampoAllegato_1] [nvarchar](250) NULL,
	[CampoAllegato_2] [nvarchar](250) NULL,
	[CampoAllegato_3] [nvarchar](250) NULL,
	[CampoAllegato_4] [nvarchar](250) NULL,
	[CampoAllegato_5] [nvarchar](250) NULL,
	[CampoAllegato_6] [nvarchar](250) NULL,
	[CampoAllegato_7] [nvarchar](250) NULL,
	[CampoAllegato_8] [nvarchar](250) NULL,
	[CampoAllegato_9] [nvarchar](250) NULL,
	[CampoAllegato_10] [nvarchar](250) NULL,
	[CampoNumerico_1] [float] NULL,
	[CampoNumerico_2] [float] NULL,
	[CampoNumerico_3] [float] NULL,
	[CampoNumerico_4] [float] NULL,
	[CampoNumerico_5] [float] NULL,
	[CampoNumerico_6] [float] NULL,
	[CampoNumerico_7] [float] NULL,
	[CampoNumerico_8] [float] NULL,
	[CampoNumerico_9] [float] NULL,
	[CampoNumerico_10] [float] NULL,
	[Campo_Intero_1] [int] NULL,
	[Campo_Intero_2] [int] NULL,
	[Campo_Intero_3] [int] NULL,
	[Campo_Intero_4] [int] NULL,
	[Campo_Intero_5] [int] NULL,
	[Campo_Intero_6] [int] NULL,
	[Campo_Intero_7] [int] NULL,
	[Campo_Intero_8] [int] NULL,
	[Campo_Intero_9] [int] NULL,
	[Campo_Intero_10] [int] NULL,
	[Dominio_SiNo] [varchar](2) NULL,
	[Dominio_SiNo_2] [varchar](2) NULL,
	[Dominio_SiNo_3] [varchar](2) NULL,
	[Dominio_SiNo_4] [varchar](2) NULL,
	[Dominio_SiNo_5] [varchar](2) NULL,
	[Dominio_SiNo_6] [varchar](2) NULL,
	[Dominio_SiNo_7] [varchar](2) NULL,
	[Dominio_SiNo_8] [varchar](2) NULL,
	[Dominio_SiNo_9] [varchar](2) NULL,
	[Dominio_SiNo_10] [varchar](2) NULL,
	[Campo_data_1] [datetime] NULL,
	[Campo_data_2] [datetime] NULL,
	[Campo_data_3] [datetime] NULL,
	[Campo_data_4] [datetime] NULL,
	[Campo_data_5] [datetime] NULL,
	[Campo_data_6] [datetime] NULL,
	[Campo_data_7] [datetime] NULL,
	[Campo_data_8] [datetime] NULL,
	[Campo_data_9] [datetime] NULL,
	[Campo_data_10] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Document_Programmazione_Dettagli] ADD  CONSTRAINT [DF_Document_Programmazione_Dettagli_TipoDoc]  DEFAULT ('') FOR [TipoDoc]
GO
ALTER TABLE [dbo].[Document_Programmazione_Dettagli] ADD  CONSTRAINT [DF_Document_Programmazione_Dettagli_StatoRiga]  DEFAULT ('Saved') FOR [StatoRiga]
GO
