USE [AFLink_TND]
GO
/****** Object:  Table [dbo].[CTL_PROCESS_PERMISSION]    Script Date: 5/16/2024 2:42:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTL_PROCESS_PERMISSION](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DPR_DOC_ID] [varchar](50) NOT NULL,
	[DPR_ID] [varchar](50) NOT NULL,
	[DPR_listaPermessi] [varchar](1000) NOT NULL,
	[DPR_descrizione] [varchar](500) NULL,
	[DPR_deleted] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTL_PROCESS_PERMISSION] ADD  CONSTRAINT [DF_CTL_PROCESS_PERMISSION_DPR_listaPermessi]  DEFAULT ('0') FOR [DPR_listaPermessi]
GO
ALTER TABLE [dbo].[CTL_PROCESS_PERMISSION] ADD  CONSTRAINT [DF_CTL_PROCESS_PERMISSION_DPR_deleted]  DEFAULT ((0)) FOR [DPR_deleted]
GO
