
@charset "utf-8";
html, body, span,applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dd, dl, dt, li, ol, ul,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0 auto;padding: 0;border: 0;font-weight: inherit;font-style: inherit; line-height:1; font-family: inherit;text-align: left;vertical-align: baseline;}
a img, :link img, :visited img {border: 0;}
table{border-collapse:collapse; border-spacing: 0;}
ol, ul {list-style: none;}
q:before, q:after,blockquote:before, blockquote:after {content: "";}
html,body{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#333;}


#TABLE_CONTENTITORE{height:200mm; width:800px; margin:0 auto; font-size:12px;}
#TR_TESTATA{height:165px; }

#TR_PIEPAGINA{height:70px; }
#TD_PIEPAGINA{height:70px; }

#TABLE_CONTENTITORE TR TD {margin:0px; padding:0px;}
#TABLE_CONTENTITORE {margin:0px; padding:0px;}

.logo{ width:95px; height:165px; float:left; }
.titolo{ width:690px; float:right; margin-top:53px;}
.titolo h1{ border-bottom:1px solid #333; padding-bottom:5px; margin-bottom:5px;}
h1{ font-weight:bold; font-size:24px;}
h2{ font-weight:bold; font-size:19px;}

#TD_CORPO h2{ text-align:center; font-style:italic;} 

p{ margin-top:10px; text-align:justify;}
p.oggetto{ padding:10px; background:#ccc; margin-top:20px; font-weight:bold; font-size:12px; margin-bottom:10px;}
p.underline{ font-weight:bold; text-decoration:underline; font-style:italic;}
table.GridPrintProducts{ width:100%; margin-top:20px; border:1px solid #ccc;}
table.GridPrintProducts tr{ height:20px;}
table.GridPrintProducts td{ border:1px solid #ccc; padding:3px;}
ul{list-style-type:disc; margin-top:15px; margin-left:40px;  font-size:12px;}
ul.LISTGridPrintProducts{list-style-type:disc; margin-top:15px; margin-left:40px;  font-size:12px;}
ul.LISTGridPrintProducts li{ padding-bottom:3px;}


#TD_CORPO table td{ font-size:12px;}
#TD_CORPO table td.CellIntestGrid{ font-weight:bold; background-color:#c0c0c0}

.LetterList{list-style-type:lower-alpha}
.SquareList{list-style-type:square}


#TR_PIEPAGINA p {font-size:11px;}
#TR_PIEPAGINA p span.mail{text-decoration:underline; color:#0099ff}
