BODY
{
}
TABLE.GridProductTable
{
}
.fontEsito
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt
}
.fontIntest
{
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bolder
}
.fontEsitoLink
{
    COLOR: blue;
    CURSOR: hand;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt
}
TD.CellIntestGridProductTable
{
    BACKGROUND-COLOR: #99ccff;
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid
}
TD.Cell1GridProductTable
{
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid
}
TD.Cell2GridProductTable
{
    BACKGROUND-COLOR: lightgrey;
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid
}
TD.Cell3GridProductTable
{
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid
}
TD.CellGridCOLORRIGATABELLAPERCENTUALE
{
    BACKGROUND-COLOR: #f7efff;
    BORDER-BOTTOM: thin solid;
    BORDER-LEFT: thin solid;
    BORDER-RIGHT: thin solid;
    BORDER-TOP: thin solid
}
TD.CellGridCOLORRIGAINSERITATABELLAPERCENTUALE
{
    BACKGROUND-COLOR: #b7ffff;
    BORDER-BOTTOM: thin solid;
    BORDER-LEFT: thin solid;
    BORDER-RIGHT: thin solid;
    BORDER-TOP: thin solid
}
TD.CellGridCOLORRIGAERRATATABELLAPERCENTUALE
{
    BACKGROUND-COLOR: #ff3300;
    BORDER-BOTTOM: thin solid;
    BORDER-LEFT: thin solid;
    BORDER-RIGHT: thin solid;
    BORDER-TOP: thin solid
}
TD.CellGridCOLORRIGAERRATADATAINIDATAFINE
{
    BACKGROUND-COLOR: #ff9966
}
TD.CellGridCOLORRIGAERRATAARCOTEMPORALE
{
    BACKGROUND-COLOR: #ae3300;
    BORDER-BOTTOM: thin solid;
    BORDER-LEFT: thin solid;
    BORDER-RIGHT: thin solid;
    BORDER-TOP: thin solid
}
TABLE.GridTenderForArticle
{
}
TD.CellGridHeadTenderForArticle
{
    BACKGROUND-COLOR: skyblue;
    BORDER-BOTTOM: thin solid;
    BORDER-LEFT: thin solid;
    BORDER-RIGHT: thin solid;
    BORDER-TOP: thin solid;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt
}
TD.CellGridTenderForArticleEven
{
    BACKGROUND-COLOR: lightyellow;
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    LINE-HEIGHT: 8pt;
    TEXT-DECORATION: none
}
TD.CellGridTenderForArticleOdd
{
}
TD.CellGridMyAnswerTender
{
    BACKGROUND-COLOR: navajowhite;
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    LINE-HEIGHT: 8pt;
    TEXT-DECORATION: none
}
