--connectionstring:Data Source=xxxx
--tempdir:e:\PortaleGareTelematiche\Blobs\tempdir\
--PathFolderAllegati:e:\PortaleGareTelematiche\Allegati\
--PathBlobsEntry:e:\PortaleGareTelematiche\Blobs\
--app.tsl_online:no
--app.tsl_da_tabella:si
--app.directory_output_p7m:e:\PortaleGareTelematiche\Allegati\
--app.path_xml_tsl:e:\PortaleGareTelematiche\Web\Application\IT_TSL_signed.xml
--app.url_xml_tsl:https://eidas.agid.gov.it/TL/TSL-IT.xml
--app.table_sign:CTL_SIGN_ATTACH_INFO
--app.tsl_da_tabella:si
--app.enableSignedCMS:NO
--app.strVirtualDirectory:/application
--app.purgeinterval:15
--app.purgeage:1440
--max_threads_count:8
connectionstring:Password=AFS.user!;Persist Security Info=True;User ID=afsuser;Initial Catalog=AFLink_PA_Dev;Data Source=172.16.0.103\afsse103;MultipleActiveResultSets=True
tempdir:e:\PortaleGareTelematiche\Blobs\tempdir\
PathFolderAllegati:e:\PortaleGareTelematiche\Allegati\
PathBlobsEntry:e:\PortaleGareTelematiche\Blobs\
app.strVirtualDirectory:/applicationFEDERICO
stressCount:0
ATTIVA_TRACE:YES