BODY
{
}
TABLE.GridActionFolder
{
	/*
    BORDER-RIGHT: white thin;
    BORDER-TOP: #333 1px solid;
	BORDER-BOTTOM: white thin;
	BORDER-LEFT: white thin;*/
	
	border:1px solid lightgrey;
    PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: white
}
TABLE.GridActionFolder td{
	border:1px solid lightgrey;
	}

TD.CellGridActionFolder
{
	/*
    BORDER-RIGHT: white thin;
	BORDER-TOP: white thin;
	BORDER-LEFT: white thin;
	BORDER-BOTTOM: white thin;*/
	
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 5px;
    MARGIN: 0px;
    COLOR: #161a74;
    PADDING-TOP: 5px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BACKGROUND-COLOR: white;
    TEXT-DECORATION: none
}
A
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #333;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-DECORATION: none
}
BODY.BodyListMessages
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 0px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BACKGROUND-COLOR: white
}
TABLE.GridListMessages
{
    PADDING: 0px;
    MARGIN: 5px;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: white;
	border-collapse:collapse;
	height:auto;
}

TABLE.GridListMessages td{ border:1px solid #C0BFBF; width:auto;}



TD.CellGridListMessages
{
    BORDER:1px solid #c0bfbf;
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    COLOR: #333;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BACKGROUND-COLOR: #ccc;
	padding:2px;
	font-weight:bold;

	
}
A.CellGridListMessages
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-DECORATION: underline;
	font-weight:bold;
	color:#333;
}
TR.Cell2GridListMessages
{
}
TD.CellGridHelpTender
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    WIDTH: 20%;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: silver
}
TABLE.GridHelpTender
{
    WIDTH: 100%
}
TD.CellGridListTender
{
    FONT-SIZE: 12px;
    COLOR: #333;
    LINE-HEIGHT: 11px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
TD.Cell1GridListMessages
{
    BORDER:1px solid #96B0D4;
	PADDING: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    MARGIN: 0px;
    
    COLOR: #333;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: lightgrey 1px solid;
    BACKGROUND-COLOR: white;
    TEXT-DECORATION: none;
	padding:3px;
    
}
.FontTextMessages
{
    FONT-SIZE: 12px;
    COLOR: #161a74;
    LINE-HEIGHT: 11px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-DECORATION: none
}
.TextLink
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    CURSOR: pointer;
    COLOR: #CB1D15;
    LINE-HEIGHT: 11px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-DECORATION: underline
}
.FontTextIceRiepilogo
{
    FONT-SIZE: 12px;
    COLOR: #808080;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.FontNewMessageUnderline
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    CURSOR: pointer;
    COLOR: #2268B3;
    LINE-HEIGHT: 11px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-DECORATION: underline
}
.FontReadMessageUnderline
{
	
    FONT-SIZE: 12px;
    CURSOR: pointer;
    COLOR: #2268B3;
    LINE-HEIGHT: 11px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-DECORATION: underline
}
.FontNewMessage
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    CURSOR: pointer;
    COLOR: #333;
    LINE-HEIGHT: 11px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-DECORATION: none
}
.FontReadMessage
{
    FONT-SIZE: 12px;
    COLOR: #333;
    LINE-HEIGHT: 11px;
    TEXT-DECORATION: none;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.FontNewMessageNotLink
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #333;
    LINE-HEIGHT: 11px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-DECORATION: none
}
TD.CellGridIntestListTender
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #161a74;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BACKGROUND-COLOR: khaki;
    TEXT-ALIGN: left
}
TABLE.GridListTender
{
    WIDTH: 100%
}
A:link
{
    
}
.FontDescFolder
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #333;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-DECORATION: none
}
.FoglieBluSott
{
    FONT-SIZE: 12px;
    COLOR: #161a74
}
.cellgridriepilogo
{
	/*
    BORDER-RIGHT: lightgrey 1pt;
    BORDER-TOP: darkgray 1pt solid;
	BORDER-BOTTOM: lightgrey 1pt;
	BORDER-LEFT: lightgrey 1pt;*/
	
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #333;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-DECORATION: none
}
.hrsep
{
	/*
    BORDER-RIGHT: #333 1pt solid;
    BORDER-TOP: #333 1pt solid;
	BORDER-BOTTOM: #333 1pt solid;
	BORDER-LEFT: #333 1pt solid;*/
	
    FONT-SIZE: 12px;
    COLOR: #333;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.cellgridriepilogo1
{
    /*
	BORDER-RIGHT: darkgray 1px;
    BORDER-TOP: darkgray 1px solid;
	BORDER-BOTTOM: darkgray 1px;
	BORDER-LEFT: darkgray 1px;*/
	
    FONT-SIZE: 12px;
    COLOR: #333;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
TD.CellNumeric
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: darkred;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-ALIGN: right
}
TD.CellNumeric1
{
    /*
	BORDER-RIGHT: lightgrey 1px solid;
    BORDER-TOP: lightgrey 1px solid;
	BORDER-LEFT: lightgrey 1px solid;
	BORDER-BOTTOM: lightgrey 1px solid;*/
	
    FONT-SIZE: 12px;
    COLOR: #333;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: right
}
TD.DescrRagSoc
{
    FONT-SIZE: 9pt;
    COLOR: #333;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
