BODY
{
}
TABLE.GridHyerarchiesButtons
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: medium none;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none
}
TD.CellGridHyerarchiesButtons
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
HR
{
    BORDER-RIGHT: #161a74 1px solid;
    BORDER-TOP: #161a74 1px solid;
    BORDER-LEFT: #161a74 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #161a74 1px solid;
    BACKGROUND-COLOR: darkred
}
BODY.BodyButtonsHyerarchies
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: white
}
BODY.BodyConfirmHyerarchies
{
    MARGIN: 5px 15px 0px 5px;
    BACKGROUND-COLOR: white
}
.HeaderConfirmHyerarchies
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
A.LinkHyerarchies
{
    FONT-SIZE: 12px;
    CURSOR: pointer;
    COLOR: #CB1D15;
    FONT-FAMILY: arial;
    TEXT-DECORATION: underline
}
.HeaderSubTitleHyerarchies
{
    FONT-SIZE: 10pt;
    COLOR: blue;
    FONT-STYLE: oblique
}
.FontHyerarchiesSelected
{
    FONT-SIZE: 12px;
    FONT-FAMILY: arial
}
.LinkHyerarchies
{
    FONT-SIZE: 12px;
    CURSOR: pointer;
    COLOR: #CB1D15;
    FONT-FAMILY: arial;
    TEXT-DECORATION: underline;
	font-weight:bold;
	margin-left:3px;
}
