BODY
{
}
.FontSelectedTab
{
    FONT-SIZE: 12px;
    COLOR: #CB1D15;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BACKGROUND-COLOR: white;
    TEXT-DECORATION: none;
	vertical-align:middle;
	padding:5px;
}
.FontNotSelectedTab
{
    FONT-SIZE: 12px;
    CURSOR: pointer;
    COLOR: white;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    BACKGROUND-COLOR: #666;
    TEXT-DECORATION: none;
	padding:5px;
}
.FontIceTab
{
    FONT-SIZE: 8pt;
    COLOR: #808080;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    TEXT-DECORATION: none
}
TABLE.GridTab
{
    BACKGROUND-COLOR: #515151;
}
