@page "/modal/recuperopwd_joomla.asp"
@inject eProcurementNext.Session.ISession session;
@using eProcurementNext.CommonModule;
@using static eProcurementNext.CommonModule.Basic;
@using eProcurementNext.BizDB;
@using eProcurementNext.HTML;
@using eProcurementNext.Application;
@using static eProcurementNext.HTML.BasicFunction;
@using Microsoft.VisualBasic;
@using static eProcurementNext.Razor.Pages.CTL_LIBRARY.functions.antiFixationModel;
@model eProcurementNext.Razor.Pages.modal.recuperopwd_joomlaModel;
@{
	//LoadSession(HttpContext, session);
	EprocResponse htmlToReturn = new EprocResponse(GetParamURL(HttpContext.Request.QueryString.ToString(), "XML_ATTACH_TYPE"));
}
@{


	htmlToReturn.Write("<html>");
	htmlToReturn.Write("<head>");

	htmlToReturn.Write($@"<link rel=""stylesheet"" type=""text/css"" href=""./css_joomla/print.css"" media=""print"" />");
	htmlToReturn.Write($@"<link rel=""stylesheet"" type=""text/css"" href=""./css_joomla/style.css"" media=""screen,projection"" />");
	if (IsMasterPageNew())
	{
		htmlToReturn.Write($@"<link rel=""stylesheet"" type=""text/css"" href=""../Portale/css/vaporPortale.css"" />");
	}

	htmlToReturn.Write($@"<link rel=""shortcut icon"" href=""favicon.ico"" type=""image/x-icon"" />");
	//	<!--[if IE]>
	//		<link rel="stylesheet" type="text/css" href="../css_joomla/iefix.css" />
	//	<![endif]-->
	//	<!--[if lt IE 7]>
	//		<link rel="stylesheet" type="text/css" href="../css_joomla/ie6fix.css" />
	//<![endif]-->
	htmlToReturn.Write(@"<script type=""text/javascript"" src=""./js/mootools.js""></script>");
	htmlToReturn.Write(@"<script type=""text/javascript"" src=""./js/common.js""></script>");
	htmlToReturn.Write(@"<script type=""text/javascript"" src=""./js/forms.js""></script>");
	htmlToReturn.Write($@"
	<script type=""text/javascript"">
	function getAccessCaptcha()
			{{
				var ajax = GetXMLHttpRequest();

				if(ajax)
				{{
					var nocache = new Date().getTime();
					ajax.open(""GET"", '" +  ApplicationCommon.Application["strVirtualDirectory"] + $@"/ctl_library/getAccessCaptcha.asp?nocache=' + nocache , false);
					ajax.send(null);

					if(ajax.readyState == 4) 
					{{
						if(ajax.status == 200 )
						{{
							return ajax.responseText;
						}}
					}}			
				}}
			}}

			function GetXMLHttpRequest() {{
				var
					XHR = null,
					browserUtente = navigator.userAgent.toUpperCase();

				if(typeof(XMLHttpRequest) === ""function"" || typeof(XMLHttpRequest) === ""object"")
					XHR = new XMLHttpRequest();
					else if(window.ActiveXObject && browserUtente.indexOf(""MSIE 4"") < 0) {{
						if(browserUtente.indexOf(""MSIE 5"") < 0)
							XHR = new ActiveXObject(""Msxml2.XMLHTTP"");
						else
							XHR = new ActiveXObject(""Microsoft.XMLHTTP"");
					}}
					return XHR;
			}};

	</script>"); 

	htmlToReturn.Write("</head>");
	htmlToReturn.Write($@"
		<!-- <body onload=""document.images['imgCaptcha'].src = document.images['imgCaptcha'].src.split('?')[0] + '?x=' + (new Date()).toUTCString();document.getElementById('captchacode').value = '';""> -->
	");
	htmlToReturn.Write($@"<body onload=""document.getElementById('div_captcha').innerHTML = getAccessCaptcha();"">");
	htmlToReturn.Write($@"<div id=""mb_box"" class="""">");
	htmlToReturn.Write($@"<h2 id=""mb_title""><span>"+ApplicationCommon.CNV( "Modale Recupero Password" )+$@"</span></h2>");
	htmlToReturn.Write($@"");

	//<!-- #INCLUDE FILE="../ctl_library/functions/cnv.asp"-->
	htmlToReturn.Write(ApplicationCommon.CNV("help_RECUPEROPWD"));
	htmlToReturn.Write($@"<div id=""errormsg"">");
	htmlToReturn.Write("</div>");

	htmlToReturn.Write($@"<form action=""/" + ApplicationCommon.Application["NOMEAPPLICAZIONE"] + $@"/modal/RichiestaCodici.asp?NEWLAYOUT=1&backoffice=yes&amp;Modello=RECUPEROPWD"" method=""post"" id=""restorepwd""> <!-- class=""ajax""> -->");

	htmlToReturn.Write($@"<input type=""hidden"" name=""ajax"" value=""0"" />");
	htmlToReturn.Write("<fieldset>");
	htmlToReturn.Write($@"<div><label for=""codicefiscale"">*"+ApplicationCommon.CNV( "Codice Fiscale Portale" )+$@" <input type=""text"" id=""codicefiscale"" name=""codicefiscale"" class=""txt required"" autofocus></label></div>");
	htmlToReturn.Write($@"<div><label for=""CodiceAccesso"">*" + ApplicationCommon.CNV("Codice Accesso") +$@" <input type=""text"" id=""CodiceAccesso"" name=""CodiceAccesso"" class=""txt required""></label></div>");
	htmlToReturn.Write($@"<div><label for=""Login"">* "+ApplicationCommon.CNV( "Nome Utente" )+$@"<input type=""text"" id=""Login"" name=""Login"" class=""txt required""></label></div>");
	htmlToReturn.Write("<br />");

	htmlToReturn.Write($@"<label class=""labelancora change_captcha"" style=""float:right;cursor: pointer;cursor: hand;"" onclick=""document.getElementById('div_captcha').innerHTML = getAccessCaptcha();"">");
	htmlToReturn.Write("Cambia codice di controllo");
	htmlToReturn.Write("</label>");
	htmlToReturn.Write("<br/>");

	htmlToReturn.Write($@"<div class=""div_captcha"" id=""div_captcha"">");
	htmlToReturn.Write("</div>");
	htmlToReturn.Write($@"


	<!-- vecchio captcha : 
					<div>
						<label class=""labelsx"">
							<img id=""imgCaptcha"" src=""/" + ApplicationCommon.Application["NOMEAPPLICAZIONE"] + $@"/captcha.asp"" alt=""captcha"" />

							<label class=""labelancora"" style = ""cursor: pointer;cursor: hand;"" onclick=""document.images['imgCaptcha'].src = document.images['imgCaptcha'].src.split('?')[0] + '?x=' + (new Date()).toUTCString();"">
								Cambia Immagine
							</label>
						</label>
						<br/>
						<label class=""labelsx"" for=""captchacode"">* " + ApplicationCommon.CNV("Riporta il codice alfanumerico qui") + $@":<input class=""txt required"" name=""captchacode"" type=""text"" id=""captchacode"" size=""10"" value=""""></label>
					</div>
	-->
	");
	htmlToReturn.Write("</fieldset>");

	htmlToReturn.Write($@"<input type=""hidden"" name=""Table"" value=""DASHBOARD_VIEW_AZIENDE""/>");
	htmlToReturn.Write($@"<input type=""hidden"" name=""AttribKey""  value=""codicefiscale""/>");

	htmlToReturn.Write($@"<div class=""btns"">");
	htmlToReturn.Write($@"<input type=""submit"" value="""+ApplicationCommon.CNV("Invia")+$@"""/>"); 
	//<!-- id="submit1" name="submit1"/> -->
	htmlToReturn.Write("</div>");

	htmlToReturn.Write("</form>");
	htmlToReturn.Write("</div>");	

	htmlToReturn.Write("</body>");
	if (IsMasterPageNew())
	{
		htmlToReturn.Write($@"
			<script>
				document.getElementById(""codicefiscale"").focus();
			</script>
		");
	}
	htmlToReturn.Write("</html>");
				
}@Html.Raw(htmlToReturn.Out())