TABLE.SP_Bar
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: transparent
}
TD.SP_Button
{
    CURSOR: hand
}
TD.SP_Cur
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11pt
}
TD.SP_Direct
{
    CURSOR: hand;
    COLOR: blue;
    TEXT-DECORATION: underline
}
