BODY
{
}
TD.ImageCellMiddleButton
{
}
INPUT.fontCommand
{
    BORDER-RIGHT: #161a74 1px outset;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #161a74 1px outset;
    PADDING-LEFT: 0px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 1px;
    BORDER-LEFT: #161a74 1px outset;
    COLOR: #161a74;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #161a74 1px outset;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e9edf3;
    TEXT-DECORATION: none
}
INPUT.congelati
{
}
.fontLinkActive
{
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: #161a74;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
.fontCommandbold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: black;
    LINE-HEIGHT: 8pt;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.fontcommand
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
.TextLink
{
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: #161a74;
    FONT-FAMILY: Arial
}
.FoglieBluSott
{
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: #161a74;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
