BODY
{
    SCROLLBAR-FACE-COLOR: #b0c4de;
    MARGIN: 5px;
    SCROLLBAR-HIGHLIGHT-COLOR: #f5f5f5;
    OVERFLOW: auto;
    SCROLLBAR-SHADOW-COLOR: #f5f5f5;
    SCROLLBAR-3DLIGHT-COLOR: #b0c4de;
    SCROLLBAR-ARROW-COLOR: #ffffff;
    SCROLLBAR-TRACK-COLOR: #f5f5f5;
    SCROLLBAR-DARKSHADOW-COLOR: #b0c4de;
    BACKGROUND-COLOR: white
}
BODY.bodytop
{
    MARGIN: 5px 0px 0px;
    BACKGROUND-COLOR: white
}
BODY.bodybottom
{
    MARGIN: 0px 0px 5px;
    BACKGROUND-COLOR: white
}
BODY.bodyleft
{
    MARGIN: 0px 0px 0px 5px;
    BACKGROUND-COLOR: white
}
BODY.bodyright
{
    MARGIN: 0px 5px 0px 0px;
    BACKGROUND-COLOR: white
}
BODY.bodyleft_right
{
    MARGIN: 0px 5px;
    BACKGROUND-COLOR: white
}
BODY.bodyleft_bottom
{
    MARGIN: 0px 0px 5px 5px;
    BACKGROUND-COLOR: white
}
BODY.bodytop_left_right
{
    MARGIN: 5px 5px 0px;
    BACKGROUND-COLOR: white
}
BODY.bodyleft_bottom_right
{
    MARGIN: 0px 5px 5px;
    BACKGROUND-COLOR: white
}
BODY.bodybottom_right
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    MARGIN: 0px 5px 5px 0px;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none
}
BODY.bodygroups
{
    BORDER-RIGHT: #161a74 1pt solid;
    BORDER-TOP: saddlebrown;
    MARGIN: 0px;
    BORDER-LEFT: saddlebrown;
    BORDER-BOTTOM: saddlebrown;
    BACKGROUND-COLOR: #e9edf3
}
.bodyLogo
{
    BORDER-RIGHT: #161a74;
    BORDER-TOP: #161a74 1pt solid;
    MARGIN: 2px 0px 0px 5px;
    BORDER-LEFT: #161a74;
    BORDER-BOTTOM: #161a74
}
BODY.nobody
{
    MARGIN: 0px
}
