/* PERSONALIZZAZIONE ASPETTO PORTALE */
:root {
    /* BASE VAPOR STANDARD */
    --bg-body: #f2f5f8; /* COLORE GRIGIO SFONDO CONTENT CENTRALE */
    --main-color-vapor: #0090D1; /* COLORE PRINCIPALE */
    --main-header-bg-color: #152935; /* SFONDO HEADER IN ALTO E MENU A SX */
    --main-text-color-header: #ffffff; /* TESTO BIANCO */
    --modal-title: #005075;
    --title-h3: #005075;
    --text-form-color: #152935;
    --background-input: #F2F5F8;
    --bg-pulsanti-primary: rgb(0,144,209); /* HOVER E ACTIVE MENU */
    --bg-pulsanti-primary-gradient: linear-gradient(90deg, rgba(0,144,209,1) 0%, rgba(0,195,234,1) 100%); /* SFUMATURA HOVER E ACTIVE MENU */
    --border-input-readonly: #005075;
}