/*
 * @author ( Angie Radtke )
*/

/* not ready */

/* ##########################  general  ########################### */

/* Stili per normative e manuali */

.moduletable form{ color:#fff;  padding:1.5em 0em 2em;}
.item-page .moduletable form{ color:#333;}

*[readonly]
{
  background:#ECECEC;
  color:#666;
}
*[readonly]:active
{
  background:#ECECEC;
  color:#666;
}
table#table_manuali
{
  border: 0px solid #444444;
}

table#table_manuali thead tr
{
  /*background-color: #1d3c76;*/
}

table#table_manuali thead th
{
  padding: 5px;
  border: 1px solid #444444;
  background-color: #888;
}

table#table_manuali thead th span
{
  color: #fff;
  font-size: large;
}

.td_left_manuali
{
  border: 1px solid #444444;
  background-color: #ccc;  
}

.td_left_manuali span
{
  font-weight:bold;
  font-size: small;
  color: #2f2c2c333;  
}



/* Fine stili per normative e manuali */

@font-face {
  font-family: arial;
}

body
{
  background:#fff;
  color: #2f2c2c;
  background: #fff URL(./images/sfSpan2.png) left top repeat-x;
}
.articolo_aflink{
    width:70%;
    float:left;
    text-align:justify;
  }
  
#all
{
  color: #777;
  border:solid 0px ;
  padding-top:0px;
  background: #fff URL(../images/header-bg.gif) left top repeat-x;
}

#links_top_access a:link,
#links_top_access a:visited{
	color:#465464;
   background: #dadfe8; 
	font-size:1.3em;
	margin:7px 0px;
	display:inline-block;
    padding:3px;
    font-weight: bold;
	}
#links_top_access a.nascondiSezione{display:none;}


#links_top_access a:hover{ background:#e4e8f1; text-decoration:underline;}


a:link,
a:visited
{
  line-height:1.7;
  text-decoration:none;
  
}

a:hover,
a:active,
a:focus
{
  color:#CB1D15;
  text-decoration:underline;
}
li.linews a{
  /*background:#fff url(../images/nature/karo.gif) 4px 6px no-repeat;
  padding-left:15px;*/
  color:#22558e;
  text-decoration:underline;
  }

input:focus
{
  border:1px solid #2f2c2c;
}

fieldset
{
  border:solid 0px #ccc
}

.article-info
{
  color:#444
}

.article-info dd span
{
  color:#444;
  border-right:solid 0px;
  background:#eee
}

/* ##########################  back  ########################### */

#back
{

}

/* ##########################  logo  ########################### */

#logo span
{
  color:#3a291b;
  padding-left:15px;
  font-size:0.3em !important;
  text-transform:none;
  font-family: arial;
}
#all #header
{padding-top:0em ;
}
.shadow td.TdAll{ width:1050px;}
.bottom #all{ color:#fff;}
.logoheader
{
  background:  #ccc  URL(../images/personal/personal2.png) no-repeat left bottom;
  color:#fff;
  height:122px;
 /* margin:-0.3em 0 0 0 !important;*/

}


h1#logo
{
     font-family: arial;
     /*padding:0.9em 20px 20px 10px;*/
     text-transform:uppercase;
     font-weight:normal;
     margin-top:0;
}



#line
{
  width:98% ;
  max-width:100% ;
  top:0px;
  left:0px;
  padding:5px 10px !important;
  margin-right:10px;
  text-align:right;
  white-space:nowrap;

}

/* ##########################  header  ########################### */

.HeaderTools{ overflow: auto; padding: 0px 10px;}
.HeaderMenu{ float: left;}

#header
{
  /*background: URL(../images/personal2.png) bottom left no-repeat;*/
  font-size:1em;
  position:relative;
  height:180px;
  }

 .TopTitle > h1{ line-height:3; font-size:2em; margin-left:1em;}
 .TopTitle{ height:78px; /*background:url(../images/BgTitolo.png) top left repeat-x*/; margin-top:0.2em}


/* ++++++++++++++  lists, skiplinks  ++++++++++++++ */
#header ul.menu
{
  top:3em;
  padding: 0px 0px 0px 0 ;
  background:#fff url(../images/personal/ecke.gif) top left repeat-x ;
  border:0 ;
  text-align:left;
  left:0px;
   display:none;
   margin:0px 10px 0 10px;
   border-top:solid 1px #ddd;
   height:38px;
  /*border-bottom:1px solid #ddd;
   -moz-border-radius: 10px 10px 0px 0px;
   -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;*/

}


#header ul.menu li{}
{border:0; margin:0 !important;     }
#header ul.menu li a:link,
#header ul.menu li a:visited
{
  color:#ececec;
  border:0 ;
  border-right:solid 1px #fff;
  margin:0px 0 0 0 ;
  padding:11px 15px ;
  position:relative;
  background: #e0e0e0 url(../images/personal/ecke.gif) repeat-x top left;
  display:inline-block;
  /*-moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;*/
  

}

#header ul.menu li a:hover,
#header ul.menu li a:active,
#header ul.menu li a:focus
{
  background:#888 url(../images/personal/navi_hover.gif) repeat-x top left;
  color:#515151;
  /*-moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;*/
}

#header ul li.active a:link,
#header ul li.active a:visited
{
  color:#f5f5f5;
  background:url(../images/personal/navi_active.png) top left repeat-x;
 /* -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;*/
}


#header ul.skiplinks
{
  width:100%;
  text-align:left;
  background:none;
  z-index:20000;
  top:0;
  display:inline;
  padding:0
}

#header ul.skiplinks li a.u2:active,
#header ul.skiplinks li a.u2:focus

{
  background:#095197 !important;
  color:#fff !important;
  border:solid 1px;
  top:0 !important;
  z-index:10000;
  right:auto;
  left:0 !important;
  display:block
}


/* ++++++++++++++  fontsize  ++++++++++++++ */

#fontsize
{
   display:inline;


}

#fontsize p a:link,
#fontsize p a:visited
{
  color:#2f2c2c;
  text-decoration:underline;
}


#fontsize p a.larger,
#fontsize p a.reset,
#fontsize p a.smaller
{
  padding-left:5px;
  padding-right:5px;
  text-decoration:none;
  margin:0;
}




#fontsize p a:hover,
#fontsize p a:active,
#fontsize p a:focus
{
  background:#21374c !important;
  color:#ececec;
}

#fontsize h3
{
  color:#222;
  font-weight:bold
}

/* ++++++++++++++  search  ++++++++++++++ */
#header form,
#header form .search,
#header form .finder
{
display:inline;
padding-right:1px ;


}

#header form .inputbox
{
  /*background:url(../images/header-bg.gif) repeat-x;*/
  border:solid 1px #ccc;
  padding:0.2em;
  margin-top:0.4em;
}

#header form .inputbox:focus
{
  border:solid 1px #2f2c2c;
}

#header form .button
{
  border:solid 0px #ddd;
  background:#ccc url(../images/personal/button.png);
  color:#2f2c2c;
  padding:4px !important
}

/* ##########################  contentarea  ########################### */

#contentarea,
#contentarea2
{
  background:#fff
}


/* ##########################  breadcrumbs  ########################### */

#breadcrumbs
{
  color:#2f2c2c;
  line-height:2;
  font-size:0.85em;
  background: #fff;
  border-radius:7px 7px 0px 0px;
}

#breadcrumbs span
{
  color:#2f2c2c;
}

#breadcrumbs span a:link,
#breadcrumbs span a:visited
{
  background:#fff;
  color:#2f2c2c;
}

#breadcrumbs span a:hover,
#breadcrumbs span a:active,
#breadcrumbs span a:focus
{
  background:#095197;
  color:#fff;
}
#breadcrumbs table{ padding-bottom:0px; margin-bottom:0px;}


/* ##########################  navigation column  ########################### */

.module_content
{
  border:solid 1px #ddd;

}
.moduletable_js
{
  border:solid 0px #ddd;
}

#right .moduletable_js
{
  border:0
}
#accordion h3.toggler.atStart{ color:#465464; background: transparent; font-size:1.5em; line-height:2;}

#nav h3, #right h3
{
  /*font-family:verdana, arial;*/
  color:#fff;
  padding: 7px;
  background:#465464;;
  font-size: 2em;
  font-weight:bold;
  margin: 0px;
/* -webkit-border-radius: 0px 0px 15px 0px;
  -moz-border-radius: 0px 0px 15px 0px;
  border-radius: 0px 0px 15px 0px;
  behavior: url(PIE.htc);*/ 

}
#nav h3{
  /*-webkit-border-radius: 0px 0px 15px 0px;
  -moz-border-radius: 0px 0px 15px 0px;
  border-radius: 0px 0px 15px 0px;
  behavior: url(PIE.htc);*/
  }

h3.js_heading
{
  border-bottom:solid 1px #ddd;
  background:#eee;
  font-family: verdana, arial;
}

h3.js_heading span.backh
{
  border:solid 0px #000
}

h3.js_heading span.backh1
{

}

h3.js_heading a
{
  border:0
}

h3.js_heading a img
{
  border:0
}

h3.js_heading a.opencloselink:hover,
h3.js_heading a.opencloselink:active,
h3.js_heading a.opencloselink:focus
{
  background:none
}


#right h3 span.backh
{

}

#right h3 span.backh2
{
  /*background:#fff;*/
  color:#09306c;
  /*border-bottom:solid 1px #ddd*/
}

#right h3 span.backh3
{
padding-left:0
}

/*#nav */form
{
  color:#777;
}
form#login input{ width:92%;  /*background: url(../images/BgForm.png) top left repeat-x;*/}
form#login input.button{ width:94%;  /*background: url(../images/BgForm.png) top left repeat-x;*/}
/*#nav */form label{ display:inline-block; margin-top:7px;}
/*#nav */form input{ border:1px solid #ccc;/*width:15em;*/  padding:3px; margin-top:3px; color:#2f2c2c;}
#accordion input{ /*width:30em;*/}
/*#nav */form input:hover, form button:hover{ border-color:#666;}
form button:hover{ text-decoration:underline; border-color:#465464;}
/*#nav */form input:focus{ border-color:#666; background:#fff;}
/*#nav */input.txt.required.fieldError{ border-color:#F5A91C; background:#FFFFCC;}
/*#nav */form input.button, input.btn, input[type="submit"], input[type="button"]{margin:15px 0PX; width:15em;* margin-bottom:15px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:#FFFFFF url(../images/arrow1.gif) no-repeat left top; color:#515151; cursor:pointer; font-weight:normal; border:1px solid #ccc; padding:4px 20px;}

form input.button:focus, input.btn:focus, input[type="submit"]:focus{background:#FFFFFF url(../images/arrow1Focus.png) no-repeat left top;}
input.btn_forward:focus, input.btn_back:focus{ background:#FFFFFF url(../images/arrow1Focus.png) no-repeat left top;}
#main ul.liststylenone li, #main #FormCens ul li{ list-style-type:none;}



input#Iscriviti{ width:auto; padding:5px;}
input#Iscriviti:hover{ }
input#FiltroQuesito{ border:1px solid #ccc;}
input#FiltroQuesito:focus{ border:1px solid #666;}

span#messaggio_errore{ color:#ffffcc; display:block; padding-top:7px; font-size:1em;}


#nav form a:hover,
#nav form a:active,
#nav form a:focus
{
  color:#CB1D15;
  /*background:#095197;*/
  text-decoration: underline;
}

/* ++++++++++++++  first level  ++++++++++++++ */
#nav .moduletable-example ul.menu
{
  background:#fff;
  border:0;
}

ul.menu
{
 /* border:0;
  background:#fff  url(../images/nature/nav_level_1.gif) repeat-x ;
  border:solid 0px #eee;
  padding-top: 10px;*/
}

.module_content ul.menu
{
  border:0;
}

ul.menu li
{
 /* border-bottom:solid 1px #fff;*/
}

.HeaderTools .HeaderMenu ul.menu li a:link, .HeaderTools .HeaderMenu ul.menu li a:visited{
  color:#0085ce;
  font-size:0.8em;
 padding:10px;
 border-top:none;
 margin-top:2px;/* 
  border-left:1px solid #fff;
  border-right:1px solid #fff;*/

  background:#e9e9e9;
}
.HeaderTools .HeaderMenu ul.menu li a:HOVER{
	background:#FFF;
	}
ul.menu li a:link,
ul.menu li a:visited
{
  /*
  background:#fff url(../images/nature/karo.gif) 4px 11px no-repeat;
  border-bottom:1px solid #ccc;*/  
}

ul.menu li.active a:link,
ul.menu li.active a:visited
{
  color:#2f2c2c;
}

ul.menu li a:hover,
ul.menu li a:active,
ul.menu li a:focus,
ul.menu li.active a:hover,
ul.menu li.active a:active,
ul.menu li.active a:focus
{
  text-decoration:underline;
  color: #fff;
  background:#516274;
}


/* ++++++++++++++  second level  ++++++++++++++ */

ul.menu li ul
{
  border:solid 0px #eee;
}

 ul.menu li ul li
{
  border:solid 0px #000;
  background:#fff;
}

 ul.menu li.active ul li a:link,
 ul.menu li.active ul li a:visited
{
  color:#444;
  border:0;
  border-bottom:solid 1px #fff;
  background: #e8e8e8
}

 ul.menu li.active ul li.active a:link,
 ul.menu li.active ul li.active a:visited
{
  border:0;
  color:#2f2c2c;
  border-bottom:solid 1px #fff;
}

 ul.menu li.active ul li a:hover,
 ul.menu li.active ul li a:active,
 ul.menu li.active ul li a:focus
{
  background:#666 !important;
  color:#fff !important;
}


/* ++++++++++++++  third level  ++++++++++++++ */

ul.menu li ul li ul
{
  border:0 !important;
  background:#f5f5f5 !important;
  padding-bottom:0
}

ul.menu li.active ul li.active ul li a:link,
ul.menu li.active ul li.active ul li a:visited
{
  background:#f5f5f5 ;
  border-bottom:solid 1px #fff;
  color:#444
}

ul.menu li.active ul li.active ul li.active a:link,
ul.menu li.active ul li.active ul li.active a:visited
{
  color:#2f2c2c;
}



/* ++++++++++++++  fourth level  ++++++++++++++ */

ul.menu li ul li ul li ul
{
  border:solid 1px #eee !important;
  padding-top:10px !important;
  padding-bottom:10px !important;
  background:#fff url(../images/nature/level4.png) repeat-x !important;
}


ul.menu li.active  ul li.active  ul li.active  ul li  a:link,
ul.menu li.active  ul li.active  ul li.active  ul li a:visited
{
  font-weight:normal;
  padding: 3px 2px 3px 40px;
  font-size:0.9em;
  background:#fff url(../images/nature/arrow_small.png) no-repeat  30px 5px;
  color:#444
}


ul.menu li.active  ul li.active  ul li.active  ul li.active  a:link,
ul.menu li.active  ul li.active  ul li.active  ul li.active a:visited
{font-weight:bold;
color:#2f2c2c }



/* ++++++++++++++  fifth level  ++++++++++++++ */

ul.menu li ul li ul li ul li ul
{
  border:solid 0px #eee !important;
  padding-top:5px !important;
  padding-bottom:10px !important;
  background:#fff !important;
}


ul.menu li.active  ul li.active  ul li.active  ul li.active  ul li  a:link,
ul.menu li.active  ul li.active  ul li.active  ul li.active  ul li a:visited
{
  font-weight:normal;
  padding: 3px 2px 3px 5px;
  font-size:0.9em;
  background:#fff ;
  color:#444;
  margin:0 10px  0 35px;
  border-bottom:solid 1px #ddd
}


ul.menu li.active  ul li.active  ul li.active  ul li.active  ul li.active  a:link,
ul.menu li.active  ul li.active  ul li.active  ul li.active  ul li.active a:visited
{font-weight:bold; color:#2f2c2c}

/* ##########################  content - main   ########################### */


#main
{

}

#main a:link,
#main a:visited{   
 /* font-weight:bold;*/

}

#main a:hover,
#main a:active,
/*#main a:focus*/
{
  color:#90540D;
}

#main th a:hover,
#main th a:active,
#main th a:focus
{
  /*background:#2f2c2c;*/
  color:#835533;
}

.items-row
{
  background:#fff
}

.items-row h2
{
  border-bottom:solid 1px #ddd;
  border-top:solid 1px #ddd;
  color:#555
}

.column-1,
.column-2
{
  border: solid 0px ;
}

.item-separator
{
  border: solid 0px #2f2c2c333;
}

#main ul li
{

}

.small
{
  border:solid 0;
}

ul#archive-items li.row0,
ul#archive-items li.row1
{
  border-bottom:solid 1px #ddd
}

.archive #adminForm fieldset
{
  border:0;
  padding:0;
  margin:20px 0
}
/* ++++++++++++++  images  ++++++++++++++ */

.image-left
{
  padding:2px;
}

.image-right
{
  border:solid 1px #ddd;
  padding:2px
}

/* ++++++++++++++  leading  ++++++++++++++ */

.items-leading
{

}


/* ++++++++++++++++++++ headings +++++++++++++ */
#main h1
{ color:#22558e;
  font-size:2em;
  font-weight:bold;
  /*text-transform: capitalize;*/
  text-align:center;
}
#main table h1 { background:inherit;}


#main .blog  h1,
#main .blog-featured  h1
{
  color:#465464;
  background:#FFF;
  margin-top:-1px !important;
  padding: 5px 0px;

}

/* h1 on frontpage */

.items-row h2
{
  border-top:solid 1px #ddd;
  border-bottom:solid 1px #ddd;
}

.items-leading h2,
#main h3,
#main h4
{/*
  color:#555;*/
  background:none;
}

#main h2
{
  color:#465464;
  text-align:center;
  padding-bottom: 1em !important;
  font-size:2em !important;
  font-weight:bold;

}

#main h2 a
{
  color:#CB1D15;
}
#main h2 a:hover{ text-decoration:underline; color:#09306c/*0072bc;*/ }


/* ++++++++++++++  readmore  ++++++++++++++ */

.readmore a:link,
.readmore a:visited,
a.readmore:link,
a.readmore:visited
{
  color:#0085ce;
  /*background:#eee url(../images/nature/arrow1.gif) no-repeat left top;*/
  border:solid 1px #ddd;
  border-radius:5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.readmore a:hover,
.readmore a:active,
.readmore a:focus,
a.readmore a:hover,
a.readmore a:active,
a.readmore a:focus
{
  /*background:#555 url(../images/nature/arrow2.gif) no-repeat left 6px !important;
  color:#fff;*/
}

a.readmore:hover,
a.readmore:active,
a.readmore:focus
{
  background:#555;
  color:#fff;
}

/* ++++++++++++++  icons  ++++++++++++++ */

.actions img
{
  border:0;
}

/* ++++++++++++++  items-more  ++++++++++++++ */

#main .items-more h3
{
  border-bottom:solid 1px #ddd;
  border-top:solid 1px #ddd;
  color:#444;
}

#main .items-more ol
{
  color:#000;
}

#main .items-more ol li a
{
  background:#FFFFFF url(../images/blog_more.gif) no-repeat 0px center;
  color:#095197
}

#main .items-more ol li a:hover,
#main .items-more ol li a:active,
#main .items-more ol li a:focus
{
  background: #AD6F42 url(../images/blog_more_hover.gif) no-repeat 0px center;
  color:#fff;
}

/* ++++++++++++++  pagination  ++++++++++++++ */

#main .pagination
{
  border-top:solid 1px #ddd;
  clear: both;
}

/* ++++++++++++++  article index  ++++++++++++++ */

table.contenttoc
{
  border:solid 1px #ccc;
}


/* ##########################  right column   ########################### */

#right
{
  /*border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;*/
}



#right h4
{
  color:#555;
  border:solid 0;
  margin-bottom:5px;
}


#right ul li a:hover,
#right ul li a:active,
#right ul li a:focus
{
color:#0072bc;
}

/* ++++++++++++++  button for closing right column  ++++++++++++++ */
#close span
{
  color:#666;
}

/* ##########################  modules  ########################### */

/* ++++++++++++++  mostread, latest news ++++++++++++++ */

.mostread li a:link,
.mostread li a:visited,
.latestnews li a:link,
.latestnews li a:visited
{
  background: url(../images/personal/arrow2_grey.png) 2px 7px  no-repeat ;
}

.mostread li a:hover,
.latestnews li a:hover,
.mostread li a:active,
.latestnews li a:active,
.mostread li a:focus,
.latestnews li a:focus
{
  background:#555 url(../images/arrow_white_grey.png) 2px 7px  no-repeat !important;
}

/* ++++++++++++++  newsfeed  ++++++++++++++ */

ul.newsfeed
{
  border:solid 0px #000;
}

.newsfeed-item
{
  border-bottom:solid 1px #ddd;
}

.newsfeed-item h5 a
{

}

/* ++++++++++++++  newsflash  ++++++++++++++ */
/* newsflash horizontal */

ul.newsflash-horiz
{
  background:#F5F5F5 url(../images/nature/box.png) repeat-x;
  border:1px solid #EEEEEE;
}

ul.newsflash-horiz li
{
  border:solid 0px #eee;
  background:#f5f5f5;
}

ul.newsflash-horiz li h4
{
  font-family:verdana, arial;
}


/* newsflash vertical */

.newsflash-vert
{

}

/* ++++++++++++++  banner  ++++++++++++++ */

.banneritem
{
  border:0
}

.banneritem a
{
  background:none
}

.banneritem a img
{
  background:none;
  border:0
}

/* ++++++++++++++  login  ++++++++++++++ */

#login-form .inputbox
{
  border:solid 1px #ddd;
  background:url(../images/content_bg.gif) repeat-x;

}

fieldset.input
{
  border:0 ;
}

input.button,
button.button,
button.validate
{

  background:#FFFFFF url(../images/arrow1.gif) no-repeat left top;
  border:1px solid #ccc;
  color:#323232;
  padding:4px 7px 5px 20px;
  border-radius:5px;  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color:#465464;
}
input.button:focus{ background-color:#ccc;}

/* ++++++++++++++  tabs/ slide  ++++++++++++++ */

ul.tabs
{
  border:solid 1px #ddd;
  border-bottom:0;
  background:#f5f5f5 url(../images/nature/box.png) repeat-x;
}

ul.tabs li
{
  background:#f5f5f5 url(../images/nature/box.png) repeat-x;
  border-right:solid 1px #ddd
}

ul.tabs li a:link,
ul.tabs li a:visited
{
  color:#2f2c2c;
}

ul.tabs li a:hover,
ul.tabs li a:active,
ul.tabs li a:focus
{
  color:#000
}

.tabcontent
{
  border:solid 1px #ddd;
  background:#fff;
  color:#000;
}

.tabcontent .linkclosed
{
  color:#000;
  border-bottom:solid 1px #e5e5e5;
}

ul.tabs li a.linkopen
{
  background:#fff;
  color:#2f2c2c;
  border:0
}

ul.tabs li a.linkclosed:hover,
ul.tabs li a.linkclosed:active,
ul.tabs li a.linkclosed:focus,
ul.tabs li a.linkopen:hover,
ul.tabs li a.linkopen:active,
ul.tabs li a.linkopen:focus
{
  background:#555;
  color:#fff
}

/* ++++++++++++++  category-module  ++++++++++++++ */

#right .category-module h4 a:link,
#right .category-module h4 a:visited
{
  color:#0D4C89
}

#right .category-module h4 a:hover,
#right .category-module h4 a:active,
#right .category-module h4 a:focus
{
  color:#fff
}


.category-module li
{
  border-bottom:solid 1px #ddd;
}

.category-module li li
{
  border:0
}



/* ##########################  search   ########################### */

.searchintro img
{
  border:0px
}

.inputbox:focus
{
  border:solid 2px #000;
}

.word
{
  background:#fff;
  border:solid 0px #ccc ;
}

.word input
{
  border:solid 1px #ddd;
  background:url(../images/content_bg.gif) repeat-x;
  color:#2f2c2c;
}

.only
{
  border:solid 1px #ccc;
}

.phrases
{
  color:#000;
  border:solid 1px #ccc;
}

/* ++++++++++++++  selects  ++++++++++++++ */
.phrases .inputbox
{
  background:#fff;
  color:#000;
}

.phrases .inputbox option
{
  background:#f5f5f5;
  border-bottom:solid 1px #ccc;
}

.phrases .inputbox option a:hover
{
  background:#C00;
  border-color:#CFD0D6;
  color:#fff;
}

/* ++++++++++++++   search results  ++++++++++++++++++ */

dl.search-results
{
  background:#f5f5f5;
}

dl.search-results dt.result-title
{
  border-top:dotted 1px #ddd
}

dl.search-results dd.result-url
{
  border-bottom:solid 5px #fff;
  color:#115599;
}

dl.search-results dd.result-created
{
  border-bottom:solid 5px #fff;
}

/* ##########################  forms   ########################### */


/* ++++++++++++++  form validation  ++++++++++++++ */

.invalid
{
  border-color:#F5A91C !important;
}

label.invalid
{
  color:red;
}


/* ##########################  user profile  ########################### */
#users-profile-core,
#users-profile-custom
{
  border:solid 1px #ccc;
}

#member-profile fieldset
{
  border:solid 1px #ccc;
}


/* ##########################  tables  ########################### */
table
{
  border:1px solid #ccc; border-collapse:collapse;
}
table td{ border:1px solid #666;}
table.table-function {border:none;}
table.table-function td { border:none; text-align:center;}

.form-inline table, .form-inline table td{ border: none; border-bottom:1px dashed #ccc;}
.moduletable table.button.bar{ /*margin-bottom:0.6em;*/}

table.button.bar{ border:none; clear:both; width:inherit;margin-bottom:6px;}
table.button.bar td{ border-right:1px solid #fff;}
table#tablebandi.button.bar td{
	/*border-radius:0px 0px 15px 0px;  
  -moz-border-radius: 0px 0px 15px 0px;
  -webkit-border-radius: 0px 0px 15px 0px;*/
   }
table.button.bar a{ color:#FFF;}
#main ul.function-list li{ display:inline; /*margin-right:15px;*/}
div.table-function{ float:left; width:60%;}
div.div-feed-rss { float:right; width:40%; text-align:right; margin-bottom: 10px;}
#main div.table-function ul{ margin:0px; padding-left:0px;}
tbody
{

}

tr.odd,
.cat-list-row1
{
  /*background:url(../images/news.gif)  repeat-x;*/
}

table.newsfeeds td,
table.weblinks td
{

}

table.weblinks th,
table.newsfeeds th,
table.category th,
table.jlist-table th
{
  background:#888;
  border:1px solid #666;
}

table.weblinks th a,
table.newsfeeds th a,
table.category th a,
table.jlist-table th a,
table.weblinks th,
table.newsfeeds th,
table.category th,
table.jlist-table th

{
  color:#2f2c2c;}


td.table_footer
{
  background:#ddd url(../images/table_footer.gif) bottom left repeat-x;
}

td.counter
{

}

td.num,
td.hits
{

}

td p
{

}

table.category th a img
{
  border:solid 0px ;
}

/* for opera */
tr, td {  /*border:solid 1px #ddd;  padding:5px;*/}
#main table.moduletable td,
#main table.moduletable tr
{/*border:0;*/}
fieldset.filters
{
  border:solid 0px #ddd;

}

/* ##########################  contacts   ########################### */

.contact form
{
  background:#fff;
  color:#000;
}

.contact input
{
  background:#fff;
  color:#000;
}

.contact .button
{

}

.contact input.invalid,
.contact textarea.invalid
{
  border:solid 2px red;
}

.contact label.invalid
{
  color:red;
}


/* ++++++++++++++  Error Message contact form  ++++++++++++++ */

p.error
{
  color:#044b63;
  background:#eee;
  border-top:3px solid #044b63;
  border-bottom:3px solid #044b63;
}

body.contentpane
{
  background:#fff;
}


/* ##########################  footer   ########################### */

#footer
{
    /*  background:url(../images/footer_bg.gif) repeat-x;
  background:#2f2c2c333 url(../images/personal/tabs_back.png) repeat-x;*/
  color:#fff;
  border-top:solid 0px #ccc;
}

#footer-inner
{
  background:#f5f5f5 url(../images/personal/footer.jpg) repeat-x left bottom;
  border-top:solid 1px #ddd
}

#footer a
{
  color:#fff;
}

#bottom a img
{
  border:0
}

.box h3
{
  font-family: verdana, arial;
  font-size:1.2em
}
.box ul
{padding-left:0}

.box1
{border-right:solid 1px #ccc}
.box3
{border-left:solid 1px #ccc}
#bottom  ul li a
{background-image:none;
padding-left:0}
/* ##########################  editor  ########################### */

.contentpaneopen_edit img
{
  border:0
}

form.editor fieldset
{
  border:solid 1px #ccc;
}


/* ++++++++++++++  edit  ++++++++++++++ */

form#adminForm
{
  border:solid 0px #000
}

.edit form#adminForm fieldset
{


  border:solid 1px #ddd
}
.edit form#adminForm  legend
{
  font-weight:bold
}
/* ++++++++++++++  tooltip  ++++++++++++++ */
.tip
{
  border:solid 1px #2f2c2c;
  background:#ffffcc;
}


/*-------------------------------*/


table.pagenav,
table.pagenav tr,
table.pagenav td
{border:0 !important}

.cat-children ul ul,
.categories-list ul ul
{
  list-style-type:none;

}

.cat-children ul ul ul,
.categories-list ul ul ul
{


}
.categories-list .category-desc ul li
{list-style-type:square
}

/* contact  plain */
#main .contact h3
{
  border-bottom:solid 1px #ddd;
  margin: 20px 0
}

.form-required
{
  font-weight:bold;
  margin:10px 0;
  background:#fff url(../images/req.png) no-repeat;
  padding:10px 40px

}

.contact .inputbox,
.registration input,
.profile-edit input,
.login-fields input,
.remind input,
.reset input


{
  background:#fff url(../images/content_bg.gif) repeat-x ;
  border:solid 1px #ccc;
  padding:3px
}

.profile-edit select
{
  padding:0px;
  border:solid 1px #ccc;
  background:#f5f5f5;

}
.profile-edit select option
{
  padding:3px

}
/* contact  slider */

.panel
{
  border:solid 1px #ddd;
  margin-top:-1px

}
#main .contact .panel h3
{
  margin:0px 0 0px 0;
  padding: 0;
  background:#eee;
  border:0
}
.panel h3 a
{
  display:block;
  padding:6px;
  text-decoration:none;
  color:#444;
  padding:6px;
}


.panel h3.pane-toggler a
{
  background:#f5f5f5 url(../images/slider_plus.png) right  top no-repeat;
}
.panel h3.pane-toggler-down a
{
  background:#f5f5f5  url(../images/slider_minus.png) right  top no-repeat;
  border-bottom:solid 1px #ddd;
}

.pane-slider
{
  border:solid 0px;
  padding:0px 10px !important;
  margin:0;
  background: url(../images/nav_level_1.gif) repeat-x ;
}

.panel .contact-form,
.panel  .contact-miscinfo
{
  padding:10px
}

.contact .panel .contact-form form,
.contact .panel .contact-address
{
  margin:20px 0 0 0
}


/* tabs */

div.current
{

  background: url(../images/nav_level_1.gif) repeat-x ;
}

/* image upload modal */

#all #upload-flash ul li a:hover,
#all .item a:hover span {
  background:#095197;
  color:#fff;
}
#close a
{text-decoration:none}

/* ########################## sample module styling  ########################### */

div.sample-module {
    border: 2px dashed #ddd;
    padding: 10px;
    background-color: #f5f5f5;
}

#nav .moduletable_menu ul li{
  /*padding:4px 0px;
  border-bottom:1px solid #ccc;*/
  /*padding-left:10px;*/
  /*background: url(../images/link.png) 4px 13px no-repeat;
  margin-left: 7px;*/
}



#main .moduletable #accordion h2{
  background:#ECECEC;
  border-radius:5px;  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border:1px solid #ccc;
  font-size:1.2em;
  font-weight:bold;
  text-transform:uppercase;
  padding: 5px 5px 3px 20px;
  margin-bottom:1px;
  color:#525252;
  font-family:inherit;
}
#main .moduletable #accordion .content{
  margin-bottom:2px;
  }
#accordion .content table#template_doc{
  margin-top:10px;
  margin-bottom:10px;
  width:97%;
  background:#fff;
  }
#accordion .content .head h3{
  padding-left: 10px;
  }
#main .item-page table{ width:99%;}
a.incorso{
  font-size:16px;
  line-height:38px;
  color: #F48031;
  text-decoration:none;
  background: url(../images/rss-small.png) center left no-repeat;
  padding-left:40px;
  height:40px;
  display:inline-block;
  padding-top:15px;
}

a.scaduti{
  font-size:16px;
  line-height:38px;
  color:#816A77;
  text-decoration:none;
  background: url(../images/rss_medium_scaduti.png) center left no-repeat;
  padding-left:40px;
  height:40px;
  display:inline-block;
  margin-left:10px;
  padding-top:15px;
}

a.incorso:hover, a.scaduti:hover{
  text-decoration:underline;
  }
  
/*Stili nuovi 24/12/2013*/
 
 
/*Formattazione colonna sinistra*/
.left1 {
  
}
#login div{
  margin-left: 5px;
  margin-right: 2px;
  line-height:1;

}
/*fine*/

/*Formattazione link selezionato su menu*/
ul.menu li.current.active a{
  cursor:default;
  }
.HeaderTools .HeaderMenu ul.menu li.current.active a,
.HeaderTools .HeaderMenu ul.menu li.current.active a:hover,
.HeaderTools .HeaderMenu ul.menu li.current.active a:focus,
.HeaderTools .HeaderMenu ul.menu li.current.active a:active{
  background:#fff /*url(../images/nature/karo.gif) 5px 7px no-repeat*/;
  color:#22558e;
  text-decoration:none;
  }
ul.menu li.current.active a,
ul.menu li.current.active a:hover,
ul.menu li.current.active a:focus,
ul.menu li.current.active a:active{
  background:#e9e9e9 /*url(../images/nature/karo.gif) 5px 7px no-repeat*/;
  color:#22558e;
  text-decoration:none;
  }
  
.moduletable_menu ul.menu li.current.active a,
.moduletable_menu ul.menu li.current.active a:hover,
.moduletable_menu ul.menu li.current.active a:focus,
.moduletable_menu ul.menu li.current.active a:active, ul.menu li a:link, ul.menu li a:visited{
	/*background: url(../img/bgLi.gif) top left repeat-y;*/
	}
  
  
/*fine*/


/*formattazione Statistiche*/
.vdigit_counter {
    margin-top: 5px;
  }
#vvisit_counter143 .vstats_counter{
  padding:5px 5px 0px 5px;
  }
.vstats_counter div .vrow{
  border-bottom:1px solid #ccc;
  margin-top:5px;
  }
.vstats_counter .vstats_icon .vrow, .vstats_counter .vstats_title .vrow{ border-bottom:none;}

/*fine*/

/*Stile stratto da "default.php"(\\AFSVM025\d$\PortaleGareTelematiche\Web\Portale\modules\mod_feed\tmpl\default.php) e modificato (Ultimi bandi su homepage)*/
#news-feed {
  text-align: justify;
  height:560px;
  overflow:hidden;
  position:relative;
  border:0px solid #ccc;
  }
#news-feed ul {
  position:absolute;
  top:0;
  left:0;
  list-style-type:none;
  padding:0;
  margin:0;
  }
#news-feed ul li {
  height:*;
  font-size:12px;
  margin:0 0px 3px 0px;
  padding:5px;
  overflow:hidden;
  color:#2f2c2c;
  text-align:left;
  border-bottom:1px solid #09306c;
  }
 #news-feed ul li strong{ color:#c30000;}
/*fine*/

/*Registrazione*/
iframe {
  overflow-x: hidden;
  overflow-y: hidden;
}
/*fine*/
/*formattazione link suggerimenti*/
#main h3.aflink_link_suggerimenti a:link, #main h3.aflink_link_suggerimenti a:visited{ color:#666; font-size:11px; vertical-align:top;}
/*fine*/
/*tab bandi*/
#main td.bottone.large.active a:link, #main td.bottone.large.active a:visited{ color:#fff;}
#main td.bottone.large.pink a:link, #main td.bottone.large.pink a:visited{ color:#333; font-weight:normal;}
#main td.bottone.large.pink a:hover{ color:#333;}
/*Fine*/
/*Stile link percorsi*/
a.pathway{ font-size:12px; color:#666; }
a.pathway:hover{ color:#2f2c2c;}
#breadcrumbs span{ font-weight:bold; font-size:12px; }
/*Fine*/
/*Formattazione intestazione tabella*/
#main table#template_doc th h1{
  border-bottom:none;
    border-top:none;
  padding:0px;
  margin:0px;
  }
/*fine*/
/*Formattazione link attach*/
label.Attach_label{cursor:pointer;}
/*fine*/
#main table th a:link, #main table th a:visited{color:#fff;}
#vvisit_counter143 .vstats_counter{ color:#09306c;}
#vvisit_counter143{ background:#B7C4CC;}
div#nav .moduletable ul{ /*margin-bottom:10px;*/ line-height:16px; padding: 2em 0.4em 3em;}
#main td.bottone.large.pink:hover a:link, #main td.bottone.large.pink:hover a:visited{ color:#333;}
#login strong#msg-errore-login {
  color: #ffffcc;
}
a.XLink {
  background: url(../images/icona.png) top left no-repeat;
  display: inline-block;
  float: left;
  width:17px;
  height:24px
}
.0px{ height:0px;}

.Footer_00 {
  float: left;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
.bottom {
  clear: both;
  height: 700px;
  background:#516274 /*url(../images/bgFooter.gif)top left repeat-x*/;
}
.Footer_00 ul li {
  display: inline-block;
}
.bottom .left {
  float: left;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  width: 210px;
  margin:inherit;
}
.bottom .right {
  float: left;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  margin:0em;
}
.TopTitle h1{color:#09306c;}
.span_footer_datetime {
  color: #666;
  font-size: 0.8em;
}
.Footer_00 ul li a {
  border-right:1px dotted #09306c;
  color: #09306c;
  display: inline;
  font-size: 1em;
  padding-right: 4em;
}
.Footer_01 {
  color: #25312f;
  float: left;
  font-size: 0.75em;
  overflow: hidden;
  width: 100%;
}
.Footer_02 {
  color: #efefef;
  float: left;
  font-size: 0.75em;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
.Footer_01 a {
  color: #8eaccb;
  /*border-bottom: 1px dotted;*/
  text-decoration: underline;
}
.Footer_01 a:hover {
    text-decoration:underline;
    color:#a8c8eb;
}

.footer ul.footer-social li a svg{padding: 0.5rem;}
.footer ul.footer-social li a i::before, .footer ul.footer-social li a::before,  .footer ul.footer-social li a svg {
	display: inline-block;
	border-radius: 100%;
	background-color: #65dde0;
	width: 3rem;
	height: 3rem;
	text-align: center;
	font-size: 2rem;
	line-height: 3rem;
	color: #30373d;
}




.Footer_02 a {
  border-bottom:1px dotted;
  color: #efefef;
}
.Footer_02 a:hover {
  background: #efefef;
  color: #293333;
}

.Footer_01 td p{ font-size:18px; text-align:left;}
.Footer_02 td p{ color:#fff; font-size:1.2em;}
.footernote { color: #fff; font-size:16px;}

/*Registrazione*/
input[type="text"]:disabled{
  background:#ececec;
  border:1px solid #ccc;
}
.help.note{ font-size:0.80em; font-style:italic; color:#666; margin-bottom:1em; }

.lblsx, .form_help{ color:#2f2c2c; /*font-size:0.85em;*/}
#main .item-page ul.wizard{margin:0em; padding:0.5em 0em 0.5em 0em; margin-bottom:1em;}
#main ul.wizard {list-style-type:none; padding:0.5em 0em 0.5em 0em; /*border:3px solid #ececec;-webkit-border-radius:1em; -moz-border-radius: 1em; border-radius: 1em;*/}

#main ul.wizard li{ display:inline-block; width:10.5em; height:80px; background:#515151 url(../images/bgLi.png) top center no-repeat; border-right:1px solid #fff; text-align:center; color:#fff; line-height:3; font-size:0.69em;}


#main ul.wizard li.stepCorrente{ background:#cb1d15 url(../images/bgLi.png) top center no-repeat; font-weight:bold;}
#main ul.wizard li.stepFatto { background:#2BB673 url(../images/bgLi.png) top center no-repeat;}
ul.wizard li span{ display:block; height:30px;}
#main ul.wizard li span{ color:#58595B; text-transform:uppercase; font-weight:normal;}
#main ul.wizard li span { background:url(../images/steps.png) 10px -68px no-repeat}
#main ul.wizard li.stepCorrente span{ background:url(../images/steps.png) 10px -33px no-repeat}
#main ul.wizard li.stepFatto span { background:url(../images/steps.png) 10px 5px no-repeat}
.data_form{ border:3px solid #ececec;-webkit-border-radius:1em; -moz-border-radius: 1em; border-radius: 1em; padding:1em; }
.data_form fieldset{ margin:0em; padding:0em;}
.data_form  h3{ position:relative; top:-2em; padding-left:0.5em;}
.data_form h3 span {display: inline-block; background:#465464; color:#fff; width:2em; text-align:center;}
.data_form h3 span.data_form_title{display: inline-block; background:#fff; width:inherit; text-align:inherit; color: inherit; padding:0em 1em;}
form select{ padding:3px; border:1px solid #ccc;}
form select:hover{ border-color:#666;}
.main_registrazione label.label_error{ color:#cb1d15; display:inline;}
/*ul.wizard li.stepCorrente span{ background:#2BB673;}
ul.wizard li.stepFatto span{ background:#515151; color:#fff;}*/

.main_registrazione h3{color:#cb1d15;}
.main_registrazione label{ color:#2f2c2c;}
input.btn_forward{ float:right; margin-right:15px;}
input.btn_back{ float:left; margin-left:15px;}
#accordion input.btn_back, #accordion input.btn_forward{ width:inherit;}
#accordion input.rb{ width:inherit;}
.div_gerarchici{  border:3px solid #ececec;-webkit-border-radius:1em; -moz-border-radius: 1em; border-radius: 1em; }
.div_gerarchici form{ background: #fff; padding:10px;-webkit-border-radius:1em; -moz-border-radius: 1em; border-radius: 1em;}
.div_gerarchici form ul li{ color: #515151;}
.area-ricerca{ background:#ececec; padding:0em 2em;}
#main .item-page .div_gerarchici ul{ list-style-type:none; margin: inherit; margin-left:1em; padding:0em;}
#texterror, .error{ color:#cb1d15; margin-top:1em; padding-left:10PX; font-size:0.85em;}
.atStart div{ font-size:0.95em;}
#texterror p{ margin:0em; padding:0em;}
select option{ border:none; padding:0 1em;}
.data_form input[type="radio"]{ display:inline-block;width:1em; margin-right:1em; border:none;}
.data_form input, .data_form select{ display:inline-block;}
.data_form label{ display:block;}
.data_form ul{ list-style-type:none;}
.main_registrazione table{ border:none;}
.main_registrazione table td{ border-bottom:1px dotted #ccc;}
.data_form label.radio{ display:inline;}
.labelsx{ display:block; margin-top:1em;}
button[disabled="disabled"], form button[disabled="disabled"]:hover, button.button[disabled="disabled"]{ color: #ccc; border-color:#ccc; background:url(../images/arrow1-disabled.gif) no-repeat left top; cursor:default;}



.generapdf{ width:150px; height:32px; background:url(../images/generapdf.png) bottom left no-repeat; border:none; color:#fff; font-weight:bold; cursor:pointer; font-size:11px;}
.generapdf:hover{background:url(../images/generapdf.png) top left no-repeat;}
.attachpdf{ width:150px; height:32px; background:url(../images/attachpdf.png) bottom left no-repeat; border:none; color:#990000; font-weight:bold; cursor:pointer; font-size:11px;}
.generapdfdisabled { width:150px; height:32px; background:url(../images/General/generapdfdisabled.png) bottom left no-repeat; border:none; color:#898989; font-weight:bold; cursor:default; font-size:11px; }
.attachpdfdisabled { width:150px; height:32px; background:url(../images/attachpdfdisabled.png) bottom left no-repeat; border:none; color:#898989; font-weight:bold; cursor:default; font-size:11px; }
.editistanzadisabled { width:150px; height:32px; background:url(../images/editdisabled.png) bottom left no-repeat; border:none; color:#898989; font-weight:bold; cursor:default; font-size:11px; }
.attachpdf:hover{background:url(../images/attachpdf.png) top left no-repeat;}
.editistanza{ width:150px; height:32px; background:url(../images/edit.png) bottom left no-repeat; border:none; color:#2f2c2c; font-weight:bold; cursor:pointer; font-size:11px; border:none; margin-bottom:2em;}
.editistanza:hover{background:url(../images/edit.png) top left no-repeat;}
.seleziona_fila{ margin-bottom:2em; border:none;}
button.button.btn_forward[disabled="disabled"]{ float:right; border:1px solid #ccc;}




/*end registrazione*/
.tips ul{ list-style-type:none;}
.item-page td{ padding:0.3em;}
table.table-lista-bandi td{ border:1px solid #ccc;}



/* Gestione campi readonly della registrazione */
.form_readonly_field {
    background:#ececec;
    /*padding: 0.2em;*/
    padding: 0em 0.2em;
    color:#515151;
    border: 1px solid #ccc;
    margin-top: 0.3em;
    display: inline-block;
    min-height: 1.7em;
    min-width: 15em;
}
/* css div loading */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#breadcrumbs a{color:#515151; text-decoration:underline;}
#breadcrumbs a.ERLink{ color:#fff; background:#cb1d15; font-family:"Times New Roman",Times,serif; padding: 0.2em 0.3em; font-size: 1em; line-height:1.5; margin-top: 0.5em; margin-left:1.3em;    }
#breadcrumbs table{ border:none;}
#breadcrumbs table td{ /*padding-right:1em;*/ vertical-align:baseline;}
#breadcrumbs table td.ERLinkTD{     width: 13%;    padding-left: 22px;}
label.labelancora.change_captcha{ color:#cb1d15; font-weight:bold; text-decoration:underline;}
span.labelsx span.label_captcha_access{  font-size:1.5em; color:#cb1d15;}
span.labelsx span.label_captcha_access span#captcha_access{ display:block; font-size:0.85em; font-weight: normal; color:#515151;} 
.labelsx input{ color: #515151; font-weight:bold; padding:3px;}

.search.mod_search35{float:right;}
.search.mod_search35 form{ background:none; padding-top:8px; padding-right:20px;}
.area-ricerca .button-grafica{ font-size:0.75em;}
.area-ricerca a.button-grafica{ color:#CB1D15; font-weight:bold; float: right; padding-top:1.5em;}

#area-ricerca .button-grafica:hover, #area-ricerca .button-grafica:active, #area-ricerca .button-grafica:focus{/*background:inherit;*/}
.infodesc{ background:#ccc;}
.infodesc a{ font-size:0.85em;}
#nav .accordionfaq h3{ background:#ececec;}
.item-page H2{ background:#fff;}
.coordinate{ font-size:0.8em;}
.tips strong{ margin:10px 0px 0px 0px; font-size:0.8em; display: inline-block;}
.vstats_counter { font-size:0.8em;}
#sater_TopTitle {background: url("../images/ts.png") top left no-repeat;}
#sater_TopTitle h1{ padding-left:3em; font-size:1.5em; color:#1a9eda; padding-top: 0.3em; /*background:url("../images/Logo_27001.jpg") top right no-repeat;*/ padding-right:3em;}
.form_row span.lblsx{margin-top:1em; display:block;}
.form_row .form_help{margin-bottom:1em;}
.icon-location{display:none;}
#dimensione_font{display: inline-block; color:#333333; font-size:0.95em; font-weight:normal; padding-right:0.5em; padding-left:2em;}
.moduletable_menu ul li a img{ padding-bottom:1em;}
#nav .moduletable .div_gerarchici ul li{background:none;}
/*nuova grafica 06-03-2019*/
#header .header-banner{height:33px; padding: 10px 0px;}
#header .header-banner a{ color:#1c2024; font-size:17px; font-weight:600;}

/*nuova grafica*/
.header-inner{ padding:15px 0px;}
.FooterColLoghi h4{ font-size:20px; padding: 1em 0em;}

#header{ background:url("../images/bg.png") top left no-repeat;}