<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="db.conn" value="Password=AFS.user!;Persist Security Info=True;User ID=afsuser;Initial Catalog=AFLink_PA_Dev;Data Source=172.16.0.103\afsse103"/>-->
	<add key="db.conn" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>