BODY {

}
TABLE.GridPag {
WIDTH: 100%
}
INPUT.ButtonPag {
BORDER-RIGHT: navy 1px outset;
 BORDER-TOP: navy 1px outset;
 FONT-SIZE: 8pt;
 BORDER-LEFT: navy 1px outset;
 COLOR: white;
 BORDER-BOTTOM: navy 1px outset;
 FONT-FAMILY: Arial;
 BACKGROUND-COLOR: blue
}
TD.CellGridPag {
WIDTH: 25%
}
.FontInfoPag {
FONT-SIZE: 8pt;
 FONT-FAMILY: Arial
}
