BODY {

}
TABLE.GridCommandProducts {

}
TD.CellGridCommandProducts {
CURSOR: hand
}
.FoglieBluSott {
FONT-SIZE: 8pt;
 CURSOR: hand;
 COLOR: navy;
 LINE-HEIGHT: 8pt;
 FONT-FAMILY: Arial;
 TEXT-DECORATION: underline
}
TD.CellGridCommand {
FONT-WEIGHT: bold;
 FONT-SIZE: 8pt;
 BORDER-LEFT-COLOR: navy;
 BORDER-BOTTOM-COLOR: navy;
 CURSOR: hand;
 COLOR: white;
 BORDER-TOP-COLOR: navy;
 FONT-FAMILY: Arial;
 BACKGROUND-COLOR: #6495ed;
 BORDER-RIGHT-WIDTH: thick;
 BORDER-RIGHT-COLOR: navy
}
