TABLE.GridContainerHeaderDoc {
WIDTH: 100%
}
TABLE.GridSeparateHeaderDoc {
WIDTH: 100%
}
TABLE.GridTitleHeaderDoc {

}
TABLE.GridTailHeaderDoc {

}
TD.CellGridContainerHeaderDoc {
TEXT-ALIGN: left
}
TD.CellGridSeparateHeaderDoc {

}
TD.CellGridTitleHeaderDoc {

}
TD.CellGridTailHeaderDoc {
TEXT-ALIGN: right
}
.FontTitleHeaderDoc {
FONT-WEIGHT: normal;
 FONT-SIZE: 14pt;
 COLOR: black;
 FONT-STYLE: italic;
 FONT-FAMILY: Arial
}
HR {
BORDER-RIGHT: navy 1px solid;
 BORDER-TOP: navy 1px solid;
 BORDER-LEFT: navy 1px solid;
 WIDTH: 100%;
 BORDER-BOTTOM: navy 1px solid;
 BACKGROUND-COLOR: navy
}
IMG.Header {
CURSOR: hand
}
.foglie {
FONT-SIZE: 8pt;
 COLOR: black;
 LINE-HEIGHT: 8pt;
 FONT-FAMILY: Arial;
 TEXT-DECORATION: none
}
.hr {
BORDER-RIGHT: lightgrey 1px solid;
 BORDER-TOP: lightgrey 1px solid;
 BORDER-LEFT: lightgrey 1px solid;
 BORDER-BOTTOM: lightgrey 1px solid
}
