BODY
{
}
TABLE.GridHelp
{
    BORDER-RIGHT: groove;
    BORDER-TOP: groove;
    BORDER-LEFT: groove;
    WIDTH: 100%;
    BORDER-BOTTOM: groove;
    HEIGHT: 100%
}
.foglieHelp
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    FONT-STYLE: italic;
    FONT-FAMILY: Arial
}
TD.CellGridHelp
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: medium none;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none;
    HEIGHT: 100%;
    BACKGROUND-COLOR: white
}
