BODY
{
}
TABLE.GridStrutAzi
{
    BORDER-RIGHT: 1pt;
    BORDER-TOP: 1pt;
    BORDER-LEFT: 1pt;
    WIDTH: 100%;
    BORDER-BOTTOM: 1pt;
    TEXT-ALIGN: center
}
TD.CellGridStrutAzi
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1px solid;
    COLOR: black;
    LINE-HEIGHT: 8pt;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
TD.CellIntestGridStrutAzi
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1px solid;
    COLOR: black;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
