<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chilkat-x64" version="9.5.0.82" targetFramework="net45" requireReinstallation="true" />
  <package id="FileSignatures" version="4.3.0" targetFramework="net452" />
  <package id="OpenMcdf" version="2.2.1.9" targetFramework="net452" />
</packages>